<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.e4.ui.workbench.swt.E4Application"
            name="%product.name">
         <property
               name="appName"
               value="ModelEditor">
         </property>
         <property
               name="applicationXMI"
               value="org.eclipse.e4.tools.emf.editor/Application.e4xmi">
         </property>
         <property
               name="applicationCSS"
               value="org.eclipse.e4.tools.emf.editor.theme">
         </property>
         <property
               name="applicationCSSResources"
               value="platform:/plugin/org.eclipse.e4.tools.emf.editor/images/">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.e4.ui.css.swt.theme">
      <theme
            basestylesheeturi="css/e4_default.css"
            id="org.eclipse.e4.tools.emf.editor.theme"
            label="Application Theme">
      </theme>
   </extension>

</plugin>
