<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.e4.ui.workbench.swt.E4Application"
            name="ModelEditor">
         <property
               name="appName"
               value="ModelEditor">
         </property>
         <property
               name="applicationXMI"
               value="org.eclipse.e4.tools.emf.editor/Application.e4xmi">
         </property>
         <property
               name="applicationCSS"
               value="platform:/plugin/org.eclipse.e4.tools.emf.editor/css/default.css">
         </property>
      </product>
   </extension>


</plugin>
