<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.actionSets">
            <actionSet
            label="%LaunchActionSet.label"
            visible="false"
            id="org.eclipse.debug.ui.launchActionSet">
         <menu
               label="%RunMenu.label"
               path="additions"
               id="org.eclipse.ui.run">
            <separator
                  name="relaunchGroup">
            </separator>
            <separator
                  name="runGroup">
            </separator>
            <separator
                  name="debugGroup">
            </separator>
            <separator
                  name="emptyLaunchGroup">
            </separator>
         </menu>
         <action
               class="org.eclipse.debug.internal.ui.actions.OpenRunConfigurations"
               definitionId="org.eclipse.debug.ui.commands.OpenRunConfigurations"
               helpContextId="open_run_configurations_action_context"
               id="org.eclipse.debug.ui.actions.OpenRunConfigurations"
               label="%OpenRunConfigurations.label"
               menubarPath="org.eclipse.ui.run/runGroup">
         </action>
         <action
               class="org.eclipse.debug.internal.ui.actions.RunAsAction"
               helpContextId="run_with_configuration_action_context"
               id="org.eclipse.debug.internal.ui.actions.RunWithConfigurationAction"
               label="%RunWithConfigurationAction.label"
               menubarPath="org.eclipse.ui.run/runGroup"
               style="pulldown">
         </action>
         <action
               label="%RunHistoryMenuAction.label"
               style="pulldown"
               helpContextId="run_history_menu_action_context"
               class="org.eclipse.debug.internal.ui.actions.RunHistoryMenuAction"
               menubarPath="org.eclipse.ui.run/runGroup"
               id="org.eclipse.debug.internal.ui.actions.RunHistoryMenuAction">
         </action>
         <action
               id="org.eclipse.debug.ui.actions.DebugLast"
               hoverIcon="$nl$/icons/full/elcl16/debuglast_co.gif"
               class="org.eclipse.debug.internal.ui.actions.DebugLastAction"
               definitionId="org.eclipse.debug.ui.commands.DebugLast"
               disabledIcon="$nl$/icons/full/dlcl16/debuglast_co.gif"
               icon="$nl$/icons/full/elcl16/debuglast_co.gif"
               helpContextId="debug_last_action_context"
               label="%DebugLastAction.label"
               menubarPath="org.eclipse.ui.run/relaunchGroup">
         </action>
         <action
               id="org.eclipse.debug.ui.actions.RunLast"
               hoverIcon="$nl$/icons/full/elcl16/runlast_co.gif"
               class="org.eclipse.debug.internal.ui.actions.RunLastAction"
               definitionId="org.eclipse.debug.ui.commands.RunLast"
               disabledIcon="$nl$/icons/full/dlcl16/runlast_co.gif"
               icon="$nl$/icons/full/elcl16/runlast_co.gif"
               helpContextId="run_last_action_context"
               label="%RunLastAction.label"
               menubarPath="org.eclipse.ui.run/relaunchGroup">
         </action>
         <action
               id="org.eclipse.debug.internal.ui.actions.RunDropDownAction"
               toolbarPath="debug"
               hoverIcon="$nl$/icons/full/etool16/run_exc.gif"
               class="org.eclipse.debug.internal.ui.actions.RunToolbarAction"
               disabledIcon="$nl$/icons/full/dtool16/run_exc.gif"
               icon="$nl$/icons/full/etool16/run_exc.gif"
               helpContextId="run_action_context"
               label="%RunDropDownAction.label"
               style="pulldown">
         </action>
         <action
               class="org.eclipse.debug.internal.ui.actions.OpenDebugConfigurations"
               definitionId="org.eclipse.debug.ui.commands.OpenDebugConfigurations"
               helpContextId="open_debug_configurations_action_context"
               id="org.eclipse.debug.ui.actions.OpenDebugConfigurations"
               label="%OpenDebugConfigurations.label"
               menubarPath="org.eclipse.ui.run/debugGroup">
         </action>
         <action
               label="%DebugWithConfigurationAction.label"
               style="pulldown"
               helpContextId="debug_with_configuration_action_context"
               class="org.eclipse.debug.internal.ui.actions.DebugAsAction"
               menubarPath="org.eclipse.ui.run/debugGroup"
               id="org.eclipse.debug.internal.ui.actions.DebugWithConfigurationAction">
         </action>
         <action
               label="%DebugHistoryMenuAction.label"
               style="pulldown"
               helpContextId="debug_history_menu_action_context"
               class="org.eclipse.debug.internal.ui.actions.DebugHistoryMenuAction"
               menubarPath="org.eclipse.ui.run/debugGroup"
               id="org.eclipse.debug.internal.ui.actions.DebugHistoryMenuAction">
         </action>
         <action
               id="org.eclipse.debug.internal.ui.actions.DebugDropDownAction"
               toolbarPath="debug"
               hoverIcon="$nl$/icons/full/etool16/debug_exc.gif"
               class="org.eclipse.debug.internal.ui.actions.DebugToolbarAction"
               disabledIcon="$nl$/icons/full/dtool16/debug_exc.gif"
               icon="$nl$/icons/full/etool16/debug_exc.gif"
               helpContextId="debug_action_context"
               label="%DebugDropDownAction.label"
               style="pulldown">
         </action>
      </actionSet>
      <actionSet
            label="%ProfileActionSet.label"
            visible="false"
            id="org.eclipse.debug.ui.profileActionSet">
         <menu
               label="%RunMenu.label"
               path="additions"
               id="org.eclipse.ui.run">
            <separator
                  name="relaunchGroup">
            </separator>
            <separator
                  name="profileGroup">
            </separator>
         </menu>
         <action
               id="org.eclipse.debug.internal.ui.actions.ProfileDropDownAction"
               toolbarPath="org.eclipse.debug.ui.launchActionSet/debug"
               hoverIcon="$nl$/icons/full/etool16/profile_exc.gif"
               class="org.eclipse.debug.internal.ui.actions.ProfileToolbarAction"
               disabledIcon="$nl$/icons/full/dtool16/profile_exc.gif"
               icon="$nl$/icons/full/etool16/profile_exc.gif"
               helpContextId="profile_action_context"
               label="%ProfileDropDownAction.label"
               style="pulldown">
         </action>
         <action
               class="org.eclipse.debug.internal.ui.actions.OpenProfileConfigurations"
               definitionId="org.eclipse.debug.ui.commands.OpenProfileConfigurations"
               helpContextId="open_profile_configurations_action_context"
               id="org.eclipse.debug.ui.actions.OpenProfileConfigurations"
               label="%OpenProfileConfigurations.label"
               menubarPath="org.eclipse.ui.run/profileGroup">
         </action>
         <action
               label="%ProfileWithConfigurationAction.label"
               style="pulldown"
               helpContextId="profile_with_configuration_action_context"
               class="org.eclipse.debug.internal.ui.actions.ProfileAsAction"
               menubarPath="org.eclipse.ui.run/profileGroup"
               id="org.eclipse.debug.internal.ui.actions.ProfileWithConfigurationAction">
         </action>
         <action
               label="%ProfileHistoryMenuAction.label"
               style="pulldown"
               helpContextId="profile_history_menu_action_context"
               class="org.eclipse.debug.internal.ui.actions.ProfileHistoryMenuAction"
               menubarPath="org.eclipse.ui.run/profileGroup"
               id="org.eclipse.debug.internal.ui.actions.ProfileHistoryMenuAction">
         </action>
         <action
               id="org.eclipse.debug.ui.actions.ProfileLast"
               hoverIcon="$nl$/icons/full/etool16/profile_exc.gif"
               class="org.eclipse.debug.internal.ui.actions.ProfileLastAction"
               definitionId="org.eclipse.debug.ui.commands.ProfileLast"
               disabledIcon="$nl$/icons/full/dtool16/profile_exc.gif"
               icon="$nl$/icons/full/etool16/profile_exc.gif"
               helpContextId="profile_last_action_context"
               label="%ProfileLastAction.label"
               menubarPath="org.eclipse.ui.run/relaunchGroup">
         </action>
      </actionSet>
   </extension>

</plugin>
