<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="org.eclipse.text.tests"
   name="%Plugin.name"
   version="3.2.0.qualifier"
   provider-name="%Plugin.providerName"
   class="">

   <runtime>
      <library name="texttests.jar">
         <export name="*"/>
      </library>
   </runtime>
   
   <requires>
      <import plugin="org.eclipse.text"/>
      <import plugin="org.junit"/>
   </requires>

</plugin>
