<?xml version="1.0" encoding="UTF-8"?>
<plugin
  name="IBM Tooling Platform Core Tests"
  id="plugins.parser.1"
  version="1.2"
  class="com.ibm.eclipse.MyClass"
  vendor-name="IBM">

  <requires>
     <import plugin="plugins.parser.2" version="3.7" export="true"/>
     <import plugin="plugins.parser.3"/>
  </requires>

  <runtime>
     <library name="lib1.jar"/>
     <library name="lib2.jar">
        <export name="*"/>
     </library>
     <library name="lib3.jar">
        <export name="a.b.C"/>
     </library>
  </runtime>

  <extension-point id="xpt1" name="First extension point" schema="pde/xpt1.xml"/>
  <extension-point id="xpt2" name="Second extension point"/>

  <extension point="xpt1" id="ext1" name="First extension">
     <config id="1"/>
  </extension>

  <extension point="plugins.parser.1.xpt1">
     <config id="2"/>
  </extension>

</plugin>
