<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id: plugin.xml,v 1.2.2.1 2010/05/19 14:56:08 pwebster Exp $
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.eclipse.org/ui/2010/Test/UIModel/test"
            class="org.eclipse.e4.ui.tests.model.test.MTestPackage"
            genModel="model/TestModel.genmodel"/>
   </extension>
   <extension
         id="id1"
         point="org.eclipse.e4.workbench.model">
      <snippet
            uri="platform:/plugin/org.eclipse.e4.ui.tests/xmi/contextViewMenu.e4xmi">
      </snippet>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="org.eclipse.e4.ui.tests.selection.Entry">
         <with
               variable="output.selection">
            <count
                  value="1">
            </count>
            <iterate
                  ifEmpty="true"
                  operator="and">
               <adapt
                     type="org.eclipse.e4.ui.tests.workbench.ContextMenuView$Entry">
               </adapt>
            </iterate>
         </with>
      </definition>
   </extension>

</plugin>
