<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="org.eclipse.update.ui"
   name="%name"
   version="1.9.0"
   provider-name="%provider-name"
   class="org.eclipse.update.internal.ui.UpdateUIPlugin">

   <runtime>
      <library name="updateui.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.update.core"/>
      <import plugin="org.eclipse.update.ui.forms"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.apache.xerces"/>
   </requires>


   <extension-point id="searchCategory" name="Search Category" schema="schema/searchCategory.xsd"/>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="%actionSets.softwareUpdates.label"
            visible="true"
            id="org.eclipse.update.ui.softwareUpdates">
         <action
               label="%actionSets.updateManager.label"
               class="org.eclipse.update.internal.ui.UpdateManagerAction"
               menubarPath="help/helpEnd"
               id="org.eclipse.update.ui.updateManager">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="%views.category.label"
            id="org.eclipse.update.ui">
      </category>
      <view
            name="%views.updates.label"
            icon="icons/full/view16/updates.gif"
            category="org.eclipse.update.ui"
            class="org.eclipse.update.internal.ui.views.UpdatesView"
            id="org.eclipse.update.ui.UpdatesView">
      </view>
      <view
            name="%views.configuration.label"
            icon="icons/full/view16/configs.gif"
            category="org.eclipse.update.ui"
            class="org.eclipse.update.internal.ui.views.ConfigurationView"
            id="org.eclipse.update.ui.ConfigurationView">
      </view>
      <view
            name="%views.preview.label"
            icon="icons/full/view16/preview.gif"
            category="org.eclipse.update.ui"
            class="org.eclipse.update.internal.ui.views.DetailsView"
            id="org.eclipse.update.ui.DetailsView">
      </view>
      <view
            name="%views.webBrowser.label"
            icon="icons/full/view16/browser.gif"
            category="org.eclipse.update.ui"
            class="org.eclipse.update.internal.ui.views.WebBrowserView"
            id="org.eclipse.update.ui.WebBrowser">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="%perspective.label"
            class="org.eclipse.update.internal.ui.UpdatePerspective"
            id="org.eclipse.update.ui.UpdatePerspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            objectClass="org.eclipse.update.internal.ui.model.SiteBookmark"
            name="%properties.site.label"
            class="org.eclipse.update.internal.ui.properties.SiteBookmarkPropertyPage"
            id="org.eclipse.update.ui.sitePropertyPage">
      </page>
      <page
            objectClass="org.eclipse.update.configuration.IInstallConfiguration"
            name="%properties.configuration.label"
            class="org.eclipse.update.internal.ui.properties.ConfigurationPropertyPage"
            id="org.eclipse.update.ui.configPropertyPage">
      </page>
      <page
            objectClass="org.eclipse.update.internal.ui.model.PreservedConfiguration"
            name="%properties.preserved.label"
            class="org.eclipse.update.internal.ui.properties.ConfigurationPropertyPage"
            id="org.eclipse.update.ui.configPropertyPage">
      </page>
   </extension>
   <extension
         point="org.eclipse.update.ui.searchCategory">
      <search
            name="%searchCategories.updates"
            icon="icons/full/obj16/usearch_obj.gif"
            class="org.eclipse.update.internal.ui.search.UpdatesSearchCategory"
            id="org.eclipse.update.ui.updates">
         <description>
            %searchCategories.updates.desc
         </description>
      </search>
      <search
            name="%searchCategories.expression"
            icon="icons/full/obj16/tsearch_obj.gif"
            class="org.eclipse.update.internal.ui.search.ExpressionSearchCategory"
            id="org.eclipse.update.ui.expression">
         <description>
            %searchCategories.expression.desc
         </description>
      </search>
      <search
            name="%searchCategories.plugin"
            icon="icons/full/obj16/psearch_obj.gif"
            class="org.eclipse.update.internal.ui.search.PluginsSearchCategory"
            id="org.eclipse.update.ui.plugins">
         <description>
            %searchCategories.plugin.desc
         </description>
      </search>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="%mainPreference.name"
            class="org.eclipse.update.internal.ui.preferences.MainPreferencePage"
            id="org.eclipse.update.internal.ui.preferences.MainPreferencePage">
      </page>
   </extension>

</plugin>
