<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.eclipse.update.ui"
   name="%pluginName"
   version="3.0.0"
   provider-name="%providerName"
   class="org.eclipse.update.internal.ui.UpdateUI">

   <runtime>
      <library name="updateui.jar">
         <export name="*"/>
         <packages prefixes="org.eclipse.update.internal.ui"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.update.core"/>
      <import plugin="org.eclipse.help.base"/>
      <import plugin="org.eclipse.update.configurator"/>
      <import plugin="org.eclipse.ui.forms"/>
   </requires>

   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            objectClass="org.eclipse.update.internal.ui.model.IFeatureAdapter"
            name="%properties.general-info.label"
            class="org.eclipse.update.internal.ui.properties.FeatureGeneralPropertyPage"
            id="org.eclipse.update.ui.featureGeneralPropertyPage">
      </page>
      <page
            objectClass="org.eclipse.update.internal.ui.model.IFeatureAdapter"
            name="%properties.license.label"
            class="org.eclipse.update.internal.ui.properties.FeatureLicensePropertyPage"
            id="org.eclipse.update.ui.featureLicensePropertyPage">
      </page>
      <page
            objectClass="org.eclipse.update.internal.ui.model.IFeatureAdapter"
            name="%properties.copyright.label"
            class="org.eclipse.update.internal.ui.properties.FeatureCopyrightPropertyPage"
            id="org.eclipse.update.ui.featureCopyrightPropertyPage">
      </page>
      <page
            objectClass="org.eclipse.update.internal.ui.model.ConfiguredFeatureAdapter"
            name="%properties.status.label"
            class="org.eclipse.update.internal.ui.properties.FeatureStatusPropertyPage"
            id="org.eclipse.update.ui.featureStatusPropertyPage">
      </page>
      <page
            objectClass="org.eclipse.update.internal.ui.model.IConfiguredSiteAdapter"
            name="%properties.general-info.label"
            class="org.eclipse.update.internal.ui.properties.ConfiguredSitePropertyPage"
            id="org.eclipse.update.ui.configSite">
      </page>
      <page
            objectClass="org.eclipse.update.internal.core.SiteLocal"
            name="%properties.general-info.label"
            class="org.eclipse.update.internal.ui.properties.InstallConfigurationPropertyPage"
            id="org.eclipse.update.ui.installConfig">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="%mainPreference.name"
            class="org.eclipse.update.internal.ui.preferences.MainPreferencePage"
            id="org.eclipse.update.internal.ui.preferences.MainPreferencePage">
      </page>
   </extension>

</plugin>
