<?xml version="1.0" encoding="UTF-8"?>
<!-- File written by PDE 1.0 -->
<plugin
   id="org.eclipse.update.ui"
   name="%name"
   version="2.0.0"
   provider-name="%provider-name"
   class="org.eclipse.update.internal.ui.UpdateUIPlugin">
<requires>
   <import plugin="org.eclipse.core.runtime"/>
   <import plugin="org.eclipse.ui"/>
   <import plugin="org.eclipse.update.core"/>
   <import plugin="org.eclipse.update.ui.forms"/>
   <import plugin="org.eclipse.core.resources"/>
</requires>

<runtime>
   <library name="updateui.jar">
      <export name="*"/>
   </library>
</runtime>

<extension
      point="org.eclipse.ui.editors">
   <editor
         icon="icons/basic/obj16/comp_mf_obj.gif"
         class="org.eclipse.update.internal.ui.manager.UpdateManager"
         id="org.eclipse.update.ui.updateManager"
         name="%editors.updateManager.name">
   </editor>
</extension>
<extension
      point="org.eclipse.ui.actionSets">
   <actionSet
         visible="true"
         id="org.eclipse.update.ui.softwareUpdates"
         label="%actionSets.softwareUpdates.label">
      <action
            menubarPath="help/helpEnd"
            class="org.eclipse.update.internal.ui.manager.UpdateManagerAction"
            id="org.eclipse.update.ui.updateManager"
            label="%actionSets.updateManager.label">
      </action>
   </actionSet>
</extension>
<extension
      point="org.eclipse.ui.elementFactories">
   <factory
         class="org.eclipse.update.internal.ui.manager.UpdateManagerInputFactory"
         id="org.eclipse.update.internal.ui.manager.UpdateManagerInputFactory">
   </factory>
</extension>
<extension
      point="org.eclipse.ui.views">
   <category
         id="org.eclipse.update.ui"
         name="Update Manager">
   </category>
   <view
         icon="icons/full/view16/registry.gif"
         category="org.eclipse.update.ui"
         class="org.eclipse.update.internal.ui.manager.SiteView"
         id="org.eclipse.update.ui.SiteView"
         name="Update Sites">
   </view>
   <view
         icon="icons/full/view16/registry.gif"
         category="org.eclipse.update.ui"
         class="org.eclipse.update.internal.ui.manager.LocalSiteView"
         id="org.eclipse.update.ui.LocalSiteView"
         name="My Eclipse">
   </view>
   <view
         icon="icons/full/view16/registry.gif"
         category="org.eclipse.update.ui"
         class="org.eclipse.update.internal.ui.manager.HistoryView"
         id="org.eclipse.update.ui.HistoryView"
         name="Install History">
   </view>
   <view
         icon="icons/full/view16/registry.gif"
         category="org.eclipse.update.ui"
         class="org.eclipse.update.internal.ui.manager.ChecklistView"
         id="org.eclipse.update.ui.ChecklistView"
         name="Update Checklist">
   </view>
   <view
         icon="icons/full/view16/registry.gif"
         category="org.eclipse.update.ui"
         class="org.eclipse.update.internal.ui.manager.DetailsView"
         id="org.eclipse.update.ui.DetailsView"
         name="Preview">
   </view>
</extension>
<extension
      point="org.eclipse.ui.perspectives">
   <perspective
         class="org.eclipse.update.internal.ui.manager.UpdatePerspective"
         id="org.eclipse.update.ui.UpdatePerspective"
         name="Install/Update">
   </perspective>
</extension>
<extension
      point="org.eclipse.ui.propertyPages">
   <page
         class="org.eclipse.update.internal.ui.manager.SiteBookmarkPropertyPage"
         id="org.eclipse.update.ui.sitePropertyPage"
         objectClass="org.eclipse.update.ui.internal.model.SiteBookmark"
         name="Site Properties">
   </page>
   <page
         class="org.eclipse.update.internal.ui.manager.ConfigurationPropertyPage"
         id="org.eclipse.update.ui.configPropertyPage"
         objectClass="org.eclipse.update.core.IInstallConfiguration"
         name="Configuration Properties">
   </page>
</extension>
</plugin>
