<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension
         id="feature1"
         point="org.eclipse.update.core.featureTypes">
      <feature-factory
            class="org.eclipse.update.internal.core.FeatureExecutableFactory">
      </feature-factory>
   </extension>
   <extension
         id="ftp"
         point="org.eclipse.update.core.siteTypes">
      <site-factory
            class="org.eclipse.update.tests.implementation.SiteFTPFactory">
      </site-factory>
   </extension>
   <extension
         point="org.eclipse.equinox.http.registry.resources">
      <resource
            alias="/org.eclipse.update.tests.core.updatetests"
            base-name="/webserver">
      </resource>
   </extension>

</plugin>
