Shell, SashForm {
	font-family: "Terminal";
	font-size: 12;
	background: url(./images/bluefade-banner.gif);
}

ToolBar, Button {
	font-family: "Terminal";
	font-size: 9;
	background: url(./images/bluefade-banner.gif);	
}

Text {
	font-family: "Terminal";
	font-size: 11;
	background: url(./images/bluefade-full.gif);	
}

CTabFolder {
    color: darkblue;
    background-color: #D0D0E0;
}
CTabFolder:selected {
    color: white;
    background-color: #7070EF;
}