<?xml version="1.0" encoding="UTF-8"?>
<!-- File written by PDE 1.0 -->
<plugin
   id="org.eclipse.debug.ui"
   name="%pluginName"
   version="2.0.0"
   provider-name="Object Technology International, Inc."
   class="org.eclipse.debug.internal.ui.DebugUIPlugin">
<!-- Required plugins -->
<requires>
   <import plugin="org.apache.xerces"/>
   <import plugin="org.eclipse.core.resources"/>
   <import plugin="org.eclipse.ui"/>
   <import plugin="org.eclipse.debug.core"/>
</requires>

<!-- Runtime -->
<runtime>
   <library name="dtui.jar">
      <export name="*"/>
   </library>
</runtime>

<!-- Extension points -->
<extension-point id="debugModelPresentations" name="%DebugModelPresentationExtensionName"/>
<extension-point id="launchConfigurationTabs" name="%LaunchConfigurationTabExtensionName"/>
<extension-point id="launchConfigurationTypeImages" name="%LaunchConfigurationTypeImageExtensionName"/>

<!-- Extensions -->
<extension
      point="org.eclipse.ui.perspectives">
   <perspective
         name="%DebugPerspective.name"
         icon="icons/full/cview16/debug_persp.gif"
         class="org.eclipse.debug.internal.ui.DebugPerspectiveFactory"
         id="org.eclipse.debug.ui.DebugPerspective">
   </perspective>
</extension>
<extension
      point="org.eclipse.ui.propertyPages">
   <page
         objectClass="org.eclipse.core.resources.IProject"
         name="%LauncherPropertyPage.name"
         class="org.eclipse.debug.internal.ui.LauncherPropertyPage"
         id="org.eclipse.debug.internal.ui.LauncherPropertyPage">
   </page>
   <page
         objectClass="org.eclipse.core.resources.IResource"
         name="%LaunchConfigurationTypePropertyPage.name"
         class="org.eclipse.debug.internal.ui.LaunchConfigurationTypePropertyPage"
         id="org.eclipse.debug.internal.ui.LaunchConfigurationTypePropertyPage"
         adaptable="true">
   </page>
</extension>
<extension
      point="org.eclipse.ui.views">
   <category
         name="%DebugViewsCategory.name"
         id="org.eclipse.debug.ui">
   </category>
   <view
         name="%DebugView.name"
         icon="icons/full/cview16/debug_view.gif"
         category="org.eclipse.debug.ui"
         class="org.eclipse.debug.internal.ui.views.LaunchView"
         id="org.eclipse.debug.ui.DebugView">
   </view>
   <view
         name="%BreakpointsView.name"
         icon="icons/full/cview16/breakpoint_view.gif"
         category="org.eclipse.debug.ui"
         class="org.eclipse.debug.internal.ui.views.BreakpointsView"
         id="org.eclipse.debug.ui.BreakpointView">
   </view>
   <view
         name="%VariablesView.name"
         icon="icons/full/cview16/variable_view.gif"
         category="org.eclipse.debug.ui"
         class="org.eclipse.debug.internal.ui.views.VariablesView"
         id="org.eclipse.debug.ui.VariableView">
   </view>
   <view
         name="%ExpressionView.name"
         icon="icons/full/cview16/watchlist_view.gif"
         category="org.eclipse.debug.ui"
         class="org.eclipse.debug.internal.ui.views.ExpressionView"
         id="org.eclipse.debug.ui.ExpressionView">
   </view>   
   <view
         name="%ConsoleView.name"
         icon="icons/full/cview16/console_view.gif"
         category="org.eclipse.debug.ui"
         class="org.eclipse.debug.internal.ui.views.ConsoleView"
         id="org.eclipse.debug.ui.ConsoleView">
   </view>
</extension>
<extension
      point="org.eclipse.ui.preferencePages">
   <page
         name="%DebugPreferencePage.name"
         class="org.eclipse.debug.internal.ui.DebugPreferencePage"
         id="org.eclipse.debug.ui.DebugPreferencePage">
   </page>
   <page
         name="%ConsolePreferencePage.name"
         category="org.eclipse.debug.ui.DebugPreferencePage"
         class="org.eclipse.debug.internal.ui.ConsolePreferencePage"
         id="org.eclipse.debug.ui.ConsolePreferencePage">
   </page>
   <page
         name="%LaunchConfigurationTypesPreferencePage.name"
         category="org.eclipse.debug.ui.DebugPreferencePage"
         class="org.eclipse.debug.internal.ui.LaunchConfigurationTypesPreferencePage"
         id="org.eclipse.debug.ui.LaunchConfigurationTypesPreferencePage">
   </page>
</extension>
<extension
      point="org.eclipse.ui.actionSets">
   <actionSet
         label="%DebugActionSet.label"
         visible="false"
         id="org.eclipse.debug.ui.debugActionSet">
      <menu
            label="%DebugMenu.label"
            id="org.eclipse.debug.ui.DebugMenu">
         <separator
               name="stepGroup">
         </separator>
      </menu>
        <action
            label="%StepReturnAction.label"
            icon="icons/full/clcl16/stepreturn_co.gif"
            helpContextId="step_return_action_context"
            class="org.eclipse.debug.internal.ui.actions.StepReturnActionDelegate"
            menubarPath="org.eclipse.debug.ui.DebugMenu/stepGroup"
            id="org.eclipse.debug.internal.ui.actions.StepReturnActionDelegate">
      </action>
      <action
            label="%StepOverAction.label"
            icon="icons/full/clcl16/stepover_co.gif"
            helpContextId="step_over_action_context"
            class="org.eclipse.debug.internal.ui.actions.StepOverActionDelegate"
            menubarPath="org.eclipse.debug.ui.DebugMenu/stepGroup"
            id="org.eclipse.debug.internal.ui.actions.StepOverActionDelegate">
      </action>
      <action
            label="%StepIntoAction.label"
            icon="icons/full/clcl16/stepinto_co.gif"
            helpContextId="step_into_action_context"
            class="org.eclipse.debug.internal.ui.actions.StepIntoActionDelegate"
            menubarPath="org.eclipse.debug.ui.DebugMenu/stepGroup"
            id="org.eclipse.debug.internal.ui.actions.StepIntoActionDelegate">
      </action>
      <action
            label="%TerminateAction.label"
            icon="icons/full/clcl16/terminate_co.gif"
            helpContextId="terminate_action_context"
            class="org.eclipse.debug.internal.ui.actions.TerminateActionDelegate"
            menubarPath="org.eclipse.debug.ui.DebugMenu/stepGroup"
            id="org.eclipse.debug.internal.ui.actions.TerminateActionDelegate">
      </action>
      <action
            label="%SuspendAction.label"
            icon="icons/full/clcl16/suspend_co.gif"
            helpContextId="suspend_action_context"
            class="org.eclipse.debug.internal.ui.actions.SuspendActionDelegate"
            menubarPath="org.eclipse.debug.ui.DebugMenu/stepGroup"
            id="org.eclipse.debug.internal.ui.actions.SuspendActionDelegate">
      </action>
      <action
            label="%ResumeAction.label"
            icon="icons/full/clcl16/resume_co.gif"
            helpContextId="resume_action_context"
            class="org.eclipse.debug.internal.ui.actions.ResumeActionDelegate"
            menubarPath="org.eclipse.debug.ui.DebugMenu/stepGroup"
            id="org.eclipse.debug.internal.ui.actions.ResumeActionDelegate">
      </action>
   </actionSet>
</extension>
<extension
      point="org.eclipse.ui.actionSets">
   <actionSet
         label="%LaunchActionSet.label"
         visible="false"
         id="org.eclipse.debug.ui.launchActionSet">
      <menu
            label="%DebugMenu.label"
            id="org.eclipse.debug.ui.DebugMenu">
         <separator
               name="launchGroup">
         </separator>
         <separator
               name="menuGroup">
         </separator>
      </menu>
      <action
            label="%RelaunchLastAction.label"
            icon="icons/full/clcl16/relaunch_co.gif"
            helpContextId="relaunch_last_action_context"
            tooltip="%RelaunchLastAction.tooltip"
            class="org.eclipse.debug.internal.ui.actions.RelaunchLastAction"
            menubarPath="org.eclipse.debug.ui.DebugMenu/launchGroup"
            id="org.eclipse.debug.internal.ui.actions.RelaunchLastAction">
      </action>
      <action
            label="%RunAction.label"
            pulldown="true"
            icon="icons/full/ctool16/run_exc.gif"
            helpContextId="run_action_context"
            tooltip="%RunAction.tooltip"
            class="org.eclipse.debug.internal.ui.actions.RunDropDownAction"
            menubarPath="org.eclipse.debug.ui.DebugMenu/launchGroup"
            toolbarPath="debug"
            id="org.eclipse.debug.internal.ui.actions.RunDropDownAction">
      </action>
      <action
            label="%DebugAction.label"
            pulldown="true"
            icon="icons/full/ctool16/debug_exc.gif"
            helpContextId="debug_action_context"
            tooltip="%DebugAction.tooltip"
            class="org.eclipse.debug.internal.ui.actions.DebugDropDownAction"
    		menubarPath="org.eclipse.debug.ui.DebugMenu/launchGroup"
            toolbarPath="debug"
            id="org.eclipse.debug.internal.ui.actions.DebugDropDownAction">
      </action>
       <action
            label="%RunHistoryMenuAction.label"
            icon="icons/full/ctool16/run_exc.gif"
            class="org.eclipse.debug.internal.ui.actions.RunHistoryMenuAction"
            menubarPath="org.eclipse.debug.ui.DebugMenu/menuGroup"
            id="org.eclipse.debug.internal.ui.actions.RunHistoryMenuAction">
      </action>
      <action
            label="%DebugHistoryMenuAction.label"
            icon="icons/full/ctool16/debug_exc.gif"
            class="org.eclipse.debug.internal.ui.actions.DebugHistoryMenuAction"
    		menubarPath="org.eclipse.debug.ui.DebugMenu/menuGroup"
            id="org.eclipse.debug.internal.ui.actions.DebugHistoryMenuAction">
      </action>
       <action
            label="%RunWithAction.label"
            icon="icons/full/ctool16/run_exc.gif"
            class="org.eclipse.debug.internal.ui.actions.RunWithAction"
            menubarPath="org.eclipse.debug.ui.DebugMenu/menuGroup"
            id="org.eclipse.debug.internal.ui.actions.RunWithAction">
      </action>
      <action
            label="%DebugWithAction.label"
            icon="icons/full/ctool16/debug_exc.gif"
            class="org.eclipse.debug.internal.ui.actions.DebugWithAction"
    		menubarPath="org.eclipse.debug.ui.DebugMenu/menuGroup"
            id="org.eclipse.debug.internal.ui.actions.DebugWithAction">
      </action>
      </actionSet>
</extension>

<extension point = "org.eclipse.ui.viewActions">
<!-- Contributions to Debug View Toolbar -->
	<viewContribution
		id = "org.eclipse.debug.ui.debugview.toolbar"
		targetID = "org.eclipse.debug.ui.DebugView">
<!-- Thread Group -->
		<action
			id = "org.eclipse.debug.ui.debugview.toolbar.removeAllTerminated"
			toolbarPath = "threadGroup"
			icon = "icons/full/clcl16/rem_all_co.gif"
			helpContextId = "remove_action_context"
			class = "org.eclipse.debug.internal.ui.actions.RemoveTerminatedAction"
			tooltip="%RemoveTerminatedAction.tooltip"
			label="%RemoveTerminatedAction.label">
		</action>
		<action
			id = "org.eclipse.debug.ui.debugview.toolbar.disconnect"
			toolbarPath = "threadGroup"
			icon = "icons/full/clcl16/disconnect_co.gif"
			helpContextId = "disconnect_action_context"
			class = "org.eclipse.debug.internal.ui.actions.DisconnectActionDelegate"
			tooltip="%DisconnectAction.tooltip"
			label="%DisconnectAction.label">
		</action>
		<action
			id = "org.eclipse.debug.ui.debugview.toolbar.terminate"
			toolbarPath = "threadGroup"
			icon = "icons/full/clcl16/terminate_co.gif"
			helpContextId = "terminate_action_context"
			class = "org.eclipse.debug.internal.ui.actions.TerminateActionDelegate"
			tooltip="%TerminateAction.tooltip"
			label="%TerminateAction.label">
		</action>
		<action
			id = "org.eclipse.debug.ui.debugview.toolbar.suspend"
			toolbarPath = "threadGroup"
			icon = "icons/full/clcl16/suspend_co.gif"
			helpContextId = "suspend_action_context"
			class = "org.eclipse.debug.internal.ui.actions.SuspendActionDelegate"
			tooltip="%SuspendAction.tooltip"
			label="%SuspendAction.label">
		</action>
		<action
			id = "org.eclipse.debug.ui.debugview.toolbar.resume"
			toolbarPath = "threadGroup"
			icon = "icons/full/clcl16/resume_co.gif"
			helpContextId = "resume_action_context"
			class = "org.eclipse.debug.internal.ui.actions.ResumeActionDelegate"
			tooltip="%ResumeAction.tooltip"
			label="%ResumeAction.label">
		</action>
<!-- Step Group -->
		<action
			id = "org.eclipse.debug.ui.debugview.toolbar.stepReturn"
			toolbarPath = "stepGroup"
			icon = "icons/full/clcl16/stepreturn_co.gif"
			helpContextId = "step_return_action_context"
			class = "org.eclipse.debug.internal.ui.actions.StepReturnActionDelegate"
			tooltip="%StepReturnAction.tooltip"
			label="%StepReturnAction.label">
		</action>		
		<action
			id = "org.eclipse.debug.ui.debugview.toolbar.stepOver"
			toolbarPath = "stepGroup"
			icon = "icons/full/clcl16/stepover_co.gif"
			helpContextId = "step_over_action_context"
			class = "org.eclipse.debug.internal.ui.actions.StepOverActionDelegate"
			tooltip="%StepOverAction.tooltip"
			label="%StepOverAction.label">
		</action>			
		<action
			id = "org.eclipse.debug.ui.debugview.toolbar.stepInto"
			toolbarPath = "stepGroup"
			icon = "icons/full/clcl16/stepinto_co.gif"
			helpContextId = "step_into_action_context"
			class = "org.eclipse.debug.internal.ui.actions.StepIntoActionDelegate"
			tooltip="%StepIntoAction.tooltip"
			label="%StepIntoAction.label">
		</action>		
	</viewContribution>
	<!-- Contributions to Console View Toolbar -->
	<viewContribution
		id = "org.eclipse.debug.ui.consoleview.toolbar"
		targetID = "org.eclipse.debug.ui.ConsoleView">
		<action
			id = "org.eclipse.debug.ui.consoleView.toolbar.terminate"
			icon = "icons/full/clcl16/terminate_co.gif"
			helpContextId = "terminate_action_context"
			toolbarPath = "launchGroup"
			class = "org.eclipse.debug.internal.ui.actions.ConsoleTerminateActionDelegate"
			tooltip="%TerminateAction.tooltip"
			label="%TerminateAction.label">
		</action>
	</viewContribution>
</extension>

<extension point = "org.eclipse.ui.popupMenus">
<!-- Contributions to Debug View Popup Menu -->
	<viewerContribution
		id = "org.eclipse.debug.ui.debugview.popupMenu"
		targetID = "org.eclipse.debug.ui.DebugView">
<!-- Edit Group -->
		<action
			id = "org.eclipse.debug.ui.debugview.popupMenu.copyToClipboard"
			menubarPath = "editGroup"
			helpContextId = "copy_to_clipboard_action_context"
			class = "org.eclipse.debug.internal.ui.actions.CopyToClipboardActionDelegate"
			label="%CopyToClipboardAction.label">
		</action>
<!-- Launch Group -->
		<action
			id = "org.eclipse.debug.ui.debugview.popupMenu.relaunch"
			menubarPath = "launchGroup"
			helpContextId = "relaunch_action_context"
			class = "org.eclipse.debug.internal.ui.actions.RelaunchActionDelegate"
			label="%RelaunchAction.label">
		</action>
		<action
			id = "org.eclipse.debug.ui.debugview.popupMenu.terminateAndRemove"
			menubarPath = "launchGroup"
			helpContextId = "terminate_and_remove_action_context"
			class = "org.eclipse.debug.internal.ui.actions.TerminateAndRemoveActionDelegate"
			label="%TerminateAndRemoveAction.label">
		</action>
<!-- Thread Group -->
		<action
			id = "org.eclipse.debug.ui.debugview.popupMenu.removeAllTerminated"
			menubarPath = "launchGroup"
			icon = "icons/full/clcl16/rem_all_co.gif"
			helpContextId = "remove_action_context"
			class = "org.eclipse.debug.internal.ui.actions.RemoveTerminatedAction"
			label="%RemoveTerminatedAction.label">
		</action>
		<action
			id = "org.eclipse.debug.ui.debugview.popupMenu.disconnect"
			menubarPath = "threadGroup"
			icon = "icons/full/clcl16/disconnect_co.gif"
			helpContextId = "disconnect_action_context"
			class = "org.eclipse.debug.internal.ui.actions.DisconnectActionDelegate"
			label="%DisconnectAction.label">
		</action>
		<action
			id = "org.eclipse.debug.ui.debugview.popupMenu.terminate"
			menubarPath = "threadGroup"
			icon = "icons/full/clcl16/terminate_co.gif"
			helpContextId = "terminate_action_context"
			class = "org.eclipse.debug.internal.ui.actions.TerminateActionDelegate"
			label="%TerminateAction.label">
		</action>
		<action
			id = "org.eclipse.debug.ui.debugview.popupMenu.suspend"
			menubarPath = "threadGroup"
			icon = "icons/full/clcl16/suspend_co.gif"
			helpContextId = "suspend_action_context"
			class = "org.eclipse.debug.internal.ui.actions.SuspendActionDelegate"
			label="%SuspendAction.label">
		</action>
		<action
			id = "org.eclipse.debug.ui.debugview.popupMenu.resume"
			menubarPath = "threadGroup"
			icon = "icons/full/clcl16/resume_co.gif"
			helpContextId = "resume_action_context"
			class = "org.eclipse.debug.internal.ui.actions.ResumeActionDelegate"
			label="%ResumeAction.label">
		</action>		
<!-- Step Group -->		
		<action
			id = "org.eclipse.debug.ui.debugview.popupMenu.stepReturn"
			menubarPath = "stepGroup"
			icon = "icons/full/clcl16/stepreturn_co.gif"
			helpContextId = "step_return_action_context"
			class = "org.eclipse.debug.internal.ui.actions.StepReturnActionDelegate"
			label="%StepReturnAction.label">
		</action>		
		<action
			id = "org.eclipse.debug.ui.debugview.popupMenu.stepOver"
			menubarPath = "stepGroup"
			icon = "icons/full/clcl16/stepover_co.gif"
			helpContextId = "step_over_action_context"
			class = "org.eclipse.debug.internal.ui.actions.StepOverActionDelegate"
			label="%StepOverAction.label">
		</action>			
		<action
			id = "org.eclipse.debug.ui.debugview.popupMenu.stepInto"
			menubarPath = "stepGroup"
			icon = "icons/full/clcl16/stepinto_co.gif"
			helpContextId = "step_into_action_context"
			class = "org.eclipse.debug.internal.ui.actions.StepIntoActionDelegate"
			label="%StepIntoAction.label">
		</action>		
	</viewerContribution>
	<!-- Contributions to Breakpoints View Popup Menu -->
	<viewerContribution
		id = "org.eclipse.debug.ui.breakpointview.popupMenu"
		targetID = "org.eclipse.debug.ui.BreakpointView">
		<action
			id="org.eclipse.jdt.debug.ui.actions.ManageBreakpointEnablement"
			label="%DisableBreakpointsAction.label"
			menubarPath="breakpointGroup"
			class="org.eclipse.debug.internal.ui.actions.DisableBreakpointsAction"
			enablesFor="2+">
		</action>
		<action
			id="org.eclipse.jdt.debug.ui.actions.ManageBreakpointEnablement"
			label="%EnableBreakpointsAction.label"
			menubarPath="breakpointGroup"
			class="org.eclipse.debug.internal.ui.actions.EnableBreakpointsAction"
			enablesFor="2+">
		</action>
	</viewerContribution>
<!-- Contributions to Variables View Popup Menu -->	
	<viewerContribution
		id = "org.eclipse.debug.ui.variablesView.popupMenu"
		targetID = "org.eclipse.debug.ui.VariableView">
		<!-- Variable Group -->
		<action
			id = "org.eclipse.debug.ui.debugview.popupMenu.copyVariablesToClipboard"
			menubarPath = "variableGroup"
			helpContextId = "copy_variables_to_clipboard_action_context"
			class = "org.eclipse.debug.internal.ui.actions.CopyVariablesToClipboardActionDelegate"
			label="%CopyVariablesToClipboardAction.label">
		</action>
	</viewerContribution>
<!-- Contributions to Expression View Popup Menu -->
	<viewerContribution
		id = "org.eclipse.debug.ui.expressionView.popupMenu"
		targetID = "org.eclipse.debug.ui.ExpressionView">
		<!-- Expression Group -->
		<action
			id = "org.eclipse.debug.ui.debugview.popupMenu.copyVariablesToClipboard"
			menubarPath = "expressionGroup"
			helpContextId = "copy_variables_to_clipboard_action_context"
			class = "org.eclipse.debug.internal.ui.actions.CopyVariablesToClipboardActionDelegate"
			label="%CopyVariablesToClipboardAction.label">
		</action>
	</viewerContribution>
<!-- Contributions to Console View popup menu -->
	<viewerContribution
		id = "org.eclipse.debug.ui.consoleview.popupMenu"
		targetID = "org.eclipse.debug.ui.ConsoleView">
		<action
			id = "org.eclipse.debug.ui.consoleView.popupMenu.terminate"
			icon = "icons/full/clcl16/terminate_co.gif"
			menubarPath = "additions"
			helpContextId = "terminate_action_context"
			class = "org.eclipse.debug.internal.ui.actions.ConsoleTerminateActionDelegate"
			label="%TerminateAction.label">
		</action>
	</viewerContribution>
</extension>

<extension
      id="instructionPointer"
      point="org.eclipse.core.resources.markers">
   <super
         type="org.eclipse.core.resources.textmarker">
   </super>
   <persistent
         value="false">
   </persistent>
</extension>

<extension point = "org.eclipse.debug.ui.launchConfigurationTabs">
	<launchConfigurationTab
		id="org.eclipse.debug.ui.launchConfigurationTab.common"
		class="org.eclipse.debug.internal.ui.launchConfigurations.CommonTab"
		name="%commonTabName">
	</launchConfigurationTab>
</extension>

</plugin>
