<?xml version="1.0" encoding="UTF-8"?>
<!-- File written by PDE 1.0 -->
<plugin
   id="org.eclipse.debug.ui"
   name="DebugToolsUI"
   version="0.9"
   provider-name="Object Technology International, Inc."
   class="org.eclipse.debug.internal.ui.DebugUIPlugin">
<!-- Required plugins -->
<requires>
   <import plugin="org.apache.xerces"/>
   <import plugin="org.eclipse.core.resources"/>
   <import plugin="org.eclipse.ui"/>
   <import plugin="org.eclipse.debug.core"/>
</requires>

<!-- Runtime -->
<runtime>
   <library name="dtui.jar">
      <export name="*"/>
   </library>
</runtime>

<!-- Extension points -->
<extension-point id="debugModelPresentations" name="%DebugModelPresentationExtensionName"/>

<!-- Extensions -->
<extension
      point="org.eclipse.ui.perspectives">
   <perspective
         name="%DebugPerspective.name"
         icon="icons/full/cview16/debug_persp.gif"
         class="org.eclipse.debug.internal.ui.DebugPerspective"
         id="org.eclipse.debug.ui.DebugPerspective">
   </perspective>
</extension>
<extension
      point="org.eclipse.ui.propertyPages">
   <page
         objectClass="org.eclipse.core.resources.IProject"
         name="%LauncherPropertyPage.name"
         class="org.eclipse.debug.internal.ui.LauncherPropertyPage"
         id="org.eclipse.debug.internal.ui.LauncherPropertyPage">
   </page>
   <page
         objectClass="org.eclipse.jdt.core.IJavaProject"
         name="%LauncherPropertyPage.name"
         class="org.eclipse.debug.internal.ui.LauncherPropertyPage"
         id="org.eclipse.debug.internal.ui.LauncherPropertyPage">
   </page>
</extension>
<extension
      point="org.eclipse.ui.views">
   <category
         name="&amp;Debug"
         id="org.eclipse.debug.ui">
   </category>
   <view
         name="%DebugView.name"
         icon="icons/full/eview16/debug_view.gif"
         category="org.eclipse.debug.ui"
         class="org.eclipse.debug.internal.ui.DebugView"
         id="org.eclipse.debug.ui.DebugView">
   </view>
   <view
         name="%ProcessesView.name"
         icon="icons/full/eview16/process_view.gif"
         category="org.eclipse.debug.ui"
         class="org.eclipse.debug.internal.ui.LaunchesView"
         id="org.eclipse.debug.ui.ProcessView">
   </view>
   <view
         name="%BreakpointsView.name"
         icon="icons/full/eview16/breakpoint_view.gif"
         category="org.eclipse.debug.ui"
         class="org.eclipse.debug.internal.ui.BreakpointsView"
         id="org.eclipse.debug.ui.BreakpointView">
   </view>
   <view
         name="%VariablesView.name"
         icon="icons/full/eview16/variable_view.gif"
         category="org.eclipse.debug.ui"
         class="org.eclipse.debug.internal.ui.VariablesView"
         id="org.eclipse.debug.ui.VariableView">
   </view>
   <view
         name="%InspectorView.name"
         icon="icons/full/eview16/watchlist_view.gif"
         category="org.eclipse.debug.ui"
         class="org.eclipse.debug.internal.ui.InspectorView"
         id="org.eclipse.debug.ui.InspectorView">
   </view>
   <view
         name="%ConsoleView.name"
         icon="icons/full/eview16/console_view.gif"
         category="org.eclipse.debug.ui"
         class="org.eclipse.debug.internal.ui.ConsoleView"
         id="org.eclipse.debug.ui.ConsoleView">
   </view>
</extension>
<extension
      point="org.eclipse.ui.preferencePages">
   <page
         name="%DebugPreferencePage.name"
         class="org.eclipse.debug.internal.ui.DebugPreferencePage"
         id="org.eclipse.debug.ui.DebugPreferencePage">
   </page>
   <page
         name="%ConsolePreferencePage.name"
         category="org.eclipse.debug.ui.DebugPreferencePage"
         class="org.eclipse.debug.internal.ui.ConsolePreferencePage"
         id="org.eclipse.debug.ui.ConsolePreferencePage">
   </page>
</extension>
<extension
      point="org.eclipse.ui.actionSets">
   <actionSet
         label="%DebugActionSet.label"
         visible="false"
         id="org.eclipse.debug.ui.debugActionSet">
      <menu
            label="%DebugMenu.label"
            id="org.eclipse.debug.ui.DebugMenu">
         <separator
               name="stepGroup">
         </separator>
         <separator
               name="relaunchGroup">
         </separator>
      </menu>
      <action
            label="%RunAction.label"
            pulldown="true"
            icon="icons/full/ctool16/run_exc.gif"
            helpContextId="run_action_context"
            tooltip="%RunAction.tooltip"
            class="org.eclipse.debug.internal.ui.RunDropDownAction"
            toolbarPath="debug"
            id="org.eclipse.debug.internal.ui.RunDropDownAction">
      </action>
      <action
            label="%DebugAction.label"
            pulldown="true"
            icon="icons/full/ctool16/debug_exc.gif"
            helpContextId="debug_action_context"
            tooltip="%DebugAction.tooltip"
            class="org.eclipse.debug.internal.ui.DebugDropDownAction"
            toolbarPath="debug"
            id="org.eclipse.debug.internal.ui.DebugDropDownAction">
      </action>
      <action
            label="%StepReturnAction.label"
            icon="icons/full/clcl16/stepreturn_co.gif"
            helpContextId="step_return_action_context"
            tooltip="%StepReturnAction.tooltip"
            class="org.eclipse.debug.internal.ui.StepReturnActionDelegate"
            menubarPath="org.eclipse.debug.ui.DebugMenu/stepGroup"
            enablesFor="1"
            id="org.eclipse.debug.internal.ui.StepReturnActionDelegate">
         <selection
               class="org.eclipse.debug.core.model.IStep">
         </selection>
      </action>
      <action
            label="%StepOverAction.label"
            icon="icons/full/clcl16/stepover_co.gif"
            helpContextId="step_over_action_context"
            tooltip="%StepOverAction.tooltip"
            class="org.eclipse.debug.internal.ui.StepOverActionDelegate"
            menubarPath="org.eclipse.debug.ui.DebugMenu/stepGroup"
            enablesFor="1"
            id="org.eclipse.debug.internal.ui.StepOverActionDelegate">
         <selection
               class="org.eclipse.debug.core.model.IStep">
         </selection>
      </action>
      <action
            label="%StepIntoAction.label"
            icon="icons/full/clcl16/stepinto_co.gif"
            helpContextId="step_into_action_context"
            tooltip="%StepIntoAction.tooltip"
            class="org.eclipse.debug.internal.ui.StepIntoActionDelegate"
            menubarPath="org.eclipse.debug.ui.DebugMenu/stepGroup"
            enablesFor="1"
            id="org.eclipse.debug.internal.ui.StepIntoActionDelegate">
         <selection
               class="org.eclipse.debug.core.model.IStep">
         </selection>
      </action>
      <action
            label="%SuspendAction.label"
            icon="icons/full/clcl16/suspend_co.gif"
            helpContextId="suspend_action_context"
            tooltip="%SuspendAction.tooltip"
            class="org.eclipse.debug.internal.ui.SuspendActionDelegate"
            menubarPath="org.eclipse.debug.ui.DebugMenu/stepGroup"
            enablesFor="+"
            id="org.eclipse.debug.internal.ui.SuspendActionDelegate">
         <selection
               class="org.eclipse.debug.core.model.ISuspendResume">
         </selection>
      </action>
      <action
            label="%ResumeAction.label"
            icon="icons/full/clcl16/resume_co.gif"
            helpContextId="resume_action_context"
            tooltip="%ResumeAction.tooltip"
            class="org.eclipse.debug.internal.ui.ResumeActionDelegate"
            menubarPath="org.eclipse.debug.ui.DebugMenu/stepGroup"
            enablesFor="+"
            id="org.eclipse.debug.internal.ui.ResumeActionDelegate">
         <selection
               class="org.eclipse.debug.core.model.ISuspendResume">
         </selection>
      </action>
      <action
            label="%RelaunchLastAction.label"
            helpContextId="relaunch_last_action_context"
            tooltip="%RelaunchLastAction.tooltip"
            class="org.eclipse.debug.internal.ui.RelaunchLastAction"
            menubarPath="org.eclipse.debug.ui.DebugMenu/relaunchGroup"
            id="org.eclipse.debug.internal.ui.RelaunchLastAction">
      </action>
   </actionSet>
</extension>
<extension
      id="instructionPointer"
      point="org.eclipse.core.resources.markers">
   <super
         type="org.eclipse.core.resources.textmarker">
   </super>
   <persistent
         value="false">
   </persistent>
</extension>
</plugin>
