<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  
     <extension-point id="xptI" name="Label xptI" schema="schema/xptI.exsd"/>
     
  	<extension point="xptI" id="ext1">
  	  	<ce level="1">
  			value level one
  			<ce2 level="2">
  				<ce3 level="3">
  					<ce4 level="4">
  					  			value level four
  					</ce4>
  				</ce3>
  				<ce3 level="threebis"/>
  			</ce2>
  		</ce>
	</extension>

</plugin>
