<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.eclipse.ui.console"
   name="%pluginName"
   version="3.0.0"
   provider-name="%providerName"
   class="org.eclipse.ui.console.ConsolePlugin">

   <runtime>
      <library name="console.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.jface.text"/>
      <import plugin="org.eclipse.help"/>
      <import plugin="org.eclipse.ui.workbench.texteditor"/>
      <import plugin="org.eclipse.core.runtime"/>
   </requires>


   <extension
         point="org.eclipse.ui.views">
      <view
            name="%ConsoleView.name"
            icon="icons/full/cview16/console_view.gif"
            category="org.eclipse.ui"
            class="org.eclipse.ui.internal.console.ConsoleView"
            id="org.eclipse.ui.console.ConsoleView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            name="%ViewCommand.consoleView.name"
            description="%ViewCommand.consoleView.description"
            category="org.eclipse.ui.category.views"
            id="org.eclipse.ui.console.ConsoleView">
      </command>
      <keyBinding
            string=""
            scope="org.eclipse.ui.globalScope"
            command="org.eclipse.ui.console.ConsoleView"
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
   </extension>
    <extension
         point="org.eclipse.ui.themes">
      <fontDefinition
            label="%ConsoleFontDefinition.label"
            defaultsTo="org.eclipse.jface.textfont"
            categoryId="org.eclipse.ui.workbenchMisc"
            id="org.eclipse.ui.console.ConsoleFont">
         <description>
            %ConsoleFontDefinition.description
         </description>
      </fontDefinition>
   </extension>

</plugin>
