<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension-point id="consolePatternMatchListeners" name="%ConsolePatternMatchListenerName" schema="schema/consolePatternMatchListeners.exsd"/>
   <extension-point id="consolePageParticipants" name="%ConsolePageParticipantName" schema="schema/consolePageParticipants.exsd"/>
   <extension-point id="consoleFactories" name="%ConsoleFactoryName" schema="schema/consoleFactories.exsd"/>


   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            class="org.eclipse.ui.internal.console.ConsoleView"
            icon="icons/full/cview16/console_view.gif"
            category="org.eclipse.ui"
            name="%ConsoleView.name"
            id="org.eclipse.ui.console.ConsoleView">
      </view>
   </extension>
<!-- commands and their bindings
NOTE: 
M1 = CTRL/COMMAND 
M2 = SHIFT 
M3 = ALT 
M4 = Platform-specific fourth key
-->   
   <extension
         point="org.eclipse.ui.commands">
      <command
            name="%ViewCommand.consoleView.name"
            description="%ViewCommand.consoleView.description"
            categoryId="org.eclipse.ui.category.views"
            id="org.eclipse.ui.console.ConsoleView">
      </command>
   </extension>
    <extension point="org.eclipse.ui.bindings">
     <key 
  	    	sequence="M3+M2+Q C"
            contextId="org.eclipse.ui.globalScope"
            commandId="org.eclipse.ui.console.ConsoleView"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
  	</extension>
    <extension
          point="org.eclipse.core.expressions.propertyTesters">
       <propertyTester
             namespace="org.eclipse.ui.console"
             type="org.eclipse.ui.console.IConsole"
             class="org.eclipse.ui.internal.console.ConsoleTypePropertyTester"
             properties="consoleTypeTest"
             id="org.eclipse.ui.console.ConsoleTypePropertyTester"/>
    </extension>
    <extension
          point="org.eclipse.ui.console.consoleFactories">
       <consoleFactory
             label="%consoleViewConsoleFactory.name"
             class="org.eclipse.ui.internal.console.ConsoleViewConsoleFactory"/>
    </extension>

</plugin>
