<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.eclipse.ui.console"
   name="%pluginName"
   version="3.1.0"
   provider-name="%providerName"
   class="org.eclipse.ui.console.ConsolePlugin">

   <runtime>
      <library name="console.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.jface.text"/>
      <import plugin="org.eclipse.ui.workbench.texteditor"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.core.expressions"/>
   </requires>
   <extension-point id="consolePatternMatchListeners" name="%ConsolePatternMatchListenerName" schema="schema/consolePatternMatchListeners.exsd"/>
   <extension-point id="consolePageParticipants" name="%ConsolePageParticipantName" schema="schema/consolePageParticipants.exsd"/>
   <extension-point id="consoleFactories" name="%ConsoleFactoryName" schema="schema/consoleFactories.exsd"/>


   <extension
         point="org.eclipse.ui.views">
      <view
            name="%ConsoleView.name"
            icon="icons/full/cview16/console_view.gif"
            category="org.eclipse.ui"
            class="org.eclipse.ui.internal.console.ConsoleView"
            id="org.eclipse.ui.console.ConsoleView">
      </view>
   </extension>
<!-- commands and their bindings
NOTE: 
M1 = CTRL/COMMAND 
M2 = SHIFT 
M3 = ALT 
M4 = Platform-specific fourth key
-->   
   <extension
         point="org.eclipse.ui.commands">
      <command
            name="%ViewCommand.consoleView.name"
            description="%ViewCommand.consoleView.description"
            categoryId="org.eclipse.ui.category.views"
            id="org.eclipse.ui.console.ConsoleView">
      </command>
      <keyBinding
            keySequence="M3+M2+Q C"
            contextId="org.eclipse.ui.globalScope"
            commandId="org.eclipse.ui.console.ConsoleView"
            keyConfigurationId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
   </extension>
    <extension
          point="org.eclipse.core.expressions.propertyTesters">
       <propertyTester
             namespace="org.eclipse.ui.console"
             type="org.eclipse.ui.console.IConsole"
             class="org.eclipse.ui.internal.console.ConsoleTypePropertyTester"
             properties="consoleTypeTest"
             id="org.eclipse.ui.console.ConsoleTypePropertyTester"/>
    </extension>

</plugin>
