<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.e4.workbench.partfactory">
      <factory
            class="org.eclipse.e4.workbench.ui.renderers.swt.CompositePartRenderer">
      </factory>
   </extension>
   <extension
         point="org.eclipse.e4.workbench.partfactory">
      <factory
            class="org.eclipse.e4.workbench.ui.renderers.swt.SashRenderer">
      </factory>
   </extension>
   <extension
         point="org.eclipse.e4.workbench.partfactory">
      <factory
            class="org.eclipse.e4.workbench.ui.renderers.swt.WBWRenderer">
      </factory>
   </extension>
   <extension
         point="org.eclipse.e4.workbench.partfactory">
      <factory
            class="org.eclipse.e4.workbench.ui.renderers.swt.ContributedPartRenderer">
      </factory>
   </extension>
   <extension
         point="org.eclipse.e4.workbench.partfactory">
      <factory
            class="org.eclipse.e4.workbench.ui.renderers.swt.StackRenderer">
      </factory>
   </extension>
   <extension
         point="org.eclipse.e4.workbench.partfactory">
      <factory
            class="org.eclipse.e4.workbench.ui.renderers.swt.TrimRenderer">
      </factory>
   </extension>

</plugin>
