<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.eclipse.e4.ui.examples.css.rcp.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="org.eclipse.e4.ui.examples.css.rcp.Perspective"
            id="org.eclipse.e4.ui.examples.css.rcp.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="Message"
            allowMultiple="true"
            icon="icons/sample2.gif"
            class="org.eclipse.e4.ui.examples.css.rcp.View"
            id="org.eclipse.e4.ui.examples.css.rcp.view">
      </view>
      <view
            name="Mailboxes"
            allowMultiple="true"
            icon="icons/sample3.gif"
            class="org.eclipse.e4.ui.examples.css.rcp.NavigationView"
            id="org.eclipse.e4.ui.examples.css.rcp.navigationView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Mail"
            id="org.eclipse.e4.ui.examples.css.rcp.category">
      </category>
      <command
            name="Open Mailbox"
            description="Opens a mailbox"
            categoryId="org.eclipse.e4.ui.examples.css.rcp.category"
            id="org.eclipse.e4.ui.examples.css.rcp.open">
      </command>
      <command
            name="Mark as Read"
            description="Mark the message as having been read"
            categoryId="org.eclipse.e4.ui.examples.css.rcp.category"
            id="org.eclipse.e4.ui.examples.css.rcp.markAsRead">
      </command>
      <command
            defaultHandler="org.eclipse.e4.ui.examples.css.rcp.handler.SwitchTheme"
            id="org.eclipse.e4.ui.examples.css.rcp.switchtheme"
            name="Switch Theme">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.eclipse.e4.ui.examples.css.rcp.open"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+2">
      </key>
      <key
            commandId="org.eclipse.e4.ui.examples.css.rcp.markAsRead"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+4">
      </key>
      <key
            commandId="org.eclipse.ui.file.exit"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+Q">
      </key>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.e4.ui.examples.css.rcp.application"
            name="CSS Mail Example">
         <property
               name="aboutText"
               value="CSS RCP Mail template">
         </property>
         <property
               name="windowImages"
               value="icons/sample2.gif">
         </property>
         <property
               name="aboutImage"
               value="product_lg.gif">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.e4.ui.css.swt.theme">
      <theme
            basestylesheeturi="css/default.css"
            id="org.eclipse.e4.ui.examples.css.rcp"
            label="RCP example theme">
      </theme>
      <theme
            basestylesheeturi="css/colorful.css"
            id="org.eclipse.e4.ui.examples.css.colorful"
            label="Colorful Example">
      </theme>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="Styling">
            <command
                  commandId="org.eclipse.e4.ui.examples.css.rcp.switchtheme"
                  label="Switch Styling"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>

</plugin>
