<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.eclipse.core.runtime"
   name="%pluginName"
   version="3.0.0"
   provider-name="%providerName"
   class="org.eclipse.core.internal.runtime.PlatformActivator">

   <runtime>
      <library name="runtime.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.osgi" export="true"/>
      <import plugin="org.eclipse.osgi.services" export="true"/>
      <import plugin="org.eclipse.osgi.util" export="true"/>
   </requires>


   <extension-point id="applications" name="%applicationsName" schema="schema/applications.mxsd"/>
   <extension-point id="urlHandlers" name="%handlersName" schema="schema/urlHandlers.mxsd"/>
   <extension-point id="applicationShutdownHook" name="%shutdownHook"/>
   <extension-point id="products" name="%productsName" schema="schema/products.exsd"/>
   <extension-point id="adapters" name="%adaptersName" schema="schema/adapters.exsd"/>
	<extension-point name="preferences" id="preferences"/>

	<extension id="user-preferences" point="org.eclipse.core.runtime.preferences" name="user-preferences">
		<preferences scope="user" class="org.eclipse.core.runtime.preferences.UserScope"/>
	</extension>

	<extension id="configuration-preferences" point="org.eclipse.core.runtime.preferences" name="configuration-preferences">
		<preferences scope="configuration" class="org.eclipse.core.runtime.preferences.ConfigurationScope"/>
	</extension>

	<extension id="instance-preferences" point="org.eclipse.core.runtime.preferences" name="instance-preferences">
		<preferences scope="instance" class="org.eclipse.core.runtime.preferences.InstanceScope"/>
	</extension>

	<extension id="default-preferences" point="org.eclipse.core.runtime.preferences" name="default-preferences">
		<preferences scope="default" class="org.eclipse.core.runtime.preferences.DefaultScope"/>
	</extension>

</plugin>
