<?xml version="1.0" encoding="UTF-8"?>
<!-- File written by PDE 1.0 -->
<plugin
   id="org.eclipse.update"
   name="%S_Eclipse_Update_Manager_Plugin"
   version="1.0"
   provider-name="International Business Machines Corp."
   class="org.eclipse.update.internal.core.UpdateManagerPlugin">
<requires>
   <import plugin="org.eclipse.core.runtime"/>
   <import plugin="org.eclipse.ui"/>
   <import plugin="org.eclipse.webdav"/>
</requires>

<runtime>
   <library name="update.jar"/>
</runtime>

<!-- ================================================================================= -->
<!--                                                                                   -->
<!-- Update Manager Help Menu Action Set                                               -->
<!--                                                                                   -->
<!-- ================================================================================= -->
<extension
      point="org.eclipse.ui.actionSets">
   <actionSet
         label="%S_Software_Updates"
         visible="false"
         id="org.eclipse.update.internal.ui.UpdateManagerActionSet">
      <action
            label="%S_Software_Updates"
            class="org.eclipse.update.internal.ui.UMDialogAction"
            menubarPath="help/helpEnd"
            id="org.eclipse.update.internal.ui.UpdateManagerAction">
      </action>
   </actionSet>
</extension>
<!-- ============================================================================================ -->
<!--                                                                                              -->
<!-- Update Manager Application                                                                   -->
<!--                                                                                              -->
<!-- ============================================================================================ -->
<extension
      id="updateManager"
      point="org.eclipse.core.runtime.applications">
   <application>
      <run
            class="org.eclipse.update.internal.ui.UMApplicationUserInterface">
      </run>
   </application>
</extension>
</plugin>
