      BODY  {
          background-color: Window;
          font-size:smaller;
      }
 
      A   {
          text-decoration:none; 
          color:WindowText; 
	  height:20;
          padding: 2px 5px;
          white-space: nowrap;
      }
      A:hover { 
          color:#0000FF; 
          text-decoration:underline; 
      }
/*
 * NOTE: MOZILLA BUG WITH A:focus and A:active styles
*/
/*
      A:active{ 
          color:HighlightText;
          background:Highlight; 
      }
*/
 
/* NOTE: MOZILLA BUG WITH A:focus and A:active styles */
      A.active { 
          color:HighlightText;
          background:Highlight; 
      }

    UL { 
     	border-width:0; 
        position:relative;  
        left:-10px; 
      }


      LI {
     	border-width:0;    
        left:-10px;   
      }

      FORM {
        background-color:ActiveBorder;
	padding:2px 4px 8px 2px;
     }

     .view {
        list-style-image: url(../images/view.gif"); 
     }

     .leaf { 
        list-style-image: url(../images/topic.gif);
      }

     .node {
        list-style-image: url(../images/topicfolder.gif);
      }

      .collapsed {
        list-style-image: url(../images/plus.gif);
        display: none;
      }

      .expanded {
         list-style-image: url(../images/minus.gif);
         display:block;
      }
	