body {
	background-image : url(../graphics/watermark/whatsnew_wmk.gif);
	background-repeat : no-repeat;
	background-position : bottom right;	
}

/* show the "selected" image for this page */
#navigation-links a#news img { background-image : url(../graphics/obj_32/selwhatsnew_obj.gif); }

/* 
 * Set up the content of the Whats New page to be displayed in 
 * two columns that are centered in the middle of the page.
 */

div#page-links {
	width : 800px;
	height : 150px;
	position : relative;
	left : 50%;
	margin-left : -400px;
	top : -50px;
}

div#page-links a { 
	display : block; 
	height : 60px; 
	width : 375px;
	text-align : left; 
	margin-left : 10px;
	position : absolute;
}


div#page-links a img {
	height : 56px;
	width : 56px;
	vertical-align : middle;
}

##page-links a .link-label {
	position : relative;
	top : -10px;
}

div#page-links a p .text {
	display : block;
	position : relative;
	left : 50px;
	width : 350px;
	margin-top : -20px;
}

div#page-links a:hover { border-right : 5px; }

a#new-and-noteworthy img { background-image : url(../graphics/obj_48/noteworthy_obj.gif); }
a#new-and-noteworthy:hover img { background-image : url(../graphics/obj_48/hovnoteworthy_obj.gif); }

a#migration { left : 400px; }
a#migration img { background-image : url(../graphics/obj_48/migrate_obj.gif); }
a#migration:hover img { background-image : url(../graphics/obj_48/hovmigrate_obj.gif); }

a#updates { top : 80px; }
a#updates img { background-image : url(../graphics/obj_48/updates_obj.gif); }
a#updates:hover img { background-image : url(../graphics/obj_48/hovupdates_obj.gif); }

a#eclipse { top : 80px; left : 400px;}
a#eclipse img { background-image : url(../graphics/obj_48/community_obj.gif); }
a#eclipse:hover img { background-image : url(../graphics/obj_48/hovcommunity_obj.gif); }


