body {
	background-image : url(../graphics/watermark/whatsnew_wmk.gif);
	background-repeat : no-repeat;
	background-position : bottom right;	
}

/* show the "selected" image for this page */
#navigation-links a#news img, #navigation-links a#news:hover img { background-image : url(../graphics/obj_32/selwhatsnew_obj.gif); }

/* 
 * Set up the content of the Whats New page to be displayed in 
 * two columns that are centered in the middle of the page.
 */

#news-links {
	text-align : left;
	width : 760px;
	/* To center in Moz (have to use text-align for IE) */	
	margin: 0px auto;
}

#news-links a { 
	width : 370px;
	height : 5em; 
	text-align : left; 
	margin-left : 5px;
	margin-right : 5px;
	margin-top : 10px;
	float : left;
}


#news-links a img {
	height : 57px;
	width : 57px;
	vertical-align : middle;
}

#news-links a .link-label {
	position : relative;
	top : -10px;
}

#news-links a p .text {
	display : block;
	margin-left : 53px;
	margin-top : -20px;
}

#news-links a:hover { border-right : 5px; }

a#new-and-noteworthy img { background-image : url(../graphics/obj_48/noteworthy_obj.gif); }
a#new-and-noteworthy:hover img { background-image : url(../graphics/obj_48/hovnoteworthy_obj.gif); }

a#migration img { background-image : url(../graphics/obj_48/migrate_obj.gif); }
a#migration:hover img { background-image : url(../graphics/obj_48/hovmigrate_obj.gif); }

a#updates img { background-image : url(../graphics/obj_48/updates_obj.gif); }
a#updates:hover img { background-image : url(../graphics/obj_48/hovupdates_obj.gif); }

a#eclipse img { background-image : url(../graphics/obj_48/community_obj.gif); }
a#eclipse:hover img { background-image : url(../graphics/obj_48/hovcommunity_obj.gif); }


