<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.e4.ui.workbench.swt.E4Application"
            name="E4 Contacts Demo">
         <property
               name="appName"
               value="E4 Contacts Demo">
         </property>
         <property
               name="applicationXMI"
               value="org.eclipse.e4.demo.contacts/Application.e4xmi">
         </property>
         <property
               name="cssTheme"
               value="org.eclipse.e4.demo.contacts.themes.blue">
         </property>
         <property
               name="startupForegroundColor"
               value="FFFFFF">
         </property>
         <property
               name="startupMessageRect"
               value="7,252,445,20">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.e4.ui.css.swt.theme">
      <theme
            basestylesheeturi="css/dark-include.css"
            id="org.eclipse.e4.demo.contacts.themes.darkgradient"
            label="Dark Gradient Theme">
      </theme>
      <theme
            basestylesheeturi="css/bright-gradient.css"
            id="org.eclipse.e4.demo.contacts.themes.brightgradient"
            label="Bright Gradient Theme">
      </theme>
      <theme
            basestylesheeturi="css/blue-gradient.css"
            id="org.eclipse.e4.demo.contacts.themes.blue"
            label="Blue Gradient Theme">
      </theme>
   </extension>
   <extension
         id="modelContribution"
         point="org.eclipse.e4.workbench.model">
      <processor
            beforefragment="true"
            class="org.eclipse.e4.demo.contacts.processors.MenuThemeProcessor">
         <element
               id="menu:org.eclipse.ui.main.menu">
         </element>
      </processor>
      <processor
            beforefragment="true"
            class="org.eclipse.e4.demo.contacts.processors.ToolbarThemeProcessor">
         <element
               id="toolbar:org.eclipse.ui.main.toolbar">
         </element>
      </processor>
   </extension>
   <extension id="fragment" point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
   </extension>
</plugin>
