<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.e4.workbench.parts">
      <part
            class="org.eclipse.e4.demo.contacts.views.ListView"
            icon="icons/silk/folder_user.png"
            label="Contacts"
            parentId="org.eclipse.e4.ui.tags.navigation">
      </part>
      <part
            class="org.eclipse.e4.demo.contacts.views.DetailsView"
            icon="icons/silk/report_user.png"
            label="Details"
            parentId="org.eclipse.e4.ui.tags.content">
      </part>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.e4.ui.workbench.swt.application"
            name="E4 Contacs Demo">
         <property
               name="appName"
               value="E4 Contacs Demo">
         </property>
         <property
               name="applicationXMI"
               value="org.eclipse.e4.demo.contacts/Application.xmi">
         </property>
         <property
               name="applicationCSS"
               value="platform:/plugin/org.eclipse.e4.demo.contacts/css/dark.css">
         </property>
         <property
               name="startupForegroundColor"
               value="FFFFFF">
         </property>
         <property
               name="startupMessageRect"
               value="7,252,445,20">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
</plugin>
