<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="testB"
         point="org.eclipse.core.runtime.adapters">
         <factory class="sampleClassB1" adaptableType="org.eclipse.core.tests.runtime.TestAdaptable">
            <adapter type="abc.SomethingElseB1"/>
         </factory>
   </extension>
   
   <extension point="org.eclipse.core.runtime.adapters">
         <factory class="sampleClassB2" adaptableType="org.eclipse.core.tests.runtime.TestAdaptable">
            <adapter type="abc.SomethingElseB2"/>
         </factory>
   </extension>

</plugin>
