<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <!-- bindings for the platform tests -->
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.eclipse.ui.help.aboutAction"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+8 A">
      </key>
      <key
            contextId="org.eclipse.ui.contexts.window"
            platform="carbon"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+8 A">
      </key>
      <key
            commandId="org.eclipse.ui.help.aboutAction"
            contextId="org.eclipse.ui.contexts.window"
            platform="carbon"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+8 B">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
         <sequenceModifier
               find="M1+8"
               platforms="carbon,cocoa,gtk,win32"
               replace="M2+8">
         </sequenceModifier>
      <key
            commandId="org.eclipse.ui.navigate.addToWorkingSet"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+8 W">
      </key>
      <key
            commandId="org.eclipse.ui.file.import"
            contextId="org.eclipse.ui.contexts.window"
            platform="carbon,cocoa,gtk,win32"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+8 I">
	  </key>
   </extension>
      <extension
            point="org.eclipse.ui.bindings">
         <key
               commandId="org.eclipse.ui.file.export"
               contextId="org.eclipse.ui.contexts.window"
               schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
               sequence="M1+8 E">
         </key>
      </extension>
      <extension
            point="org.eclipse.ui.bindings">
         <key
               commandId="org.eclipse.ui.navigate.back"
               contextId="org.eclipse.ui.contexts.window"
               schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
               sequence="M1+8 Q">
         </key>
         <sequenceModifier
               find="M1+8"
               platforms="photon"
               replace="M2+8">
         </sequenceModifier>
      </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.eclipse.ui.tests.category.keyModel"
            name="Key Model">
      </category>
      <command
            categoryId="org.eclipse.ui.tests.category.keyModel"
            id="org.eclipse.ui.tests.keyModel.conflict1"
            name="Conflict1">
      </command>
      <command
            categoryId="org.eclipse.ui.tests.category.keyModel"
            id="org.eclipse.ui.tests.keyModel.conflict2"
            name="Conflict2">
      </command>
      <command
            categoryId="org.eclipse.ui.tests.category.keyModel"
            id="org.eclipse.ui.tests.keyModel.conflict3"
            name="Conflict3">
      </command>
      <command
            categoryId="org.eclipse.ui.tests.category.keyModel"
            id="org.eclipse.ui.tests.keyModel.conflict4"
            name="ConflictNoKey4">
      </command>
      <command
            categoryId="org.eclipse.ui.tests.category.keyModel"
            id="org.eclipse.ui.tests.keyModel.conflict5"
            name="ConflictNoKey5">
      </command>
      <command
            categoryId="org.eclipse.ui.tests.category.keyModel"
            id="org.eclipse.ui.tests.keyModel.emacs1"
            name="emacsCommand1">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.eclipse.ui.tests.keyModel.conflict1"
            contextId="org.eclipse.ui.contexts.dialog"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+5 K">
      </key>
      <key
            commandId="org.eclipse.ui.tests.keyModel.conflict2"
            contextId="org.eclipse.ui.contexts.dialog"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+5 K">
      </key>
      <key
            commandId="org.eclipse.ui.tests.keyModel.conflict3"
            contextId="org.eclipse.ui.contexts.dialog"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+5 K">
      </key>
      <key
            commandId="org.eclipse.ui.tests.keyModel.emacs1"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.emacsAcceleratorConfiguration"
            sequence="CTRL+5 E">
      </key>
   </extension>
</plugin>
