<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="org.eclipse.e4.workbench.model" name="%extension-point.model.name" schema="schema/org.eclipse.e4.workbench.model.exsd"/>
   <extension-point id="org.eclipse.e4.workbench.model.definition.enrichment" name="%extension-point.model.definition.enrichment.name" schema="schema/org.eclipse.e4.workbench.model.definition.enrichment.exsd"/>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.core.runtime.IConfigurationElement"
            class="org.eclipse.e4.ui.internal.workbench.ConfigurationElementAdapter">
         <adapter
               type="org.eclipse.e4.ui.workbench.modeling.ModelHandlerBase">
         </adapter>
      </factory>
      <factory
            adaptableType="org.eclipse.emf.ecore.EObject"
            class="org.eclipse.e4.ui.workbench.modeling.EObjModelHandler">
         <adapter
               type="org.eclipse.e4.ui.workbench.modeling.ModelHandlerBase">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.extension_parser">
      <parser
            class="org.eclipse.e4.ui.internal.workbench.E4XMIResourceFactory"
            type="e4xmi">
      </parser>
   </extension>
   
   <extension
      point="org.eclipse.core.contenttype.contentTypes">
     <content-type
          base-type="org.eclipse.core.runtime.xml"
          file-extensions="e4xmi"
          id="org.eclipse.e4.content-type"
          name="%content-type.e4.name"
          priority="low">
     </content-type>
   </extension>
   <extension
         point="org.eclipse.e4.workbench.model.definition.enrichment">
      <definitionEnrichment
            ePackageNS="http://www.eclipse.org/ui/2010/UIModel/application">
      </definitionEnrichment>
      <definitionEnrichment
            ePackageNS="http://www.eclipse.org/ui/2010/UIModel/application/commands">
      </definitionEnrichment>
      <definitionEnrichment
            ePackageNS="http://www.eclipse.org/ui/2010/UIModel/application/ui">
      </definitionEnrichment>
      <definitionEnrichment
            ePackageNS="http://www.eclipse.org/ui/2010/UIModel/application/ui/menu">
      </definitionEnrichment>
      <definitionEnrichment
            ePackageNS="http://www.eclipse.org/ui/2010/UIModel/application/ui/basic">
      </definitionEnrichment>
      <definitionEnrichment
            ePackageNS="http://www.eclipse.org/ui/2010/UIModel/application/ui/advanced">
      </definitionEnrichment>
      <definitionEnrichment
            ePackageNS="http://www.eclipse.org/ui/2010/UIModel/application/descriptor/basic">
      </definitionEnrichment>
      <definitionEnrichment
            ePackageNS="http://www.eclipse.org/ui/2010/UIModel/fragment">
      </definitionEnrichment>
   </extension>
</plugin>
