<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension
         point="org.eclipse.ui.views">
      <category
            name="Progress Examples"
            id="ProgressExamples">
      </category>
      <view
            name="Lazy Trees"
            icon="icons/tree_view.gif"
            category="ProgressExamples"
            class="org.eclipse.ui.examples.jobs.views.LazyTreeView"
            id="org.eclipse.ui.examples.jobs.views.LazyTreeView">
      </view>
      <view
            name="Job Factory"
            icon="icons/job_view.gif"
            category="ProgressExamples"
            class="org.eclipse.ui.examples.jobs.views.JobsView"
            id="org.eclipse.ui.examples.jobs.views.JobsView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               id="org.eclipse.ui.examples.jobs.views.LazyTreeView"
               relationship="right">
         </view>
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               id="org.eclipse.ui.examples.jobs.views.JobsView"
               relationship="right">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Job Example Actions"
            visible="true"
            id="ProgressExamples.actionSet">
         <menu
               label="&amp;Job"
               id="sampleMenu">
            <separator
                  name="sampleGroup">
            </separator>
         </menu>
         <action
               label="&amp;Suspend Job Manager"
               icon="icons/suspend.gif"
               style="toggle"
               class="org.eclipse.ui.examples.jobs.actions.SuspendJobManagerAction"
               tooltip="Suspend the job manager"
               menubarPath="sampleMenu/sampleGroup"
               toolbarPath="sampleGroup"
               id="org.eclipse.ui.examples.jobs.actions.SuspendJobManagerAction">
         </action>
         <action
               label="&amp;Dump Job Information"
               icon="icons/sample.gif"
               class="org.eclipse.ui.examples.jobs.actions.DebugJobManagerAction"
               tooltip="Dump job information"
               menubarPath="sampleMenu/sampleGroup"
			   id="org.eclipse.ui.examples.jobs.actions.DebugJobManagerAction">
         </action>
      </actionSet>
   </extension>

</plugin>
