<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="ProgressExamples"
   name="ProgressExamples Plug-in"
   version="1.0.0"
   provider-name=""
   class="org.eclipse.ui.examples.jobs.ProgressExamplesPlugin">

   <runtime>
      <library name="ProgressExamples.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.core.runtime.compatibility"/>
      <import plugin="org.eclipse.ui.ide"/>
      <import plugin="org.eclipse.jface.text"/>
      <import plugin="org.eclipse.ui.workbench.texteditor"/>
      <import plugin="org.eclipse.ui.editors"/>
   </requires>


   <extension
         point="org.eclipse.ui.views">
      <category
            name="Progress Examples"
            id="ProgressExamples">
      </category>
      <view
            name="Lazy Trees"
            icon="icons/sample.gif"
            category="ProgressExamples"
            class="org.eclipse.ui.examples.jobs.views.LazyTreeView"
            id="org.eclipse.ui.examples.jobs.views.LazyTreeView">
      </view>
      <view
            name="Job Factory"
            icon="icons/sample.gif"
            category="ProgressExamples"
            class="org.eclipse.ui.examples.jobs.views.JobsView"
            id="org.eclipse.ui.examples.jobs.views.JobsView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="org.eclipse.ui.examples.jobs.views.LazyTreeView">
         </view>
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="org.eclipse.ui.examples.jobs.views.JobsView">
         </view>
      </perspectiveExtension>
   </extension>
</plugin>
