<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http:///org/eclipse/ui/views/properties/tabbed/examples/hockeyleague.ecore" 
       class = "org.eclipse.ui.examples.views.properties.tabbed.hockeyleague.HockeyleaguePackage"
       genModel = "model/hockeyleague.genmodel" /> 
  </extension>

  <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
    <factory 
       uri = "http:///org/eclipse/ui/views/properties/tabbed/examples/hockeyleague.ecore" 
       class = "org.eclipse.ui.examples.views.properties.tabbed.hockeyleague.provider.HockeyleagueItemProviderAdapterFactory" 
       supportedTypes = 
         "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
          org.eclipse.emf.edit.provider.IStructuredItemContentProvider
          org.eclipse.emf.edit.provider.ITreeItemContentProvider
          org.eclipse.emf.edit.provider.IItemLabelProvider
          org.eclipse.emf.edit.provider.IItemPropertySource" />
  </extension>

   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="Tabbed Properties View Examples"
            parentCategory="org.eclipse.ui.Examples"
            id="org.eclipse.ui.views.properties.tabbed">
      </category>
      <wizard
            name="Tabbed Properties View Hockey League Example Project"
            icon="icons/hockeyleague.gif"
            category="org.eclipse.ui.Examples/org.eclipse.ui.views.properties.tabbed"
            class="org.eclipse.ui.examples.views.properties.tabbed.hockeyleague.ui.wizards.NewHockeyleagueProjectWizard"
            project="true"
            id="org.eclipse.ui.examples.views.properties.tabbed.hockeyleague.ui.wizards.NewHockeyleagueProjectWizard">
         <description>
            Create a new Tabbed Properties View Hockey League Example Project
         </description>
      </wizard>
      <wizard
            name="Tabbed Properties View Hockey League Example File"
            icon="icons/hockeyleague.gif"
            category="org.eclipse.ui.Examples/org.eclipse.ui.views.properties.tabbed"
            class="org.eclipse.ui.examples.views.properties.tabbed.hockeyleague.ui.wizards.NewHockeyleagueFileWizard"
            id="org.eclipse.ui.examples.views.properties.tabbed.hockeyleague.ui.wizards.NewHockeyleagueFileWizard">
         <description>
            Create a new Tabbed Properties View Hockey League Example File
         </description>
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Hockey League Editor"
            icon="icons/hockeyleague.gif"
            extensions="hockeyleague"
            contributorClass="org.eclipse.ui.examples.views.properties.tabbed.hockeyleague.ui.editor.HockeyleagueActionBarContributor"
            class="org.eclipse.ui.examples.views.properties.tabbed.hockeyleague.ui.editor.HockeyleagueEditor"
            id="org.eclipse.ui.examples.views.properties.tabbed.hockeyleague.ui.editor.HockeyleagueEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            labelProvider="org.eclipse.ui.examples.views.properties.tabbed.hockeyleague.ui.properties.HockeyleagueLabelProvider"
            contributorId="org.eclipse.ui.examples.views.properties.tabbed.hockeyleague">
         <propertyCategory
               category="default">
         </propertyCategory>
         <propertyCategory
               category="advanced">
         </propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.eclipse.ui.examples.views.properties.tabbed.hockeyleague">
         <propertyTab
               label="Advanced"
               category="advanced"
               id="hockeyleague.tab.Advanced">
         </propertyTab>
         <propertyTab
               label="General"
               category="default"
               id="hockeyleague.tab.General">
         </propertyTab>
         <propertyTab
               label="Born"
               category="default"
               afterTab="hockeyleague.tab.General"
               id="hockeyleague.tab.Born">
         </propertyTab>
         <propertyTab
               label="Measurements"
               category="default"
               afterTab="hockeyleague.tab.Born"
               id="hockeyleague.tab.Measurements">
         </propertyTab>
         <propertyTab
               label="Forwards"
               category="default"
               afterTab="hockeyleague.tab.Measurements"
               id="hockeyleague.tab.Forwards">
         </propertyTab>
         <propertyTab
               label="Defencemen"
               category="default"
               afterTab="hockeyleague.tab.Measurements"
               id="hockeyleague.tab.Defencemen">
         </propertyTab>
         <propertyTab
               label="Goalies"
               category="default"
               afterTab="hockeyleague.tab.Measurements"
               id="hockeyleague.tab.Goalies">
         </propertyTab>
         <propertyTab
               label="Statistics"
               category="default"
               afterTab="hockeyleague.tab.Measurements"
               id="hockeyleague.tab.Statistics">
         </propertyTab>
         <propertyTab
               label="Teams"
               category="default"
               afterTab="hockeyleague.tab.General"
               id="hockeyleague.tab.Teams">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.eclipse.ui.examples.views.properties.tabbed.hockeyleague">
         <propertySection
               tab="hockeyleague.tab.General"
               class="org.eclipse.ui.examples.views.properties.tabbed.hockeyleague.ui.properties.sections.NamePropertySection"
               id="hockeyleague.section.Name">
            <input
                  type="org.eclipse.ui.examples.views.properties.tabbed.hockeyleague.HockeyleagueObject">
            </input>
         </propertySection>
         <propertySection
               tab="hockeyleague.tab.Advanced"
               class="org.eclipse.ui.examples.views.properties.tabbed.hockeyleague.ui.properties.sections.AdvancedPropertySection"
               id="hockeyleague.section.Advanced">
            <input
                  type="org.eclipse.ui.examples.views.properties.tabbed.hockeyleague.HockeyleagueObject">
            </input>
            <input type="org.eclipse.ui.examples.views.properties.tabbed.hockeyleague.PlayerStats"/>
            <input type="org.eclipse.ui.examples.views.properties.tabbed.hockeyleague.GoalieStats"/>
         </propertySection>
         <propertySection
               tab="hockeyleague.tab.General"
               afterSection="hockeyleague.section.Name"
               class="org.eclipse.ui.examples.views.properties.tabbed.hockeyleague.ui.properties.sections.AddressPropertySection"
               id="hockeyleague.section.Address">
            <input
                  type="org.eclipse.ui.examples.views.properties.tabbed.hockeyleague.Arena">
            </input>
         </propertySection>
         <propertySection
               tab="hockeyleague.tab.General"
               afterSection="hockeyleague.section.Name"
               class="org.eclipse.ui.examples.views.properties.tabbed.hockeyleague.ui.properties.sections.HeadOfficePropertySection"
               id="hockeyleague.section.Headoffice">
            <input
                  type="org.eclipse.ui.examples.views.properties.tabbed.hockeyleague.League">
            </input>
         </propertySection>
         <propertySection
               tab="hockeyleague.tab.General"
               afterSection="hockeyleague.section.Name"
               class="org.eclipse.ui.examples.views.properties.tabbed.hockeyleague.ui.properties.sections.NumberPropertySection"
               id="hockeyleague.section.Number">
            <input
                  type="org.eclipse.ui.examples.views.properties.tabbed.hockeyleague.Player">
            </input>
         </propertySection>
         <propertySection
               tab="hockeyleague.tab.General"
               afterSection="hockeyleague.section.Number"
               class="org.eclipse.ui.examples.views.properties.tabbed.hockeyleague.ui.properties.sections.ShotPropertySection"
               id="hockeyleague.section.Shot">
            <input
                  type="org.eclipse.ui.examples.views.properties.tabbed.hockeyleague.Player">
            </input>
         </propertySection>
         <propertySection
               tab="hockeyleague.tab.General"
               afterSection="hockeyleague.section.Address"
               class="org.eclipse.ui.examples.views.properties.tabbed.hockeyleague.ui.properties.sections.CapacityPropertySection"
               id="hockeyleague.section.Capacity">
            <input
                  type="org.eclipse.ui.examples.views.properties.tabbed.hockeyleague.Arena">
            </input>
         </propertySection>
         <propertySection
               tab="hockeyleague.tab.Born"
               class="org.eclipse.ui.examples.views.properties.tabbed.hockeyleague.ui.properties.sections.BirthDatePropertySection"
               id="hockeyleague.section.BirthDate">
            <input
                  type="org.eclipse.ui.examples.views.properties.tabbed.hockeyleague.Player">
            </input>
         </propertySection>
         <propertySection
               tab="hockeyleague.tab.Born"
               afterSection="hockeyleague.section.BirthDate"
               class="org.eclipse.ui.examples.views.properties.tabbed.hockeyleague.ui.properties.sections.BirthPlacePropertySection"
               id="hockeyleague.section.BirthPlace">
            <input
                  type="org.eclipse.ui.examples.views.properties.tabbed.hockeyleague.Player">
            </input>
         </propertySection>
         <propertySection
               tab="hockeyleague.tab.Measurements"
               afterSection="hockeyleague.section.Weight"
               class="org.eclipse.ui.examples.views.properties.tabbed.hockeyleague.ui.properties.sections.HeightPropertySection"
               id="hockeyleague.section.Height">
            <input
                  type="org.eclipse.ui.examples.views.properties.tabbed.hockeyleague.Player">
            </input>
         </propertySection>
         <propertySection
               tab="hockeyleague.tab.Measurements"
               class="org.eclipse.ui.examples.views.properties.tabbed.hockeyleague.ui.properties.sections.WeightPropertySection"
               id="hockeyleague.section.Weight">
            <input
                  type="org.eclipse.ui.examples.views.properties.tabbed.hockeyleague.Player">
            </input>
         </propertySection>
         <propertySection
               tab="hockeyleague.tab.Forwards"
               class="org.eclipse.ui.examples.views.properties.tabbed.hockeyleague.ui.properties.sections.ForwardsPropertySection"
               id="hockeyleague.section.Forwards">
            <input
                  type="org.eclipse.ui.examples.views.properties.tabbed.hockeyleague.Team">
            </input>
         </propertySection>
         <propertySection
               tab="hockeyleague.tab.Goalies"
               class="org.eclipse.ui.examples.views.properties.tabbed.hockeyleague.ui.properties.sections.GoaliesPropertySection"
               id="hockeyleague.section.Goalies">
            <input
                  type="org.eclipse.ui.examples.views.properties.tabbed.hockeyleague.Team">
            </input>
         </propertySection>
         <propertySection
               tab="hockeyleague.tab.Defencemen"
               class="org.eclipse.ui.examples.views.properties.tabbed.hockeyleague.ui.properties.sections.DefencemenPropertySection"
               id="hockeyleague.section.Defencemen">
            <input
                  type="org.eclipse.ui.examples.views.properties.tabbed.hockeyleague.Team">
            </input>
         </propertySection>
         <propertySection
               tab="hockeyleague.tab.Teams"
               class="org.eclipse.ui.examples.views.properties.tabbed.hockeyleague.ui.properties.sections.TeamsPropertySection"
               id="hockeyleague.section.Teams">
            <input
                  type="org.eclipse.ui.examples.views.properties.tabbed.hockeyleague.League">
            </input>
         </propertySection>
         <propertySection
               tab="hockeyleague.tab.Statistics"
               class="org.eclipse.ui.examples.views.properties.tabbed.hockeyleague.ui.properties.sections.PlayerStatsPropertySection"
               id="hockeyleague.section.PlayerStats">
            <input
                  type="org.eclipse.ui.examples.views.properties.tabbed.hockeyleague.Forward">
            </input>
            <input
                  type="org.eclipse.ui.examples.views.properties.tabbed.hockeyleague.Defence">
            </input>
         </propertySection>
         <propertySection
               tab="hockeyleague.tab.General"
               afterSection="hockeyleague.section.Shot"
               class="org.eclipse.ui.examples.views.properties.tabbed.hockeyleague.ui.properties.sections.ForwardPositionPropertySection"
               id="hockeyleague.section.ForwardPosition">
            <input
                  type="org.eclipse.ui.examples.views.properties.tabbed.hockeyleague.Forward">
            </input>
         </propertySection>
         <propertySection
               tab="hockeyleague.tab.General"
               afterSection="hockeyleague.section.Shot"
               class="org.eclipse.ui.examples.views.properties.tabbed.hockeyleague.ui.properties.sections.DefencePositionPropertySection"
               id="hockeyleague.section.DefencePosition">
            <input
                  type="org.eclipse.ui.examples.views.properties.tabbed.hockeyleague.Defence">
            </input>
         </propertySection>
      </propertySections>
   </extension>
</plugin>

