<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.eclipse.ltk.ui.refactoring"
   name="%pluginName"
   version="3.0.0"
   provider-name="%providerName"
   class="org.eclipse.ltk.internal.ui.refactoring.RefactoringUIPlugin">

   <runtime>
      <library name="refui.jar">
         <export name="*"/>
         <packages prefixes="org.eclipse.ltk.ui.refactoring,org.eclipse.ltk.internal.ui.refactoring"/>
      </library>
   </runtime>

   <requires>
      <import plugin="org.eclipse.core.runtime.compatibility"/>
      <import plugin="org.eclipse.core.expressions"/>
      <import plugin="org.eclipse.core.filebuffers"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.text"/>
      <import plugin="org.eclipse.ltk.core.refactoring"/>
      <import plugin="org.eclipse.jdt.core"/>
      <import plugin="org.eclipse.jface.text"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.compare"/>
      <import plugin="org.eclipse.ui.workbench.texteditor"/>
   </requires>

   <extension-point id="statusContextViewers" name="%statusViewerExtensionPoint" schema="schema/statusContextViewers.exsd"/>
   <extension-point id="changePreviewViewers" name="%changeViewerExtensionPoint" schema="schema/changePreviewViewers.exsd"/>

   <extension point="org.eclipse.ui.actionSets">
      <!-- the id has a _ in front to ensure that it is lexically sorted          -->
      <!-- before org.eclipse.jdt.ui ids. Otherwise the menu order will incorrect -->
      <actionSet
            label="%RefactorActionSet.label"
            description="%RefactorActionSet.description"
            visible="false"
            id="_org.eclipse.ltk.ui.refactoring.actionSet.refactoring">
         <!-- the id of the menu must be org.eclipse.jdt.ui.refactoring.menu -->
         <!-- since it was originally defined in JDT/UI                      -->
         <menu
               label="%refactoring.menu.label"
               path="edit"
               id="org.eclipse.jdt.ui.refactoring.menu">
            <separator name="undoRedoGroup"/>
            <separator name="reorgGroup"/>
         </menu>
         <action
               definitionId="org.eclipse.ltk.internal.ui.refactoring.actions.redo"
               label="%refactoring.redoAction.label"
               class="org.eclipse.ltk.internal.ui.refactoring.RedoRefactoringAction"
               menubarPath="org.eclipse.jdt.ui.refactoring.menu/undoRedoGroup"
               id="RedoAction">
         </action>
         <action
               definitionId="org.eclipse.ltk.internal.ui.refactoring.actions.undo"
               label="%refactoring.undoAction.label"
               class="org.eclipse.ltk.internal.ui.refactoring.UndoRefactoringAction"
               menubarPath="org.eclipse.jdt.ui.refactoring.menu/undoRedoGroup"
               id="UndoAction">
         </action>
	  </actionSet>
   </extension>

   <extension point="org.eclipse.ui.commands">
      <category
            name="%category.refactoring.name"
            description="%category.refactoring.description"
            id="org.eclipse.ltk.internal.ui.refactoring.commandCategory.refactor">
      </category>

      <command
            name="%actionDefinition.refactoring.undo.name"
            description="%actionDefinition.refactoring.undo.description"
            category="org.eclipse.ltk.internal.ui.refactoring.commandCategory.refactor"
            id="org.eclipse.ltk.internal.ui.refactoring.actions.undo">
      </command>
      <keyBinding
            string="Alt+Shift+Z"
            scope="org.eclipse.ui.globalScope"
            command="org.eclipse.ltk.internal.ui.refactoring.actions.undo"
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      <keyBinding
            platform="carbon"
            string="Alt+Shift+Z"
            scope="org.eclipse.ui.globalScope"
            command=""
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      <keyBinding
            platform="carbon"
            string="Command+Alt+Z"
            scope="org.eclipse.ui.globalScope"
            command="org.eclipse.ltk.internal.ui.refactoring.actions.undo"
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      <command
            name="%actionDefinition.refactoring.redo.name"
            description="%actionDefinition.refactoring.redo.description"
            category="org.eclipse.ltk.internal.ui.refactoring.commandCategory.refactor"
            id="org.eclipse.ltk.internal.ui.refactoring.actions.redo">
      </command>
      <keyBinding
            string="Alt+Shift+Y"
            scope="org.eclipse.ui.globalScope"
            command="org.eclipse.ltk.internal.ui.refactoring.actions.redo"
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      <keyBinding
            platform="carbon"
            string="Alt+Shift+Y"
            scope="org.eclipse.ui.globalScope"
            command=""
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      <keyBinding
            platform="carbon"
            string="Command+Alt+Y"
            scope="org.eclipse.ui.globalScope"
            command="org.eclipse.ltk.internal.ui.refactoring.actions.redo"
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
   </extension>

   <extension point="org.eclipse.ltk.ui.refactoring.statusContextViewers">
      <statusContextViewer
            class="org.eclipse.ltk.internal.ui.refactoring.FileStatusContextViewer"
            id="org.eclipse.ltk.internal.ui.refactoring.fileStatusContextViewer">
         <enablement>
            <instanceof value="org.eclipse.ltk.core.refactoring.FileStatusContext"/>
         </enablement>
      </statusContextViewer>
   </extension>
   
   <extension point="org.eclipse.ltk.ui.refactoring.changePreviewViewers">
      <changePreviewViewer
            class="org.eclipse.ltk.internal.ui.refactoring.TextChangePreviewViewer"
            id="org.eclipse.ltk.internal.ui.refactoring.textChangePreviewViewer">
         <enablement>
            <instanceof value="org.eclipse.ltk.core.refactoring.TextChange"/>
         </enablement>
      </changePreviewViewer>
   </extension>

</plugin>
