<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.e4.tools"
            name="%category.name">
      </category>
      <category
            id="org.eclipse.e4.tools.classes"
            name="%category.name.0"
            parentCategory="org.eclipse.e4.tools">
      </category>
      <category
            id="org.eclipse.e4.tools.model"
            name="%category.name.1"
            parentCategory="org.eclipse.e4.tools">
      </category>
      <wizard
            category="org.eclipse.e4.tools"
            class="org.eclipse.e4.internal.tools.wizards.project.E4NewProjectWizard"
            icon="platform:/plugin/org.eclipse.pde.ui/icons/etool16/newpprj_wiz.gif"
            id="org.eclipse.e4.tools.E4NewProjectWizard"
            name="%wizard.name"
            project="true">
         <description>
            %wizard.name.description
         </description>
      </wizard>
      <wizard
            category="org.eclipse.e4.tools/org.eclipse.e4.tools.model"
            class="org.eclipse.e4.internal.tools.wizards.model.NewApplicationModelWizard"
            icon="icons/full/obj16/application_view_tile.png"
            id="org.eclipse.e4.tools.newappmodel"
            name="%wizard.name.0">
         <description>
            %wizard.name.0.description
         </description>
      </wizard>
      <wizard
            category="org.eclipse.e4.tools/org.eclipse.e4.tools.model"
            class="org.eclipse.e4.internal.tools.wizards.model.NewContributionModelWizard"
            icon="icons/full/obj16/plugin.png"
            id="org.eclipse.e4.tools.newmodelfragment"
            name="%wizard.name.1">
         <description>
            %wizard.name.1.description
         </description>
      </wizard>
      <wizard
            category="org.eclipse.e4.tools/org.eclipse.e4.tools.classes"
            class="org.eclipse.e4.internal.tools.wizards.classes.NewHandlerClassWizard"
            icon="icons/full/obj16/class_obj.gif"
            id="org.eclipse.e4.tools.newhandler"
            name="%wizard.name.2">
         <description>
            %wizard.name.2.description
         </description>
      </wizard>
      <wizard
            category="org.eclipse.e4.tools/org.eclipse.e4.tools.classes"
            class="org.eclipse.e4.internal.tools.wizards.classes.NewPartClassWizard"
            icon="icons/full/obj16/Part.gif"
            id="org.eclipse.e4.tools.newpart"
            name="%wizard.name.3">
         <description>
            %wizard.name.3.description
         </description>
      </wizard>
      <wizard
            category="org.eclipse.e4.tools/org.eclipse.e4.tools.classes"
            class="org.eclipse.e4.internal.tools.wizards.classes.NewAddonClassWizard"
            icon="icons/full/obj16/Addons.png"
            id="org.eclipse.e4.tools.newaddon"
            name="%wizard.name.4">
         <description>
            %wizard.name.4.description
         </description>
      </wizard>
      <wizard
            category="org.eclipse.e4.tools/org.eclipse.e4.tools.classes"
            class="org.eclipse.e4.internal.tools.wizards.classes.NewToolControlClassWizard"
            icon="icons/full/obj16/ToolControl.gif"
            id="org.eclipse.e4.tools.newtoolcontrol"
            name="%wizard.name.5">
         <description>
            %wizard.name.5.description
         </description>
      </wizard>
   </extension>
</plugin>
