BODY {
	background-color: #FFFFFF;
	font-size:smaller;
	margin:0;
}
FORM {
	margin:0;
}
.txtInput {
	width:100%;
}
.normal {
	border-style:solid;
	border-color:#D6D3CE;
	border-width:2px; 
}
.hover {
	border-style: outset;
	border-width:2px; 
}
	