<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.ui.internal.WorkbenchPreferenceInitializer"/>
   </extension>
     <extension
           id="id1"
           point="org.eclipse.e4.workbench.model">
        <processor
              beforefragment="true"
              class="org.eclipse.ui.internal.CommandToModelProcessor">
        </processor>
        <processor
              beforefragment="true"
              class="org.eclipse.ui.internal.ContextToModelProcessor">
        </processor>
         <processor
              beforefragment="true"
              class="org.eclipse.ui.internal.BindingToModelProcessor">
        </processor>
     </extension>
   <extension point="org.eclipse.ui.themes">
      <themeElementCategory
         id="org.eclipse.ui.themes.CssTheme"
         label="%Other.defined.by.css.label"/>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.ui.internal.keys.show.ShowKeysToggleHandler"
            commandId="org.eclipse.ui.toggleShowKeys">
         <enabledWhen>
            <with
                  variable="activeWorkbenchWindow">
               <instanceof
                     value="org.eclipse.ui.IWorkbenchWindow">
               </instanceof>
            </with>
         </enabledWhen>
      </handler>
   </extension>
</plugin>
