<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.ui.internal.WorkbenchPreferenceInitializer"/>
   </extension>
   <extension
         id="org.eclipse.ui.workbench"
         point="org.eclipse.e4.workbench.model">
      <snippet
            uri="xmi/components.e4xmi">
      </snippet>
   </extension>

</plugin>
