<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.ui.internal.WorkbenchPreferenceInitializer"/>
   </extension>
     <extension
           id="id1"
           point="org.eclipse.e4.workbench.model">
        <processor
              beforefragment="true"
              class="org.eclipse.ui.internal.CommandToModelProcessor">
        </processor>
        <processor
              beforefragment="true"
              class="org.eclipse.ui.internal.ContextToModelProcessor">
        </processor>
     </extension>

</plugin>
