<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.eclipse.jface.text.tests"
   name="%Plugin.name"
   version="3.2.0.qualifier"
   provider-name="%Plugin.providerName">

   <runtime>
      <library name="jfacetexttests.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.jface.text"/>
      <import plugin="org.eclipse.jface"/>
      <import plugin="org.junit"/>
      <import plugin="org.eclipse.text.tests"/>
      <import plugin="org.eclipse.core.runtime"/>
   </requires>


</plugin>
