<?xml version="1.0" encoding="UTF-8"?>
<fragment
  name="PR1GHFPFY Fragment Test"
  id="PR1GHFPFYFragmentTest"
  plugin-id="PR1GHFPFYPluginTest"
  version="1.2"
  plugin-version="1.2"
  vendor-name="OTI">

  <requires>
     <import plugin="testc"/>
     <import plugin="testd" version="1.0.0"/>
  </requires>

</fragment>
