<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

    <extension-point id="valueVariables" name="%valueVariablesExtensionPointName" schema="schema/valueVariables.exsd"/>
   <extension-point id="dynamicVariables" name="%dynamicVariablesExtensionPointName" schema="schema/dynamicVariables.exsd"/>
   <extension
         point="org.eclipse.core.variables.dynamicVariables">
      <variable
            description="%eclipse_home.description"
            name="eclipse_home"
            resolver="org.eclipse.core.internal.variables.EclipseHomeVariableResolver"
            supportsArgument="false"/>
   </extension>

</plugin>
