body {
	background-image : url(../graphics/watermark/examples_wmk.gif);
	background-repeat : no-repeat;
	background-position : bottom right;
}

/* show the "selected" image for this page */
#navigation-links a#samples img, #navigation-links a#samples:hover img { background-image : url(../graphics/obj_32/selexamples_obj.gif); }

/* Lay out the real content of the samples page: */

.samples-group {
	width : 750px;
	/* To center in Moz (have to use text-align for IE) */	
	margin : 0px auto;
	margin-bottom : 10px;
	text-align : left;
	float : none;
	clear : both;
}

.samples-group H4 { margin-top : 10px; }

.sample-link { 
	float : left; 
	height : 5em; 
	width : 360px;
	text-align : left; 
	margin-left : 5px;
	margin-right : 5px;
	margin-top : 10px;
	margin-bottom : 10px;
}

.sample-link .link-label {
	position : relative;
	top : -15px;
}

.sample-link p .text {
	display : block;
	margin-left : 53px;
	margin-top : -25px;
}

.sample-link img {
	background-image : url(../graphics/obj_48/examples_obj.gif);
	height : 56px;
	width : 56px;
	vertical-align : middle;
}

.sample-link:hover img {
	background-image : url(../graphics/obj_48/hovexamples_obj.gif);
}

.sample-link:hover { border-right : 0px; }


