body {
	background-image : url(../graphics/watermark/examples_wmk.gif);
	background-repeat : no-repeat;
	background-position : bottom right;
	
}

/* show the "selected" image for this page */
#navigation-links a#samples img { background-image : url(../graphics/obj_32/selexamples_obj.gif); }

/* The real content of the samples page: */

a { 
	float : left; 
	height : 80px; 
	width : 425px;
	text-align : left; 
	margin-left : 10px;
}

/* cancel out the indent for the navigation links from above */
#navigation-links a { margin-left : 0; }

a .link-label {
	position : relative;
	top : -15px;
}

/* cancel out the top positioning for the navigation links from above */
#navigation-links a .link-label { top : 0; }

a p .text {
	display : block;
	position : relative;
	left : 50px;
	width : 350px;
	top : -25px;
}

a img {
	background-image : url(../graphics/obj_48/examples_obj.gif);
	height : 56px;
	width : 56px;
	vertical-align : middle;
}

a:hover img {
	background-image : url(../graphics/obj_48/hovexamples_obj.gif);
}

a:hover { border-right : 5px; }

#swt {
	width : 870px;
	height : 150px;
	position : relative;
	left : 50%;
	margin-left : -425px;
	top : -60px;
}
div#swt a p {
	display : block;
	text-align : left;
}

div#workbench {
	width : 870px;
	height : 150px;
	position : relative;
	left : 50%;
	margin-left : -425px;
	top : -75px;
}

