body {
	min-height : 600px;
	min-width : 850px;
	/* since IE doesn't support min-width, try expression */
	width:expression(document.body.clientWidth < 850? "850px": "auto" );
	background-image : url(../graphics/watermark/examples_wmk.gif);
	background-repeat : no-repeat;
	background-position : bottom right;
	
}
/* The presentation title */
#presentation-header {
	background-color : #BCCEE4;
	min-width : 850px;
	/* since IE doesn't support min-width, try expression */
	width:expression(document.body.clientWidth < 850? "850px": "auto" );
}

.page-content {
	overflow : visible;
	min-height : 600px;
	min-width : 850px;
	/* since IE doesn't support min-width, try expression */
	width:expression(document.body.clientWidth < 850? "850px": "auto" );
}


#background-image {
	position : relative;
	height : 120px;
	width : 100%;
	background-image : url(../graphics/background/content_background.jpg);
	background-repeat : repeat-x;
	text-align : center;
}

#background-image img {
	height : 120px;
	width : 850px;

}

/* don't display the page title */
#page-header {
	display : none;
}

/* use this as the page title */
p #page-title {
	position : relative;
	top : -100px;
	left : 10px;
}

/* The real content of the samples page: */
p #page-description { 
	position : relative;
	top : -90px;
	width : 90%;
	padding : 10px;
}

a { 
	display : block; 
	height : 60px; 
	width : 425px;
	text-align : left; 
	margin-left : 10px;
	position : absolute;
}

/* cancel out the indent for the navigation links from above */
#navigation-links a { margin-left : 0; }

a .link-label {
	position : relative;
	top : -15px;
}

/* cancel out the top positioning for the navigation links from above */
#navigation-links a .link-label { top : 0; }

a p .text {
	display : block;
	position : relative;
	left : 60px;
	width : 350px;
	top : -25px;
}

a img {
	background-image : url(../graphics/obj_48/examples_obj.gif);
	height : 56px;
	width : 56px;
	vertical-align : middle;
}

a:hover img {
	background-image : url(../graphics/obj_48/hovexamples_obj.gif);
}

a:hover { border-right : 5px; }

#swt {
	width : 850px;
	height : 150px;
	position : relative;
	left : 50%;
	margin-left : -425px;
	top : -75px;
}
div#swt a p {
	display : block;
	text-align : left;
}
a#standalone { top : 40px; }
a#views { top : 40px; left : 425px; }

div#workbench {
	width : 850px;
	height : 150px;
	position : relative;
	left : 50%;
	margin-left : -425px;
	top : -75px;
}

a#multi-page-editor { top : 40px; }
a#property-sheet { top : 40px; left : 425px; }
a#readmetool { top : 110px; }

#eclipse-wordmark {
	position : absolute;
	bottom : 10px;
	left : 20px;	
	height : 23px;
	width : 71px;
}
