<?xml version="1.0" encoding="UTF-8"?>

<plugin
   id="org.eclipse.ant.tests.core"
   name="%pluginName"
   version="2.1.0"
   provider-name="%providerName"
   class="org.eclipse.ant.tests.core.testplugin.AntTestPlugin">
   
   <requires>
      <import plugin="org.apache.ant"/>
	  <import plugin="org.junit"/>   
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.apache.xerces"/>
      <import plugin="org.eclipse.jdt.core"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.ant.core"/>
      <import plugin="org.eclipse.update.core"/>
   </requires>

<runtime>
  <library name="anttestscore.jar" >
     <export name = "*"/>
  </library> 
</runtime>

<extension id="app" point="org.eclipse.core.runtime.applications">
  <application> 
     <run class="org.eclipse.ant.tests.core.testplugin.TestWorkbench">
		<parameter name="productInfo" value="product.ini"/>
     </run>
  </application>
</extension>

<extension point="org.eclipse.ant.core.extraClasspathEntries">
	<extraClasspathEntry
		library="lib/anttestloggers.jar">
	</extraClasspathEntry>
</extension>

</plugin>
