<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
     Copyright (c) 2005, 2008 IBM Corporation and others.

     This program and the accompanying materials
     are made available under the terms of the Eclipse Public License 2.0
     which accompanies this distribution, and is available at
     https://www.eclipse.org/legal/epl-2.0/

     SPDX-License-Identifier: EPL-2.0
    
     Contributors:
         IBM Corporation - initial API and implementation
 -->

<plugin>

     <extension
         point="org.eclipse.ant.core.extraClasspathEntries">
      <extraClasspathEntry
            library="lib/antTestsSupport.jar">
      </extraClasspathEntry>
   </extension>
   
   <extension point="org.eclipse.ant.core.antTasks">
	    <antTask 
	    	name="coolTask" 
	    	class="org.eclipse.ant.tests.core.support.tasks.AntTestTask"
	    	library="lib/antTestsSupport.jar"
	    	headless="false">
	    </antTask>
	     <antTask 
	    	name="coolTask"
	    	uri="testing"
	    	class="org.eclipse.ant.tests.core.support.tasks.AntTestTask"
	    	library="lib/antTestsSupport.jar"
	    	headless="false">
	    </antTask>
   </extension>

	<extension point="org.eclipse.ant.core.antTypes">
	    <antType 
	    	name="coolType" 
	    	class="org.eclipse.ant.tests.core.support.types.AntTestPath"
	    	library="lib/antTestsSupport.jar"
	    	headless="false">
	    </antType>
	     <antType 
	    	name="coolType"
	    	uri="testing"
	    	class="org.eclipse.ant.tests.core.support.types.AntTestPath"
	    	library="lib/antTestsSupport.jar"
	    	headless="false">
	    </antType>
   </extension>
   
   <extension
         point="org.eclipse.ant.core.antProperties">
      <antProperty
            name="property.testing"
            value="true">
      </antProperty>
       <antProperty
            name="property.testing2"
            value="hey"
            class= "org.eclipse.does.not.exist">
      </antProperty>
      <antProperty
            name="property.testing3"
            class= "org.eclipse.ant.tests.core.testplugin.AntTestPropertyValueProvider">
      </antProperty>
       <antProperty
            name="property.headless"
            value="headless"
            headless= "false">
      </antProperty>
   </extension>

</plugin>
