<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.eclipse.ant.tests.core"
   name="%pluginName"
   version="3.1.0"
   provider-name="%providerName"
   class="org.eclipse.ant.tests.core.testplugin.AntTestPlugin">

   <runtime>
      <library name="anttestscore.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.ui.ide" optional="true"/>
      <import plugin="org.apache.ant"/>
      <import plugin="org.junit"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.ant.core"/>
      <import plugin="org.eclipse.core.runtime"/>
   </requires>


   <extension
         point="org.eclipse.ant.core.extraClasspathEntries">
      <extraClasspathEntry
            library="lib/antTestsSupport.jar">
      </extraClasspathEntry>
   </extension>
   
   <extension point="org.eclipse.ant.core.antTasks">
	    <antTask 
	    	name="coolTask" 
	    	class="org.eclipse.ant.tests.core.support.tasks.AntTestTask"
	    	library="lib/antTestsSupport.jar"
	    	headless="false">
	    </antTask>
   </extension>

	<extension point="org.eclipse.ant.core.antTypes">
	    <antType 
	    	name="coolType" 
	    	class="org.eclipse.ant.tests.core.support.types.AntTestPath"
	    	library="lib/antTestsSupport.jar"
	    	headless="false">
	    </antType>
   </extension>
   
   <extension
         point="org.eclipse.ant.core.antProperties">
      <antProperty
            name="property.testing"
            value="true">
      </antProperty>
       <antProperty
            name="property.testing2"
            value="hey"
            class= "org.eclipse.does.not.exist">
      </antProperty>
      <antProperty
            name="property.testing3"
            class= "org.eclipse.ant.tests.core.testplugin.AntTestPropertyValueProvider">
      </antProperty>
       <antProperty
            name="property.headless"
            value="headless"
            headless= "false">
      </antProperty>
   </extension>

</plugin>
