<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
     
   <extension
         point="org.eclipse.ui.editors">
      <editor
            icon="icons/anything.gif"
            class="org.eclipse.ui.tests.performance.parts.PerformanceEditorPart"
            default="true"
            name="Basic Performance Editor"
            id="org.eclipse.ui.tests.perf_basic"
            extensions="perf_basic"/>
            
      <editor
            icon="icons/anything.gif"
            class="org.eclipse.ui.tests.performance.parts.PerformanceEditorPart:outline"
            default="true"
            name="Editor w/Outline"
            id="org.eclipse.ui.tests.perf_outline"
            extensions="perf_outline"/>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.eclipse.ui.tests.performance.PerformancePerspective1"
            name="Performance Test Perspective1"
            id="org.eclipse.ui.tests.performancePerspective1"/>
      <perspective
            class="org.eclipse.ui.tests.performance.PerformancePerspective2"
            name="Performance Test Perspective"
            id="org.eclipse.ui.tests.performancePerspective2"/>    
       <perspective
            name="UI Test Standalone View Perspective"
            class="org.eclipse.ui.tests.performance.presentations.StandaloneViewPerspective"
            id="org.eclipse.ui.tests.presentations.StandaloneViewPerspective">
      </perspective>
      <perspective
            name="UI Test Standalone View Perspective  2 "
            class="org.eclipse.ui.tests.performance.presentations.StandaloneViewPerspective2"
            id="org.eclipse.ui.tests.presentations.StandaloneViewPerspective2">
      </perspective>        
   </extension>
    <extension
          point="org.eclipse.ui.views">
       <view
             icon="icons/anything.gif"
             class="org.eclipse.ui.tests.performance.parts.PerformanceViewPart"
             name="Basic Performance View"
             id="org.eclipse.ui.tests.perf_basic"/>
    </extension>
   <!-- 
   this content type was added to provide
   "regression test" for bug 107121. See OpenNavigatorFolderTest
   for more details. 
   -->
   <extension point="org.eclipse.core.runtime.contentTypes">
   	<content-type 
   		file-extensions="htmltestonly" 
   		priority="high"
   		name="Content Type for Test Only" 
   		id="testOnlyContentType"
   		base-type="org.eclipse.core.runtime.text">
   		<describer
   			class="org.eclipse.ui.tests.performance.ContentDescriberForTestsOnly" />
   	</content-type>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.eclipse.ui.tests.performance.parts.PerformanceProblemsView"
            id="org.eclipse.ui.tests.performance.problemsView"
            name="Performance Problems View"/>
   </extension>
    
 
</plugin>
