<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension
         point="org.eclipse.ui.presentationFactories">
      <factory
            name="%Presentation.r21.name"
            class="org.eclipse.ui.internal.presentations.R21PresentationFactory"
            id="org.eclipse.ui.internal.r21presentationFactory">
      </factory>
   </extension>

</plugin>
