<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
  name="Eclipse Core Tests Harness"
  id="org.eclipse.core.tests.harness"
  version="3.1.0"
  provider-name="Eclipse.org">

  <requires>
    <import plugin="org.eclipse.core.resources"/>
    <import plugin="org.eclipse.core.runtime.compatibility"/> 
    <import plugin="org.junit"/>
    <import plugin="org.eclipse.pde.junit.runtime"/>
    <import plugin="org.eclipse.test.performance" optional="true"/>
  </requires>

  <runtime>
    <library name="testharness.jar">
      <export name="*"/>
    </library>
  </runtime>

  <extension-point name="Tests" id="tests"/>

  <extension point="org.eclipse.core.tests.harness.tests">
    <test id="ExampleTest">
      <run class="org.eclipse.core.tests.harness.ExampleTest"/>
    </test>
  </extension>

  <extension point="org.eclipse.core.tests.harness.tests">
    <test id="ExampleWorkspaceTest">
      <run class="org.eclipse.core.tests.harness.ExampleWorkspaceTest"/>
    </test>
  </extension>

  <extension id="testapplication" point="org.eclipse.core.runtime.applications">
    <application> 
      <run class="org.eclipse.core.tests.harness.EclipseTestHarnessApplication"/>
    </application>
  </extension>
  <extension id="sessiontestapplication" point="org.eclipse.core.runtime.applications">
    <application> 
      <run class="org.eclipse.core.tests.harness.SessionTestApplication"/>
    </application>
  </extension>


</plugin>
