<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
  name="Save Participant 1"
  id="org.eclipse.core.tests.resources.saveparticipant1"
  class="org.eclipse.core.tests.resources.saveparticipant1.SaveParticipant1Plugin"
  version="3.0.0"
  provider-name="Eclipse.org">

  <requires>
    <import plugin="org.eclipse.core.resources"/>
    <import plugin="org.eclipse.core.tests.resources"/>
    <import plugin="org.eclipse.core.runtime.compatibility"/> 
    <import plugin="org.junit"/>
  </requires>

  <runtime>
    <library name="saveparticipant1.jar">
      <export name="*" /> 
    </library>
  </runtime>
</plugin>
