<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

    
<!-- ========== Extension Points ================= -->

   <!-- =============================================================================== -->
   <!-- Extension point: org.eclipse.ui.cheatsheets.cheatSheetContent                   -->
   <!-- Extension-point for contributing a cheat sheet.                                 -->
   <!--                                                                                 -->
   <!-- =============================================================================== -->
   <extension-point
      id="cheatSheetContent"
      name="%CHEAT_SHEET_CONTENT"
      schema="schema/cheatSheetContent.exsd"/>
      
   <!-- =============================================================================== -->
   <!-- Extension point: org.eclipse.ui.cheatsheets.cheatSheetItemExtension             -->
   <!-- Extension-point for contributing controls to a cheat sheet item.                -->
   <!--                                                                                 -->
   <!-- =============================================================================== -->
   <extension-point
      id="cheatSheetItemExtension"
      name="%CHEAT_SHEET_ITEM_EXTENSION"
      schema="schema/cheatSheetItemExtension.exsd"/>

<!-- ========== Extensions ================= -->

   <extension
         point="org.eclipse.ui.views">
      <category
            name="%CHEAT_SHEETS"
            id="org.eclipse.ui.cheatsheets.cheatsheetCategory">
      </category>
      <view
            name="%CHEAT_SHEETS"
            icon="$nl$/icons/view16/cheatsheet_view.gif"
            category="org.eclipse.ui.cheatsheets.cheatsheetCategory"
            fastViewWidthRatio="0.5"
            class="org.eclipse.ui.internal.cheatsheets.views.CheatSheetView"
            id="org.eclipse.ui.cheatsheets.views.CheatSheetView">
      </view>
      <stickyView
      		id="org.eclipse.ui.cheatsheets.views.CheatSheetView"/>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            name="%CHEAT_SHEETS_VIEW_COMMAND_NAME"
            description="%CHEAT_SHEETS_VIEW_COMMAND_DESCRIPTION"
            categoryId="org.eclipse.ui.category.views"
            id="org.eclipse.ui.cheatsheets.views.CheatSheetView">
      </command>
     </extension>
    <extension
    	point="org.eclipse.ui.bindings">
      <key
            sequence="M2+M3+Q H"
            commandId="org.eclipse.ui.cheatsheets.views.CheatSheetView"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>      
    </extension>
    <extension
          point="org.eclipse.ui.activitySupport">
      <triggerPoint id="org.eclipse.ui.cheatsheetSelectionDialog">
         <hint
               id="interactive"
               value="true"/>
      </triggerPoint>
    </extension>
   <extension
         point="org.eclipse.help.base.luceneSearchParticipants">
      <searchParticipant
            icon="icons/obj16/cheatsheet_obj.gif"
            id="org.eclipse.ui.cheatsheets"
            name="%searchParticipant.name"
            participant="org.eclipse.ui.internal.cheatsheets.CheatsheetSearchParticipant"/>
   </extension>
   <extension
         point="org.eclipse.ui.cheatsheets.cheatSheetContent">
      <taskEditor
            class="org.eclipse.ui.internal.cheatsheets.composite.views.CheatsheetTaskEditor"
            icon="icons/obj16/cheatsheet_obj.gif"
            id="cheatsheet"/>
      <taskExplorer
            class="org.eclipse.ui.internal.cheatsheets.composite.explorer.TreeTaskExplorer"
            name="Tree based explorer"
            id="tree"/>
   </extension>
</plugin>
