<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.eclipse.ui.tutorials.rcp.part1.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Part1 Perspective"
            class="org.eclipse.ui.tutorials.rcp.part1.Perspective"
            id="org.eclipse.ui.tutorials.rcp.part1.perspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.tutorials.rcp.part1.application"
            name="RCP Tutorial 1"/>
   </extension>

</plugin>
