<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="org.eclipse.update.ui.win32"
   name="%pluginName"
   version="2.1.0"
   provider-name="%providerName"
   class="org.eclipse.welcome.internal.WelcomePortal">

   <runtime>
      <library name="updateui32.jar">
         <export name="*"/>
         <packages prefixes="org.eclipse.welcome.internal"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.help.ui"/>
   </requires>


   <extension
         point="org.eclipse.ui.views">
      <view
            name="%views.webBrowser.label"
            icon="icons/full/cview16/browser.gif"
            class="org.eclipse.welcome.internal.WebBrowserView"
            id="org.eclipse.update.ui.WebBrowser">
      </view>
   </extension>

</plugin>
