<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="org.eclipse.update.ui.win32"
   name="%pluginName"
   version="2.1.0"
   provider-name="%providerName"
   class="org.eclipse.welcome.internal.WelcomePortal">

   <runtime>
      <library name="updateui32.jar">
         <export name="*"/>
         <packages prefixes="org.eclipse.welcome.internal"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.update.ui.forms"/>
   </requires>


   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Sample Action Set"
            visible="true"
            id="org.eclipse.update.ui.win32.actionSet">
         <action
               label="Open Home Page"
               icon="icons/sample.gif"
               tooltip="Open Home Page"
               class="org.eclipse.welcome.internal.ShowWelcomePageAction"
               menubarPath="help/helpEnd"
               id="org.eclipse.welcome.internal.ShowWelcomePageAction">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <actionSet
               id="org.eclipse.update.ui.win32.actionSet">
         </actionSet>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Web Browser"
            icon="icons/sample.gif"
            contributorClass="org.eclipse.welcome.internal.webbrowser.WebBrowserEditorContributor"
            class="org.eclipse.welcome.internal.webbrowser.WebBrowserEditor"
            id="org.eclipse.welcome.webbrowser">
      </editor>
      <editor
            name="Welcome Page"
            icon="icons/sample.gif"
            class="org.eclipse.welcome.internal.portal.WelcomePortalEditor"
            id="org.eclipse.welcome.portal">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.elementFactories">
      <factory
            class="org.eclipse.welcome.internal.webbrowser.WebBrowserEditorInputFactory"
            id="org.eclipse.welcome.internal.webbrowser.WebBrowserEditorInputFactory">
      </factory>
      <factory
            class="org.eclipse.welcome.internal.portal.WelcomePortalEditorInputFactory"
            id="org.eclipse.welcome.internal.portal.WelcomePortalEditorInputFactory">
      </factory>
   </extension>

</plugin>
