<?xml version="1.0" encoding="UTF-8"?>
<fragment
  name="PR1GHFPFY Fragment Test"
  id="PR1GHFPFYFragmentTest"
  plugin-id="PR1GHFPFYPluginTest"
  version="1.2"
  plugin-version="1.2"
  vendor-name="OTI">

  <runtime>
     <library name="lib3.jar">
        <export name="a.b.C"/>
     </library>
     <library name="lib4.jar"/>
  </runtime>

</fragment>
