<?xml version="1.0" encoding="UTF-8"?>
<plugin
  name="Number of Requires Test"
  id="reqTest"
  version="1.2"
  vendor-name="OTI">

  <requires>
     <import plugin="tests.b"/>
     <import plugin="tests.c" version="1.0.0"/>
  </requires>

  <requires>
     <import plugin="tests.a"/>
     <import plugin="tests.d" version="1.0.0"/>
  </requires>

</plugin>
