<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.eclipse.jface"
   name="%pluginName"
   version="3.0.1.1"
   provider-name="%providerName">

   <runtime>
      <library name="jface.jar">
         <export name="*"/>
         <packages prefixes="org.eclipse.jface"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.swt" export="true"/>
      <import plugin="org.eclipse.core.runtime"/>
   </requires>

</plugin>
