<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="org.eclipse.ui.ide"
   name="Ide Plug-in"
   version="1.0.0"
   provider-name=""
   class="org.eclipse.ui.internal.ide.IDEWorkbenchPlugin">

   <runtime>
      <library name="ide.jar">
         <export name="*"/>
         <packages prefixes="org.eclipse.ui"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.update.core"/>
      <import plugin="org.eclipse.help"/>
      <import plugin="org.apache.xerces"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.ui"/>
   </requires>


<!-- IDE extension points -->
   <extension-point id="exportWizards" name="%ExtPoint.exportWizards" schema="schema/exportWizards.exsd"/>
   <extension-point id="importWizards" name="%ExtPoint.importWizards" schema="schema/importWizards.exsd"/>
   <extension-point id="markerHelp" name="%ExtPoint.markerHelp" schema="schema/markerHelp.exsd"/>
   <extension-point id="markerImageProviders" name="%ExtPoint.markerImageProviders" schema="schema/markerImageProviders.exsd"/>
   <extension-point id="markerResolution" name="%ExtPoint.markerResolution" schema="schema/markerResolution.exsd"/>
   <extension-point id="newWizards" name="%ExtPoint.newWizards" schema="schema/newWizards.exsd"/>
   <extension-point id="projectNatureImages" name="%ExtPoint.projectNatureImages" schema="schema/projectNatureImages.exsd"/>

   <extension
         id="workbench"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.eclipse.ui.internal.ide.IDEApplication">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="%Perspective.resourcePerspective"
            icon="icons/full/cview16/resource_persp.gif"
            class="org.eclipse.ui.internal.ResourcePerspective"
            id="org.eclipse.ui.resourcePerspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <showInPart
               id="org.eclipse.ui.views.ResourceNavigator">
         </showInPart>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.ide.importWizards">
      <wizard
            name="%ImportWizards.FileSystem"
            icon="icons/full/ctool16/importdir_wiz.gif"
            class="org.eclipse.ui.wizards.datatransfer.FileSystemImportWizard"
            id="org.eclipse.ui.wizards.import.FileSystem">
         <description>
            %ImportWizards.FileSystemDescription
         </description>
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
      <wizard
            name="%ImportWizards.ExternalProject"
            icon="icons/full/ctool16/newprj_wiz.gif"
            class="org.eclipse.ui.wizards.datatransfer.ExternalProjectImportWizard"
            id="org.eclipse.ui.wizards.import.ExternalProject">
         <description>
            %ImportWizards.ExternalProjectDescription
         </description>
      </wizard>
      <wizard
            name="%ImportWizards.ZipFile"
            icon="icons/full/ctool16/importzip_wiz.gif"
            class="org.eclipse.ui.wizards.datatransfer.ZipFileImportWizard"
            id="org.eclipse.ui.wizards.import.ZipFile">
         <description>
            %ImportWizards.ZipFileDescription
         </description>
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.ide.exportWizards">
      <wizard
            name="%ExportWizards.FileSystem"
            icon="icons/full/ctool16/exportdir_wiz.gif"
            class="org.eclipse.ui.wizards.datatransfer.FileSystemExportWizard"
            id="org.eclipse.ui.wizards.export.FileSystem">
         <description>
            %ExportWizards.FileSystemDescription
         </description>
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
      <wizard
            name="%ExportWizards.ZipFile"
            icon="icons/full/ctool16/exportzip_wiz.gif"
            class="org.eclipse.ui.wizards.datatransfer.ZipFileExportWizard"
            id="org.eclipse.ui.wizards.export.ZipFile">
         <description>
            %ExportWizards.ZipFileDescription
         </description>
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.ide.markerImageProviders">
      <imageprovider
            markertype="org.eclipse.core.resources.taskmarker"
            icon="icons/full/cview16/tasks_tsk.gif"
            id="org.eclipse.ui.taskMarkerProvider">
      </imageprovider>
      <imageprovider
            markertype="org.eclipse.core.resources.problemmarker"
            class="org.eclipse.ui.internal.ProblemImageProvider"
            id="org.eclipse.ui.problemMarkerProvider">
      </imageprovider>
   </extension>
   <extension
         point="org.eclipse.ui.ide.newWizards">
      <category
            name="%NewWizards.Category.Examples"
            id="org.eclipse.ui.Examples">
      </category>
      <category
            name="%NewWizards.Category.Basic"
            id="org.eclipse.ui.Basic">
      </category>
      <wizard
            name="%NewWizards.project"
            icon="icons/full/ctool16/newprj_wiz.gif"
            category="org.eclipse.ui.Basic"
            class="org.eclipse.ui.wizards.newresource.BasicNewProjectResourceWizard"
            project="true"
            id="org.eclipse.ui.wizards.new.project">
         <description>
            %NewWizards.project.description
         </description>
      </wizard>
      <wizard
            name="%NewWizards.folder"
            icon="icons/full/ctool16/newfolder_wiz.gif"
            category="org.eclipse.ui.Basic"
            class="org.eclipse.ui.wizards.newresource.BasicNewFolderResourceWizard"
            id="org.eclipse.ui.wizards.new.folder">
         <description>
            %NewWizards.folder.description
         </description>
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
      <wizard
            name="%NewWizards.file"
            icon="icons/full/ctool16/newfile_wiz.gif"
            category="org.eclipse.ui.Basic"
            class="org.eclipse.ui.wizards.newresource.BasicNewFileResourceWizard"
            id="org.eclipse.ui.wizards.new.file">
         <description>
            %NewWizards.file.description
         </description>
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="%Editors.WelcomeEditor"
            icon="icons/full/obj16/welcome_editor.gif"
            contributorClass="org.eclipse.ui.internal.dialogs.WelcomeEditorActionContributor"
            class="org.eclipse.ui.internal.dialogs.WelcomeEditor"
            id="org.eclipse.ui.internal.dialogs.WelcomeEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.elementFactories">
      <factory
            class="org.eclipse.ui.internal.model.ResourceFactory"
            id="org.eclipse.ui.internal.model.ResourceFactory">
      </factory>
      <factory
            class="org.eclipse.ui.internal.model.WorkspaceFactory"
            id="org.eclipse.ui.internal.model.WorkspaceFactory">
      </factory>
      <factory
            class="org.eclipse.ui.part.FileEditorInputFactory"
            id="org.eclipse.ui.part.FileEditorInputFactory">
      </factory>
      <factory
            class="org.eclipse.ui.internal.dialogs.WelcomeEditorInputFactory"
            id="org.eclipse.ui.internal.dialogs.WelcomeEditorInputFactory">
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.markerUpdaters">
      <updater
            class="org.eclipse.ui.texteditor.BasicMarkerUpdater"
            id="org.eclipse.ui.texteditor.BasicMarkerUpdater">
      </updater>
   </extension>
   <extension
         point="org.eclipse.ui.workingSets">
      <workingSet
            name="%WorkingSets.resource"
            pageClass="org.eclipse.ui.internal.dialogs.ResourceWorkingSetPage"
            icon="icons/full/obj16/workset.gif"
            id="org.eclipse.ui.resourceWorkingSetPage">
      </workingSet>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="%NavigateActionSet.label"
            description="%NavigateActionSet.description"
            visible="false"
            id="org.eclipse.ui.NavigateActionSet">
         <action
               definitionId="org.eclipse.ui.navigate.goToResource"
               label="%GoToResourceAction.label"
               hoverIcon="icons/full/clcl16/gotoobj_tsk.gif"
               icon="icons/full/elcl16/gotoobj_tsk.gif"
               retarget="true"
               menubarPath="navigate/goTo/"
               disabledIcon="icons/full/dlcl16/gotoobj_tsk.gif"
               id="goToResource">
         </action>
         <action
               definitionId="org.eclipse.ui.navigate.openResource"
               label="%OpenWorkspaceFileAction.label"
               helpContextId="org.eclipse.ui.open_workspace_file_action_context"
               class="org.eclipse.ui.internal.actions.OpenWorkspaceFileAction"
               menubarPath="navigate/open.ext2"
               id="org.eclipse.ui.OpenWorkspaceFile">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            lightweight="true"
            quadrant="BOTTOM_RIGHT"
            adaptable="true"
            label="%DecoratorLinkedResource.label"
            state="true"
            class="org.eclipse.ui.internal.LinkedResourceDecorator"
            id="org.eclipse.ui.LinkedResourceDecorator">
         <description>
            %DecoratorLinkedResource.description
         </description>
         <enablement>
            <objectClass
                  name="org.eclipse.core.resources.IResource">
            </objectClass>
         </enablement>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="%PreferencePages.IDEWorkbench"
            class="org.eclipse.ui.internal.dialogs.IDEWorkbenchPreferencePage"
            id="org.eclipse.ui.preferencePages.IDEWorkbench">
      </page>
      <page
            name="%PreferencePages.LinkedResources"
            category="org.eclipse.ui.preferencePages.IDEWorkbench"
            class="org.eclipse.ui.internal.dialogs.LinkedResourcesPreferencePage"
            id="org.eclipse.ui.preferencePages.LinkedResources">
      </page>
      <page
            name="%PreferencePages.FileStates"
            category="org.eclipse.ui.preferencePages.IDEWorkbench"
            class="org.eclipse.ui.internal.dialogs.FileStatesPage"
            id="org.eclipse.ui.preferencePages.FileStates">
      </page>
      <page
            name="%PreferencePages.BuildOrder"
            category="org.eclipse.ui.preferencePages.IDEWorkbench"
            class="org.eclipse.ui.internal.dialogs.BuildOrderPreferencePage"
            id="org.eclipse.ui.preferencePages.BuildOrder">
      </page>
   </extension>

</plugin>
