<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

    
<!-- IDE extension points -->
   <extension-point id="markerHelp" name="%ExtPoint.markerHelp" schema="schema/markerHelp.exsd"/>
   <extension-point id="markerImageProviders" name="%ExtPoint.markerImageProviders" schema="schema/markerImageProviders.exsd"/>
   <extension-point id="markerResolution" name="%ExtPoint.markerResolution" schema="schema/markerResolution.exsd"/>
   <extension-point id="projectNatureImages" name="%ExtPoint.projectNatureImages" schema="schema/projectNatureImages.exsd"/>
   <extension-point id="resourceFilters" name="%ExtPoint.resourceFilters" schema="schema/resourceFilters.exsd"/>
   <extension-point id="markerSupport" name="%ExtPoint.markerSupport" schema="schema/markerSupport.exsd"/>

   <extension
         id="workbench"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.eclipse.ui.internal.ide.IDEApplication">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="%Perspective.resourcePerspective"
            icon="icons/full/eview16/resource_persp.gif"
            class="org.eclipse.ui.internal.ide.ResourcePerspective"
            id="org.eclipse.ui.resourcePerspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <showInPart
               id="org.eclipse.ui.views.ResourceNavigator">
         </showInPart>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">

      <category
            name="%ImportExportWizards.Category.Basic"
            id="org.eclipse.ui.Basic">
      </category>
      
      <wizard
            name="%ImportWizards.Preferences"
            icon="icons/full/obj16/importpref_obj.gif"
            id="org.eclipse.ui.wizards.import.Preferences"
            category="org.eclipse.ui.Basic"            
            class="org.eclipse.ui.ExtensionFactory:preferencesImportWizard">
         <description>
            %ImportWizards.PreferencesDescription
         </description>
      </wizard>
      <wizard
            name="%ImportWizards.FileSystem"
            icon="icons/full/etool16/importdir_wiz.gif"
            category="org.eclipse.ui.Basic"            
            class="org.eclipse.ui.wizards.datatransfer.FileSystemImportWizard"
            id="org.eclipse.ui.wizards.import.FileSystem">
         <description>
            %ImportWizards.FileSystemDescription
         </description>
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
      <wizard
            name="%ImportWizards.ExternalProject"
            icon="icons/full/etool16/newprj_wiz.gif"
            category="org.eclipse.ui.Basic"            
            class="org.eclipse.ui.wizards.datatransfer.ExternalProjectImportWizard"
            id="org.eclipse.ui.wizards.import.ExternalProject">
         <description>
            %ImportWizards.ExternalProjectDescription
         </description>
      </wizard>
      <wizard
            name="%ImportWizards.ZipFile"
            icon="icons/full/etool16/importzip_wiz.gif"
            category="org.eclipse.ui.Basic"            
            class="org.eclipse.ui.wizards.datatransfer.ZipFileImportWizard"
            id="org.eclipse.ui.wizards.import.ZipFile">
         <description>
            %ImportWizards.ZipFileDescription
         </description>
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">

      <category
            name="%ImportExportWizards.Category.Basic"
            id="org.eclipse.ui.Basic">
      </category>
               
      <wizard
            name="%ExportWizards.Preferences"
            icon="icons/full/obj16/exportpref_obj.gif"
            category="org.eclipse.ui.Basic"
            class="org.eclipse.ui.ExtensionFactory:preferencesExportWizard"
            id="org.eclipse.ui.wizards.export.Preferences">
         <description>
            %ExportWizards.PreferencesDescription
         </description>
      </wizard>         
      <wizard
            name="%ExportWizards.FileSystem"
            icon="icons/full/etool16/exportdir_wiz.gif"
            category="org.eclipse.ui.Basic"
            class="org.eclipse.ui.wizards.datatransfer.FileSystemExportWizard"
            id="org.eclipse.ui.wizards.export.FileSystem">
         <description>
            %ExportWizards.FileSystemDescription
         </description>
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
      <wizard
            name="%ExportWizards.ZipFile"
            icon="icons/full/etool16/exportzip_wiz.gif"
            category="org.eclipse.ui.Basic"            
            class="org.eclipse.ui.wizards.datatransfer.ZipFileExportWizard"
            id="org.eclipse.ui.wizards.export.ZipFile">
         <description>
            %ExportWizards.ZipFileDescription
         </description>
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.ide.markerImageProviders">
      <imageprovider
            markertype="org.eclipse.core.resources.taskmarker"
            icon="icons/full/eview16/tasks_tsk.gif"
            id="org.eclipse.ui.taskMarkerProvider">
      </imageprovider>
      <imageprovider
            markertype="org.eclipse.core.resources.problemmarker"
            class="org.eclipse.ui.internal.ide.ProblemImageProvider"
            id="org.eclipse.ui.problemMarkerProvider">
      </imageprovider>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="%NewWizards.Category.Examples"
            id="org.eclipse.ui.Examples">
      </category>
      <category
            name="%NewWizards.Category.Basic"
            id="org.eclipse.ui.Basic">
      </category>
      <wizard
            name="%NewWizards.project"
            icon="icons/full/etool16/newprj_wiz.gif"
            category="org.eclipse.ui.Basic"
            class="org.eclipse.ui.wizards.newresource.BasicNewProjectResourceWizard"
            project="true"
            id="org.eclipse.ui.wizards.new.project">
         <description>
            %NewWizards.project.description
         </description>
      </wizard>
      <wizard
            name="%NewWizards.folder"
            icon="icons/full/etool16/newfolder_wiz.gif"
            category="org.eclipse.ui.Basic"
            class="org.eclipse.ui.wizards.newresource.BasicNewFolderResourceWizard"
            id="org.eclipse.ui.wizards.new.folder">
         <description>
            %NewWizards.folder.description
         </description>
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
      <wizard
            name="%NewWizards.file"
            icon="icons/full/etool16/newfile_wiz.gif"
            category="org.eclipse.ui.Basic"
            class="org.eclipse.ui.wizards.newresource.BasicNewFileResourceWizard"
            id="org.eclipse.ui.wizards.new.file">
         <description>
            %NewWizards.file.description
         </description>
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="%Editors.WelcomeEditor"
            icon="icons/full/obj16/welcome_editor.gif"
            class="org.eclipse.ui.internal.ide.dialogs.WelcomeEditor"
            contributorClass="org.eclipse.ui.internal.ide.dialogs.WelcomeEditorActionContributor"
            id="org.eclipse.ui.internal.ide.dialogs.WelcomeEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.elementFactories">
      <factory
            class="org.eclipse.ui.internal.ide.model.ResourceFactory"
            id="org.eclipse.ui.internal.model.ResourceFactory">
      </factory>
      <factory
            class="org.eclipse.ui.internal.ide.model.WorkspaceFactory"
            id="org.eclipse.ui.internal.model.WorkspaceFactory">
      </factory>
      <factory
            class="org.eclipse.ui.part.FileEditorInputFactory"
            id="org.eclipse.ui.part.FileEditorInputFactory">
      </factory>
      <factory
            class="org.eclipse.ui.internal.ide.dialogs.WelcomeEditorInputFactory"
            id="org.eclipse.ui.internal.dialogs.WelcomeEditorInputFactory">
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.workingSets">
      <workingSet
            name="%WorkingSets.resource"
            pageClass="org.eclipse.ui.internal.ide.dialogs.ResourceWorkingSetPage"
            updaterClass="org.eclipse.ui.internal.ide.ResourceWorkingSetUpdater"
            icon="icons/full/obj16/workset.gif"
            id="org.eclipse.ui.resourceWorkingSetPage">
      </workingSet>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="%NavigateActionSet.label"
            description="%NavigateActionSet.description"
            visible="false"
            id="org.eclipse.ui.NavigateActionSet">
         <action
               definitionId="org.eclipse.ui.navigate.goToResource"
               label="%GoToResourceAction.label"
               icon="icons/full/elcl16/gotoobj_tsk.gif"
               menubarPath="navigate/goTo/"
               retarget="true"
               id="goToResource">
         </action>
         <action
               definitionId="org.eclipse.ui.navigate.openResource"
               label="%OpenWorkspaceFileAction.label"
               helpContextId="org.eclipse.ui.open_workspace_file_action_context"
               class="org.eclipse.ui.internal.ide.actions.OpenWorkspaceFileAction"
               menubarPath="navigate/open.ext2"
               id="org.eclipse.ui.OpenWorkspaceFile">
         </action>
      </actionSet>
      <actionSet
            label="%KeyBindingActionSet.label"
            visible="true"
            id="org.eclipse.ui.actionSet.keyBindings">
         <action
               label="%KeyBindingActionSet.showKeyAssist.label"
               class="org.eclipse.ui.internal.handlers.ShowKeyAssistHandler"
               menubarPath="help/group.assist"
               id="org.eclipse.ui.actions.showKeyAssistHandler"
               definitionId="org.eclipse.ui.window.showKeyAssist">
         </action>
      </actionSet>
      <actionSet
            label="%WorkingSetsActionSet.label"
            description="%WorkingSetsActionSet.description"
            visible="true"
            id="org.eclipse.ui.WorkingSetActionSet">
         <action
               class="org.eclipse.ui.internal.actions.SelectWorkingSetsAction"
               definitionId="org.eclipse.ui.navigate.selectWorkingSets"
               id="selectWorkingSets"
               label="%SelectWorkingSetsAction.label"
               menubarPath="window/additions"
               style="pulldown"
               toolbarPath="workingSets"/>
      </actionSet>
   </extension>
   
   
   <!-- TODO Replacement for the above actionSet extension point.  This is just
   to help me with writing the parser for the menus extension point.  This is
   likely not in its final form.  (Note: the handlers are missing) -->
   <extension
   		point="org.eclipse.ui.commandImages">
   		<image
   			commandId="org.eclipse.ui.navigate.goToResource"
            icon="icons/full/elcl16/gotoobj_tsk.gif" />
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <actionSet
            label="%NavigateActionSet.label"
            description="%NavigateActionSet.description"
            visible="false"
            id="org.eclipse.ui.NavigateActionSet">
            <reference id="goToResource" type="item" />
            <reference id="org.eclipse.ui.OpenWorkspaceFile" type="item" />
      </actionSet>
      
      <item
      		commandId="org.eclipse.ui.navigate.goToResource"
            id="goToResource">
            <location mnemonic="%GoToResourceItem.mnemonic">
            	<bar type="menu" path="navigate/goTo" />
            </location>
      </item>
      <item
      		commandId="org.eclipse.ui.navigate.openResource"
            id="org.eclipse.ui.OpenWorkspaceFile">
			<location mnemonic="%OpenResourceItem.mnemonic">
				<bar type="menu" path="navigate/open.ext2" />
			</location>
	  </item>
	  
      <actionSet
            label="%KeyBindingActionSet.label"
            visible="true"
            id="org.eclipse.ui.actionSet.keyBindings">
            <reference id="org.eclipse.ui.actions.showKeyAssistHandler" type="item" />
      </actionSet>
      
      <item
            id="org.eclipse.ui.actions.showKeyAssistHandler"
            commandId="org.eclipse.ui.window.showKeyAssist">
            <location>
				<bar type="menu" path="help/group.assist" />
            </location>
      </item>
      
      <actionSet
            label="%WorkingSetsActionSet.label"
            description="%WorkingSetsActionSet.description"
            visible="false"
            id="org.eclipse.ui.WorkingSetActionSet">
            <reference id="selectWorkingSets" type="item" />
      </actionSet>
      
      <item
           commandId="org.eclipse.ui.navigate.selectWorkingSets"
           id="selectWorkingSets"
           menuId="selectWorkingSets.pulldown">
           <location>
           		<bar type="menu" path="window/additions" />
           </location>
           <location>
           		<bar type="tool" path="workingSets" />
           </location>
      </item>
      
      <menu
      		id="selectWorkingSets.pulldown">
      		<dynamic class="org.eclipse.ui.menus.DynamicActionMenu:org.eclipse.ui.internal.actions.SelectWorkingSetsAction" />
      </menu>
   </extension>
   
   
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            lightweight="true"
            adaptable="true"
            location="BOTTOM_RIGHT"
            label="%DecoratorLinkedResource.label"
            class="org.eclipse.ui.internal.ide.LinkedResourceDecorator"
            state="true"
            id="org.eclipse.ui.LinkedResourceDecorator">
         <description>
            %DecoratorLinkedResource.description
         </description>
         <enablement>
            <objectClass
                  name="org.eclipse.core.resources.IResource">
            </objectClass>
         </enablement>
      </decorator>
   </extension>
   <extension
   		point="org.eclipse.ui.keywords">
    <keyword
            label="%PreferenceKeywords.Editing"
            id="org.eclipse.ui.ide.editing"/>
      <keyword
            label="%PreferenceKeywords.Appearance"
            id="org.eclipse.ui.ide.appearance"/>
      <keyword
            id="org.eclipse.ui.ide.general"
            label="%PreferenceKeywords.General"/>
      <keyword
            id="org.eclipse.ui.ide.themes"
            label="%PreferenceKeywords.Themes"/>
      <keyword
            id="org.eclipse.ui.ide.apearancepage"
            label="%PreferenceKeywords.AppearancePage"/>
      <keyword
            id="org.eclipse.ui.ide.tabs"
            label="%PreferenceKeywords.Tabs"/>
      <keyword
            id="org.eclipse.ui.ide.editors"
            label="%PreferenceKeywords.Editors "/>
      <keyword
            id="org.eclipse.ui.ide.keys"
            label="%PreferenceKeywords.Keys"/>
      <keyword
            id="org.eclipse.ui.ide.perspectives"
            label="%PreferenceKeywords.Perspectives"/>
      <keyword
            id="org.eclipse.ui.ide.startupAndShutdown"
            label="%PreferenceKeywords.StartupAndShutdown"/>
      <keyword
            id="org.eclipse.ui.ide.workspace"
            label="%PreferenceKeywords.Workspace"/>
      <keyword
            id="org.eclipse.ui.ide.linked"
            label="%PreferenceKeywords.LinkedResources"/>
   </extension>      
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="%PreferencePages.Workbench"
            class="org.eclipse.ui.internal.ide.dialogs.IDEWorkbenchPreferencePage"
            id="org.eclipse.ui.preferencePages.Workbench">
         <keywordReference id="org.eclipse.ui.ide.general"/>
      </page>
      <page
            name="%PreferencePages.Editors"
            category="org.eclipse.ui.preferencePages.Workbench"
            class="org.eclipse.ui.internal.ide.dialogs.IDEEditorsPreferencePage"
            id="org.eclipse.ui.preferencePages.Editors">
         <keywordReference id="org.eclipse.ui.ide.editing"/>
         <keywordReference id="org.eclipse.ui.ide.tabs"/>
         <keywordReference id="org.eclipse.ui.ide.editors"/>
      </page>
      <page
            name="%PreferencePages.Perspectives"
            category="org.eclipse.ui.preferencePages.Workbench"
            class="org.eclipse.ui.internal.ide.dialogs.IDEPerspectivesPreferencePage"
            id="org.eclipse.ui.preferencePages.Perspectives">
         <keywordReference id="org.eclipse.ui.ide.appearance"/>
         <keywordReference id="org.eclipse.ui.ide.perspectives"/>
      </page>
      <page
            name="%PreferencePages.FileEditors"
            category="org.eclipse.ui.preferencePages.Editors"
            class="org.eclipse.ui.ExtensionFactory:fileAssociationsPreferencePage"
            id="org.eclipse.ui.preferencePages.FileEditors">
         <keywordReference id="org.eclipse.ui.ide.editing"/>
         <keywordReference id="org.eclipse.ui.ide.editors"/>
      </page>
      <page
            name="%PreferencePages.Views"
            category="org.eclipse.ui.preferencePages.Workbench"
            class="org.eclipse.ui.ExtensionFactory:appearancePreferencePage"
            id="org.eclipse.ui.preferencePages.Views">
         <keywordReference id="org.eclipse.ui.ide.appearance"/>
         <keywordReference id="org.eclipse.ui.ide.themes"/>
         <keywordReference id="org.eclipse.ui.ide.tabs"/>
      </page>
      <page
            name="%PreferencePages.ColorsAndFonts"
            category="org.eclipse.ui.preferencePages.Views"
            class="org.eclipse.ui.ExtensionFactory:colorsAndFontsPreferencePage"
            id="org.eclipse.ui.preferencePages.ColorsAndFonts">
         <keywordReference id="org.eclipse.ui.ide.appearance"/>
         <keywordReference id="org.eclipse.ui.ide.themes"/>
      </page>
      <page
            name="%PreferencePages.Decorators"
            category="org.eclipse.ui.preferencePages.Views"
            class="org.eclipse.ui.ExtensionFactory:decoratorsPreferencePage"
            id="org.eclipse.ui.preferencePages.Decorators">
         <keywordReference id="org.eclipse.ui.ide.appearance"/>
      </page>
      <page
            category="org.eclipse.ui.preferencePages.Workbench"
            class="org.eclipse.ui.internal.ide.dialogs.IDEWorkspacePreferencePage"
            id="org.eclipse.ui.preferencePages.Workspace"
            name="%PreferencePages.Workspace">
         <keywordReference id="org.eclipse.ui.ide.workspace"/>         
      </page>
      <page
      		category="org.eclipse.ui.preferencePages.Workspace"
            name="%PreferencePages.BuildOrder"
            class="org.eclipse.ui.internal.ide.dialogs.BuildOrderPreferencePage"
            id="org.eclipse.ui.preferencePages.BuildOrder">
      </page>
      
       <page
            name="%PreferencePages.FileStates"
            category="org.eclipse.ui.preferencePages.Workspace"
            class="org.eclipse.ui.internal.ide.dialogs.FileStatesPage"
            id="org.eclipse.ui.preferencePages.FileStates">
      </page>
      
      <page
            name="%PreferencePages.LinkedResources"
            category="org.eclipse.ui.preferencePages.Workspace"
            class="org.eclipse.ui.internal.ide.dialogs.LinkedResourcesPreferencePage"
            id="org.eclipse.ui.preferencePages.LinkedResources">
         <keywordReference id="org.eclipse.ui.ide.linked"/>
      </page>
      
      <page
            name="%PreferencePages.Startup"
            category="org.eclipse.ui.preferencePages.Workbench"
            class="org.eclipse.ui.internal.ide.dialogs.IDEStartupPreferencePage"
            id="org.eclipse.ui.preferencePages.Startup">
         <keywordReference id="org.eclipse.ui.ide.startupAndShutdown"/>
      </page>
      <page
            name="%PreferencePages.Keys"
            category="org.eclipse.ui.preferencePages.Workbench"
            class="org.eclipse.ui.ExtensionFactory:keysPreferencePage"
            id="org.eclipse.ui.preferencePages.Keys">
         <keywordReference id="org.eclipse.ui.ide.keys"/>
      </page>
      <page
            name="%PreferencePages.NewKeys"
            category="org.eclipse.ui.preferencePages.Workbench"
            class="org.eclipse.ui.ExtensionFactory:newKeysPreferencePage"
            id="org.eclipse.ui.preferencePages.NewKeys">
         <keywordReference id="org.eclipse.ui.ide.keys"/>
      </page>
    
      <page
            class="org.eclipse.ui.ExtensionFactory:contentTypesPreferencePage"
            id="org.eclipse.ui.preferencePages.ContentTypes"
            category="org.eclipse.ui.preferencePages.Workbench"
            name="%PreferencePages.ContentTypes">
         <keywordReference id="org.eclipse.ui.ide.editing"/>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="%Views.Progress"
            icon="icons/full/eview16/pview.gif"
            category="org.eclipse.ui"
            class="org.eclipse.ui.internal.progress.ProgressView"
            id="org.eclipse.ui.views.ProgressView">
      </view>
      <view
            name="%Views.ResourceNavigator"
            icon="$nl$/icons/full/eview16/filenav_nav.gif"
            category="org.eclipse.ui"
            class="org.eclipse.ui.views.navigator.ResourceNavigator"
            id="org.eclipse.ui.views.ResourceNavigator">
      </view>
      <view
            name="%Views.Bookmark"
            icon="icons/full/eview16/bkmrk_nav.gif"
            category="org.eclipse.ui"
            class="org.eclipse.ui.views.markers.internal.BookmarkView"
            id="org.eclipse.ui.views.BookmarkView">
      </view>
      <view
            name="%Views.Task"
            icon="icons/full/eview16/tasks_tsk.gif"
            category="org.eclipse.ui"
            class="org.eclipse.ui.views.markers.internal.TaskView"
            id="org.eclipse.ui.views.TaskList">
      </view>
      <view
            name="%Views.Problem"
            icon="icons/full/eview16/problems_view.gif"
            category="org.eclipse.ui"
            class="org.eclipse.ui.views.markers.internal.ProblemView"
            id="org.eclipse.ui.views.ProblemView">
      </view>
    
   </extension>
   <extension
         point="org.eclipse.ui.ide.resourceFilters">
      <filter
            selected="false"
            pattern=".*">
      </filter>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject"
            name="%PropertyPages.project.reference"
            class="org.eclipse.ui.internal.ide.dialogs.ProjectReferencePage"
            id="org.eclipse.ui.propertypages.project.reference">
      </page>
      <page
            adaptable="true"
            objectClass="org.eclipse.core.resources.IResource"
            name="%PropertyPages.info.file"
            class="org.eclipse.ui.internal.ide.dialogs.ResourceInfoPage"
            id="org.eclipse.ui.propertypages.info.file">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="%category.project.name"
            description="%category.project.description"
            id="org.eclipse.ui.category.project">
      </category>
      <category
            name="%category.perspective.name"
            description="%category.perspective.description"
            id="org.eclipse.ui.category.perspectives" />
      <command
      		name="%command.showPerspective.name"
      		description="%command.showPerspective.description"
      		categoryId="org.eclipse.ui.category.perspectives"
      		id="org.eclipse.ui.perspectives.showPerspective"
      		defaultHandler="org.eclipse.ui.handlers.ShowPerspectiveHandler">
      		<commandParameter
      			id="org.eclipse.ui.perspectives.showPerspective.perspectiveId"
      			name="%command.showPerspective.perspectiveIdParameter"
      			values="org.eclipse.ui.internal.ide.registry.PerspectiveParameterValues" />
      </command>
      <command
            name="%command.openWorkspace.name"
            description="%command.openWorkspace.description"
            categoryId="org.eclipse.ui.category.file"
            id="org.eclipse.ui.file.openWorkspace">
      </command>
      <command
            name="%command.newQuickMenu.name"
            description="%command.newQuickMenu.description"
            categoryId="org.eclipse.ui.category.file"
            id="org.eclipse.ui.file.newQuickMenu">
      </command>
       <command
            name="%command.showInQuickMenu.name"
            description="%command.showInQuickMenu.description"
            categoryId="org.eclipse.ui.category.navigate"
            id="org.eclipse.ui.navigate.showInQuickMenu">
      </command>
      <command
            name="%command.goToResource.name"
            description="%command.goToResource.description"
            categoryId="org.eclipse.ui.category.navigate"
            id="org.eclipse.ui.navigate.goToResource">
      </command>
      
      <command
            name="%command.openResource.name"
            description="%command.openResource.description"
            categoryId="org.eclipse.ui.category.navigate"
            id="org.eclipse.ui.navigate.openResource">
      </command>
      <command
            name="%command.openProject.name"
            description="%command.openProject.description"
            categoryId="org.eclipse.ui.category.project"
            id="org.eclipse.ui.project.openProject">
      </command>
      <command
            name="%command.closeProject.name"
            description="%command.closeProject.description"
            categoryId="org.eclipse.ui.category.project"
            id="org.eclipse.ui.project.closeProject">
      </command>
      <command
            name="%command.buildProject.name"
            description="%command.buildProject.description"
            categoryId="org.eclipse.ui.category.project"
            id="org.eclipse.ui.project.buildProject">
      </command>
      <command
            name="%command.rebuildProject.name"
            description="%command.rebuildProject.description"
            categoryId="org.eclipse.ui.category.project"
            id="org.eclipse.ui.project.rebuildProject">
      </command>
      <command
            name="%command.buildAll.name"
            description="%command.buildAll.description"
            categoryId="org.eclipse.ui.category.project"
            id="org.eclipse.ui.project.buildAll">
      </command>
      <command
            name="%command.rebuildAll.name"
            description="%command.rebuildAll.description"
            categoryId="org.eclipse.ui.category.project"
            id="org.eclipse.ui.project.rebuildAll">
      </command>
      <command
            name="%command.buildLast.name"
            description="%command.buildLast.description"
            categoryId="org.eclipse.ui.category.project"
            id="org.eclipse.ui.project.buildLast">
      </command>
      <command
            name="%command.buildClean.name"
            description="%command.buildClean.description"
            categoryId="org.eclipse.ui.category.project"
            id="org.eclipse.ui.project.cleanAction">
      </command>
      <command
            name="%command.projectProperties.name"
            description="%command.projectProperties.description"
            categoryId="org.eclipse.ui.category.project"
            id="org.eclipse.ui.project.properties">
      </command>
      <command
            name="%command.addTask.name"
            description="%command.addTask.description"
            categoryId="org.eclipse.ui.category.edit"
            id="org.eclipse.ui.edit.addTask">
      </command>
      <command
            name="%command.correctionAssistProposals.name"
            description="%command.correctionAssistProposals.description"
            categoryId="org.eclipse.ui.category.edit"
            id="org.eclipse.jdt.ui.edit.text.java.correction.assist.proposals">
      </command>
      <command
            name="%command.selectWorkingSets.name"
            description="%command.selectWorkingSets.description"
            categoryId="org.eclipse.ui.category.window"
            id="org.eclipse.ui.navigate.selectWorkingSets">
      </command>
   </extension>
   
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="org.eclipse.ui.navigate.goToResource"
            icon="icons/full/elcl16/gotoobj_tsk.gif" />
   </extension>
   
   <extension
   		 point="org.eclipse.ui.bindings">
      <key
      		commandId="org.eclipse.ui.window.showKeyAssist"
      		contextId="org.eclipse.ui.contexts.dialogAndWindow"
      		sequence="M1+M2+L"
      		schemeId="org.eclipse.ui.defaultAcceleratorConfiguration" />
      <key
            commandId="org.eclipse.jdt.ui.edit.text.java.correction.assist.proposals"
            sequence="M1+1"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration" />
      <key
            commandId="org.eclipse.ui.navigate.openResource"
            sequence="M1+M2+R"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration" />
      <key
            commandId="org.eclipse.ui.navigate.openResource"
            sequence="CTRL+X CTRL+F"
            schemeId="org.eclipse.ui.emacsAcceleratorConfiguration" />
      <key
            commandId="org.eclipse.ui.project.buildAll"
            sequence="M1+B"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration" />
      <key
            commandId="org.eclipse.ui.navigate.showInQuickMenu"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M2+M3+W"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration" />
      <key
            platform="carbon"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M2+M3+W"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration" />
      <key
            platform="carbon"
            commandId="org.eclipse.ui.navigate.showInQuickMenu"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+M3+W"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration" />
      <key
            commandId="org.eclipse.ui.file.newQuickMenu"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M2+M3+N"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration" />
      <key
            platform="carbon"
            commandId=""
            contextId="org.eclipse.ui.contexts.window"
            sequence="M2+M3+N"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration" />
      <key
            platform="carbon"
            commandId="org.eclipse.ui.file.newQuickMenu"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M2+M3+N"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration" />
      <key
            sequence="M2+M3+Q X"
            contextId="org.eclipse.ui.contexts.window"
            commandId="org.eclipse.ui.views.showView"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
            <parameter 
            	id="org.eclipse.ui.views.showView.viewId"
            	value="org.eclipse.ui.views.ProblemView" />
      </key>
      <key
            platform="carbon"
            sequence="M2+M3+Q X"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration" />
      <key
            platform="carbon"
            sequence="M1+M3+Q X"
            contextId="org.eclipse.ui.contexts.window"
            commandId="org.eclipse.ui.views.showView"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
            <parameter 
            	id="org.eclipse.ui.views.showView.viewId" 
            	value="org.eclipse.ui.views.ProblemView" />
      </key>
      <key
            sequence="M2+M3+Q O"
            contextId="org.eclipse.ui.contexts.window"
            commandId="org.eclipse.ui.views.showView"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
            <parameter
            	id="org.eclipse.ui.views.showView.viewId"
            	value="org.eclipse.ui.views.ContentOutline" />
      </key>
      <key
            platform="carbon"
            sequence="M2+M3+Q O"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration" />
      <key
            platform="carbon"
            sequence="M1+M3+Q O"
            contextId="org.eclipse.ui.contexts.window"
            commandId="org.eclipse.ui.views.showView"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
            <parameter
            	id="org.eclipse.ui.views.showView.viewId" 
            	value="org.eclipse.ui.views.ContentOutline" />
      </key>
   </extension>

   <extension
         point="org.eclipse.ui.systemSummarySections">
      <section
      		id="15.UpdateSection"
            sectionTitle="%About.updateSummaryTitle"
            class="org.eclipse.ui.internal.ide.dialogs.ConfigurationLogUpdateSection">
      </section>
   </extension>

<!-- Update Actions -->
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="%UpdateActionSet.label"
            visible="true"
            id="org.eclipse.update.ui.softwareUpdates">
         <menu
               label="%UpdateActionSet.menu.label"
               path="help/group.updates"
               id="org.eclipse.update.ui.updateMenu">
            <separator
                  name="group0">
            </separator>
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               label="%UpdateActionSet.configManager.label"
               icon="icons/full/elcl16/configs.gif"
               helpContextId="org.eclipse.update.ui.newUpdates"
               class="org.eclipse.ui.internal.ide.update.ConfigurationManagerAction"
               menubarPath="help/org.eclipse.update.ui.updateMenu/group0"
               id="org.eclipse.update.ui.configManager">
         </action>
         <action
               label="%UpdateActionSet.updates.label"
               icon="icons/full/elcl16/usearch_obj.gif"
               helpContextId="org.eclipse.update.ui.newUpdates"
               class="org.eclipse.ui.internal.ide.update.InstallWizardAction"
               menubarPath="help/org.eclipse.update.ui.updateMenu/group0"
               id="org.eclipse.update.ui.newUpdates">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="org.eclipse.ui.internal.ide.IDEPreferenceInitializer"/>
   </extension>
<!-- End Update -->
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            namespace="org.eclipse.ui.ide"
            type="org.eclipse.core.resources.mapping.ResourceMapping"
            class="org.eclipse.ui.internal.ide.model.ProjectPersistentPropertyTester"
            properties="projectPersistentProperty"
            id="org.eclipse.ui.ide.mappingProjectPersistentPropertyTester"/>
   </extension>
      <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            namespace="org.eclipse.ui.ide"
            type="org.eclipse.core.resources.IResource"
            class="org.eclipse.ui.internal.ide.model.ProjectPersistentPropertyTester"
            properties="projectPersistentProperty"
            id="org.eclipse.ui.ide.projectPersistentPropertyTester"/>
   </extension>
  <extension
         point="org.eclipse.ui.preferenceTransfer">
       <transfer
            id="org.eclipse.ui.ide.transfer.keys"
            icon="\icons\full\obj16\keyspref_obj.gif"
            name="%KeysPreference.Name">
            <mapping scope="instance">
            	<entry node="org.eclipse.ui.workbench">
            	   <key name="org.eclipse.ui.commands"/>
            	</entry>
            	<entry node="org.eclipse.ui">
            	   <key name="KEY_CONFIGURATION_ID"/>
            	</entry>
            </mapping>
			<description>
            	%KeysPreference.Description
		    </description>
	   </transfer>
   </extension>
   
   <!-- Adaptor factory for IWorkingSet to IContributorResourceAdapter, IWorkbenchAdapter, ResourceMapping -->
      <extension
         id="org.eclipse.ui.ide.resourceMappingAdapters"
         point="org.eclipse.core.runtime.adapters">
       <factory
            class="org.eclipse.ui.internal.ide.model.WorkingSetAdapterFactory"
            adaptableType="org.eclipse.ui.IWorkingSet">
            <adapter type="org.eclipse.ui.IContributorResourceAdapter"/>
       </factory>
       <factory
            class="org.eclipse.ui.internal.ide.model.WorkingSetAdapterFactory"
            adaptableType="org.eclipse.ui.IWorkingSet">
            <adapter type="org.eclipse.ui.model.IWorkbenchAdapter"/>
       </factory>
       <factory
            class="org.eclipse.ui.internal.ide.model.WorkingSetAdapterFactory"
            adaptableType="org.eclipse.ui.IWorkingSet">
            <adapter type="org.eclipse.core.resources.mapping.ResourceMapping"/>
       </factory>
   </extension>
   
   <extension
         point="org.eclipse.ui.activitySupport">
      <triggerPoint id="org.eclipse.ui.ide.natures">
         <hint
               id="interactive"
               value="false"/>
      </triggerPoint>
   </extension>
   <extension
         point="org.eclipse.ui.ide.markerSupport">
      <hierarchy>
         <markerTypeReference id="org.eclipse.core.resources.problemmarker"/>
         <hierarchyReference type="SEVERITY"/>
         <hierarchyReference type="RESOURCE"/>
      </hierarchy>
   </extension>
</plugin>
