<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.eclipse.ui.tutorials.rcp.part3"
   name="%pluginName"
   version="0.0.0"
   provider-name="%providerName">

   <runtime>
      <library name="part3.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.help"/>
      <!-- These are needed at run-time but not at build-time -->
      <import plugin="org.eclipse.help.ui"/>
      <import plugin="org.eclipse.help.webapp"/>
      <import plugin="org.eclipse.tomcat"/>
   </requires>


   <extension
         id="RcpApplication"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.eclipse.ui.tutorials.rcp.part3.RcpApplication">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="%perspectiveName"
            icon="icons/sample.gif"
            fixed="true"
            class="org.eclipse.ui.tutorials.rcp.part3.RcpPerspective"
            id="org.eclipse.ui.tutorials.rcp.part3.RcpPerspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="%categoryName"
            id="org.eclipse.ui.tutorials.rcp.part3.viewCategory">
      </category>
      <view
            name="%viewName"
            icon="icons/sample.gif"
            category="org.eclipse.ui.tutorials.rcp.part3.viewCategory"
            class="org.eclipse.ui.tutorials.rcp.part3.views.SampleView"
            id="org.eclipse.ui.tutorials.rcp.part3.views.SampleView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="RCP Action Set"
            visible="true"
            id="org.eclipse.ui.tutorials.rcp.part3.actionSet">
         <action
               label="&amp;About RCP Tutorial3"
               class="org.eclipse.ui.tutorials.rcp.part3.actions.AboutAction"
               menubarPath="help/additions"
               id="org.eclipse.ui.tutorials.rcp.part3.actions.AboutAction">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="book.xml"
            primary="true">
      </toc>
   </extension>

</plugin>
