<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension
         point="org.eclipse.ui.editors">
      <editor
            name="%Editors.MultiPageEditorExample"
            icon="icons/copy.gif"
            extensions="mpe"
            contributorClass="org.eclipse.ui.examples.multipageeditor.MultiPageContributor"
            class="org.eclipse.ui.examples.multipageeditor.MultiPageEditorExample"
            id="org.eclipse.ui.examples.multipageeditor.MultiPageEditorExample">
      </editor>
   </extension>

</plugin>
