<?xml version="1.0"?>

<!-- ======================================================================= -->
<!-- The MultiPage Editor Example is a sample plugin which demonstrates the  -->
<!-- implementation of a multi-page editor.                                  -->
<!-- ======================================================================= -->
<plugin
   name = "MultiPage Editor Example"
   id = "org.eclipse.ui.examples.editor"
   version = "0.9"
   provider-name = "Object Technology International, Inc.">

   <requires>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.resources"/>
   </requires>

   <runtime>
     <library name="multipageeditor.jar">
     	<export name="*"/>
     </library>
   </runtime>

   <extension
      point = "org.eclipse.ui.editors">
	<editor
		id = "org.eclipse.ui.examples.multipageeditor.MultiPageEditorExample"
		name="Multi-Page Editor Example"
		icon="icons/copy.gif"     	  
		extensions="mpe"
		class="org.eclipse.ui.examples.multipageeditor.MultiPageEditorExample"
		contributorClass="org.eclipse.ui.examples.multipageeditor.MultiPageContributor" >                              
	</editor>
   </extension>
</plugin>






