<?xml version="1.0" encoding="UTF-8"?>

<!-- ======================================================================= -->
<!-- The MultiPage Editor Example is a sample plugin which demonstrates the  -->
<!-- implementation of a multi-page editor.                                  -->
<!-- ======================================================================= -->
<plugin
   name = "%Plugin.name"
   id = "org.eclipse.ui.examples.multipageeditor"
   version = "2.0.0"
   provider-name = "%Plugin.providerName">

   <requires>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.resources"/>
   </requires>

   <runtime>
     <library name="multipageeditor.jar">
     	<export name="*"/>
     </library>
   </runtime>

   <extension
      point = "org.eclipse.ui.editors">
	<editor
		id = "org.eclipse.ui.examples.multipageeditor.MultiPageEditorExample"
		name="%Editors.MultiPageEditorExample"
		icon="icons/copy.gif"     	  
		extensions="mpe"
		class="org.eclipse.ui.examples.multipageeditor.MultiPageEditorExample"
		contributorClass="org.eclipse.ui.examples.multipageeditor.MultiPageContributor" >                              
	</editor>
   </extension>
</plugin>
