H6.CaptionFigColumn#header {
	font-size:16px; 
	display:inline
}

H6.CaptionFigColumn#copyright-text {
	font-size: smaller; 
	font-style: normal;
	color: #336699; 
	display:inline 
}

P.Code#dtd {
	color: #800000; 
	display: inline;
}

P.Code#tag {
	color: #000080; 
	display:inline;
}

P.Code#cstring {
	color: #008000; 
	display:inline;
}


 

