<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!-- ======================================================================= -->
<!-- Search Plugin                                                           -->
<!-- ======================================================================= -->
<plugin>

	<!-- Search extension point definitions -->
	
    <extension-point name="%textSearchEngine" id="textSearchEngine" schema="schema/textSearchEngine.exsd"/>
    <extension-point name="%dirtyFileSearchParticipant" id="dirtyFileSearchParticipant" schema="schema/dirtyFileSearchParticipant.exsd"/>

</plugin>
