<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="org.eclipse.ui.workbench.texteditor"
   name="%pluginName"
   version="2.1.0"
   provider-name="%providerName"
   class="org.eclipse.ui.internal.texteditor.TextEditorPlugin">

   <runtime>
      <library name="texteditor.jar">
		<export name="*"/>
		<packages prefixes="org.eclipse.ui.texteditor,org.eclipse.ui.internal.texteditor"/>
      </library>
   </runtime>

   <requires>
      <import plugin="org.eclipse.text"/>
      <import plugin="org.eclipse.jface"/>
      <import plugin="org.eclipse.jface.text"/>
      <import plugin="org.eclipse.ui.workbench"/>
      <import plugin="org.eclipse.core.resources"/>      
   </requires>

<!-- action definitions -->

<extension point="org.eclipse.ui.actionDefinitions">
	<actionDefinition
		id="org.eclipse.ui.edit.text.gotoLastEditPosition"
		name= "%goToLastEditPosition.label"
		description="%goToLastEditPosition.description"
	/>
</extension>

<extension point="org.eclipse.ui.acceleratorSets">
	<acceleratorSet	scopeId="org.eclipse.ui.globalScope" configurationId="org.eclipse.ui.defaultAcceleratorConfiguration">
		<accelerator key="Ctrl+Q" id="org.eclipse.ui.edit.text.gotoLastEditPosition" />
	</acceleratorSet>
	
	<acceleratorSet	scopeId="org.eclipse.ui.globalScope" configurationId="org.eclipse.ui.emacsAcceleratorConfiguration">
		<accelerator key="Ctrl+Q" id="org.eclipse.ui.edit.text.gotoLastEditPosition" />
	</acceleratorSet>
</extension>

<!-- action sets -->

<extension point="org.eclipse.ui.actionSets">
	<actionSet
		id="org.eclipse.ui.edit.text.actionSet.navigation"
        label="%textEditorNavigationActionSet.label"
		visible="true">

		<action id="gotoLastEditPosition"
			definitionId="org.eclipse.ui.edit.text.gotoLastEditPosition"
			toolbarPath="org.eclipse.ui.workbench.navigate/history.group"	
			menubarPath="navigate/"
			label="%goToLastEditPosition.label"
			tooltip="%goToLastEditPosition.tooltip"
            disabledIcon="icons/full/dtool16/last_edit_pos.gif"
            hoverIcon="icons/full/ctool16/last_edit_pos.gif"
			icon="icons/full/etool16/last_edit_pos.gif"
			class="org.eclipse.ui.internal.texteditor.GotoLastEditPositionAction"/>
     </actionSet>
</extension>

</plugin>
