<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="org.eclipse.ui.workbench.texteditor"
   name="%pluginName"
   version="3.0.0"
   provider-name="%providerName"
   class="org.eclipse.ui.internal.texteditor.TextEditorPlugin">

   <runtime>
      <library name="texteditor.jar">
         <export name="*"/>
         <packages prefixes="org.eclipse.ui.texteditor,org.eclipse.ui.internal.texteditor,org.eclipse.ui.texteditor.quickdiff,org.eclipse.ui.internal.texteditor.quickdiff"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.text"/>
      <import plugin="org.eclipse.jface"/>
      <import plugin="org.eclipse.jface.text"/>
      <import plugin="org.eclipse.ui.workbench"/>
      <import plugin="org.eclipse.core.resources"/>
   </requires>


   <extension-point id="markerAnnotationSpecification" name="%markerAnnotationSpecification.label" schema="schema/markerAnnotationSpecification.exsd"/>
<!-- quick diff reference provider extension point -->
   <extension-point id="quickDiffReferenceProvider" name="%referenceProvider" schema="schema/quickDiffReferenceProvider.exsd"/>


<!-- commands and their bindings -->   
   <extension
         point="org.eclipse.ui.commands">
      <command
			category="org.eclipse.ui.category.navigate"
            name="%goToLastEditPosition.label"
            description="%goToLastEditPosition.description"
            id="org.eclipse.ui.edit.text.gotoLastEditPosition">
      </command>
      <keyBinding
            string="Ctrl+Q"
            scope="org.eclipse.ui.globalScope"
            command="org.eclipse.ui.edit.text.gotoLastEditPosition"
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            name="%smartEnter.label"
            description="%smartEnter.description"
            category="org.eclipse.ui.category.textEditor"
            id="org.eclipse.ui.edit.text.smartEnter">
      </command>
      <keyBinding
            string="Shift+ENTER"
            scope="org.eclipse.ui.textEditorScope"
            command="org.eclipse.ui.edit.text.smartEnter"
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            name="%smartEnterInverse.label"
            description="%smartEnterInverse.description"
            category="org.eclipse.ui.category.textEditor"
            id="org.eclipse.ui.edit.text.smartEnterInverse">
      </command>
      <keyBinding
            string="Ctrl+Shift+ENTER"
            scope="org.eclipse.ui.textEditorScope"
            command="org.eclipse.ui.edit.text.smartEnterInverse"
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            name="%moveLineUp.label"
            description="%moveLineUp.description"
            category="org.eclipse.ui.category.textEditor"
            id="org.eclipse.ui.edit.text.moveLineUp">
      </command>
      <keyBinding
            string="Alt+ARROW_UP"
            scope="org.eclipse.ui.textEditorScope"
            command="org.eclipse.ui.edit.text.moveLineUp"
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            name="%moveLineDown.label"
            description="%moveLineDown.description"
            category="org.eclipse.ui.category.textEditor"
            id="org.eclipse.ui.edit.text.moveLineDown">
      </command>
      <keyBinding
            string="Alt+ARROW_DOWN"
            scope="org.eclipse.ui.textEditorScope"
            command="org.eclipse.ui.edit.text.moveLineDown"
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            name="%copyLineUp.label"
            description="%copyLineUp.description"
            category="org.eclipse.ui.category.textEditor"
            id="org.eclipse.ui.edit.text.copyLineUp">
      </command>
      <keyBinding
            string="Alt+Ctrl+ARROW_UP"
            scope="org.eclipse.ui.textEditorScope"
            command="org.eclipse.ui.edit.text.copyLineUp"
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            name="%copyLineDown.label"
            description="%copyLineDown.description"
            category="org.eclipse.ui.category.textEditor"
            id="org.eclipse.ui.edit.text.copyLineDown">
      </command>
      <keyBinding
            string="Alt+Ctrl+ARROW_DOWN"
            scope="org.eclipse.ui.textEditorScope"
            command="org.eclipse.ui.edit.text.copyLineDown"
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            name="%upperCase.label"
            description="%upperCase.description"
            category="org.eclipse.ui.category.textEditor"
            id="org.eclipse.ui.edit.text.upperCase">
      </command>
      <keyBinding
            string="Ctrl+Shift+X"
            scope="org.eclipse.ui.textEditorScope"
            command="org.eclipse.ui.edit.text.upperCase"
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            name="%lowerCase.label"
            description="%lowerCase.description"
            category="org.eclipse.ui.category.textEditor"
            id="org.eclipse.ui.edit.text.lowerCase">
      </command>
      <keyBinding
            string="Ctrl+Shift+Y"
            scope="org.eclipse.ui.textEditorScope"
            command="org.eclipse.ui.edit.text.lowerCase"
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
	<command
		category="org.eclipse.ui.category.window"
		id="org.eclipse.ui.edit.text.toggleShowSelectedElementOnly"
		name= "%onlyShowSelectedElement.label"
		description="%onlyShowSelectedElement.description">
	</command>
	<keyBinding
		string=""
		scope="org.eclipse.ui.textEditorScope"
		command="org.eclipse.ui.edit.text.toggleShowSelectedElementOnly"
		configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
	</keyBinding>
   </extension>
   
<!-- action sets -->
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="%textEditorPresentationActionSet.label"
            visible="false"
            id="org.eclipse.ui.edit.text.actionSet.presentation">
         <action
               label="%onlyShowSelectedElement.label"
               tooltip="%onlyShowSelectedElement.tooltip"
               toolbarPath="Normal/Presentation"
               id="org.eclipse.ui.edit.text.toggleShowSelectedElementOnly"
               definitionId="org.eclipse.ui.edit.text.toggleShowSelectedElementOnly"
               retarget="true"
               allowLabelUpdate="true"
               style="toggle"
               icon="icons/full/etool16/segment_edit.gif"
               disabledIcon="icons/full/dtool16/segment_edit.gif"
               hoverIcon="icons/full/ctool16/segment_edit.gif"
               helpContextId="only_show_selected_element_action_context"/>
      </actionSet>
      <actionSet
            label="%textEditorNavigationActionSet.label"
            visible="true"
            id="org.eclipse.ui.edit.text.actionSet.navigation">
         <action
               id="org.eclipse.ui.edit.text.gotoLastEditPosition"
               label="%goToLastEditPosition.label"
               tooltip="%goToLastEditPosition.tooltip"
               toolbarPath="org.eclipse.ui.workbench.navigate/history.group"
               menubarPath="navigate/"
               class="org.eclipse.ui.internal.texteditor.GotoLastEditPositionAction"
               definitionId="org.eclipse.ui.edit.text.gotoLastEditPosition"
               icon="icons/full/etool16/last_edit_pos.gif"
               disabledIcon="icons/full/dtool16/last_edit_pos.gif"
               hoverIcon="icons/full/ctool16/last_edit_pos.gif"
               helpContextId="goto_last_edit_position_action_context"/>
      </actionSet>
      <actionSet
            label="%textEditorAnnotationNavigationActionSet.label"
            visible="false"
            id="org.eclipse.ui.edit.text.actionSet.annotationNavigation">
		<action id="org.eclipse.ui.edit.text.gotoPreviousAnnotation"
			label="%goToPreviousAnnotation.label"
			tooltip="%goToPreviousAnnotation.tooltip"
			toolbarPath="org.eclipse.ui.workbench.navigate/history.group"
			retarget="true"
			style="pulldown"
			allowLabelUpdate="true"
            definitionId="org.eclipse.ui.navigate.previous"
			icon="icons/full/etool16/prev_nav.gif"
            disabledIcon="icons/full/dtool16/prev_nav.gif"
            hoverIcon="icons/full/ctool16/prev_nav.gif"
			class="org.eclipse.ui.internal.texteditor.PreviousPulldownActionDelegate"/>
		<action id="org.eclipse.ui.edit.text.gotoNextAnnotation"
			label="%goToNextAnnotation.label"
			tooltip="%goToNextAnnotation.tooltip"
			toolbarPath="org.eclipse.ui.workbench.navigate/history.group"
            retarget="true"
			style="pulldown"
			allowLabelUpdate="true"
            definitionId="org.eclipse.ui.navigate.next"
			icon="icons/full/etool16/next_nav.gif"
            disabledIcon="icons/full/dtool16/next_nav.gif"
            hoverIcon="icons/full/ctool16/next_nav.gif"			
			class="org.eclipse.ui.internal.texteditor.NextPulldownActionDelegate"/>
      </actionSet>
   </extension>
<!-- marker annotation types -->
   <extension
          point="org.eclipse.ui.workbench.texteditor.markerAnnotationSpecification">
      <specification
      		annotationType="org.eclipse.ui.workbench.texteditor.error"
            label="%errors.label"
            markerType="org.eclipse.core.resources.problemmarker"
            markerSeverity="2"
            textPreferenceKey="errorIndication"
            textPreferenceValue="true"
            overviewRulerPreferenceKey="errorIndicationInOverviewRuler"
            overviewRulerPreferenceValue="true"
            colorPreferenceKey="errorIndicationColor"
            colorPreferenceValue="255,0,128"
            presentationLayer="6"
            contributesToHeader="true"
            showInNextPrevDropdownToolbarActionKey="showErrorInNextPrevDropdownToolbarAction"
            showInNextPrevDropdownToolbarAction="true"
            isGoToNextNavigationTargetKey="isErrorGoToNextNavigationTarget"
            isGoToNextNavigationTarget="true"
            isGoToPreviousNavigationTargetKey="isErrorGoToPreviousNavigationTarget"
            isGoToPreviousNavigationTarget="true">
      </specification>
      <specification
      		annotationType="org.eclipse.ui.workbench.texteditor.warning"
            label="%warnings.label"
            markerType="org.eclipse.core.resources.problemmarker"
            markerSeverity="1"
            textPreferenceKey="warningIndication"
            textPreferenceValue="true"
            overviewRulerPreferenceKey="warningIndicationInOverviewRuler"
            overviewRulerPreferenceValue="true"
            colorPreferenceKey="warningIndicationColor"
            colorPreferenceValue="244,200,45"
            presentationLayer="5"
            contributesToHeader="true"
            showInNextPrevDropdownToolbarActionKey="showWarningInNextPrevDropdownToolbarAction"
            showInNextPrevDropdownToolbarAction="true"
            isGoToNextNavigationTargetKey="isWarningGoToNextNavigationTarget"
            isGoToNextNavigationTarget="true"
            isGoToPreviousNavigationTargetKey="isWarningGoToPreviousNavigationTarget"
            isGoToPreviousNavigationTarget="true">
      </specification>
      <specification
      		annotationType="org.eclipse.ui.workbench.texteditor.info"
            label="%infos.label"
            markerType="org.eclipse.core.resources.problemmarker"
            textPreferenceKey="infoIndication"
            textPreferenceValue="false"
            overviewRulerPreferenceKey="infoIndicationInOverviewRuler"
            overviewRulerPreferenceValue="true"
            colorPreferenceKey="infoIndicationColor"
            colorPreferenceValue="244,200,45"
            presentationLayer="4"
            contributesToHeader="false"
            showInNextPrevDropdownToolbarActionKey="showInfoInNextPrevDropdownToolbarAction"
            showInNextPrevDropdownToolbarAction="true"
            isGoToNextNavigationTargetKey="isInfoGoToNextNavigationTarget"
            isGoToNextNavigationTarget="false"
            isGoToPreviousNavigationTargetKey="isInfoGoToPreviousNavigationTarget"
            isGoToPreviousNavigationTarget="false">
      </specification>
      <specification
      		annotationType="org.eclipse.ui.workbench.texteditor.task"
            label="%tasks.label"
            markerType="org.eclipse.core.resources.taskmarker"
            textPreferenceKey="taskIndication"
            textPreferenceValue="false"
            overviewRulerPreferenceKey="taskIndicationInOverviewRuler"
            overviewRulerPreferenceValue="true"
            colorPreferenceKey="taskIndicationColor"
            colorPreferenceValue="0,128,255"
            presentationLayer="2"
            contributesToHeader="false"
            showInNextPrevDropdownToolbarActionKey="showTaskInNextPrevDropdownToolbarAction"
            showInNextPrevDropdownToolbarAction="true"
            isGoToNextNavigationTargetKey="isTaskGoToNextNavigationTarget"
            isGoToNextNavigationTarget="false"
            isGoToPreviousNavigationTargetKey="isTaskGoToPreviousNavigationTarget"
            isGoToPreviousNavigationTarget="false">
      </specification>
      <specification
      		annotationType="org.eclipse.ui.workbench.texteditor.bookmark"
            label="%bookmarks.label"
            markerType="org.eclipse.core.resources.bookmark"
            textPreferenceKey="bookmarkIndication"
            textPreferenceValue="false"
            overviewRulerPreferenceKey="bookmarkIndicationInOverviewRuler"
            overviewRulerPreferenceValue="true"
            colorPreferenceKey="bookmarkIndicationColor"
            colorPreferenceValue="34,164,99"
            presentationLayer="1"
            contributesToHeader="false"
            showInNextPrevDropdownToolbarActionKey="showBookmarkInNextPrevDropdownToolbarAction"
            showInNextPrevDropdownToolbarAction="true"
            isGoToNextNavigationTargetKey="isBookmarkGoToNextNavigationTarget"
            isGoToNextNavigationTarget="false"
            isGoToPreviousNavigationTargetKey="isBookmarkGoToPreviousNavigationTarget"
            isGoToPreviousNavigationTarget="false">
      </specification>
      
      <!-- change information annotations -->
      <specification
      		annotationType="org.eclipse.ui.workbench.texteditor.quickdiffChange"
            label="%changes.label"
            markerType="org.eclipse.quickdiff.changeindication"
            textPreferenceKey="changeIndication"
            textPreferenceValue="false"
            overviewRulerPreferenceKey="changeIndicationInOverviewRuler"
            overviewRulerPreferenceValue="false"
            colorPreferenceKey="changeIndicationColor"
            colorPreferenceValue="255,230,230"
            presentationLayer="2"
            contributesToHeader="false"
            showInNextPrevDropdownToolbarActionKey="showChangeInNextPrevDropdownToolbarAction"
            showInNextPrevDropdownToolbarAction="false"
            isGoToNextNavigationTargetKey="isChangeGoToNextNavigationTarget"
            isGoToNextNavigationTarget="false"
            isGoToPreviousNavigationTargetKey="isChangeGoToPreviousNavigationTarget"
            isGoToPreviousNavigationTarget="false">
      </specification>
      <specification
      		annotationType="org.eclipse.ui.workbench.texteditor.quickdiffAddition"
            label="%additions.label"
            markerType="org.eclipse.quickdiff.additionindication"
            textPreferenceKey="additionIndication"
            textPreferenceValue="false"
            overviewRulerPreferenceKey="additionIndicationInOverviewRuler"
            overviewRulerPreferenceValue="false"
            colorPreferenceKey="additionIndicationColor"
            colorPreferenceValue="230,230,255"
            presentationLayer="2"
            contributesToHeader="false"
            showInNextPrevDropdownToolbarActionKey="showAdditionInNextPrevDropdownToolbarAction"
            showInNextPrevDropdownToolbarAction="false"
            isGoToNextNavigationTargetKey="isAdditionGoToNextNavigationTarget"
            isGoToNextNavigationTarget="false"
            isGoToPreviousNavigationTargetKey="isAdditionGoToPreviousNavigationTarget"
            isGoToPreviousNavigationTarget="false">
      </specification>
      <specification
      		annotationType="org.eclipse.ui.workbench.texteditor.quickdiffDeletion"
            label="%deletions.label"
            markerType="org.eclipse.quickdiff.deletionindication"
            textPreferenceKey="deletionIndication"
            textPreferenceValue="false"
            overviewRulerPreferenceKey="deletionIndicationInOverviewRuler"
            overviewRulerPreferenceValue="false"
            colorPreferenceKey="deletionIndicationColor"
            colorPreferenceValue="0,0,0"
            presentationLayer="2"
            contributesToHeader="false"
            showInNextPrevDropdownToolbarActionKey="showDeletionInNextPrevDropdownToolbarAction"
            showInNextPrevDropdownToolbarAction="false"
            isGoToNextNavigationTargetKey="isDeletionGoToNextNavigationTarget"
            isGoToNextNavigationTarget="false"
            isGoToPreviousNavigationTargetKey="isDeletionGoToPreviousNavigationTarget"
            isGoToPreviousNavigationTarget="false">
      </specification>
   </extension>
   
<!-- add the quick diff context menu -->
   <extension
         point="org.eclipse.ui.popupMenus">
<!-- default -->
      <viewerContribution
            targetID="#RulerContext"
            id="org.eclipse.ui.quickdiff.DefaultEditorContribution">
         <action
               label="%quickdiff.toggle.enable"
               style="push"
               helpContextId="quickdiff.toggle"
               class="org.eclipse.ui.texteditor.quickdiff.QuickDiffToggleAction"
               menubarPath="quickdiff"
               id="quickdiff.toggle">
         </action>
      </viewerContribution>
   </extension>
<!-- add the toggle command so we can provide a shortcut -->
   <extension
         point="org.eclipse.ui.commands">
      <command
            name="%ActionDefinition.quickDiff.name"
            description="%ActionDefinition.quickDiff.description"
            category="org.eclipse.ui.category.edit"
            id="org.eclipse.quickdiff.toggle">
      </command>
      <keyBinding
            string="Ctrl+Shift+Q"
            scope="org.eclipse.ui.textEditorScope"
            command="org.eclipse.quickdiff.toggle"
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
   </extension>
<!-- add the toggle action a second time in order to make it available as shortcut to keybinings -->
   <extension
         point="org.eclipse.ui.editorActions">
<!-- text editor -->
      <editorContribution
            targetID="org.eclipse.ui.DefaultTextEditor"
            id="org.eclipse.quickdiff.editoractions.texteditor">
         <action
               definitionId="org.eclipse.quickdiff.toggle"
               label="%quickdiff.toggle.enable"
               class="org.eclipse.ui.texteditor.quickdiff.QuickDiffToggleAction"
               id="org.eclipse.ui.texteditor.quickdiff.QuickDiffToggleAction">
         </action>
      </editorContribution>
   </extension>

</plugin>
