<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="org.eclipse.ui.workbench.texteditor"
   name="%pluginName"
   version="2.1.0"
   provider-name="%providerName">

   <runtime>
      <library name="texteditor.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="org.eclipse.text"/>
      <import plugin="org.eclipse.jface"/>
      <import plugin="org.eclipse.jface.text"/>
      <import plugin="org.eclipse.ui.workbench"/>
      <import plugin="org.eclipse.core.resources"/>      
   </requires>

</plugin>
