body {
	background-image : url(../graphics/contentpage/whatsnew_wtr.jpg);
}

/* show the "selected" image for this page */
#navigation-links a#whatsnew img, #navigation-links a#whatsnew:hover img { 
	background-image : url(../graphics/icons/ctool/whatsnew48sel.gif); 
}

/*
 * Default images for content links in this page.
 */
.content-link img { background-image : url(../graphics/icons/obj48/new_obj.gif); }
.content-link:hover img { background-image : url(../graphics/icons/obj48/newhov_obj.gif); }