<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="com.example.bundle.plugin"
   name="Plugin Plug-in"
   version="1.0.0"
   provider-name="Eclipse.org"
   class="com.example.bundle.plugin.PluginPlugin">

   <runtime>
      <library name="plugin.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.runtime"/>
   </requires>


</plugin>
