<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.eclipse.e4.ui.css.core.elementProvider" name="%extension-point.elementprovider.name" schema="schema/org.eclipse.e4.ui.css.core.elementProvider.exsd"/>
   <extension-point id="org.eclipse.e4.ui.css.core.propertyHandler" name="%extension-point.properties.name" schema="schema/org.eclipse.e4.ui.css.core.propertyHandler.exsd"/>

   <!-- Following extension points are deprecated and will be removed -->
</plugin>
