
.MTrimmedWindow { 
    background-color: #E8E8E8;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
    margin-right: 2px;
}

.MTrimmedWindow.topLevel { 
    margin-top: 24px;
    margin-bottom: 2px;
    margin-left: 12px;
    margin-right: 12px;
}

.MPartStack {
    tab-renderer: url('bundleclass://org.eclipse.e4.ui.workbench.renderers.swt/org.eclipse.e4.ui.workbench.renderers.swt.CTabRendering');
    unselected-tabs-color: #FFFFFF #FFFFFF #FFFFFF 100% 100%;
    outer-keyline-color: #FFFFFF;
	inner-keyline-color: #FFFFFF;
	font-size: 12;
	simple: false;
}

.MTrimBar {
    background-color: #E8E8E8;
}

.MTrimBar#org-eclipse-ui-main-toolbar {
    background-color:  #CFCFCF #A8A8A8 100%;	
}

.MPartStack.active {
	unselected-tabs-color: #F6F6F6 #D3D3D3 #D1D1D1 #D1D1D1 #D6D6D6 #D6D6D6 #FFFFFF 20% 45% 60% 70% 100% 100%;
    outer-keyline-color: #C4C5C1;
	inner-keyline-color: #FFFFFF;
	tab-outline: #B6BCCC;
}

#PerspectiveSwitcher {
	background-color: #F0F0F0 #E8E8E8 100%;
	perspective-keyline-color: #515151 #515151;
}