.headerSectionContainer {
	background-color: gradient #575757 #101010 100%;
}

.sectionHeader {
	font-weight: bold;
	font-size: 15pt;
	color: white;
}

.subSectionHeader {
	background-color: gradient #575757 #101010 100%;
}


.contentContainer {
	background-color: #fff #fff #cccccc 20% 80%;
}

.formContainer {
	background-color: #fff;
}

/* SingleSourcing Container */
.E4WorkbenchModelEditor {
	background-color: #fff;
}