<?xml version="1.0" encoding="ISO-8859-1"?>


<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN"
    "http://java.sun.com/j2ee/dtds/web-app_2.2.dtd">

<web-app>

    <servlet>
        <servlet-name>control</servlet-name>
        <servlet-class>org.eclipse.help.internal.webapp.servlet.ControlServlet</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>content</servlet-name>
        <servlet-class>org.eclipse.help.internal.webapp.servlet.ContentServlet</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>livehelp</servlet-name>
        <servlet-class>org.eclipse.help.internal.webapp.servlet.LiveHelpServlet</servlet-class>
    </servlet>
  
    <servlet>
        <servlet-name>toc</servlet-name>
        <servlet-class>org.eclipse.help.internal.webapp.servlet.TocServlet</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>search</servlet-name>
        <servlet-class>org.eclipse.help.internal.webapp.servlet.SearchServlet</servlet-class>
    </servlet>
          
<!-- placeholder for JSPs web.xml -->

    <servlet-mapping>
        <servlet-name>control</servlet-name>
        <url-pattern>/control.html</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>content</servlet-name>
        <url-pattern>/content/*</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>livehelp</servlet-name>
        <url-pattern>/livehelp/*</url-pattern>
    </servlet-mapping>
 
    <servlet-mapping>
        <servlet-name>toc</servlet-name>
        <url-pattern>/toc/*</url-pattern>
    </servlet-mapping>
       
    <servlet-mapping>
        <servlet-name>search</servlet-name>
        <url-pattern>/search/*</url-pattern>
    </servlet-mapping>
    
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

</web-app>

