<?xml version="1.0" encoding="ISO-8859-1"?>


<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN"
    "http://java.sun.com/j2ee/dtds/web-app_2.2.dtd">

<web-app>

    <servlet>
        <servlet-name>control</servlet-name>
        <servlet-class>org.eclipse.help.internal.webapp.servlet.ControlServlet</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>content</servlet-name>
        <servlet-class>org.eclipse.help.internal.webapp.servlet.ContentServlet</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>livehelp</servlet-name>
        <servlet-class>org.eclipse.help.internal.webapp.servlet.LiveHelpServlet</servlet-class>
    </servlet>
  
    <servlet>
        <servlet-name>toc</servlet-name>
        <servlet-class>org.eclipse.help.internal.webapp.servlet.TocServlet</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>index</servlet-name>
        <servlet-class>org.eclipse.help.internal.webapp.servlet.IndexServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>search</servlet-name>
        <servlet-class>org.eclipse.help.internal.webapp.servlet.SearchServlet</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>context</servlet-name>
        <servlet-class>org.eclipse.help.internal.webapp.servlet.ContextServlet</servlet-class>
    </servlet>
          
<!-- placeholder for JSPs web.xml -->

    <servlet-mapping>
        <servlet-name>control</servlet-name>
        <url-pattern>/control.html</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>content</servlet-name>
        <url-pattern>/content/*</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>content</servlet-name>
        <url-pattern>/topic/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>content</servlet-name>
        <url-pattern>/nftopic/*</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>content</servlet-name>
        <url-pattern>/ntopic/*</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>livehelp</servlet-name>
        <url-pattern>/livehelp/*</url-pattern>
    </servlet-mapping>
 
    <servlet-mapping>
        <servlet-name>toc</servlet-name>
        <url-pattern>/toc/*</url-pattern>
    </servlet-mapping>
       
    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>/index/*</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>search</servlet-name>
        <url-pattern>/search/*</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>context</servlet-name>
        <url-pattern>/context/*</url-pattern>
    </servlet-mapping>
    
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

<!-- Uncomment to enable secure access to the InfoCenter. Update the role-name as appropriate.
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>helproot</web-resource-name>
			<description></description>
			<url-pattern>/*</url-pattern>
			<http-method>
			GET</http-method>
			<http-method>
			PUT</http-method>
		</web-resource-collection>
		<auth-constraint>
			<description></description>
			<role-name>tomcat</role-name>
		</auth-constraint>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
	</security-constraint>
	<login-config>
		<auth-method>BASIC</auth-method>
	</login-config>
	<security-role>
		<description></description>
		<role-name>tomcat</role-name>
	</security-role>
-->
</web-app>

