<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.eclipse.org/emf/xpathtest"
            class="org.eclipse.e4.emf.xpath.test.model.xpathtest.XpathtestPackage"
            genModel="model/XPathTest.genmodel"/>
   </extension>

</plugin>
