<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
    Copyright (c) 2005, 2009 IBM Corporation and others.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
   
    Contributors:
        IBM Corporation - initial API and implementation
 -->

<plugin>
   <extension
         point="org.eclipse.equinox.http.registry.servlets">
      <servlet
            alias="/linkcheck"
            class="org.eclipse.ua.tests.doc.internal.LinkCheckServlet"
            httpcontextId="org.eclipse.help.webapp.help">
      </servlet>
       <serviceSelector
            filter="(other.info=org.eclipse.help)">
      </serviceSelector>
   </extension>   
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.eclipse.help.pageloader.actionSet"
            label="Link Check Action Set"
            visible="true">
         <action
               class="org.eclipse.ua.tests.doc.internal.actions.LoadTocAction"
               id="org.eclipse.ua.tests.loadToc"
               label="Check TOC links"
               menubarPath="help/group.tutorials"
               style="push">
         </action>
      </actionSet>
   </extension>
   

</plugin>
