<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.eclipse.e4.ui.css.swt.property.handler" name="%extension-point.properties.name" schema="schema/org.eclipse.e4.ui.css.swt.property.handler.exsd"/>
   <extension
         point="org.eclipse.e4.u.css.core.elementProvider">
      <provider
            class="org.eclipse.e4.ui.css.swt.dom.SWTElementProvider">
         <widget
               class="org.eclipse.swt.widgets.Control">
         </widget>
         <widget
               class="org.eclipse.swt.widgets.Composite"></widget>
         <widget
               class="org.eclipse.swt.widgets.Button">
         </widget>
         <widget
               class="org.eclipse.swt.widgets.Shell"></widget>
         <widget
               class="org.eclipse.swt.widgets.Scale"></widget>
         <widget
               class="org.eclipse.swt.widgets.Text"></widget>
         <widget
               class="org.eclipse.swt.custom.CTabFolder">
         </widget>
         <widget
               class="org.eclipse.swt.widgets.TableItem"></widget>
         <widget
               class="org.eclipse.swt.widgets.Item">
         </widget>
         <widget
               class="org.eclipse.swt.custom.CTabItem">
         </widget>
      </provider>
   </extension>
   <extension
         point="org.eclipse.e4.ui.css.swt.property.handler">
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.ControlElement"
            composite="true"
            handler="org.eclipse.e4.ui.css.swt.properties.css2.CSSPropertyBackgroundSWTHandler">
         <property-name
               name="background">
         </property-name>
         <property-name
               name="background-color">
         </property-name>
         <property-name
               name="background-image">
         </property-name>
      </handler>
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.CTabFolderElement"
            composite="false"
            handler="org.eclipse.e4.ui.css.swt.properties.custom.CSSPropertyCornerRadiusSWTHandler">
         <property-name
               name="corner-radius">
         </property-name>
      </handler>
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.CTabFolderElement"
            composite="false"
            handler="org.eclipse.e4.ui.css.swt.properties.custom.CSSPropertyTabRendererSWTHandler">
         <property-name
               name="tab-renderer">
         </property-name>
      </handler>
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.ControlElement"
            composite="true"
            handler="org.eclipse.e4.ui.css.swt.properties.css2.CSSPropertyClassificationSWTHandler">
         <property-name
               name="cursor">
         </property-name>
         <property-name
               name="visibility">
         </property-name>
      </handler>
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.ControlElement"
            composite="true"
            handler="org.eclipse.e4.ui.css.swt.properties.css2.CSSPropertyTextSWTHandler">
         <property-name
               name="color">
         </property-name>
         <property-name
               name="text-transform">
         </property-name>
      </handler>
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.CTabFolderElement"
            composite="false"
            handler="org.eclipse.e4.ui.css.swt.properties.custom.CSSPropertyUnselectedTabsSWTHandler">
         <property-name
               name="unselected-tabs-color">
         </property-name>
      </handler>
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.CTabFolderElement"
            composite="false"
            handler="org.eclipse.e4.ui.css.swt.properties.custom.CSSPropertyOuterKeylineSWTHandler">
         <property-name
               name="outer-keyline-color">
         </property-name>
      </handler>
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.CTabFolderElement"
            composite="false"
            handler="org.eclipse.e4.ui.css.swt.properties.custom.CSSPropertyInnerKeylineSWTHandler">
         <property-name
               name="inner-keyline-color">
         </property-name>
      </handler>
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.ControlElement"
            composite="true"
            handler="org.eclipse.e4.ui.css.swt.properties.css2.CSSPropertyFontSWTHandler">
         <property-name
               name="font">
         </property-name>
         <property-name
               name="font-family">
         </property-name>
         <property-name
               name="font-size">
         </property-name>
         <property-name
               name="font-adjust">
         </property-name>
         <property-name
               name="font-stretch">
         </property-name>
         <property-name
               name="font-style">
         </property-name>
         <property-name
               name="font-variant">
         </property-name>
         <property-name
               name="font-weight">
         </property-name>
      </handler>
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.ControlElement"
            composite="false"
            handler="org.eclipse.e4.ui.css.swt.properties.custom.CSSPropertyAlignmentSWTHandler">
         <property-name
               name="alignment">
         </property-name>
      </handler>
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.ControlElement"
            composite="true"
            handler="org.eclipse.e4.ui.css.swt.properties.css2.CSSPropertyMarginSWTHandler">
         <property-name
               name="margin-top">
         </property-name>
         <property-name
               name="margin-bottom">
         </property-name>
         <property-name
               name="margin-left">
         </property-name>
         <property-name
               name="margin-right">
         </property-name>
         <property-name
               name="margin">
         </property-name>
      </handler>
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.CTabItemElement"
            composite="true"
            handler="org.eclipse.e4.ui.css.swt.properties.css2.CSSPropertyBackgroundSWTHandler">
         <property-name
               name="background">
         </property-name>
         <property-name
               name="background-color">
         </property-name>
         <property-name
               name="background-image">
         </property-name>
      </handler>
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.CTabItemElement"
            composite="true"
            handler="org.eclipse.e4.ui.css.swt.properties.css2.CSSPropertyFontSWTHandler">
         <property-name
               name="font">
         </property-name>
         <property-name
               name="font-family">
         </property-name>
         <property-name
               name="font-size">
         </property-name>
         <property-name
               name="font-adjust">
         </property-name>
         <property-name
               name="font-stretch">
         </property-name>
         <property-name
               name="font-style">
         </property-name>
         <property-name
               name="font-variant">
         </property-name>
         <property-name
               name="font-weight">
         </property-name>
      </handler>
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.CTabItemElement"
            composite="false"
            handler="org.eclipse.e4.ui.css.swt.properties.custom.CSSPropertyShowCloseHandler">
         <property-name
               name="show-close">
         </property-name>
      </handler>
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.CTabFolderElement"
            composite="false"
            handler="org.eclipse.e4.ui.css.swt.properties.custom.CSSPropertySimpleSWTHandler">
         <property-name
               name="simple">
         </property-name>
      </handler>
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.CTabFolderElement"
            composite="false"
            handler="org.eclipse.e4.ui.css.swt.properties.custom.CSSPropertyMaximizeVisibleSWTHandler">
         <property-name
               name="maximize-visible">
         </property-name>
      </handler>
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.CTabFolderElement"
            composite="false"
            handler="org.eclipse.e4.ui.css.swt.properties.custom.CSSPropertyMinimizeVisibleSWTHandler">
         <property-name
               name="minimize-visible">
         </property-name>
      </handler>
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.CTabFolderElement"
            composite="false"
            handler="org.eclipse.e4.ui.css.swt.properties.custom.CSSPropertyMruVisibleSWTHandler">
         <property-name
               name="mru-visible">
         </property-name>
      </handler>
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.CTabFolderElement"
            composite="false"
            handler="org.eclipse.e4.ui.css.swt.properties.custom.CSSPropertyMaximizedSWTHandler">
         <property-name
               name="maximized">
         </property-name>
      </handler>
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.CTabFolderElement"
            composite="false"
            handler="org.eclipse.e4.ui.css.swt.properties.custom.CSSPropertyMinimizedSWTHandler">
         <property-name
               name="minimized">
         </property-name>
      </handler>
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.CTabFolderElement"
            composite="false"
            handler="org.eclipse.e4.ui.css.swt.properties.custom.CSSPropertyTabHeightHandler">
         <property-name
               name="tab-height">
         </property-name>
      </handler>
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.CTabFolderElement"
            composite="false"
            handler="org.eclipse.e4.ui.css.swt.properties.custom.CSSPropertySingleSWTHandler">
         <property-name
               name="single">
         </property-name>
      </handler>
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.CTabFolderElement"
            composite="false"
            handler="org.eclipse.e4.ui.css.swt.properties.custom.CSSPropertyUnselectedCloseVisibleSWTHandler">
         <property-name
               name="unselected-close-visible">
         </property-name>
      </handler>
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.CTabFolderElement"
            composite="false"
            handler="org.eclipse.e4.ui.css.swt.properties.custom.CSSPropertyUnselectedImageVisibleSWTHandler">
         <property-name
               name="unselected-image-visible">
         </property-name>
      </handler>
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.CTabFolderElement"
            composite="false"
            handler="org.eclipse.e4.ui.css.swt.properties.custom.CSSPropertySelectedTabsSWTHandler">
         <property-name
               name="selected-tabs-background">
         </property-name>
      </handler>
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.CTabFolderElement"
            composite="false"
            handler="org.eclipse.e4.ui.css.swt.properties.custom.CSSPropertyShadowVisibleSWTHandler">
         <property-name
               name="shadow-visible">
         </property-name>
      </handler>
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.CTabFolderElement"
            composite="false"
            handler="org.eclipse.e4.ui.css.swt.properties.custom.CSSPropertye4SelectedTabFillHandler">
         <property-name
               name="selected-tab-fill">
         </property-name>
      </handler>
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.CTabFolderElement"
            composite="false"
            handler="org.eclipse.e4.ui.css.swt.properties.custom.CSSPropertye4TabOutline">
         <property-name
               name="tab-outline">
         </property-name>
      </handler>
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.CTabFolderElement"
            composite="false"
            handler="org.eclipse.e4.ui.css.swt.properties.custom.CSSPropertyShadowColorHandler">
         <property-name
               name="shadow-color">
         </property-name>
      </handler>
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.CTabFolderElement"
            composite="true"
            handler="org.eclipse.e4.ui.css.swt.properties.css2.CSSPropertyPaddingSWTHandler">
         <property-name
               name="padding">
         </property-name>
         <property-name
               name="padding-left">
         </property-name>
         <property-name
               name="padding-right">
         </property-name>
         <property-name
               name="padding-top">
         </property-name>
         <property-name
               name="padding-bottom">
         </property-name>
      </handler>
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.CTabFolderElement"
            composite="true"
            handler="org.eclipse.e4.ui.css.swt.properties.css2.CSSPropertyPaddingSWTHandler">
         <property-name
               name="padding">
         </property-name>
         <property-name
               name="padding-left">
         </property-name>
         <property-name
               name="padding-right">
         </property-name>
         <property-name
               name="padding-top">
         </property-name>
         <property-name
               name="org.eclipse.e4.ui.css.swt.property-name5">
         </property-name>
      </handler>
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.CTabFolderElement"
            composite="true"
            handler="org.eclipse.e4.ui.css.swt.properties.css2.CSSPropertyPaddingSWTHandler">
         <property-name
               name="padding">
         </property-name>
         <property-name
               name="padding-left">
         </property-name>
         <property-name
               name="padding-right">
         </property-name>
         <property-name
               name="org.eclipse.e4.ui.css.swt.property-name4">
         </property-name>
         <property-name
               name="org.eclipse.e4.ui.css.swt.property-name5">
         </property-name>
      </handler>
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.CTabFolderElement"
            composite="true"
            handler="org.eclipse.e4.ui.css.swt.properties.css2.CSSPropertyPaddingSWTHandler">
         <property-name
               name="padding">
         </property-name>
      </handler>
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.CTabFolderElement"
            composite="true"
            handler="org.eclipse.e4.ui.css.swt.properties.css2.CSSPropertyPaddingSWTHandler">
         <property-name
               name="org.eclipse.e4.ui.css.swt.property-name1">
         </property-name>
      </handler>
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.CTabFolderElement">
         <property-name
               name="org.eclipse.e4.ui.css.swt.property-name1">
         </property-name>
      </handler>
   </extension>
               

</plugin>
