<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.eclipse.e4.ui.css.swt.elementprovider1"
         point="org.eclipse.e4.ui.css.core.elementProvider">
      <provider
            class="org.eclipse.e4.ui.css.swt.dom.SWTElementProvider">
         <widget
               class="org.eclipse.swt.widgets.Control">
         </widget>
         <widget
               class="org.eclipse.swt.widgets.Composite"></widget>
         <widget
               class="org.eclipse.swt.widgets.Button">
         </widget>
         <widget
               class="org.eclipse.swt.widgets.Shell"></widget>
         <widget
               class="org.eclipse.swt.widgets.Scale"></widget>
         <widget
               class="org.eclipse.swt.widgets.Text"></widget>
         <widget
               class="org.eclipse.swt.widgets.TableItem"></widget>
         <widget
               class="org.eclipse.swt.widgets.Item">
         </widget>
         <widget
               class="org.eclipse.swt.custom.CTabFolder">
         </widget>
         <widget
               class="org.eclipse.swt.custom.CTabItem">
         </widget>
         <widget
               class="org.eclipse.swt.widgets.ToolBar">
         </widget>
         <widget
               class="org.eclipse.swt.widgets.ToolItem">
         </widget>
         
         <!-- these should be obviated by 4.2M6 --> 
      </provider>
      
      <!-- Theme element definitions -->
      <provider
			class="org.eclipse.e4.ui.css.swt.dom.definition.ThemeElementDefinitionProvider">
		 <widget class="org.eclipse.ui.internal.themes.FontDefinition"/>
		 <widget class="org.eclipse.ui.internal.themes.ColorDefinition"/>
		 <widget class="org.eclipse.ui.internal.themes.ThemesExtension"/>
      </provider>

	  <!-- IEclipsePreferences -->
      <provider
			class="org.eclipse.e4.ui.css.swt.dom.preference.EclipsePreferencesProvider">
		 <widget class="org.eclipse.core.runtime.preferences.IEclipsePreferences"/>
      </provider>
   </extension>
   
   
   
   <extension
         id="org.eclipse.e4.ui.css.swt.propertyhandler1"
         point="org.eclipse.e4.ui.css.core.propertyHandler">
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.ControlElement"
            composite="true"
            handler="org.eclipse.e4.ui.css.swt.properties.css2.CSSPropertyBackgroundSWTHandler">
         <property-name
               name="background">
         </property-name>
         <property-name
               name="background-color">
         </property-name>
         <property-name
               name="background-image">
         </property-name>
      </handler>
      
        <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.ToolItemElement"
            composite="false"
            handler="org.eclipse.e4.ui.css.swt.properties.css2.CSSPropertyBackgroundSWTHandler">
         <property-name
               name="background">
         </property-name>
         <property-name
               name="background-color">
         </property-name>
      </handler>
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.CTabFolderElement"
            composite="false"
            handler="org.eclipse.e4.ui.css.swt.properties.custom.CSSPropertyCornerRadiusSWTHandler">
         <property-name
               name="swt-corner-radius">
         </property-name>
      </handler>
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.CTabFolderElement"
            composite="false"
            handler="org.eclipse.e4.ui.css.swt.properties.custom.CSSPropertyTabRendererSWTHandler">
         <property-name
               name="swt-tab-renderer">
         </property-name>
      </handler>
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.ControlElement"
            composite="true"
            handler="org.eclipse.e4.ui.css.swt.properties.css2.CSSPropertyClassificationSWTHandler">
         <property-name
               name="cursor">
         </property-name>
         <property-name
               name="visibility">
         </property-name>
      </handler>
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.ControlElement"
            composite="true"
            handler="org.eclipse.e4.ui.css.swt.properties.css2.CSSPropertyTextSWTHandler">
         <property-name
               name="color">
         </property-name>
         <property-name
               name="text-transform">
         </property-name>
      </handler>
            <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.ToolItemElement"
            composite="true"
            handler="org.eclipse.e4.ui.css.swt.properties.css2.CSSPropertyTextSWTHandler">
         <property-name
               name="color">
         </property-name>
      </handler>
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.CTabFolderElement"
            composite="false"
            handler="org.eclipse.e4.ui.css.swt.properties.custom.CSSPropertyUnselectedTabsSWTHandler">
         <property-name
               name="swt-unselected-tabs-color">
         </property-name>
      </handler>
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.CTabFolderElement"
            composite="false"
            handler="org.eclipse.e4.ui.css.swt.properties.custom.CSSPropertyBorderVisibleSWTHandler">
         <property-name
               name="border-visible">
         </property-name>
      </handler>
       <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.CTabFolderElement"
            composite="false"
            handler="org.eclipse.e4.ui.css.swt.properties.custom.CSSPropertyTabPositionSWTHandler">
         <property-name
               name="swt-tab-position">
         </property-name>
      </handler>
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.CTabFolderElement"
            composite="false"
            handler="org.eclipse.e4.ui.css.swt.properties.custom.CSSPropertyOuterKeylineSWTHandler">
         <property-name
               name="swt-outer-keyline-color">
         </property-name>
      </handler>
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.CTabFolderElement"
            composite="false"
            handler="org.eclipse.e4.ui.css.swt.properties.custom.CSSPropertyInnerKeylineSWTHandler">
         <property-name
               name="swt-inner-keyline-color">
         </property-name>
      </handler>
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.ControlElement"
            composite="true"
            handler="org.eclipse.e4.ui.css.swt.properties.css2.CSSPropertyFontSWTHandler">
         <property-name
               name="font">
         </property-name>
         <property-name
               name="font-family">
         </property-name>
         <property-name
               name="font-size">
         </property-name>
         <property-name
               name="font-adjust">
         </property-name>
         <property-name
               name="font-stretch">
         </property-name>
         <property-name
               name="font-style">
         </property-name>
         <property-name
               name="font-variant">
         </property-name>
         <property-name
               name="font-weight">
         </property-name>
      </handler>
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.ControlElement"
            composite="false"
            handler="org.eclipse.e4.ui.css.swt.properties.custom.CSSPropertyAlignmentSWTHandler">
         <property-name
               name="text-align">
         </property-name>
         <!-- we support some additional SWT alignment values -->
         <property-name
               name="swt-alignment">
         </property-name>
      </handler>
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.ControlElement"
            composite="true"
            handler="org.eclipse.e4.ui.css.swt.properties.css2.CSSPropertyMarginSWTHandler">
         <property-name
               name="margin-top">
         </property-name>
         <property-name
               name="margin-bottom">
         </property-name>
         <property-name
               name="margin-left">
         </property-name>
         <property-name
               name="margin-right">
         </property-name>
         <property-name
               name="margin">
         </property-name>
      </handler>
      
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.CTabItemElement"
            composite="true"
            handler="org.eclipse.e4.ui.css.swt.properties.css2.CSSPropertyTextSWTHandler">
         <property-name
               name="color">
         </property-name>
         <property-name
               name="text-transform">
         </property-name>
      </handler>
      
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.CTabItemElement"
            composite="true"
            handler="org.eclipse.e4.ui.css.swt.properties.css2.CSSPropertyBackgroundSWTHandler">
         <property-name
               name="background">
         </property-name>
         <property-name
               name="background-color">
         </property-name>
         <property-name
               name="background-image">
         </property-name>
      </handler>
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.CTabItemElement"
            composite="true"
            handler="org.eclipse.e4.ui.css.swt.properties.css2.CSSPropertyFontSWTHandler">
         <property-name
               name="font">
         </property-name>
         <property-name
               name="font-family">
         </property-name>
         <property-name
               name="font-size">
         </property-name>
         <property-name
               name="font-adjust">
         </property-name>
         <property-name
               name="font-stretch">
         </property-name>
         <property-name
               name="font-style">
         </property-name>
         <property-name
               name="font-variant">
         </property-name>
         <property-name
               name="font-weight">
         </property-name>
      </handler>
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.CTabItemElement"
            composite="false"
            handler="org.eclipse.e4.ui.css.swt.properties.custom.CSSPropertyShowCloseHandler">
         <property-name
               name="swt-show-close">
         </property-name>
             <property-name
               name="show-close" deprecated="renamed as swt-show-close">
         </property-name>
      </handler>
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.CTabFolderElement"
            composite="false"
            handler="org.eclipse.e4.ui.css.swt.properties.custom.CSSPropertySimpleSWTHandler">
         <property-name
               name="swt-simple">
         </property-name>
      </handler>
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.CTabFolderElement"
            composite="false"
            handler="org.eclipse.e4.ui.css.swt.properties.custom.CSSPropertyMaximizeVisibleSWTHandler">
         <property-name
               name="swt-maximize-visible">
         </property-name>
      </handler>
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.CTabFolderElement"
            composite="false"
            handler="org.eclipse.e4.ui.css.swt.properties.custom.CSSPropertyMinimizeVisibleSWTHandler">
         <property-name
               name="swt-minimize-visible">
         </property-name>
      </handler>
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.CTabFolderElement"
            composite="false"
            handler="org.eclipse.e4.ui.css.swt.properties.custom.CSSPropertyMaximizedSWTHandler">
         <property-name
               name="swt-maximized">
         </property-name>
      </handler>
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.CTabFolderElement"
            composite="false"
            handler="org.eclipse.e4.ui.css.swt.properties.custom.CSSPropertyMinimizedSWTHandler">
         <property-name
               name="swt-minimized">
         </property-name>
      </handler>
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.CTabFolderElement"
            composite="false"
            handler="org.eclipse.e4.ui.css.swt.properties.custom.CSSPropertyTabHeightHandler">
         <property-name
               name="swt-tab-height">
         </property-name>
      </handler>
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.CTabFolderElement"
            composite="false"
            handler="org.eclipse.e4.ui.css.swt.properties.custom.CSSPropertySingleSWTHandler">
         <property-name
               name="swt-single">
         </property-name>
      </handler>
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.CTabFolderElement"
            composite="false"
            handler="org.eclipse.e4.ui.css.swt.properties.custom.CSSPropertyUnselectedCloseVisibleSWTHandler">
         <property-name
               name="swt-unselected-close-visible">
         </property-name>
      </handler>
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.CTabFolderElement"
            composite="false"
            handler="org.eclipse.e4.ui.css.swt.properties.custom.CSSPropertyUnselectedImageVisibleSWTHandler">
         <property-name
               name="swt-unselected-image-visible">
         </property-name>
      </handler>
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.CTabFolderElement"
            composite="false"
            handler="org.eclipse.e4.ui.css.swt.properties.custom.CSSPropertySelectedTabsSWTHandler">
         <property-name
               name="swt-selected-tabs-background">
         </property-name>
      </handler>
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.CTabFolderElement"
            composite="false"
            handler="org.eclipse.e4.ui.css.swt.properties.custom.CSSPropertyCustomTabContentBackgroundSWTHandler">
         <property-name
               name="swt-draw-custom-tab-content-background">
         </property-name>
      </handler>
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.CTabFolderElement"
            composite="false"
            handler="org.eclipse.e4.ui.css.swt.properties.custom.CSSPropertye4SelectedTabFillHandler">
         <property-name
               name="swt-selected-tab-highlight">
         </property-name>
                  <property-name
               name="swt-selected-highlight-top">
         </property-name>
         <property-name
               name="swt-selected-tab-fill">
         </property-name>
      </handler>
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.CTabFolderElement"
            composite="false"
            handler="org.eclipse.e4.ui.css.swt.properties.custom.CSSPropertye4TabOutline">
         <property-name
               name="swt-tab-outline">
         </property-name>
      </handler>
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.CTabFolderElement"
            composite="false"
            handler="org.eclipse.e4.ui.css.swt.properties.custom.CSSPropertyUnselectHotTabsColorBackgroundHandler">
         <property-name
               name="swt-unselected-hot-tab-color-background">
         </property-name>
      </handler>
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.CTabFolderElement"
            composite="true"
            handler="org.eclipse.e4.ui.css.swt.properties.css2.CSSPropertyPaddingSWTHandler">
         <property-name
               name="padding">
         </property-name>
         <property-name
               name="padding-left">
         </property-name>
         <property-name
               name="padding-right">
         </property-name>
         <property-name
               name="padding-top">
         </property-name>
         <property-name
               name="padding-bottom">
         </property-name>
      </handler>
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.CompositeElement"
            handler="org.eclipse.e4.ui.css.swt.properties.custom.CSSBackgroundModePropertyHandler">
         <property-name
               name="swt-background-mode">
         </property-name>
      </handler>
        <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.TreeElement"
            handler="org.eclipse.e4.ui.css.swt.properties.custom.CSSPropertyHeaderHandler">
         <property-name
               name="swt-header-color">
         </property-name>
         <property-name
               name="swt-header-background-color">
         </property-name>
      </handler>
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.TableElement"
            handler="org.eclipse.e4.ui.css.swt.properties.custom.CSSPropertyHeaderHandler">
         <property-name
               name="swt-header-color">
         </property-name>
         <property-name
               name="swt-header-background-color">
         </property-name>
      </handler>
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.LinkElement"
            handler="org.eclipse.e4.ui.css.swt.properties.custom.CSSPropertyLinkSWTHandler">
         <property-name
               name="swt-link-foreground-color">
         </property-name>
      </handler>
      <handler
            adapter="org.eclipse.e4.ui.css.core.dom.ElementAdapter"
            handler="org.eclipse.e4.ui.css.swt.properties.custom.CSSPropertyLinesVisibleSWTHandler">
         <property-name
               name="swt-lines-visible">
         </property-name>
      </handler>


      <!-- Theme element definitions -->
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.definition.ThemeDefinitionElement"
            handler="org.eclipse.e4.ui.css.swt.properties.definition.CSSPropertyThemeElementDefinitionHandler">
       	 <property-name name="category"/>
         <property-name name="label"/>       
         <property-name name="description"/>
      </handler>
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.definition.FontDefinitionElement"
            handler="org.eclipse.e4.ui.css.swt.properties.definition.CSSPropertyFontDefinitionHandler">
       	 <property-name name="font-family"/>
         <property-name name="font-size"/>       
         <property-name name="font-style"/>
         <property-name name="font-weight"/>
      </handler>
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.definition.ColorDefinitionElement"
            handler="org.eclipse.e4.ui.css.swt.properties.definition.CSSPropertyColorDefinitionHandler">
       	 <property-name name="color"/>
      </handler>
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.definition.ThemesExtensionElement"
            handler="org.eclipse.e4.ui.css.swt.properties.definition.CSSPropertyThemesExtensionHandler">
       	 <property-name name="font-definition"/>
       	 <property-name name="color-definition"/>
      </handler>

      <!-- IEclipsePreferences -->
      <handler
          adapter="org.eclipse.e4.ui.css.swt.dom.preference.EclipsePreferencesElement"
          handler="org.eclipse.e4.ui.css.swt.properties.preference.EclipsePreferencesHandler">
          <property-name name="preferences"/>
      </handler>
   </extension>
               

</plugin>
