<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.e4.ui.css.core.elementProvider">
      <provider
            class="org.eclipse.e4.ui.css.swt.dom.SWTElementProvider">
         <widget
               class="org.eclipse.swt.widgets.Control">
         </widget>
         <widget
               class="org.eclipse.swt.widgets.Composite"></widget>
         <widget
               class="org.eclipse.swt.widgets.Button">
         </widget>
         <widget
               class="org.eclipse.swt.widgets.Shell"></widget>
         <widget
               class="org.eclipse.swt.widgets.Scale"></widget>
         <widget
               class="org.eclipse.swt.widgets.Text"></widget>
         <widget
               class="org.eclipse.swt.widgets.TableItem"></widget>
         <widget
               class="org.eclipse.swt.widgets.Item">
         </widget>
         <widget
               class="org.eclipse.swt.custom.CTabFolder">
         </widget>
         <widget
               class="org.eclipse.swt.custom.CTabItem">
         </widget>
         <widget
               class="org.eclipse.swt.widgets.ToolBar">
         </widget>
         
         <!-- these should be obviated by 4.2M6 --> 
      </provider>
      
      <!-- Theme element definitions -->
      <provider
			class="org.eclipse.e4.ui.css.swt.dom.definition.ThemeElementDefinitionProvider">
		 <widget class="org.eclipse.ui.internal.themes.FontDefinition"/>
		 <widget class="org.eclipse.ui.internal.themes.ColorDefinition"/>
		 <widget class="org.eclipse.ui.internal.themes.ThemesExtension"/>
      </provider>

	  <!-- IEclipsePreferences -->
      <provider
			class="org.eclipse.e4.ui.css.swt.dom.preference.EclipsePreferencesProvider">
		 <widget class="org.eclipse.core.runtime.preferences.IEclipsePreferences"/>
      </provider>
   </extension>
   
   
   
   <extension
         point="org.eclipse.e4.ui.css.core.propertyHandler">
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.ControlElement"
            composite="true"
            handler="org.eclipse.e4.ui.css.swt.properties.css2.CSSPropertyBackgroundSWTHandler">
         <property-name
               name="background">
         </property-name>
         <property-name
               name="background-color">
         </property-name>
         <property-name
               name="background-image">
         </property-name>
      </handler>
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.CTabFolderElement"
            composite="false"
            handler="org.eclipse.e4.ui.css.swt.properties.custom.CSSPropertyCornerRadiusSWTHandler">
         <property-name
               name="swt-corner-radius">
         </property-name>
         <property-name
               name="corner-radius" deprecated="renamed as swt-corner-radius">
         </property-name>
      </handler>
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.CTabFolderElement"
            composite="false"
            handler="org.eclipse.e4.ui.css.swt.properties.custom.CSSPropertyTabRendererSWTHandler">
         <property-name
               name="swt-tab-renderer">
         </property-name>
         <property-name
               name="tab-renderer" deprecated="renamed as swt-tab-renderer">
         </property-name>
      </handler>
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.ControlElement"
            composite="true"
            handler="org.eclipse.e4.ui.css.swt.properties.css2.CSSPropertyClassificationSWTHandler">
         <property-name
               name="cursor">
         </property-name>
         <property-name
               name="visibility">
         </property-name>
      </handler>
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.ControlElement"
            composite="true"
            handler="org.eclipse.e4.ui.css.swt.properties.css2.CSSPropertyTextSWTHandler">
         <property-name
               name="color">
         </property-name>
         <property-name
               name="text-transform">
         </property-name>
      </handler>
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.CTabFolderElement"
            composite="false"
            handler="org.eclipse.e4.ui.css.swt.properties.custom.CSSPropertyUnselectedTabsSWTHandler">
         <property-name
               name="swt-unselected-tabs-color">
         </property-name>
         <property-name
               name="unselected-tabs-color" deprecated="renamed as swt-unselected-tabs-color">
         </property-name>
      </handler>
       <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.CTabFolderElement"
            composite="false"
            handler="org.eclipse.e4.ui.css.swt.properties.custom.CSSPropertyTabPositionSWTHandler">
         <property-name
               name="swt-tab-position">
         </property-name>
      </handler>
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.CTabFolderElement"
            composite="false"
            handler="org.eclipse.e4.ui.css.swt.properties.custom.CSSPropertyOuterKeylineSWTHandler">
         <property-name
               name="swt-outer-keyline-color">
         </property-name>
         <property-name
               name="outer-keyline-color" deprecated="renamed as swt-outer-keyline-color">
         </property-name>
      </handler>
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.CTabFolderElement"
            composite="false"
            handler="org.eclipse.e4.ui.css.swt.properties.custom.CSSPropertyInnerKeylineSWTHandler">
         <property-name
               name="swt-inner-keyline-color">
         </property-name>
         <property-name
               name="inner-keyline-color" deprecated="renamed as swt-swt-inner-keyline-color">
         </property-name>
      </handler>
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.ControlElement"
            composite="true"
            handler="org.eclipse.e4.ui.css.swt.properties.css2.CSSPropertyFontSWTHandler">
         <property-name
               name="font">
         </property-name>
         <property-name
               name="font-family">
         </property-name>
         <property-name
               name="font-size">
         </property-name>
         <property-name
               name="font-adjust">
         </property-name>
         <property-name
               name="font-stretch">
         </property-name>
         <property-name
               name="font-style">
         </property-name>
         <property-name
               name="font-variant">
         </property-name>
         <property-name
               name="font-weight">
         </property-name>
      </handler>
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.ControlElement"
            composite="false"
            handler="org.eclipse.e4.ui.css.swt.properties.custom.CSSPropertyAlignmentSWTHandler">
         <property-name
               name="text-align">
         </property-name>
         <!-- we support some additional SWT alignment values -->
         <property-name
               name="swt-alignment">
         </property-name>
         <property-name
               name="alignment" deprecated="renamed as swt-alignment">
         </property-name>
      </handler>
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.ControlElement"
            composite="true"
            handler="org.eclipse.e4.ui.css.swt.properties.css2.CSSPropertyMarginSWTHandler">
         <property-name
               name="margin-top">
         </property-name>
         <property-name
               name="margin-bottom">
         </property-name>
         <property-name
               name="margin-left">
         </property-name>
         <property-name
               name="margin-right">
         </property-name>
         <property-name
               name="margin">
         </property-name>
      </handler>
      
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.CTabItemElement"
            composite="true"
            handler="org.eclipse.e4.ui.css.swt.properties.css2.CSSPropertyTextSWTHandler">
         <property-name
               name="color">
         </property-name>
         <property-name
               name="text-transform">
         </property-name>
      </handler>
      
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.CTabItemElement"
            composite="true"
            handler="org.eclipse.e4.ui.css.swt.properties.css2.CSSPropertyBackgroundSWTHandler">
         <property-name
               name="background">
         </property-name>
         <property-name
               name="background-color">
         </property-name>
         <property-name
               name="background-image">
         </property-name>
      </handler>
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.CTabItemElement"
            composite="true"
            handler="org.eclipse.e4.ui.css.swt.properties.css2.CSSPropertyFontSWTHandler">
         <property-name
               name="font">
         </property-name>
         <property-name
               name="font-family">
         </property-name>
         <property-name
               name="font-size">
         </property-name>
         <property-name
               name="font-adjust">
         </property-name>
         <property-name
               name="font-stretch">
         </property-name>
         <property-name
               name="font-style">
         </property-name>
         <property-name
               name="font-variant">
         </property-name>
         <property-name
               name="font-weight">
         </property-name>
      </handler>
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.CTabItemElement"
            composite="false"
            handler="org.eclipse.e4.ui.css.swt.properties.custom.CSSPropertyShowCloseHandler">
         <property-name
               name="swt-show-close">
         </property-name>
         <property-name
               name="show-close" deprecated="renamed as swt-show-close">
         </property-name>
      </handler>
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.CTabFolderElement"
            composite="false"
            handler="org.eclipse.e4.ui.css.swt.properties.custom.CSSPropertySimpleSWTHandler">
         <property-name
               name="swt-simple">
         </property-name>
         <property-name
               name="simple" deprecated="renamed as swt-simple">
         </property-name>
      </handler>
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.CTabFolderElement"
            composite="false"
            handler="org.eclipse.e4.ui.css.swt.properties.custom.CSSPropertyMaximizeVisibleSWTHandler">
         <property-name
               name="swt-maximize-visible">
         </property-name>
         <property-name
               name="maximize-visible" deprecated="renamed as swt-maximize-visible">
         </property-name>
      </handler>
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.CTabFolderElement"
            composite="false"
            handler="org.eclipse.e4.ui.css.swt.properties.custom.CSSPropertyMinimizeVisibleSWTHandler">
         <property-name
               name="swt-minimize-visible">
         </property-name>
         <property-name
               name="minimize-visible" deprecated="renamed as swt-minimize-visible">
         </property-name>
      </handler>
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.CTabFolderElement"
            composite="false"
            handler="org.eclipse.e4.ui.css.swt.properties.custom.CSSPropertyMruVisibleSWTHandler">
         <property-name
               name="swt-mru-visible">
         </property-name>
         <property-name
               name="mru-visible" deprecated="renamed as swt-mru-visible">
         </property-name>
      </handler>
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.CTabFolderElement"
            composite="false"
            handler="org.eclipse.e4.ui.css.swt.properties.custom.CSSPropertyMaximizedSWTHandler">
         <property-name
               name="swt-maximized">
         </property-name>
         <property-name
               name="maximized" deprecated="renamed as swt-maximized">
         </property-name>
      </handler>
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.CTabFolderElement"
            composite="false"
            handler="org.eclipse.e4.ui.css.swt.properties.custom.CSSPropertyMinimizedSWTHandler">
         <property-name
               name="swt-minimized">
         </property-name>
         <property-name
               name="minimized" deprecated="renamed as swt-minimized">
         </property-name>
      </handler>
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.CTabFolderElement"
            composite="false"
            handler="org.eclipse.e4.ui.css.swt.properties.custom.CSSPropertyTabHeightHandler">
         <property-name
               name="swt-tab-height">
         </property-name>
         <property-name
               name="tab-height" deprecated="renamed as swt-tab-height">
         </property-name>
      </handler>
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.CTabFolderElement"
            composite="false"
            handler="org.eclipse.e4.ui.css.swt.properties.custom.CSSPropertySingleSWTHandler">
         <property-name
               name="swt-single">
         </property-name>
         <property-name
               name="single" deprecated="renamed as swt-single">
         </property-name>
      </handler>
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.CTabFolderElement"
            composite="false"
            handler="org.eclipse.e4.ui.css.swt.properties.custom.CSSPropertyUnselectedCloseVisibleSWTHandler">
         <property-name
               name="swt-unselected-close-visible">
         </property-name>
         <property-name
               name="unselected-close-visible" deprecated="renamed as swt-unselected-close-visible">
         </property-name>
      </handler>
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.CTabFolderElement"
            composite="false"
            handler="org.eclipse.e4.ui.css.swt.properties.custom.CSSPropertyUnselectedImageVisibleSWTHandler">
         <property-name
               name="swt-unselected-image-visible">
         </property-name>
         <property-name
               name="unselected-image-visible" deprecated="renamed as swt-unselected-image-visible">
         </property-name>
      </handler>
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.CTabFolderElement"
            composite="false"
            handler="org.eclipse.e4.ui.css.swt.properties.custom.CSSPropertySelectedTabsSWTHandler">
         <property-name
               name="swt-selected-tabs-background">
         </property-name>
         <property-name
               name="selected-tabs-background" deprecated="renamed as swt-selected-tabs-background">
         </property-name>
      </handler>
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.CTabFolderElement"
            composite="false"
            handler="org.eclipse.e4.ui.css.swt.properties.custom.CSSPropertyShadowVisibleSWTHandler">
         <property-name
               name="swt-shadow-visible">
         </property-name>
         <property-name
               name="shadow-visible" deprecated="renamed as swt-shadow-visible">
         </property-name>
      </handler>
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.CTabFolderElement"
            composite="false"
            handler="org.eclipse.e4.ui.css.swt.properties.custom.CSSPropertye4SelectedTabFillHandler">
         <property-name
               name="swt-selected-tab-fill">
         </property-name>
         <property-name
               name="selected-tab-fill" deprecated="renamed as selected-tab-fill">
         </property-name>
      </handler>
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.CTabFolderElement"
            composite="false"
            handler="org.eclipse.e4.ui.css.swt.properties.custom.CSSPropertye4TabOutline">
         <property-name
               name="swt-tab-outline">
         </property-name>
         <property-name
               name="tab-outline" deprecated="renamed as swt-tab-outline">
         </property-name>
      </handler>
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.CTabFolderElement"
            composite="false"
            handler="org.eclipse.e4.ui.css.swt.properties.custom.CSSPropertyUnselectHotTabsColorBackgroundHandler">
         <property-name
               name="swt-unselected-hot-tab-color-background">
         </property-name>
         <property-name
               name="unselected-hot-tab-color-background" deprecated="renamed as swt-unselected-hot-tab-color-background">
         </property-name>
      </handler>
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.CTabFolderElement"
            composite="false"
            handler="org.eclipse.e4.ui.css.swt.properties.custom.CSSPropertyShadowColorHandler">
         <property-name
               name="swt-shadow-color">
         </property-name>
         <property-name
               name="shadow-color" deprecated="renamed as swt-shadow-color">
         </property-name>
      </handler>
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.CTabFolderElement"
            composite="true"
            handler="org.eclipse.e4.ui.css.swt.properties.css2.CSSPropertyPaddingSWTHandler">
         <property-name
               name="padding">
         </property-name>
         <property-name
               name="padding-left">
         </property-name>
         <property-name
               name="padding-right">
         </property-name>
         <property-name
               name="padding-top">
         </property-name>
         <property-name
               name="padding-bottom">
         </property-name>
      </handler>
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.CompositeElement"
            handler="org.eclipse.e4.ui.css.swt.properties.custom.CSSBackgroundModePropertyHandler">
         <property-name
               name="swt-background-mode">
         </property-name>
      </handler>
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.TreeElement"
            handler="org.eclipse.e4.ui.css.swt.properties.custom.CSSPropertyTreeArrowsSWTHandler">
         <property-name
               name="swt-tree-arrows-color">
         </property-name>
         <property-name
               name="swt-tree-arrows-mode"> <!--triangle/square -->
         </property-name>
      </handler>
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.TreeElement"
            handler="org.eclipse.e4.ui.css.swt.properties.custom.CSSPropertySelectionBackgroundHandler">
         <property-name
               name="swt-selection-foreground-color">
         </property-name>
         <property-name
               name="swt-selection-background-color">
         </property-name>
         <property-name
               name="swt-selection-border-color">
         </property-name>
         <property-name
               name="swt-hot-background-color">
         </property-name>
         <property-name
               name="swt-hot-border-color">
         </property-name>
      </handler>
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.TableElement"
            handler="org.eclipse.e4.ui.css.swt.properties.custom.CSSPropertySelectionBackgroundHandler">
         <property-name
               name="swt-selection-foreground-color">
         </property-name>
         <property-name
               name="swt-selection-background-color">
         </property-name>
         <property-name
               name="swt-selection-border-color">
         </property-name>
         <property-name
               name="swt-hot-background-color">
         </property-name>
         <property-name
               name="swt-hot-border-color">
         </property-name>
      </handler>
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.StyledTextElement"
            handler="org.eclipse.e4.ui.css.swt.properties.custom.CSSPropertyStyledTextScrollbarSWTHandler">
         <property-name
               name="swt-scrollbar-themed">
         </property-name>
         <property-name
               name="swt-scrollbar-background-color">
         </property-name>
         <property-name
               name="swt-scrollbar-foreground-color">
         </property-name>
         <property-name
               name="swt-scrollbar-width">
         </property-name>
         <property-name
               name="swt-scrollbar-mouse-near-scroll-width">
         </property-name>
         <property-name
               name="swt-scrollbar-horizontal-visible">
         </property-name>
         <property-name
               name="swt-scrollbar-vertical-visible">
         </property-name>
         <property-name
               name="swt-scrollbar-border-radius">
         </property-name>
      </handler>
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.LinkElement"
            handler="org.eclipse.e4.ui.css.swt.properties.custom.CSSPropertyLinkSWTHandler">
         <property-name
               name="swt-link-foreground-color">
         </property-name>
      </handler>


      <!-- Theme element definitions -->
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.definition.ThemeDefinitionElement"
            handler="org.eclipse.e4.ui.css.swt.properties.definition.CSSPropertyThemeElementDefinitionHandler">
       	 <property-name name="category"/>
         <property-name name="label"/>       
         <property-name name="description"/>
      </handler>
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.definition.FontDefinitionElement"
            handler="org.eclipse.e4.ui.css.swt.properties.definition.CSSPropertyFontDefinitionHandler">
       	 <property-name name="font-family"/>
         <property-name name="font-size"/>       
         <property-name name="font-style"/>
      </handler>
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.definition.ColorDefinitionElement"
            handler="org.eclipse.e4.ui.css.swt.properties.definition.CSSPropertyColorDefinitionHandler">
       	 <property-name name="color"/>
      </handler>
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.definition.ThemesExtensionElement"
            handler="org.eclipse.e4.ui.css.swt.properties.definition.CSSPropertyThemesExtensionHandler">
       	 <property-name name="font-definition"/>
       	 <property-name name="color-definition"/>
      </handler>

      <!-- IEclipsePreferences -->
      <handler
          adapter="org.eclipse.e4.ui.css.swt.dom.preference.EclipsePreferencesElement"
          handler="org.eclipse.e4.ui.css.swt.properties.preference.EclipsePreferencesHandler">
          <property-name name="preferences"/>
      </handler>
   </extension>
               

</plugin>
