<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.eclipse.examples.widgetsample.rcp.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="org.eclipse.examples.widgetsample.rcp.Perspective"
            id="WidgetSampleRCP.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            class="org.eclipse.examples.widgetsample.rcp.View"
            icon="icons/insert-chart-pie-2.ico"
            id="WidgetSampleRCP.View"
            name="Chart with trends">
      </view>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="WidgetSampleRCP_lastStage.application"
            name="Sample of Chart">
         <property
               name="cssTheme"
               value="org.eclipse.examples.widgetsample.defaultTheme">
         </property>
      </product>
   </extension>
  <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               id="WidgetSampleRCP.View"
               minimized="false"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               standalone="true"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
  
  <extension
        point="org.eclipse.e4.ui.css.swt.theme">
     <theme
           basestylesheeturi="css/default.css"
           id="org.eclipse.examples.widgetsample.defaultTheme"
           label="Default theme">
     </theme>
  </extension>
  <extension
        point="org.eclipse.e4.ui.css.core.elementProvider">
     <provider
           class="org.eclipse.examples.widgetsample.rcp.css.ChartElementProvider">
        <widget
              class="org.eclipse.ui.examples.chart.Chart">
        </widget>
     </provider>
  </extension>
  <extension
        point="org.eclipse.e4.ui.css.core.propertyHandler">
     <handler
           adapter="org.eclipse.examples.widgetsample.rcp.css.ChartElement"
           composite="false"
           handler="org.eclipse.examples.widgetsample.rcp.css.ChartPropertiesHandler">
        <property-name
              name="color">
        </property-name>
        <property-name
              name="chart-gradient">
        </property-name>
     </handler>
  </extension>

</plugin>
