<?xml version="1.0" encoding="UTF-8"?>
<plugin
  name="Code Plugin Test E"
  id="codePluginE"
  version="1.0"
  vendor-name="OTI"
  class="org.eclipse.core.tests.internal.runtimetests.SampleE">

 <runtime>
    <library name="codePluginE.jar">
      <export name="org.eclipse.core.tests.internal.runtimetests.*"/>
    </library>
  </runtime>

</plugin>
