<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

    
<!--
   <extension
         id="ssh"
         point="org.eclipse.team.cvs.core.connectionmethods">
      <adapter>
         <run
               class="org.eclipse.team.internal.ccvs.ssh.SSHMethod">
            <parameter
                  name="trace"
                  value="false">
            </parameter>
         </run>
      </adapter>
   </extension>
-->

</plugin>
