<?xml version="1.0" encoding="UTF-8"?>
<plugin
	name="%pluginName"
	id="org.eclipse.team.cvs.ssh"
	version="1.9.0"
	class="org.eclipse.team.internal.ccvs.ssh.SSHPlugin"
	provider-name="Object Technology International, Inc."
>

  <requires>
    <import plugin="org.eclipse.core.resources"/>
    <import plugin="org.eclipse.team.cvs.core"/>
    <import plugin="org.eclipse.team.core"/>
  </requires>

  <runtime>
    <library name="teamcvsssh.jar">
      <export name="*"/>
    </library>
  </runtime>

  <extension id="ssh" point="org.eclipse.team.cvs.core.connectionmethods">
    <adapter>
      <run class="org.eclipse.team.internal.ccvs.ssh.SSHMethod">
        <parameter name="trace" value="false" /> 
      </run>
    </adapter>
  </extension>

</plugin>
