<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.ui.preferencePages">
    <page
      id = "org.eclipse.net.ui.NetPreferences"
      class = "org.eclipse.ui.internal.net.ProxyPreferencePage"
      category = "org.eclipse.ui.preferencePages.Workbench"
      name = "%PLUGIN_INTERNET_PREFERENCE_TITLE"/> 
  </extension>
  <extension
        point="org.eclipse.core.net.authenticator">
     <authenticator
           class="org.eclipse.ui.internal.net.auth.NetAuthenticator">
     </authenticator>
  </extension>

</plugin>
