<?xml version="1.0" encoding="UTF-8"?>

<!-- ======================================================================= -->
<!-- The Readme tool is a sample plugin which demonstrates many available    -->
<!-- extension points provided by the workbench, as well as providing its    -->
<!-- own extension point for other plugins to use.                           -->
<!-- ======================================================================= -->
<plugin
   name = "%Plugin.name"
   id = "org.eclipse.ui.examples.readmetool"
   version = "2.0.0"
   provider-name = "%Plugin.providerName"
   class="org.eclipse.ui.examples.readmetool.ReadmePlugin">

   <requires>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.resources"/>
   </requires>

   <runtime>
     <library name="readmetool.jar"/> 
   </runtime>

   <!-- ================================================================== -->
   <!-- Extension point: org.eclipse.ui.examples.readmetool.sectionParser  -->
   <!-- Purpose: Provide a custom parser for Readme files which determines -->
   <!--          the file's section and subsection structure               -->
   <!-- Extension Implementation: must implement                           -->
   <!--         org.eclipse.ui.examples.readmetool.IReadmeFileParser       -->
   <!-- ================================================================== -->
   <extension-point name="%ExtPoint.sectionParser" id="sectionParser"/>

   <extension
        point="org.eclipse.ui.examples.readmetool.sectionParser">
      <parser
          name="%SectionParser.name"
          id="org.eclipse.ui.examples.readmetool.DefaultSectionsParser"
          class="org.eclipse.ui.examples.readmetool.DefaultSectionsParser">
      </parser>
   </extension>

   <extension point = "org.eclipse.ui.actionSets">
	   <actionSet id="org_eclipse_ui_examples_readmetool_actionSet"
		   label="%ActionSet.name"
		   visible="true">
		   <menu id="org_eclipse_ui_examples_readmetool"
			   label="%ActionSet.menu"
			   path="window/additions"> 
			   <separator name="slot1"/>
			   <separator name="slot2"/>
			   <separator name="slot3"/>
		   </menu>
		   <action id="org_eclipse_ui_examples_readmetool_readmeAction"
			   menubarPath="window/org_eclipse_ui_examples_readmetool/slot1"
			   toolbarPath="readme"
			   label="%ReadmeAction.label"
			   tooltip="%ReadmeAction.tooltip"
			   helpContextId="org.eclipse.ui.examples.readmetool.open_browser_action_context"
			   icon="icons/basic/ctool16/openbrwsr.gif"
			   class="org.eclipse.ui.examples.readmetool.WindowActionDelegate"
			   enablesFor="1">
			   <selection class="org.eclipse.core.resources.IFile"
					name="*.readme">
			   </selection>
		   </action>
		   <action id="org_eclipse_ui_examples_readmetool_readmeRetargetAction"
			   menubarPath="window/org_eclipse_ui_examples_readmetool/slot1"
			   toolbarPath="readme"
			   label="%ReadmeRetargetAction.label"
			   tooltip="%ReadmeRetargetAction.tooltip"
			   helpContextId="org.eclipse.ui.examples.readmetool.open_browser_action_context"
			   icon="icons/basic/ctool16/openbrwsr.gif"
			   retarget="true">
		   </action>
		   <action id="org_eclipse_ui_examples_readmetool_readmeRelabelRetargetAction"
			   menubarPath="window/org_eclipse_ui_examples_readmetool/slot1"
			   toolbarPath="readme"
			   label="%ReadmeRelabelRetargetAction.label"
			   tooltip="%ReadmeRelabelRetargetAction.tooltip"
			   helpContextId="org.eclipse.ui.examples.readmetool.open_browser_action_context"
			   icon="icons/basic/ctool16/openbrwsr.gif"
			   retarget="true"	
			   allowLabelUpdate="true">
		   </action>
	   </actionSet>
   </extension>

   <extension
      point = "org.eclipse.ui.newWizards">
	<category
	   id = "org.eclipse.ui.examples.readmetool.new"
	   parentCategory="org.eclipse.ui.Examples"
	   name="%NewWizard.category">
	</category>
 	<wizard
	   id = "org.eclipse.ui.examples.readmetool.wizards.new.file"
      	   name = "%NewWizard.name"
	   class="org.eclipse.ui.examples.readmetool.ReadmeCreationWizard"
	   category="org.eclipse.ui.Examples/org.eclipse.ui.examples.readmetool.new"
	   icon="icons/basic/obj16/newreadme_wiz.gif">
    	   <description>%NewWizard.desc</description>
	   <selection class="org.eclipse.core.resources.IResource"/>
	</wizard>
   </extension>

   <extension
      point = "org.eclipse.ui.editors">
	<editor
  	   id = "org.eclipse.ui.examples.readmetool.ReadmeEditor"
  	   name="%Editors.ReadmeEditor"
      	   icon="icons/basic/obj16/editor.gif"
      	   class="org.eclipse.ui.examples.readmetool.ReadmeEditor"
	   extensions="readme"
           contributorClass="org.eclipse.ui.examples.readmetool.ReadmeEditorActionBarContributor">
	</editor>
   </extension>


   <extension 
      point="org.eclipse.ui.views">
	<category 
	   id="org.eclipse.ui.examples.readmetool"
	   name="%Views.category">
	</category>
	<view
 	   id="org.eclipse.ui.examples.readmetool.views.SectionsView"
	   name="%Views.ReadmeSections"
	   icon="icons/basic/view16/sections.gif"
	   category="org.eclipse.ui.examples.readmetool"
	   class="org.eclipse.ui.examples.readmetool.ReadmeSectionsView">
	</view>
   </extension>
  
   <extension
      point = "org.eclipse.ui.preferencePages">
       <page id="org.eclipse.ui.examples.readmetool.Page1"
	      class="org.eclipse.ui.examples.readmetool.ReadmePreferencePage"
            name="%PreferencePage.name">
       </page>
   </extension>

  <extension
     point = "org.eclipse.ui.propertyPages">
        <page
           id="org.eclipse.ui.examples.readmetool.FilePage"
           name="%PropertiesPage.filePage"
	   objectClass="org.eclipse.core.resources.IFile"
	   class="org.eclipse.ui.examples.readmetool.ReadmeFilePropertyPage"
           nameFilter="*.readme">
        </page>
         <page
            id="org.eclipse.ui.examples.readmetool.FilePage2"
            name="%PropertiesPage.filePage2"
 	   objectClass="org.eclipse.core.resources.IFile"
 	   class="org.eclipse.ui.examples.readmetool.ReadmeFilePropertyPage2"
            nameFilter="*.readme">
         </page>
  </extension>

  <extension point = "org.eclipse.ui.popupMenus">
     <objectContribution
        id="org.eclipse.ui.examples.readmetool"
        objectClass="org.eclipse.core.resources.IFile"
	    nameFilter="*.readme">
	    <action id="org.eclipse.ui.examples.readmetool.action1"
	       label="%PopupMenus.action"
	       icon="icons/basic/ctool16/openbrwsr.gif"
	       menubarPath="additions"
	       helpContextId="org.eclipse.ui.examples.readmetool.open_browser_action_context"
	       class="org.eclipse.ui.examples.readmetool.PopupMenuActionDelegate"	
	       enablesFor="1">
	    </action>
	 </objectContribution>
     <viewerContribution
        id="org.eclipse.ui.examples.readmetool2"
        targetID="org.eclipse.ui.examples.readmetool.outline">
	    <action id="org.eclipse.ui.examples.readmetool.action1"
	       label="%PopupMenus.action"
	       icon="icons/basic/ctool16/openbrwsr.gif"
	       menubarPath="additions"
	       helpContextId="org.eclipse.ui.examples.readmetool.open_browser_action_context"
	       class="org.eclipse.ui.examples.readmetool.ViewActionDelegate">	
	    </action>
	 </viewerContribution>
  </extension>

<extension
    point = "org.eclipse.ui.viewActions">
      <viewContribution 
         id="org.eclipse.ui.examples.readmetool.vc1" 
         targetID="org.eclipse.ui.views.ResourceNavigator">        
			<action id="org.eclipse.ui.examples.readmetool.va1" 
              label="%PopupMenu.ResourceNav.label" 
			  menubarPath="additions"
              toolbarPath="additions" 
              icon="icons/basic/obj16/editor.gif" 
              tooltip="%PopupMenu.ResourceNav.tooltip" 
   	      helpContextId="org.eclipse.ui.examples.readmetool.view_action_context"
              class="org.eclipse.ui.examples.readmetool.ViewActionDelegate" 
              enablesFor="1"> 
			  <selection class="org.eclipse.core.resources.IFile" name="*.readme"/> 
			</action>
		</viewContribution>
 </extension>

<extension
    point = "org.eclipse.ui.editorActions">
      <editorContribution 
         id="org.eclipse.ui.examples.readmetool.ec1" 
         targetID="org.eclipse.ui.examples.readmetool.ReadmeEditor">        
			<action id="org.eclipse.ui.examples.readmetool.ea1" 
              label="%Editors.Action.label" 
	      toolbarPath="ReadmeEditor" 
              icon="icons/basic/obj16/editor.gif" 
              tooltip="%Editors.Action.tooltip" 
              class="org.eclipse.ui.examples.readmetool.EditorActionDelegate" 
              /> 
		</editorContribution>
 </extension>

  <extension point="org.eclipse.help.contexts"> 
    <contexts name="HelpContexts.xml"/> 
  </extension>

  <extension
        point="org.eclipse.ui.dropActions">
        <action
	      id="org_eclipse_ui_examples_readmetool_drop_actions"                
		class="org.eclipse.ui.examples.readmetool.ReadmeDropActionDelegate">
        </action>
  </extension>
  
  <extension id="readmemarker" point="org.eclipse.core.resources.markers" name="%ReadmeMarker.name">
	<super type="org.eclipse.core.resources.taskmarker"/>
	<super type="org.eclipse.core.resources.textmarker"/>
	<persistent value="true"/>
	<attribute name="org.eclipse.ui.examples.readmetool.id"/>
	<attribute name="org.eclipse.ui.examples.readmetool.level"/>
	<attribute name="org.eclipse.ui.examples.readmetool.department"/>
	<attribute name="org.eclipse.ui.examples.readmetool.code"/>
	<attribute name="org.eclipse.ui.examples.readmetool.language"/>
  </extension>   

  <extension point="org.eclipse.ui.markerHelp"> 
   <markerHelp 
      markerType="org.eclipse.ui.examples.readmetool.readmemarker" 
      helpContextId="org.eclipse.ui.examples.readmetool.marker_example1_context"> 
      <attribute name="org.eclipse.ui.examples.readmetool.id" value= "1234"/> 
   </markerHelp> 
   <markerHelp 
      markerType="org.eclipse.ui.examples.readmetool.readmemarker" 
      helpContextId="org.eclipse.ui.examples.readmetool.marker_example2_context"> 
      <attribute name="org.eclipse.ui.examples.readmetool.level" value= "7"/> 
   </markerHelp> 
   <markerHelp 
      markerType="org.eclipse.ui.examples.readmetool.readmemarker" 
      helpContextId="org.eclipse.ui.examples.readmetool.marker_example3_context"> 
      <attribute name="org.eclipse.ui.examples.readmetool.level" value= "7"/> 
      <attribute name="org.eclipse.ui.examples.readmetool.department" value= "infra"/> 
   </markerHelp> 
   <markerHelp 
      markerType="org.eclipse.ui.examples.readmetool.readmemarker" 
      helpContextId="org.eclipse.ui.examples.readmetool.marker_example4_context"> 
      <attribute name="org.eclipse.ui.examples.readmetool.code" value= "red"/> 
   </markerHelp> 
   <markerHelp 
      markerType="org.eclipse.ui.examples.readmetool.readmemarker" 
      helpContextId="org.eclipse.ui.examples.readmetool.marker_example5_context"> 
      <attribute name="org.eclipse.ui.examples.readmetool.language" value= "english"/> 
   </markerHelp> 
   <markerHelp 
      markerType="org.eclipse.ui.examples.readmetool.readmemarker" 
      helpContextId="org.eclipse.ui.examples.readmetool.marker_example6_context"> 
      <attribute name="org.eclipse.ui.examples.readmetool.id" value= "1234"/> 
      <attribute name="org.eclipse.ui.examples.readmetool.level" value= "7"/> 
      <attribute name="org.eclipse.ui.examples.readmetool.department" value= "infra"/> 
      <attribute name="org.eclipse.ui.examples.readmetool.code" value= "red"/> 
      <attribute name="org.eclipse.ui.examples.readmetool.language" value= "english"/> 
   </markerHelp> 
   <markerHelp 
      markerType="org.eclipse.ui.examples.readmetool.readmemarker" 
      helpContextId="org.eclipse.ui.examples.readmetool.marker_example7_context"> 
   </markerHelp> 
  </extension> 

  <extension point="org.eclipse.ui.markerResolution"> 
   <markerResolutionGenerator 
      class="org.eclipse.ui.examples.readmetool.ReadmeMarkerResolutionGenerator" 
      markerType="org.eclipse.ui.examples.readmetool.readmemarker"> 
      <attribute name="org.eclipse.ui.examples.readmetool.id" value= "1234"/> 
   </markerResolutionGenerator> 
   <markerResolutionGenerator 
      class="org.eclipse.ui.examples.readmetool.ReadmeMarkerResolutionGenerator" 
      markerType="org.eclipse.ui.examples.readmetool.readmemarker"> 
      <attribute name="org.eclipse.ui.examples.readmetool.level" value= "7"/> 
   </markerResolutionGenerator> 
   <markerResolutionGenerator
      class="org.eclipse.ui.examples.readmetool.ReadmeMarkerResolutionGenerator" 
      markerType="org.eclipse.ui.examples.readmetool.readmemarker"> 
      <attribute name="org.eclipse.ui.examples.readmetool.code" value= "red"/> 
      <attribute name="org.eclipse.ui.examples.readmetool.language" value= "english"/> 
   </markerResolutionGenerator> 
</extension> 
   
 
  
</plugin>