<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   
     <extension
         point="org.eclipse.ui.views">
      <view
            name="%Views.PropertySheet"
            icon="$nl$/icons/full/eview16/prop_ps.gif"
            category="org.eclipse.ui"
            class="org.eclipse.ui.views.properties.PropertySheet"
            id="org.eclipse.ui.views.PropertySheet">
      </view>
      <view
            name="%Views.ContentOutline"
            icon="$nl$/icons/full/eview16/outline_co.gif"
            category="org.eclipse.ui"
            class="org.eclipse.ui.views.contentoutline.ContentOutline"
            id="org.eclipse.ui.views.ContentOutline">
      </view>
   </extension>
   
</plugin>
