<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="org.eclipse.ui.views"
   name="%pluginName"
   version="2.1.0"
   provider-name="%providerName"
   class="org.eclipse.ui.internal.ViewsPlugin">

   <runtime>
      <library name="views.jar">
         <export name="*"/>
         <packages prefixes="org.eclipse.ui"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.help"/>
      <import plugin="org.eclipse.ui.ide"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.runtime"/>
   </requires>


</plugin>
