<?xml version="1.0" encoding="UTF-8"?>
<plugin
  name="IBM Tooling Platform Core Tests"
  id="tests.c"
  version="2.1.0"
  vendor-name="IBM">

  <extension-point id="xpt1" name="First extension point"/>

  <extension point="xpt1" id="ext1" name="First extension">
     <config id="1"/>
  </extension>

</plugin>
