<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.eclipse.sdk"
   name="%pluginName"
   version="3.0.0"
   provider-name="%providerName">

   <requires>
      <import plugin="org.eclipse.ui"/>
   </requires>


   <extension
         point="org.eclipse.ui.activities">
      <activity
            name="%activity.java"
            description="%activity.java.desc"
            id="org.eclipse.javaDevelopment">
      </activity>
      <activity
            name="%activity.plugin"
            description="%activity.plugin.desc"
            id="org.eclipse.plugInDevelopment">
      </activity>
      <activityPatternBinding
            activityId="org.eclipse.javaDevelopment"
            pattern="org.eclipse.jdt.debug/debugModel">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.javaDevelopment"
            pattern="org\.eclipse\.jdt\..*/.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.javaDevelopment"
            pattern="org\.eclipse\.jdt\.core/javanature">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.plugInDevelopment"
            pattern="org\.eclipse\.pde\..*/.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.plugInDevelopment"
            pattern="org\.eclipse\.pde/PluginNature">
      </activityPatternBinding>
      <category
            name="%activity.cat.java"
            description="%activity.cat.java.desc"
            id="org.eclipse.categories.javaCategory">
      </category>
      <category
            name="%activity.cat.plugin"
            description="%activity.cat.plugin.desc"
            id="org.eclipse.categories.pdeCategory">
      </category>
      <categoryActivityBinding
            activityId="org.eclipse.javaDevelopment"
            categoryId="org.eclipse.categories.javaCategory">
      </categoryActivityBinding>
      <categoryActivityBinding
            activityId="org.eclipse.plugInDevelopment"
            categoryId="org.eclipse.categories.pdeCategory">
      </categoryActivityBinding>
      <activityActivityBinding
            childActivityId="org.eclipse.javaDevelopment"
            parentActivityId="org.eclipse.plugInDevelopment">
      </activityActivityBinding>
      <defaultEnablement
            id="org.eclipse.javaDevelopment">
      </defaultEnablement>
      <defaultEnablement
            id="org.eclipse.plugInDevelopment">
      </defaultEnablement>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <primaryWizard
            id="org.eclipse.jdt.ui.wizards.JavaProjectWizard">
      </primaryWizard>
      <primaryWizard
            id="org.eclipse.pde.ui.NewProjectWizard">
      </primaryWizard>
      <primaryWizard
            id="org.eclipse.jdt.ui.wizards.NewClassCreationWizard">
      </primaryWizard>
      <primaryWizard
            id="org.eclipse.jdt.ui.wizards.NewInterfaceCreationWizard">
      </primaryWizard>
      <primaryWizard
            id="org.eclipse.pde.ui.NewSchemaFileWizard">
      </primaryWizard>
   </extension>

</plugin>
