<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension
         point="org.eclipse.core.runtime.applications"
         id="app"
         name="%appName">
      <application>
         <run
            class="org.eclipse.ui.examples.rcp.browser.BrowserApp">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            id="org.eclipse.ui.examples.rcp.browser.browserPerspective"
            name="%perspectives.browser.name"
            class="org.eclipse.ui.examples.rcp.browser.BrowserPerspectiveFactory"
			fixed="false"/>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.eclipse.ui.examples.rcp.browser"
            name="%views.category.name"/>
      <view
            id="org.eclipse.ui.examples.rcp.browser.browserView"
            name="%views.browser.name"
            icon="icons/eclipse.gif"
            class="org.eclipse.ui.examples.rcp.browser.BrowserView"
            category="org.eclipse.ui.examples.rcp.browser"
            allowMultiple="true"/>
      <view
            id="org.eclipse.ui.examples.rcp.browser.historyView"
            name="%views.history.name"
            icon="icons/eclipse.gif"
            class="org.eclipse.ui.examples.rcp.browser.HistoryView"
            category="org.eclipse.ui.examples.rcp.browser"/>
   </extension>
   <extension
         point="org.eclipse.core.runtime.products"
         id="product">
      <product
            name="%productName"
            application="org.eclipse.ui.examples.rcp.browser.app">
         <property
               name="appName"
               value="%swtAppName"/>
         <property
               name="windowImages"
               value="icons/eclipse.gif,icons/eclipse32.gif"/>
         <property
               name="aboutText"
               value="%aboutText"/>
         <property
               name="aboutImage"
               value="icons/eclipse_lg.gif"/>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini"/>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Browser"
            id="org.eclipse.ui.examples.rcp.browser.commands.browserCategory"/>
      <command
            categoryId="org.eclipse.ui.examples.rcp.browser.commands.browserCategory"
            name="Back"
            id="org.eclipse.ui.examples.rcp.browser.commands.back"/>
      <command
            categoryId="org.eclipse.ui.examples.rcp.browser.commands.browserCategory"
            name="Forward"
            id="org.eclipse.ui.examples.rcp.browser.commands.forward"/>
      <command
            categoryId="org.eclipse.ui.examples.rcp.browser.commands.browserCategory"
            name="Stop"
            id="org.eclipse.ui.examples.rcp.browser.commands.stop"/>
      <command
            categoryId="org.eclipse.ui.examples.rcp.browser.commands.browserCategory"
            name="Refresh"
            id="org.eclipse.ui.examples.rcp.browser.commands.refresh"/>
      <command
            categoryId="org.eclipse.ui.examples.rcp.browser.commands.browserCategory"
            name="New Tab"
            id="org.eclipse.ui.examples.rcp.browser.commands.newTab"/>
      <command
            categoryId="org.eclipse.ui.examples.rcp.browser.commands.browserCategory"
            name="History"
            id="org.eclipse.ui.examples.rcp.browser.commands.history"/>
      <command
            categoryId="org.eclipse.ui.examples.rcp.browser.commands.browserCategory"
            name="Easter Egg"
            id="org.eclipse.ui.examples.rcp.browser.commands.easterEgg"/>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <scheme
            name="Browser Keys"
            id="org.eclipse.ui.examples.rcp.browser.keyConfiguration"/>
      <key
            commandId="org.eclipse.ui.examples.rcp.browser.commands.back"
            sequence="M3+ARROW_LEFT"
            schemeId="org.eclipse.ui.examples.rcp.browser.keyConfiguration"/>
      <key
            commandId="org.eclipse.ui.examples.rcp.browser.commands.forward"
            sequence="M3+ARROW_RIGHT"
            schemeId="org.eclipse.ui.examples.rcp.browser.keyConfiguration"/>
      <key
            commandId="org.eclipse.ui.examples.rcp.browser.commands.stop"
            sequence="ESC"
            schemeId="org.eclipse.ui.examples.rcp.browser.keyConfiguration"/>
      <key
            commandId="org.eclipse.ui.examples.rcp.browser.commands.refresh"
            sequence="F5"
            schemeId="org.eclipse.ui.examples.rcp.browser.keyConfiguration"/>
      <key
            commandId="org.eclipse.ui.examples.rcp.browser.commands.newTab"
            sequence="M1+T"
            schemeId="org.eclipse.ui.examples.rcp.browser.keyConfiguration"/>
      <key
            commandId="org.eclipse.ui.examples.rcp.browser.commands.history"
            sequence="M1+H"
            schemeId="org.eclipse.ui.examples.rcp.browser.keyConfiguration"/>
      <key
            commandId="org.eclipse.ui.examples.rcp.browser.commands.easterEgg"
            sequence="M1+M2+E"
            schemeId="org.eclipse.ui.examples.rcp.browser.keyConfiguration"/>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="org.eclipse.ui.examples.rcp.browser.BrowserPreferenceInitializer"/>
   </extension>

</plugin>
