<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.eclipse.ui.examples.rcp.browser"
   name="Browser Example"
   version="3.0.0"
   provider-name="Eclipse.org">

   <runtime>
      <library name="browser.jar">
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.ui"/>
   </requires>

   <extension
         id="app"
         name="%appName"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.eclipse.ui.examples.rcp.browser.BrowserApp">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="%perspectives.browser.name"
            class="org.eclipse.ui.examples.rcp.browser.BrowserPerspectiveFactory"
            id="org.eclipse.ui.examples.rcp.browser.browserPerspective"
            fixed="true">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="%views.browser.name"
            icon="icons/sample.gif"
            class="org.eclipse.ui.examples.rcp.browser.BrowserView"
            id="org.eclipse.ui.examples.rcp.browser.browserView">
      </view>
   </extension>

</plugin>
