<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="org.eclipse.ui.editors"
   name="%pluginName"
   version="3.0.0"
   provider-name="%providerName"
   class="org.eclipse.ui.internal.editors.text.EditorsPlugin">

   <runtime>
      <library name="editors.jar">
		<export name="*"/>
		<packages prefixes="org.eclipse.ui.texteditor,org.eclipse.ui.editors.text,org.eclipse.ui.internal,org.eclipse.ui.internal.editors.quickdiff"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.text"/>
      <import plugin="org.eclipse.ui.views"/>
      <import plugin="org.eclipse.ui.workbench"/>
      <import plugin="org.eclipse.ui.workbench.texteditor"/>
      <import plugin="org.eclipse.jface"/>
      <import plugin="org.eclipse.jface.text"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.update.core"/>
      <import plugin="org.eclipse.core.filebuffers"/>
   </requires>

   
   <extension
      point="org.eclipse.ui.preferencePages">
      <page
         name="%PreferencePages.TextEditor"
         category="org.eclipse.ui.preferencePages.Editors"
         class="org.eclipse.ui.internal.editors.text.TextEditorPreferencePage2"
         id="org.eclipse.ui.preferencePages.TextEditor">
      </page>
   </extension>

   <extension
      point="org.eclipse.ui.documentProviders">
      <provider
            class="org.eclipse.ui.editors.text.TextFileDocumentProvider"
            inputTypes="org.eclipse.ui.IStorageEditorInput"
            id="org.eclipse.ui.editors.text.TextFileDocumentProvider">
      </provider>
   </extension>

<!-- version on disk quick diff reference provider -->
   <extension
      point="org.eclipse.ui.workbench.texteditor.quickDiffReferenceProvider">
      <referenceprovider
            label="%lastSaveReferenceProvider.label"
            default="true"
            class="org.eclipse.ui.internal.editors.quickdiff.LastSaveReferenceProvider"
            id="org.eclipse.ui.internal.editors.quickdiff.LastSaveReferenceProvider">
      </referenceprovider>
   </extension>
   
<!-- quick diff context menu -->
   <extension
      point="org.eclipse.ui.popupMenus">
      <viewerContribution
            targetID="#TextRulerContext"
            id="org.eclipse.ui.quickdiff.TextEditorContribution">
         <action
               label="%quickdiff.toggle.enable"
               style="push"
               helpContextId="quickdiff.toggle"
               class="org.eclipse.ui.texteditor.quickdiff.QuickDiffToggleAction"
               menubarPath="quickdiff"
               id="quickdiff.toggle">
         </action>
      </viewerContribution>
   </extension>

</plugin>
