<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.eclipse.ui.editors"
   name="%pluginName"
   version="3.0.0"
   provider-name="%providerName"
   class="org.eclipse.ui.internal.editors.text.EditorsPlugin">

   <runtime>
      <library name="editors.jar">
         <export name="*"/>
         <packages prefixes="org.eclipse.ui.texteditor,org.eclipse.ui.editors.text,org.eclipse.ui.internal,org.eclipse.ui.internal.editors.quickdiff"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.ui.ide"/>
      <import plugin="org.eclipse.ui.workbench.texteditor"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.jface.text"/>
      <import plugin="org.eclipse.core.filebuffers"/>
      <import plugin="org.eclipse.core.resources"/>
   </requires>

   <extension-point id="documentProviders" name="%ExtPoint.documentProviders" schema="schema/documentProviders.exsd"/>
   <extension-point id="markerUpdaters" name="%ExtPoint.markerUpdaters" schema="schema/markerUpdaters.exsd"/>
   <extension-point id="markerAnnotationSpecification" name="%ExtPoint.markerAnnotationSpecification" schema="schema/markerAnnotationSpecification.exsd"/>

   <extension
         point="org.eclipse.ui.commands">
      <command
            name="%command.us_ascii.name"
            description="%command.us_ascii.description"
            categoryId="org.eclipse.ui.category.edit"
            id="org.eclipse.ui.edit.text.encoding.us-ascii">
      </command>
      <command
            name="%command.iso_8859_1.name"
            description="%command.iso_8859_1.description"
            categoryId="org.eclipse.ui.category.edit"
            id="org.eclipse.ui.edit.text.encoding.iso-8859-1">
      </command>
      <command
            name="%command.utf_8.name"
            description="%command.utf_8.description"
            categoryId="org.eclipse.ui.category.edit"
            id="org.eclipse.ui.edit.text.encoding.utf-8">
      </command>
      <command
            name="%command.utf_16be.name"
            description="%command.utf_16be.description"
            categoryId="org.eclipse.ui.category.edit"
            id="org.eclipse.ui.edit.text.encoding.utf-16be">
      </command>
      <command
            name="%command.utf_16le.name"
            description="%command.utf_16le.description"
            categoryId="org.eclipse.ui.category.edit"
            id="org.eclipse.ui.edit.text.encoding.utf-16le">
      </command>
      <command
            name="%command.utf_16.name"
            description="%command.utf_16.description"
            categoryId="org.eclipse.ui.category.edit"
            id="org.eclipse.ui.edit.text.encoding.utf-16">
      </command>
      <command
            name="%command.system.name"
            description="%command.system.description"
            categoryId="org.eclipse.ui.category.edit"
            id="org.eclipse.ui.edit.text.encoding.system">
      </command>
      <command
            name="%command.custom.name"
            description="%command.custom.description"
            categoryId="org.eclipse.ui.category.edit"
            id="org.eclipse.ui.edit.text.encoding.custom">
      </command>
      <command
            name="%openExternalFile.label"
            description="%openExternalFile.description"
            category="org.eclipse.ui.category.file"
            id="org.eclipse.ui.edit.text.openExternalFile">
      </command>
      <command
            name="%ActionDefinition.quickDiff.name"
            description="%ActionDefinition.quickDiff.description"
            category="org.eclipse.ui.category.edit"
            id="org.eclipse.quickdiff.toggle">
      </command>
      <keyBinding
            string="Ctrl+Shift+Q"
            scope="org.eclipse.ui.textEditorScope"
            command="org.eclipse.quickdiff.toggle"
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
   </extension>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="%Editors.DefaultTextEditor"
            icon="icons/full/obj16/file_obj.gif"
            extensions="txt"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
            class="org.eclipse.ui.editors.text.TextEditor"
            id="org.eclipse.ui.DefaultTextEditor">
      </editor>
   </extension>
   
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="%PreferencePages.TextEditor"
            category="org.eclipse.ui.preferencePages.Editors"
            class="org.eclipse.ui.internal.editors.text.TextEditorPreferencePage2"
            id="org.eclipse.ui.preferencePages.TextEditor">
      </page>
   </extension>
   
   <extension
         point="org.eclipse.ui.editors.documentProviders">
      <provider
            class="org.eclipse.ui.editors.text.TextFileDocumentProvider"
            inputTypes="org.eclipse.ui.IStorageEditorInput"
            id="org.eclipse.ui.editors.text.StorageDocumentProvider">
      </provider>
   </extension>
   
   <extension
         point="org.eclipse.ui.editors.documentProviders">
      <provider
            class="org.eclipse.ui.editors.text.TextFileDocumentProvider"
            inputTypes="org.eclipse.ui.internal.editors.text.JavaFileEditorInput"
            id="org.eclipse.ui.editors.text.ExternalFileDocumentProvider">
      </provider>
   </extension>
   
   <extension
         point="org.eclipse.ui.editors.markerUpdaters">
      <updater
            class="org.eclipse.ui.texteditor.BasicMarkerUpdater"
            id="org.eclipse.ui.texteditor.BasicMarkerUpdater">
      </updater>
   </extension>
   
   <extension
         point="org.eclipse.ui.workbench.texteditor.quickDiffReferenceProvider">
      <referenceprovider
            label="%lastSaveReferenceProvider.label"
            default="true"
            class="org.eclipse.ui.internal.editors.quickdiff.LastSaveReferenceProvider"
            id="org.eclipse.ui.internal.editors.quickdiff.LastSaveReferenceProvider">
      </referenceprovider>
   </extension>
   
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            targetID="#TextRulerContext"
            id="org.eclipse.ui.texteditor.ruler.context.actions">
         <action
               label="%AddTask.label"
               helpContextId="org.eclipse.ui.AddTask_action_context"
               tooltip="%AddTask.tooltip"
               class="org.eclipse.ui.texteditor.TaskRulerAction"
               menubarPath="additions"
               id="org.eclipse.ui.texteditor.TaskRulerAction">
         </action>
         <action
               label="%AddBookmark.label"
               helpContextId="org.eclipse.ui.bookmark_action_context"
               tooltip="%AddBookmark.tooltip"
               class="org.eclipse.ui.texteditor.BookmarkRulerAction"
               menubarPath="additions"
               id="org.eclipse.ui.texteditor.BookmarkRulerAction">
         </action>
         <action
               label="%quickdiff.toggle.enable"
               style="push"
               helpContextId="quickdiff.toggle"
               class="org.eclipse.ui.texteditor.quickdiff.QuickDiffToggleAction"
               menubarPath="quickdiff"
               id="quickdiff.toggle">
         </action>
      </viewerContribution>
      <viewerContribution
            targetID="#RulerContext"
            id="org.eclipse.ui.texteditor.ruler.context.actions">
         <action
               label="%AddTask.label"
               helpContextId="org.eclipse.ui.AddTask_action_context"
               tooltip="%AddTask.tooltip"
               class="org.eclipse.ui.texteditor.TaskRulerAction"
               menubarPath="additions"
               id="org.eclipse.ui.texteditor.TaskRulerAction">
         </action>
         <action
               label="%AddBookmark.label"
               helpContextId="org.eclipse.ui.bookmark_action_context"
               tooltip="%AddBookmark.tooltip"
               class="org.eclipse.ui.texteditor.BookmarkRulerAction"
               menubarPath="additions"
               id="org.eclipse.ui.texteditor.BookmarkRulerAction">
         </action>
         <action
               label="%quickdiff.toggle.enable"
               style="push"
               helpContextId="quickdiff.toggle"
               class="org.eclipse.ui.texteditor.quickdiff.QuickDiffToggleAction"
               menubarPath="quickdiff"
               id="quickdiff.toggle">
         </action>
      </viewerContribution>
   </extension>
   
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            targetID="org.eclipse.ui.DefaultTextEditor"
            id="org.eclipse.ui.texteditor.ruler.actions">
         <action
               label="%Dummy.label"
               helpContextId="org.eclipse.ui.bookmark_action_context"
               class="org.eclipse.ui.texteditor.BookmarkRulerAction"
               actionID="RulerDoubleClick"
               id="org.eclipse.ui.texteditor.BookmarkRulerAction">
         </action>
         <action
               label="%Dummy.label"
               class="org.eclipse.ui.texteditor.SelectRulerAction"
               actionID="RulerClick"
               id="org.eclipse.ui.texteditor.SelectRulerAction">
         </action>
      </editorContribution>
      <editorContribution
            targetID="org.eclipse.ui.DefaultTextEditor"
            id="org.eclipse.quickdiff.editoractions.texteditor">
         <action
               definitionId="org.eclipse.quickdiff.toggle"
               label="%quickdiff.toggle.enable"
               class="org.eclipse.ui.texteditor.quickdiff.QuickDiffToggleAction"
               id="org.eclipse.ui.texteditor.quickdiff.QuickDiffToggleAction">
         </action>
      </editorContribution>
   </extension>
   
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="%openExternalFileActionSet.label"
            visible="true"
            id="org.eclipse.ui.edit.text.actionSet.openExternalFile">
         <action
               definitionId="org.eclipse.ui.edit.text.openExternalFile"
               label="%openExternalFile.label"
               helpContextId="open_text_editor_action_context"
               tooltip="%openExternalFile.description"
               class="org.eclipse.ui.internal.editors.text.OpenExternalFileAction"
               menubarPath="file/new.ext"
               id="org.eclipse.ui.edit.text.openExternalFile">
         </action>
      </actionSet>
      <actionSet
            label="%textEditorAnnotationNavigationActionSet.label"
            visible="false"
            id="org.eclipse.ui.edit.text.actionSet.annotationNavigation">
         <action
               allowLabelUpdate="true"
               style="pulldown"
               toolbarPath="org.eclipse.ui.workbench.navigate/history.group"
               id="org.eclipse.ui.edit.text.gotoPreviousAnnotation"
               hoverIcon="icons/full/ctool16/prev_nav.gif"
               class="org.eclipse.ui.internal.editors.text.PreviousPulldownActionDelegate"
               definitionId="org.eclipse.ui.navigate.previous"
               disabledIcon="icons/full/dtool16/prev_nav.gif"
               icon="icons/full/etool16/prev_nav.gif"
               label="%goToPreviousAnnotation.label"
               retarget="true"
               tooltip="%goToPreviousAnnotation.tooltip">
         </action>
         <action
               allowLabelUpdate="true"
               style="pulldown"
               toolbarPath="org.eclipse.ui.workbench.navigate/history.group"
               id="org.eclipse.ui.edit.text.gotoNextAnnotation"
               hoverIcon="icons/full/ctool16/next_nav.gif"
               class="org.eclipse.ui.internal.editors.text.NextPulldownActionDelegate"
               definitionId="org.eclipse.ui.navigate.next"
               disabledIcon="icons/full/dtool16/next_nav.gif"
               icon="icons/full/etool16/next_nav.gif"
               label="%goToNextAnnotation.label"
               retarget="true"
               tooltip="%goToNextAnnotation.tooltip">
         </action>
      </actionSet>
   </extension>

   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            textPreferenceKey="errorIndication"
            presentationLayer="6"
            showInNextPrevDropdownToolbarAction="true"
            textPreferenceValue="true"
            isGoToPreviousNavigationTargetKey="isErrorGoToPreviousNavigationTarget"
            label="%errors.label"
            markerType="org.eclipse.core.resources.problemmarker"
            colorPreferenceKey="errorIndicationColor"
            markerSeverity="2"
            showInNextPrevDropdownToolbarActionKey="showErrorInNextPrevDropdownToolbarAction"
            annotationType="org.eclipse.ui.workbench.texteditor.error"
            isGoToNextNavigationTargetKey="isErrorGoToNextNavigationTarget"
            isGoToNextNavigationTarget="true"
            overviewRulerPreferenceKey="errorIndicationInOverviewRuler"
            verticalRulerPreferenceValue="true"
            highlightPreferenceKey="errorIndicationHighlighting"
            highlightPreferenceValue="false"
            isGoToPreviousNavigationTarget="true"
            verticalRulerPreferenceKey="errorIndicationInVerticalRuler"
            contributesToHeader="true"
            colorPreferenceValue="255,0,128"
            overviewRulerPreferenceValue="true">
      </specification>
      <specification
            textPreferenceKey="warningIndication"
            presentationLayer="5"
            showInNextPrevDropdownToolbarAction="true"
            textPreferenceValue="true"
            isGoToPreviousNavigationTargetKey="isWarningGoToPreviousNavigationTarget"
            label="%warnings.label"
            markerType="org.eclipse.core.resources.problemmarker"
            colorPreferenceKey="warningIndicationColor"
            markerSeverity="1"
            showInNextPrevDropdownToolbarActionKey="showWarningInNextPrevDropdownToolbarAction"
            annotationType="org.eclipse.ui.workbench.texteditor.warning"
            isGoToNextNavigationTargetKey="isWarningGoToNextNavigationTarget"
            isGoToNextNavigationTarget="true"
            overviewRulerPreferenceKey="warningIndicationInOverviewRuler"
            verticalRulerPreferenceValue="true"
            highlightPreferenceKey="warningIndicationHighlighting"
            highlightPreferenceValue="false"
            isGoToPreviousNavigationTarget="true"
            verticalRulerPreferenceKey="warningIndicationInVerticalRuler"
            contributesToHeader="true"
            colorPreferenceValue="244,200,45"
            overviewRulerPreferenceValue="true">
      </specification>
      <specification
            textPreferenceKey="infoIndication"
            presentationLayer="4"
            showInNextPrevDropdownToolbarAction="true"
            textPreferenceValue="false"
            isGoToPreviousNavigationTargetKey="isInfoGoToPreviousNavigationTarget"
            label="%infos.label"
            markerType="org.eclipse.core.resources.problemmarker"
            colorPreferenceKey="infoIndicationColor"
            showInNextPrevDropdownToolbarActionKey="showInfoInNextPrevDropdownToolbarAction"
            annotationType="org.eclipse.ui.workbench.texteditor.info"
            isGoToNextNavigationTargetKey="isInfoGoToNextNavigationTarget"
            isGoToNextNavigationTarget="false"
            overviewRulerPreferenceKey="infoIndicationInOverviewRuler"
            verticalRulerPreferenceValue="true"
            highlightPreferenceKey="infoIndicationHighlighting"
            highlightPreferenceValue="false"
            isGoToPreviousNavigationTarget="false"
            verticalRulerPreferenceKey="infoIndicationInVerticalRuler"
            contributesToHeader="false"
            colorPreferenceValue="244,200,45"
            overviewRulerPreferenceValue="true">
      </specification>
      <specification
            textPreferenceKey="taskIndication"
            presentationLayer="2"
            showInNextPrevDropdownToolbarAction="true"
            textPreferenceValue="false"
            isGoToPreviousNavigationTargetKey="isTaskGoToPreviousNavigationTarget"
            label="%tasks.label"
            markerType="org.eclipse.core.resources.taskmarker"
            colorPreferenceKey="taskIndicationColor"
            showInNextPrevDropdownToolbarActionKey="showTaskInNextPrevDropdownToolbarAction"
            annotationType="org.eclipse.ui.workbench.texteditor.task"
            isGoToNextNavigationTargetKey="isTaskGoToNextNavigationTarget"
            isGoToNextNavigationTarget="false"
            overviewRulerPreferenceKey="taskIndicationInOverviewRuler"
            verticalRulerPreferenceValue="true"
            highlightPreferenceKey="taskIndicationHighlighting"
            highlightPreferenceValue="false"
            isGoToPreviousNavigationTarget="false"
            verticalRulerPreferenceKey="taskIndicationInVerticalRuler"
            contributesToHeader="false"
            colorPreferenceValue="0,128,255"
            overviewRulerPreferenceValue="true">
      </specification>
      <specification
            textPreferenceKey="bookmarkIndication"
            presentationLayer="1"
            showInNextPrevDropdownToolbarAction="true"
            textPreferenceValue="false"
            isGoToPreviousNavigationTargetKey="isBookmarkGoToPreviousNavigationTarget"
            label="%bookmarks.label"
            markerType="org.eclipse.core.resources.bookmark"
            colorPreferenceKey="bookmarkIndicationColor"
            showInNextPrevDropdownToolbarActionKey="showBookmarkInNextPrevDropdownToolbarAction"
            annotationType="org.eclipse.ui.workbench.texteditor.bookmark"
            isGoToNextNavigationTargetKey="isBookmarkGoToNextNavigationTarget"
            isGoToNextNavigationTarget="false"
            overviewRulerPreferenceKey="bookmarkIndicationInOverviewRuler"
            verticalRulerPreferenceValue="true"
            highlightPreferenceKey="bookmarkIndicationHighlighting"
            highlightPreferenceValue="false"
            isGoToPreviousNavigationTarget="false"
            verticalRulerPreferenceKey="bookmarkIndicationInVerticalRuler"
            contributesToHeader="false"
            colorPreferenceValue="34,164,99"
            overviewRulerPreferenceValue="true">
      </specification>
      <specification
            colorPreferenceValue="204,163,205"
            isGoToPreviousNavigationTarget="false"
            isGoToPreviousNavigationTargetKey="isChangeGoToPreviousNavigationTarget"
            showInNextPrevDropdownToolbarAction="true"
            annotationType="org.eclipse.ui.workbench.texteditor.quickdiffChange"
            isGoToNextNavigationTarget="false"
            showInNextPrevDropdownToolbarActionKey="showChangeInNextPrevDropdownToolbarAction"
            colorPreferenceKey="changeIndicationColor"
            isGoToNextNavigationTargetKey="isChangeGoToNextNavigationTarget"
            contributesToHeader="false"
            overviewRulerPreferenceValue="false"
            markerType="org.eclipse.quickdiff.changeindication"
            presentationLayer="2"
            textPreferenceValue="false"
            label="%changes.label"
            textPreferenceKey="changeIndication"
            overviewRulerPreferenceKey="changeIndicationInOverviewRuler">
      </specification>
      <specification
            colorPreferenceValue="188,188,222"
            isGoToPreviousNavigationTarget="false"
            isGoToPreviousNavigationTargetKey="isAdditionGoToPreviousNavigationTarget"
            showInNextPrevDropdownToolbarAction="false"
            annotationType="org.eclipse.ui.workbench.texteditor.quickdiffAddition"
            isGoToNextNavigationTarget="false"
            showInNextPrevDropdownToolbarActionKey="showAdditionInNextPrevDropdownToolbarAction"
            colorPreferenceKey="additionIndicationColor"
            isGoToNextNavigationTargetKey="isAdditionGoToNextNavigationTarget"
            contributesToHeader="false"
            overviewRulerPreferenceValue="false"
            markerType="org.eclipse.quickdiff.additionindication"
            presentationLayer="2"
            textPreferenceValue="false"
            label="%additions.label"
            textPreferenceKey="additionIndication"
            overviewRulerPreferenceKey="additionIndicationInOverviewRuler">
      </specification>
      <specification
            colorPreferenceValue="0,0,0"
            isGoToPreviousNavigationTarget="false"
            isGoToPreviousNavigationTargetKey="isDeletionGoToPreviousNavigationTarget"
            showInNextPrevDropdownToolbarAction="false"
            annotationType="org.eclipse.ui.workbench.texteditor.quickdiffDeletion"
            isGoToNextNavigationTarget="false"
            showInNextPrevDropdownToolbarActionKey="showDeletionInNextPrevDropdownToolbarAction"
            colorPreferenceKey="deletionIndicationColor"
            isGoToNextNavigationTargetKey="isDeletionGoToNextNavigationTarget"
            contributesToHeader="false"
            overviewRulerPreferenceValue="false"
            markerType="org.eclipse.quickdiff.deletionindication"
            presentationLayer="2"
            textPreferenceValue="false"
            label="%deletions.label"
            textPreferenceKey="deletionIndication"
            overviewRulerPreferenceKey="deletionIndicationInOverviewRuler">
      </specification>
   </extension>
</plugin>
