<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
  	<extension id="org.eclipse.e4.examples.services.snippets.adapter" point="org.eclipse.core.runtime.applications"> 
		<application>
 			<run class="org.eclipse.e4.examples.services.snippets.adapter.AdapterSnippet"/> 
 	    </application> 
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="java.lang.Object"
            class="org.eclipse.e4.examples.services.snippets.adapter.IDAssigner">
         <adapter
               type="org.eclipse.e4.examples.services.snippets.adapter.ThingWithId">
         </adapter>
      </factory>
   </extension>
</plugin>
