<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
    <extension
         id="workbench"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.eclipse.ui.internal.ide.application.IDEApplication">
         </run>
      </application>
   </extension>
    <extension
          point="org.eclipse.ui.preferencePages">
     <page
            name="%PreferencePages.Startup"
            category="org.eclipse.ui.preferencePages.Workbench"
            class="org.eclipse.ui.internal.ide.application.dialogs.IDEStartupPreferencePage"
            id="org.eclipse.ui.preferencePages.Startup">
         <keywordReference id="org.eclipse.ui.ide.startupAndShutdown"/>
      </page>
    </extension>
     <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="%Perspective.resourcePerspective"
            icon="$nl$/icons/full/eview16/resource_persp.gif"
            class="org.eclipse.ui.internal.ide.application.ResourcePerspective"
            id="org.eclipse.ui.resourcePerspective">
         <description>
            %Perspective.resourceDescription
         </description>
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <showInPart
               id="org.eclipse.ui.views.ResourceNavigator">
         </showInPart>
      </perspectiveExtension>
   </extension>
</plugin>
