<?xml version="1.0" encoding="UTF-8"?>
<plugin
  name="IBM Tooling Platform Core Tests - Test Plugin B"
  id="plugin.b"
  version="1.0"
  class="org.eclipse.core.tests.internal.plugin.b.PluginClass"
  vendor-name="IBM">

  <requires>
    <import plugin="plugin.c" export="true"/>
    <import plugin="plugin.d"/>
  </requires>

  <runtime>
    <library name="plugin_b.jar">
      <export name="org.eclipse.core.tests.internal.plugin.b.api.*"/>
      <export name="org.eclipse.core.tests.internal.plugin.b.PluginClass"/>
    </library>
  </runtime>

</plugin>
