<?xml version="1.0" encoding="UTF-8"?>
<plugin
	id="org.eclipse.team.cvs.ui"
	name="%pluginName"
	version="2.1.0"
	provider-name="%providerName"
	class="org.eclipse.team.internal.ccvs.ui.CVSUIPlugin">

   <runtime>
      <library name="teamcvsui.jar">
         <export name="*"/>
         <packages prefixes="org.eclipse.team.internal.ccvs.ui"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.apache.xerces"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.team.core"/>
      <import plugin="org.eclipse.team.ui"/>
      <import plugin="org.eclipse.team.cvs.core"/>
      <import plugin="org.eclipse.compare"/>
   </requires>

<!-- *************** Authenticator **************** -->
   <extension
         point="org.eclipse.team.cvs.core.authenticator">
      <authenticator>
         <run
               class="org.eclipse.team.internal.ccvs.ui.WorkbenchUserAuthenticator">
         </run>
      </authenticator>
   </extension>
<!-- *************** CVS File Modification Validator **************** -->
   <extension
         point="org.eclipse.team.cvs.core.filemodificationvalidator">
      <validator>
         <run
               class="org.eclipse.team.internal.ccvs.ui.FileModificationValidator">
         </run>
      </validator>
   </extension>
<!-- ******************* Wizards ****************** -->
   <extension
         point="org.eclipse.team.ui.configurationWizards">
      <wizard
            name="%SharingWizard.name"
            icon="icons/full/wizards/newconnect_wiz.gif"
            class="org.eclipse.team.internal.ccvs.ui.wizards.SharingWizard"
            id="org.eclipse.team.ccvs.ui.SharingWizard">
      </wizard>
   </extension>
<!-- ************** Property Pages *************** -->
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            objectClass="org.eclipse.core.resources.IFile"
            adaptable="true"
            name="%CVS"
            class="org.eclipse.team.internal.ccvs.ui.CVSFilePropertiesPage"
            id="org.eclipse.team.ccvs.ui.propertyPages.CVSFilePropertiesPage">
         <filter
               name="projectPersistentProperty"
               value="org.eclipse.team.core.repository=org.eclipse.team.cvs.core.cvsnature">
         </filter>
      </page>
      <page
            objectClass="org.eclipse.core.resources.IFolder"
            adaptable="true"
            name="%CVS"
            class="org.eclipse.team.internal.ccvs.ui.CVSFolderPropertiesPage"
            id="org.eclipse.team.ccvs.ui.propertyPages.CVSFolderPropertiesPage">
         <filter
               name="projectPersistentProperty"
               value="org.eclipse.team.core.repository=org.eclipse.team.cvs.core.cvsnature">
         </filter>
      </page>
      <page
            objectClass="org.eclipse.core.resources.IProject"
            adaptable="true"
            name="%CVS"
            class="org.eclipse.team.internal.ccvs.ui.CVSProjectPropertiesPage"
            id="org.eclipse.team.ccvs.ui.propertyPages.CVSProjectPropertiesPage">
         <filter
               name="projectPersistentProperty"
               value="org.eclipse.team.core.repository=org.eclipse.team.cvs.core.cvsnature">
         </filter>
      </page>
      <page
            objectClass="org.eclipse.team.internal.ccvs.ui.repo.RepositoryRoot"
            name="%CVS"
            class="org.eclipse.team.internal.ccvs.ui.repo.CVSRepositoryPropertiesPage"
            id="org.eclipse.team.ccvs.ui.propertyPages.CVSRepositoryPropertiesPage">
      </page>
   </extension>

<!-- ******************* Action Definitions ******************** --> 

	<extension point="org.eclipse.ui.commands">
      <category
            name="%CVSActionSet.categoryName"
            description="%CVSActionSet.description"
            id="org.eclipse.team.cvs.ui.actionSet">
      </category>
      <command
			category="org.eclipse.team.cvs.ui.actionSet"
            name="%CVSActionSet.newLabel"
            description="%CVSActionSet.newTooltip"
            id="org.eclipse.team.cvs.ui.new.location">
      </command>
   </extension>
   
<!-- ******************* Menus ******************** -->
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            adaptable="true"
            id="org.eclipse.team.ccvs.ui.IFileContributions">
         <filter
               name="projectPersistentProperty"
               value="org.eclipse.team.core.repository=org.eclipse.team.cvs.core.cvsnature">
         </filter>
         <action
               label="%IgnoreAction.label"
               tooltip="%IgnoreAction.tooltip"
               class="org.eclipse.team.internal.ccvs.ui.actions.IgnoreAction"
               menubarPath="team.main/group3"
               helpContextId="org.eclipse.team.cvs.ui.team_ignore_action_context"
               id="org.eclipse.team.ccvs.ui.ignore">
         </action>
         <action
               label="%AddAction.label"
               tooltip="%AddAction.tooltip"
               class="org.eclipse.team.internal.ccvs.ui.actions.AddAction"
               menubarPath="team.main/group3"
               helpContextId="org.eclipse.team.cvs.ui.team_add_action_context"
               id="org.eclipse.team.ccvs.ui.add">
         </action>
         <action
               label="%ShowHistoryAction.label"
               tooltip="%ShowHistoryAction.tooltip"
               class="org.eclipse.team.internal.ccvs.ui.actions.ShowResourceInHistoryAction"
               menubarPath="team.main/group2"
               helpContextId="org.eclipse.team.cvs.ui.show_in_history_action_context"
               id="org.eclipse.team.ccvs.ui.showHistory">
         </action>
         <action
               label="%ShowAnnotationAction.label"
               tooltip="%ShowAnnotationAction.tooltip"
               class="org.eclipse.team.internal.ccvs.ui.actions.ShowAnnotationAction"
               menubarPath="team.main/group2"
               helpContextId="org.eclipse.team.cvs.ui.get_annotate_action_context"
               id="org.eclipse.team.ccvs.ui.showAnnotation">
         </action>
         <action
               label="%CompareWithRevisionAction.label"
               tooltip="%CompareWithRevisionAction.tooltip"
               class="org.eclipse.team.internal.ccvs.ui.actions.CompareWithRevisionAction"
               menubarPath="compareWithMenu/compareWithGroup"
               helpContextId="org.eclipse.team.cvs.ui.compare_with_revision_action_context"
               id="org.eclipse.team.ccvs.ui.compareWithRevision">
         </action>
         <action
               label="%ReplaceWithRevisionAction.label"
               tooltip="%ReplaceWithRevisionAction.tooltip"
               class="org.eclipse.team.internal.ccvs.ui.actions.CompareWithRevisionAction"
               menubarPath="replaceWithMenu/replaceWithGroup"
               helpContextId="org.eclipse.team.cvs.ui.replace_with_revision_action_context"
               id="org.eclipse.team.ccvs.ui.replaceWithRevision">
         </action>
         <action
               label="%EditAction.label"
               tooltip="%EditAction.tooltip"
               class="org.eclipse.team.internal.ccvs.ui.actions.EditAction"
               menubarPath="team.main/group4"
               helpContextId="org.eclipse.team.cvs.ui.team_edit_action_context"
               id="org.eclipse.team.ccvs.ui.edit">
         </action>
         <action
               label="%UneditAction.label"
               tooltip="%UneditAction.tooltip"
               class="org.eclipse.team.internal.ccvs.ui.actions.UneditAction"
               menubarPath="team.main/group4"
               helpContextId="org.eclipse.team.cvs.ui.team_unedit_action_context"
               id="org.eclipse.team.ccvs.ui.unedit">
         </action>
      </objectContribution>
      <objectContribution
            objectClass="org.eclipse.core.resources.IResource"
            adaptable="true"
            id="org.eclipse.team.ccvs.ui.ResourceContributions">
         <filter
               name="projectPersistentProperty"
               value="org.eclipse.team.core.repository=org.eclipse.team.cvs.core.cvsnature">
         </filter>
         <action
               label="%SetKeywordSubstitutionAction.label"
               tooltip="%SetKeywordSubstitutionAction.tooltip"
               class="org.eclipse.team.internal.ccvs.ui.actions.SetKeywordSubstitutionAction"
               menubarPath="team.main/group3"
               helpContextId="org.eclipse.team.cvs.ui.team_set_keyword_mode_action_context"
               id="org.eclipse.team.ccvs.ui.setKeywordSubstitution">
         </action>
         <action
               label="%MergeAction.label"
               tooltip="%MergeAction.tooltip"
               class="org.eclipse.team.internal.ccvs.ui.actions.MergeAction"
               menubarPath="team.main/group2"
               helpContextId="org.eclipse.team.cvs.ui.team_merge_action_context"
               id="org.eclipse.team.ccvs.ui.merge">
         </action>
         <action
               label="%BranchAction.label"
               tooltip="%BranchAction.tooltip"
               class="org.eclipse.team.internal.ccvs.ui.actions.BranchAction"
               menubarPath="team.main/group2"
               helpContextId="org.eclipse.team.cvs.ui.team_branch_action_context"
               id="org.eclipse.team.ccvs.ui.branch">
         </action>
         <action
               label="%TagAction.label"
               tooltip="%TagAction.tooltip"
               class="org.eclipse.team.internal.ccvs.ui.actions.TagLocalAction"
               menubarPath="team.main/group2"
               helpContextId="org.eclipse.team.cvs.ui.team_tag_as_version_action_context"
               id="org.eclipse.team.ccvs.ui.tag">
         </action>
          <action
               label="%CompareWithTagAction.label"
               tooltip="%CompareWithTagAction.tooltip"
               class="org.eclipse.team.internal.ccvs.ui.actions.CompareWithTagAction"
               menubarPath="compareWithMenu/compareWithGroup"
               helpContextId="org.eclipse.team.cvs.ui.compare_with_tag_action_context"
               id="org.eclipse.team.ccvs.ui.compareWithTag">
         </action>      
        <action
               label="%CompareWithRemoteAction.label"
               tooltip="%CompareWithRemoteAction.tooltip"
               class="org.eclipse.team.internal.ccvs.ui.actions.CompareWithRemoteAction"
               menubarPath="compareWithMenu/compareWithGroup"
               helpContextId="org.eclipse.team.cvs.ui.compare_with_latest_action_context"
               id="org.eclipse.team.ccvs.ui.compareWithRemote">
         </action>
         <action
               label="%ReplaceWithTagAction.label"
               tooltip="%ReplaceWithTagAction.tooltip"
               class="org.eclipse.team.internal.ccvs.ui.actions.ReplaceWithTagAction"
               menubarPath="replaceWithMenu/replaceWithGroup"
               helpContextId="org.eclipse.team.cvs.ui.replace_with_tag_action_context"
               id="org.eclipse.team.ccvs.ui.replaceWithTag">
         </action>
         <action
               label="%ReplaceWithAction.label"
               tooltip="%ReplaceWithAction.tooltip"
               class="org.eclipse.team.internal.ccvs.ui.actions.ReplaceWithRemoteAction"
               menubarPath="replaceWithMenu/replaceWithGroup"
               helpContextId="org.eclipse.team.cvs.ui.replace_with_latest_action_context"
               id="org.eclipse.team.ccvs.ui.replace">
         </action>
         <action
               label="%GenerateDiff.label"
               tooltip="%GenerateDiff.tooltip"
               class="org.eclipse.team.internal.ccvs.ui.actions.GenerateDiffFileAction"
               menubarPath="team.main/group1"
               helpContextId="org.eclipse.team.cvs.ui.team_create_patch_action_context"
               id="org.eclipse.team.ccvs.ui.GenerateDiff">
         </action>
         <action
               label="%UpdateAction.label"
               tooltip="%UpdateAction.tooltip"
               class="org.eclipse.team.internal.ccvs.ui.actions.UpdateAction"
               menubarPath="team.main/group1"
               helpContextId="org.eclipse.team.cvs.ui.team_update_action_context"
               id="org.eclipse.team.ccvs.ui.update">
         </action>
         <action
               label="%CommitAction.label"
               tooltip="%CommitAction.tooltip"
               class="org.eclipse.team.internal.ccvs.ui.actions.CommitAction"
               menubarPath="team.main/group1"
               helpContextId="org.eclipse.team.cvs.ui.team_commit_action_context"
               id="org.eclipse.team.ccvs.ui.commit">
         </action>
         <action
               label="%Synchronize.label"
               tooltip="%Synchronize.tooltip"
               class="org.eclipse.team.internal.ccvs.ui.actions.SyncAction"
               menubarPath="team.main/group1"
               helpContextId="org.eclipse.team.cvs.ui.team_synchronize_action_context"
               id="org.eclipse.team.ccvs.ui.sync">
         </action>
      </objectContribution>
      
      <objectContribution
            objectClass="org.eclipse.core.resources.IResource"
            adaptable="true"
            id="org.eclipse.team.ccvs.ui.ResourceContributions">
         <filter
               name="projectPersistentProperty"
               value="org.eclipse.team.core.repository=org.eclipse.team.cvs.core.cvsnature">
         </filter>
         <action
               label="%ShowEditorsAction.label"
               tooltip="%ShowEditorsAction.tooltip"
               class="org.eclipse.team.internal.ccvs.ui.actions.ShowEditorsAction"
               menubarPath="team.main/group4"
               helpContextId="org.eclipse.team.cvs.ui.team_show_editors_action_context"
               id="org.eclipse.team.ccvs.ui.showeditors">
         </action>
      </objectContribution>
      

      <!-- ************** Project Menu *************** -->

      
      <objectContribution
            objectClass="org.eclipse.core.resources.IProject"
            adaptable="true"
            id="org.eclipse.team.ccvs.ui.IProjectContributions">
         <filter
               name="projectPersistentProperty"
               value="org.eclipse.team.core.repository=org.eclipse.team.cvs.core.cvsnature">
         </filter>
         <action
               label="%UnmanageFolder.label"
               tooltip="%UnmanageFolder.tooltip"
               class="org.eclipse.team.internal.ccvs.ui.actions.UnmanageAction"
               menubarPath="team.main/projectGroup"
               helpContextId="org.eclipse.team.cvs.ui.team_disconnect_action_context"
               id="org.eclipse.team.ccvs.ui.unmanage">
         </action>
      </objectContribution>
      <objectContribution
            objectClass="org.eclipse.core.resources.IContainer"
            adaptable="true"
            id="org.eclipse.team.ccvs.ui.IContainerContributions">
         <filter
               name="projectPersistentProperty"
               value="org.eclipse.team.core.repository=org.eclipse.team.cvs.core.cvsnature">
         </filter>
         <action
               label="%RestoreFromRepositoryAction.label"
               tooltip="%RestoreFromRepositoryAction.tooltip"
               class="org.eclipse.team.internal.ccvs.ui.actions.RestoreFromRepositoryAction"
               menubarPath="team.main/group4"
               helpContextId="org.eclipse.team.cvs.ui.team_restore_from_repository_action_context"
               id="org.eclipse.team.ccvs.ui.restoreFromRepository">
         </action>
      </objectContribution>
      <objectContribution
            objectClass="org.eclipse.core.resources.IFolder"
            adaptable="true"
            id="org.eclipse.team.ccvs.ui.IFolderContributions">
         <filter
               name="projectPersistentProperty"
               value="org.eclipse.team.core.repository=org.eclipse.team.cvs.core.cvsnature">
         </filter>
         <action
               label="%IgnoreAction.label"
               tooltip="%IgnoreAction.tooltip"
               class="org.eclipse.team.internal.ccvs.ui.actions.IgnoreAction"
               menubarPath="team.main/group3"
               helpContextId="org.eclipse.team.cvs.ui.team_ignore_action_context"
               id="org.eclipse.team.ccvs.ui.ignore">
         </action>
         <action
               label="%AddAction.label"
               tooltip="%AddAction.tooltip"
               class="org.eclipse.team.internal.ccvs.ui.actions.AddAction"
               menubarPath="team.main/group3"
               helpContextId="org.eclipse.team.cvs.ui.team_add_action_context"
               id="org.eclipse.team.ccvs.ui.add">
         </action>
      </objectContribution>
      <objectContribution
            objectClass="org.eclipse.team.internal.ccvs.core.ICVSRemoteFolder"
            id="org.eclipse.team.ccvs.ui.RemoteFolderContributions">
         <action
               label="%CheckoutAsAction.label"
               tooltip="%CheckoutAsAction.tooltip"
               menubarPath="checkoutGroup"
               class="org.eclipse.team.internal.ccvs.ui.actions.CheckoutAsAction"
               helpContextId="org.eclipse.team.cvs.ui.checkout_as_action_context"
               id="org.eclipse.team.ccvs.ui.checkoutAs">
         </action>
         <action
               label="%CheckoutAction.label"
               tooltip="%CheckoutAction.tooltip"
               menubarPath="checkoutGroup"
               class="org.eclipse.team.internal.ccvs.ui.actions.CheckoutAction"
               helpContextId="org.eclipse.team.cvs.ui.checkout_as_project_action_context"
               id="org.eclipse.team.ccvs.ui.checkout">
         </action>
	     <action
				id="org.eclipse.team.ccvs.ui.configureTagsOnRemoteFolder"
				label="%ConfigureTags.label"
                menubarPath="miscGroup"
				tooltip="%ConfigureTags.tooltip"
				icon="icons/full/clcl16/newstream_wiz.gif"
				helpContextId="org.eclipse.team.cvs.ui.tag_configuration_overview"				
				class="org.eclipse.team.internal.ccvs.ui.actions.ConfigureTagsFromRepoViewOnFolder"/>
		 <action
				id="org.eclipse.team.ccvs.ui.addToBranch"
				label="%AddToBranch.label"
                menubarPath="miscGroup"
				tooltip="%ddToBranch.tooltip"
				icon="icons/full/clcl16/newstream_wiz.gif"
				helpContextId="org.eclipse.team.cvs.ui.add_to_branch_context"				
				class="org.eclipse.team.internal.ccvs.ui.repo.AddToBranchAction"/>       
      </objectContribution>
      <objectContribution
            objectClass="org.eclipse.team.internal.ccvs.core.ICVSRemoteFile"
            id="org.eclipse.team.ccvs.ui.RemoteFileContributions">
         <action
               label="%OpenRemoteFileAction.label"
               tooltip="%OpenRemoteFileAction.tooltip"
               class="org.eclipse.team.internal.ccvs.ui.actions.OpenRemoteFileAction"
               helpContextId="org.eclipse.team.cvs.ui.open_remote_file_action_context"
               id="org.eclipse.team.ccvs.ui.openRemoteFile">
         </action>
         <action
               label="%ShowHistoryAction.label"
               tooltip="%ShowHistoryAction.tooltip"
               class="org.eclipse.team.internal.ccvs.ui.actions.ShowHistoryAction"
               helpContextId="org.eclipse.team.cvs.ui.show_in_history_action_context"
               id="org.eclipse.team.ccvs.ui.showHistory">
         </action>
         <action
               label="%ShowAnnotationAction.label"
               tooltip="%ShowAnnotationAction.tooltip"
               class="org.eclipse.team.internal.ccvs.ui.actions.ShowAnnotationAction"
               helpContextId="org.eclipse.team.cvs.ui.get_annotate_action_context"
               id="org.eclipse.team.ccvs.ui.showAnnotation">
         </action>
      </objectContribution>
      <objectContribution
            objectClass="org.eclipse.team.internal.ccvs.core.ILogEntry"
            id="org.eclipse.team.ccvs.ui.LogEntryContributions">
         <action
               label="%OpenLogEntryAction.label"
               tooltip="%OpenLogEntryAction.tooltip"
               class="org.eclipse.team.internal.ccvs.ui.actions.OpenLogEntryAction"
               helpContextId="org.eclipse.team.cvs.ui.open_remote_file_action_context"
               id="org.eclipse.team.ccvs.ui.openLogEntry">
         </action>
         <action
               label="%CompareRemoteResourcesAction.label"
               tooltip="%CompareRemoteResourcesAction.tooltip"
               class="org.eclipse.team.internal.ccvs.ui.actions.CompareRemoteResourcesAction"
               enablesFor="2"
               helpContextId="org.eclipse.team.cvs.ui.compare_remote_resources_action_context"
               id="org.eclipse.team.ccvs.ui.compareLogEntries">
         </action>
         <action
               label="%ShowAnnotationAction.label"
               tooltip="%ShowAnnotationAction.tooltip"
               class="org.eclipse.team.internal.ccvs.ui.actions.ShowAnnotationAction"
               helpContextId="org.eclipse.team.cvs.ui.get_annotate_action_context"
               id="org.eclipse.team.ccvs.ui.showAnnotation">
         </action>
      </objectContribution>
      <objectContribution
            objectClass="org.eclipse.team.internal.ccvs.ui.model.RemoteModule"
            id="org.eclipse.team.ccvs.ui.VersionCategoryContributions">
	     <action
				id="org.eclipse.team.ccvs.ui.configureTagsOnRemoteModule"
				label="%ConfigureTags.label"
				tooltip="%ConfigureTags.label"
				icon="icons/full/clcl16/newstream_wiz.gif"
				helpContextId="org.eclipse.team.cvs.ui.tag_configuration_overview"				
				class="org.eclipse.team.internal.ccvs.ui.actions.ConfigureTagsFromRepoViewOnFolder"/>       
      </objectContribution>
      <objectContribution
            objectClass="org.eclipse.team.internal.ccvs.ui.model.ProjectVersion"
            id="org.eclipse.team.ccvs.ui.ProjectVersionContributions">
	     <action
				id="org.eclipse.team.ccvs.ui.configureTagsOnProjectVersion"
				label="%ConfigureTags.label"
				tooltip="%ConfigureTags.label"
				icon="icons/full/clcl16/newstream_wiz.gif"
				helpContextId="org.eclipse.team.cvs.ui.tag_configuration_overview"				
				class="org.eclipse.team.internal.ccvs.ui.actions.ConfigureTagsFromRepoView"/>        
      </objectContribution>

      <objectContribution
            objectClass="org.eclipse.team.internal.ccvs.ui.repo.RepositoryRoot"
            id="org.eclipse.team.ccvs.ui.RemoteRootContributions">
         <action
               label="%CopyRepositoryNameAction.label"
               tooltip="%CopyRepositoryNameAction.tooltip"
               menubarPath="miscGroup"
               class="org.eclipse.team.internal.ccvs.ui.repo.CopyRepositoryNameAction"
               helpContextId="org.eclipse.team.cvs.ui.copy_repository_name_action_context"
               id="org.eclipse.team.ccvs.ui.copyNames">
         </action>
         <action
               label="%RefreshTagsAction.label"
               icon="icons/full/clcl16/newstream_wiz.gif"
               tooltip="%RefreshTagsAction.tooltip"
               menubarPath="tagGroup"
               class="org.eclipse.team.internal.ccvs.ui.repo.RefreshTagsAction"
               helpContextId="org.eclipse.team.cvs.ui.refresh_tags_action_context"
               id="org.eclipse.team.ccvs.ui.refreshTags">
         </action>      
      </objectContribution>
      <objectContribution
            objectClass="org.eclipse.team.internal.ccvs.ui.model.BranchCategory"
            id="org.eclipse.team.ccvs.ui.model.BranchCategoryContributions">
         <action
               label="%RefreshTagsAction.label"
               icon="icons/full/clcl16/newstream_wiz.gif"
               tooltip="%RefreshTagsAction.tooltip"
               menubarPath="tagGroup"
               class="org.eclipse.team.internal.ccvs.ui.repo.RefreshTagsAction"
               helpContextId="org.eclipse.team.cvs.ui.refresh_tags_action_context"
               id="org.eclipse.team.ccvs.ui.refreshTags">
         </action>      
      </objectContribution>
      <objectContribution
            objectClass="org.eclipse.team.internal.ccvs.core.ICVSRemoteResource"
            id="org.eclipse.team.ccvs.ui.RemoteResourceContributions">
         <action
               label="%CompareRemoteResourcesAction.label"
               menubarPath="miscGroup"
               tooltip="%CompareRemoteResourcesAction.tooltip"
               class="org.eclipse.team.internal.ccvs.ui.actions.CompareRemoteResourcesAction"
               enablesFor="2"
               helpContextId="org.eclipse.team.cvs.ui.compare_remote_resources_action_context"
               id="org.eclipse.team.ccvs.ui.compareRemoteResources">
         </action>
         <action
               label="%CompareRemoteWithTagAction.label"
               menubarPath="miscGroup"
               tooltip="%CompareRemoteWithTagAction.tooltip"
               class="org.eclipse.team.internal.ccvs.ui.actions.CompareRemoteWithTagAction"
               helpContextId="org.eclipse.team.cvs.ui.compare_remote_with_tag_action_context"
               id="org.eclipse.team.ccvs.ui.compareRemoteWithTag">
         </action>
         <action
               label="%MoveTagAction.label"
               menubarPath="tagGroup"
               tooltip="%MoveTagAction.tooltip"
               class="org.eclipse.team.internal.ccvs.ui.actions.MoveRemoteTagAction"
               helpContextId="org.eclipse.team.cvs.ui.move_remote_tag_action_context"
               id="org.eclipse.team.ccvs.ui.moveTagInRepository">
         </action>
         <action
               label="%TagInRepositoryAction.label"
               menubarPath="tagGroup"
               tooltip="%TagInRepositoryAction.tooltip"
               class="org.eclipse.team.internal.ccvs.ui.actions.TagInRepositoryAction"
               helpContextId="org.eclipse.team.cvs.ui.tag_remote_action_context"
               id="org.eclipse.team.ccvs.ui.tagInRepository">
         </action>
      </objectContribution>
   </extension>
   
<!-- ************* Subscriber Menus ************ -->
   <extension
         point="org.eclipse.team.ui.subscriberMenus">
      <subscriberContribution
            subscriberClass="org.eclipse.team.internal.ccvs.core.CVSWorkspaceSubscriber"
            id="org.eclipse.team.ccvs.ui.CVSWorkspaceSubscriberContributions">
          <action
               label="%CVSWorkspaceSubscriber.update.label"
               tooltip="%CVSWorkspaceSubscriber.update.tooltip"
               class="org.eclipse.team.internal.ccvs.ui.subscriber.WorkspaceUpdateAction"
               helpContextId="org.eclipse.team.cvs.ui.workspace_subscriber_update_action"
               id="org.eclipse.team.ccvs.ui.CVSWorkspaceSubscriber.update">
         </action>
         <action
               label="%CVSWorkspaceSubscriber.commit.label"
               tooltip="%CVSWorkspaceSubscriber.commit.tooltip"
               class="org.eclipse.team.internal.ccvs.ui.subscriber.SubscriberCommitAction"
               helpContextId="org.eclipse.team.cvs.ui.workspace_subscriber_commit_action"
               id="org.eclipse.team.ccvs.ui.CVSWorkspaceSubscriber.commit">
         </action>
         <action
               label="%CVSWorkspaceSubscriber.confirmMerged.label"
               tooltip="%CVSWorkspaceSubscriber.confirmMerged.tooltip"
               class="org.eclipse.team.internal.ccvs.ui.subscriber.SubscriberConfirmMergedAction"
               helpContextId="org.eclipse.team.cvs.ui.workspace_subscriber_confirm_merged_action"
               id="org.eclipse.team.ccvs.ui.CVSWorkspaceSubscriber.confirmMerged">
         </action>
      </subscriberContribution>
          <subscriberContribution
            subscriberClass="org.eclipse.team.internal.ccvs.core.CVSMergeSubscriber"
            id="org.eclipse.team.ccvs.ui.CVSMergeSubscriberContributions">
          <action
               label="%CVSWorkspaceSubscriber.merge.label"
               tooltip="%CVSWorkspaceSubscriber.merge.tooltip"
               class="org.eclipse.team.internal.ccvs.ui.subscriber.MergeUpdateAction"
               helpContextId="org.eclipse.team.cvs.ui.workspace_subscriber_merge_action"
               id="org.eclipse.team.ccvs.ui.CVSMergeSubscriber.merge">
         </action>
         <action
               label="%CVSWorkspaceSubscriber.confirmMerged.label"
               tooltip="%CVSWorkspaceSubscriber.confirmMerged.tooltip"
               class="org.eclipse.team.internal.ccvs.ui.subscriber.SubscriberConfirmMergedAction"
               helpContextId="org.eclipse.team.cvs.ui.workspace_subscriber_confirm_merged_action"
               id="org.eclipse.team.ccvs.ui.CVSMergeSubscriber.confirmMerged">
         </action>
      </subscriberContribution>
   </extension>
   
<!-- ************** Views ********************** -->
   <extension
         point="org.eclipse.ui.views">
      <category
            name="%viewCategory"
            id="org.eclipse.team.ccvs.ui">
      </category>
      <view
            name="%Console.name"
            icon="icons/full/cview16/console_view.gif"
            category="org.eclipse.team.ccvs.ui"
            class="org.eclipse.team.internal.ccvs.ui.Console"
            id="org.eclipse.team.ccvs.ui.console">
      </view>
      <view
            name="%RepositoriesView.name"
            icon="icons/full/cview16/repo_rep.gif"
            category="org.eclipse.team.ccvs.ui"
       		fastViewWidthRatio="0.5"
            class="org.eclipse.team.internal.ccvs.ui.repo.RepositoriesView"
            id="org.eclipse.team.ccvs.ui.RepositoriesView">
      </view>
      <view
            name="%HistoryView.name"
            icon="icons/full/cview16/history_view.gif"
            category="org.eclipse.team.ccvs.ui"
            class="org.eclipse.team.internal.ccvs.ui.HistoryView"
            id="org.eclipse.team.ccvs.ui.HistoryView">
      </view>
       <view
            name="%EditorsView.name"
            icon="icons/full/cview16/rep_editors_view.gif"
            category="org.eclipse.team.ccvs.ui"
            class="org.eclipse.team.internal.ccvs.ui.EditorsView"
            id="org.eclipse.team.ccvs.ui.EditorsView">
      </view>
      <view
            name="%AnnotateView.name"
            icon="icons/full/cview16/annotate_view.gif"
            category="org.eclipse.team.ccvs.ui"
            class="org.eclipse.team.internal.ccvs.ui.AnnotateView"
            id="org.eclipse.team.ccvs.ui.AnnotateView">
      </view>
   </extension>
<!-- **************** Preferences ******************* -->
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="%PreferencePage.name"
            category="org.eclipse.team.ui.TeamPreferences"
            class="org.eclipse.team.internal.ccvs.ui.CVSPreferencesPage"
            id="org.eclipse.team.cvs.ui.CVSPreferences">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="%ConsolePreferencePage.name"
            category="org.eclipse.team.cvs.ui.CVSPreferences"
            class="org.eclipse.team.internal.ccvs.ui.ConsolePreferencesPage"
            id="org.eclipse.team.cvs.ui.ConsolePreferences">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="%DecoratorPreferencePage.name"
            category="org.eclipse.team.cvs.ui.CVSPreferences"
            class="org.eclipse.team.internal.ccvs.ui.CVSDecoratorPreferencesPage"
            id="org.eclipse.team.cvs.ui.CVSDecoratorPreferences">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="%ExtMethodPreferencePage.name"
            category="org.eclipse.team.cvs.ui.CVSPreferences"
            class="org.eclipse.team.internal.ccvs.ui.ExtMethodPreferencePage"
            id="org.eclipse.team.cvs.ui.ExtMethodPreferencePage">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="%WatchEditPreferencePage.name"
            category="org.eclipse.team.cvs.ui.CVSPreferences"
            class="org.eclipse.team.internal.ccvs.ui.WatchEditPreferencePage"
            id="org.eclipse.team.cvs.ui.WatchEditPreferencePage">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="%WorkInProgress.name"
            category="org.eclipse.team.cvs.ui.CVSPreferences"
            class="org.eclipse.team.internal.ccvs.ui.WorkInProgressPreferencePage"
            id="org.eclipse.team.cvs.ui.WorkInProgress">
      </page>
   </extension>
      
<!-- **************** Decorator ******************* -->
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            objectClass="org.eclipse.core.resources.IResource"
            adaptable="true"
            label="%DecoratorStandard.name"
            state="false"
            lightweight= "true"
            quadrant = "BOTTOM_RIGHT"
            class="org.eclipse.team.internal.ccvs.ui.CVSLightweightDecorator"
            id="org.eclipse.team.cvs.ui.decorator">
         <description>
            %DecoratorStandard.desc
	     </description>
     </decorator>
   </extension>
<!-- *************** View Actions **************** -->
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            targetID="org.eclipse.team.ccvs.ui.HistoryView"
            id="org.eclipse.team.cvs.ui.history">
         <action
               label="%HistoryFilter.label"
               icon="icons/full/elcl16/filter_history.gif"
               disabledIcon="icons/full/dlcl16/filter_history.gif"
               hoverIcon="icons/full/clcl16/filter_history.gif"               
               tooltip="%HistoryFilter.tooltip"
               class="org.eclipse.team.internal.ccvs.ui.HistoryFilterAction"
               toolbarPath="actions"
               id="org.eclipse.team.cvs.ui.historyaction">
         </action>
      </viewContribution>
   </extension>

<!-- **************** CVS Perspective ******************* -->
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="%CVSRepositoryExploring"
            icon="icons/full/cview16/cvs_persp.gif"
            class="org.eclipse.team.internal.ccvs.ui.CVSPerspective"
            id="org.eclipse.team.cvs.ui.cvsPerspective">
      </perspective>
   </extension>
<!-- ************** Perspective Extensions **************** -->
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <perspectiveShortcut
               id="org.eclipse.team.cvs.ui.cvsPerspective">
         </perspectiveShortcut>
           <view id="org.eclipse.team.ccvs.ui.console"
                relative="org.eclipse.ui.views.TaskList"
                visible="false"
                relationship="stack"/>
           <view id="org.eclipse.team.ccvs.ui.HistoryView"
                relative="org.eclipse.ui.views.TaskList"
                visible="false"
                relationship="stack"/>
           <view id="org.eclipse.team.ccvs.ui.RepositoriesView"
                relative="org.eclipse.ui.views.ResourceNavigator"
                visible="false"
                relationship="stack"/>
           <view id="org.eclipse.team.ccvs.ui.AnnotateView"
                relative="org.eclipse.ui.views.ResourceNavigator"
                visible="false"
                relationship="stack"/>
      </perspectiveExtension>
	<perspectiveExtension 
		targetID="org.eclipse.team.cvs.ui.cvsPerspective">
		<actionSet id="org.eclipse.team.cvs.ui.CVSActionSet"/>
		<view id="org.eclipse.team.ccvs.ui.AnnotateView"
        		relative="org.eclipse.team.ccvs.ui.RepositoriesView"
                relationship="stack"/>
	</perspectiveExtension>
   </extension>

	<!-- ************** Project Sets **************** -->
	<extension point="org.eclipse.team.core.projectSets">
		<projectSet id="org.eclipse.team.cvs.core.cvsnature" class="org.eclipse.team.internal.ccvs.ui.CVSProjectSetSerializer"/>
	</extension>
	
	
	<!-- ************ Editor Actions ************** -->
	<extension point="org.eclipse.ui.editorActions">
		<editorContribution
			id="org.eclipse.team.cvs.ui.contentCompare"
			targetID="org.eclipse.compare.CompareEditor">
			<action
				id="org.eclipse.team.cvs.ui.ContentAction"
				state="false"
				toolbarPath="Normal/additions"
				icon="icons/full/etool16/contents.gif"
				disabledIcon="icons/full/dtool16/contents.gif"
				hoverIcon="icons/full/ctool16/contents.gif"
				label="%ContentAction.label"
 	            tooltip="%ContentAction.tooltip"
 				class="org.eclipse.team.internal.ccvs.ui.actions.ContentAction">
			</action>
		</editorContribution>
	</extension>
	
	<!-- ********** Action Sets ************** -->
	<extension point="org.eclipse.ui.actionSets">
		<actionSet 
			label="%CVS" 
			visible="false" 
			id="org.eclipse.team.cvs.ui.CVSActionSet"
			description="%CVSActionSet.description">
	  	  <action
	  	  	toolbarPath="Normal/CVS"
	  		 label="%CVSActionSet.newLabel"
	  		 tooltip="%CVSActionSet.newTooltip"
	  		 icon="icons/full/wizards/newconnect_wiz.gif"
	  		 class="org.eclipse.team.internal.ccvs.ui.actions.NewRepositoryAction"
	  		 id="org.eclipse.team.cvs.ui.actions.NewRepositoryAction"
	  		 definitionId="org.eclipse.team.cvs.ui.new.location"> 
	  	    </action>
	  </actionSet>
	</extension>

	<!-- ********** Font Definitions ************** -->
	<extension
         point="org.eclipse.ui.fontDefinitions">
      <fontDefinition
            label="%CVSConsoleFont.label"
            defaultsTo="org.eclipse.jface.textfont"
            id="pref_console_font">
      	<description>
      		%CVSConsoleFont.description
      	</description>
      </fontDefinition>
	</extension>
</plugin>
