<?xml version="1.0" encoding="UTF-8"?>
<plugin
	name="%pluginName"
	id="org.eclipse.team.cvs.ui"
	version="2.0.0"
	provider-name="Object Technology International, Inc."
	class="org.eclipse.team.internal.ccvs.ui.CVSUIPlugin">

	<requires>
		<import plugin="org.eclipse.core.runtime"/>
		<import plugin="org.eclipse.core.resources"/>
		<import plugin="org.eclipse.ui"/>
		<import plugin="org.eclipse.team.core"/>
		<import plugin="org.eclipse.team.ui"/>
		<import plugin="org.eclipse.team.cvs.core"/>
		<import plugin="org.eclipse.compare"/>
	</requires>

	<runtime>
		<library name="teamcvsui.jar"/>
	</runtime>
</plugin>