<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!-- ====================================================================== -->
<!-- Copyright (c) 2016 Red Hat Inc. and others.                            -->
<!-- All rights reserved. This program and the accompanying materials       -->
<!-- are made available under the terms of the Eclipse Public License v1.0  -->
<!-- which accompanies this distribution, and is available at               -->
<!-- http://www.eclipse.org/legal/epl-v10.html                              -->
<!--                                                                        -->
<!-- Contributors:                                                          -->
<!--     Sopot Cela & Mickael Istria (Red Hat Inc). -initial implementation -->
<!-- ====================================================================== -->
<plugin>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            file-names=".project"
            id="dotproject"
            name="Eclipse .project"
            priority="high">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.ui.genericeditor.contentAssistProcessors">
      <contentAssistProcessor
            class="org.eclipse.ui.genericeditor.examples.dotproject.NaturesAndProjectsContentAssistProcessor"
            contentType="org.eclipse.ui.genericeditor.examples.dotproject">
      </contentAssistProcessor>
   </extension>
   <extension
         point="org.eclipse.ui.genericeditor.hoverProviders">
      <hoverProvider
            class="org.eclipse.ui.genericeditor.examples.dotproject.NatureLabelHoverProvider"
            contentType="org.eclipse.ui.genericeditor.examples.dotproject"
            id="natureLabelHoverProvider">
      </hoverProvider>
   </extension>
   <extension
         point="org.eclipse.ui.genericeditor.presentationReconcilers">
      <presentationReconciler
            class="org.eclipse.ui.genericeditor.examples.dotproject.BlueTagsPresentationReconciler"
            contentType="org.eclipse.ui.genericeditor.examples.dotproject">
      </presentationReconciler>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editorContentTypeBinding
            contentTypeId="org.eclipse.ui.genericeditor.examples.dotproject"
            editorId="org.eclipse.ui.genericeditor.GenericEditor">
      </editorContentTypeBinding>
   </extension>
   <extension
         point="org.eclipse.core.filebuffers.documentSetup">
      <participant
            class="org.eclipse.ui.genericeditor.examples.dotproject.ProjectDocumentParticipant"
            contentTypeId="org.eclipse.ui.genericeditor.examples.dotproject">
      </participant>
   </extension>

</plugin>
