<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="%Actions.ActionSetName"
            visible="true"
            id="org.eclipse.ui.examples.fieldassist.actionSet">
         <menu
               label="%Actions.ExampleMenu"
               id="exampleMenu">
            <separator
                  name="exampleGroup">
            </separator>
         </menu>
         <action
               label="%Actions.TestDialogName"
               icon="icons/sample.gif"
               class="org.eclipse.ui.examples.fieldassist.actions.TestDialogAction"
               tooltip="%Actions.TestDialogTooltip"
               menubarPath="exampleMenu/exampleGroup"
               toolbarPath="exampleGroup"
               id="org.eclipse.ui.examples.fieldassist.actions.ExampleAction">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="%MainPreferences.Name"
            class="org.eclipse.ui.examples.fieldassist.preferences.FieldAssistPreferencePage"
            id="org.eclipse.ui.examples.fieldassist.preferences.FieldAssistPreferencePage">
      </page>
     <page
            name="%ContentAssistPreferences.Name"
            class="org.eclipse.ui.examples.fieldassist.preferences.ContentAssistPreferencePage"
            category="org.eclipse.ui.examples.fieldassist.preferences.FieldAssistPreferencePage"
            id="org.eclipse.ui.examples.fieldassist.preferences.ContentAssistPreferencePage">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.ui.examples.fieldassist.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
