<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!-- ======================================================================= -->
<!-- Search Plugin                                                           -->
<!-- ======================================================================= -->
<plugin
	name="%pluginName"
	
	id="org.eclipse.search"
	version="3.1.0"
	provider-name="%providerName"
	class="org.eclipse.search.internal.ui.SearchPlugin">

	<requires>
	  <import plugin="org.eclipse.core.resources"/>
	  <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.ui.ide"/>
      <import plugin="org.eclipse.ui.workbench.texteditor"/>
      <import plugin="org.eclipse.jface.text"/>
      <import plugin="org.eclipse.ui.editors"/>
      <import plugin="org.eclipse.core.runtime.compatibility"/>
	</requires>
	
	<runtime>
		<library name="search.jar" >
			<export name = "*"/>
		</library>
	</runtime>
	
	
	<!-- Search extension point definitions -->
	
	<extension-point name="%searchPages" id="searchPages" schema="schema/searchPages.exsd"/>
	<extension-point name="%searchResultSorters" id="searchResultSorters" schema="schema/searchResultSorters.exsd"/>
  	<extension-point name="%searchResultViewPages" id="searchResultViewPages" schema="schema/searchResultViewPages.exsd"/>
	
	
	<!-- Extensions -->
	
	<extension point="org.eclipse.core.resources.markers" id="searchmarker" name="%searchMarker">
		<super type="org.eclipse.core.resources.textmarker"/>
		<attribute name="line"/>
		<attribute name="potentialMatch"/>
	</extension>
	
	<extension point="org.eclipse.ui.editors.annotationTypes">
      <type
        name="org.eclipse.search.results"
		markerType="org.eclipse.search.searchmarker">
      </type>
	</extension>
	
	<extension 
		point="org.eclipse.ui.ide.markerImageProviders">
		<imageprovider 
			id="org.eclipse.ui.searchMarkerProvider"
			markertype="org.eclipse.search.searchmarker"
			icon="icons/full/obj16/searchm_obj.gif">
		</imageprovider>
	</extension>
	
	<!-- commands and their bindings -->   
	<extension point="org.eclipse.ui.commands">
		<category
			name="%searchCategory.name"
			description="%searchCategory.description"
			id="org.eclipse.search.ui.category.search"
		/>

		<command
			category="org.eclipse.search.ui.category.search"
			id="org.eclipse.search.ui.openSearchDialog"
			name= "%ActionDefinition.openSearchDialog.name"
			description="%ActionDefinition.openSearchDialog.description"
		/>
		<keyBinding
			string="Ctrl+H"
			scope="org.eclipse.ui.globalScope"
			command="org.eclipse.search.ui.openSearchDialog"
			configuration="org.eclipse.ui.defaultAcceleratorConfiguration"
		/>

		<command
			category="org.eclipse.search.ui.category.search"
			id="org.eclipse.search.ui.openFileSearchPage"
			name= "%ActionDefinition.openFileSearchPage.name"
			description="%ActionDefinition.openFileSearchPage.description"
		/>
		<keyBinding
			string=""
			scope="org.eclipse.ui.globalScope"
			command="org.eclipse.search.ui.openFileSearchPage"
			configuration="org.eclipse.ui.defaultAcceleratorConfiguration"
		/>
		
		<command
			category="org.eclipse.ui.category.views"
			id="org.eclipse.search.SearchResultView"
			name="%ViewCommand.searchResultView.name"
			description="%ViewCommand.searchResultView.description"
		/>
		<keyBinding
			string=""
			scope="org.eclipse.ui.globalScope"
			command="org.eclipse.search.SearchResultView"
			configuration="org.eclipse.ui.defaultAcceleratorConfiguration"
		/>
		
		<command
			category="org.eclipse.ui.category.views"
			id="org.eclipse.search.ui.views.SearchView"
			name="%ViewCommand.searchView.name"
			description="%ViewCommand.searchView.description"
		/>
		<keyBinding
            string="Alt+Shift+Q S"
			scope="org.eclipse.ui.globalScope"
			command="org.eclipse.search.ui.views.SearchView"
			configuration="org.eclipse.ui.defaultAcceleratorConfiguration"
		/>
		<keyBinding
			platform="carbon"
			string="Alt+Shift+Q S"
			scope="org.eclipse.ui.globalScope"
			command=""
			configuration="org.eclipse.ui.defaultAcceleratorConfiguration"
		/>
		<keyBinding
			platform="carbon"
			string="Command+Alt+Q S"
			scope="org.eclipse.ui.globalScope"
			command="org.eclipse.search.ui.views.SearchView"
			configuration="org.eclipse.ui.defaultAcceleratorConfiguration"
		/>
	</extension>
	
	<!-- action sets -->
	<extension point="org.eclipse.ui.actionSets">
		<actionSet
			id="org.eclipse.search.searchActionSet"
	        label="%search"
			visible="true">
	
			<!-- =================================================================== -->
			<!-- Search Menu                                                         -->
			<!-- =================================================================== -->
			
	      	<menu
	            id="org.eclipse.search.menu"
	            label="%searchMenu.label"
	            path="navigate">
				<groupMarker name="internalDialogGroup"/>   <!-- not to be used by clients  -->
				<groupMarker name="dialogGroup"/>           <!-- to be used by clients      -->
	         	<separator name="contextMenuActionsGroup"/>
				<separator name="internalOccurrencesGroup"/> <!-- not to be used by clients  -->
	      	</menu>
	      	
	      	<!-- dialog group  -->
			<action id="org.eclipse.search.OpenFileSearchPage"
				definitionId="org.eclipse.search.ui.openFileSearchPage"
				menubarPath="org.eclipse.search.menu/internalDialogGroup"
				label="%openFileSearchPageAction.label"
				icon="icons/full/elcl16/tsearch_obj.gif"
				helpContextId="file_search_action_context"
				class="org.eclipse.search.internal.ui.OpenFileSearchPageAction"/>
	
			<action id="org.eclipse.search.OpenSearchDialog"
				definitionId="org.eclipse.search.ui.openSearchDialog"
				toolbarPath="Normal/Search"			
				menubarPath="org.eclipse.search.menu/internalDialogGroup"
				label="%openSearchDialogAction.label"
				tooltip="%openSearchDialogAction.tooltip"
				icon="icons/full/etool16/search.gif"
				helpContextId="open_search_dialog_action_context"
				class="org.eclipse.search.internal.ui.OpenSearchDialogAction"/>
	     </actionSet>
	</extension>
	
	<extension point="org.eclipse.ui.views">
		<view
		   id="org.eclipse.search.SearchResultView"
		   name="%searchResultViewName"
		   category="org.eclipse.ui"
		   class="org.eclipse.search.internal.ui.SearchResultView"
		   icon="icons/full/eview16/searchres.gif">
		</view>
      	<view
            name="%newSearchResultViewName"
            icon="icons/full/eview16/searchres.gif"
            category="org.eclipse.ui"
            class="org.eclipse.search2.internal.ui.SearchView"
            id="org.eclipse.search.ui.views.SearchView">
      	</view>
	</extension>
   
<!-- Default search results view -->
   	<extension
    	id="FileSearchPage"
        point="org.eclipse.search.searchResultViewPages">
		<viewPage
			id="org.eclipse.search.text.FileSearchResultPage"
			searchResultClass="org.eclipse.search.internal.ui.text.FileSearchResult"
			class="org.eclipse.search.internal.ui.text.FileSearchPage">
		</viewPage>
	</extension>
	
	<extension point="org.eclipse.search.searchPages">
		<page
			id="org.eclipse.search.internal.ui.text.TextSearchPage"
			label="%fileSearch"
			icon="icons/full/elcl16/tsearch_obj.gif"
			sizeHint="250,160"
			tabPosition="1"
			extensions="*:1"
			showScopeSection="true"		
			canSearchEnclosingProjects="true"
			class="org.eclipse.search.internal.ui.text.TextSearchPage">
		</page>
	</extension>
	
	<extension
		point="org.eclipse.ui.preferencePages">
		<page name="%SearchPreferencePage.label"
			id="org.eclipse.search.preferences.SearchPreferencePage"
			class="org.eclipse.search.internal.ui.SearchPreferencePage"
			category="org.eclipse.ui.preferencePages.Workbench">
		</page>
<!---
		<page name="%WorkInProgressPreferencePage.label"
			id="org.eclipse.search.preferences.WorkInProgressPreferencePage"
			class="org.eclipse.search.internal.ui.WorkInProgressPreferencePage"
			category="org.eclipse.search.preferences.SearchPreferencePage">
		</page>
-->
	</extension>
	
	<extension
	     point="org.eclipse.ui.editors.markerAnnotationSpecification">
	     <specification
	      		annotationType="org.eclipse.search.results"
	            label="%SearchMarkerPreference.label"
	            icon="icons/full/obj16/searchm_obj.gif"
	            textPreferenceKey="searchResultIndication"
	            textPreferenceValue="false"
	            highlightPreferenceKey="searchResultHighlighting"
	            highlightPreferenceValue="true"
	            overviewRulerPreferenceKey="searchResultIndicationInOverviewRuler"
	            overviewRulerPreferenceValue="true"
	            verticalRulerPreferenceKey="searchResultIndicationInVerticalRuler"
	            verticalRulerPreferenceValue="true"
	            colorPreferenceKey="searchResultIndicationColor"
	            colorPreferenceValue="206,204,247"
	            presentationLayer="3"
	            showInNextPrevDropdownToolbarActionKey="showSearchResultInNextPrevDropdownToolbarAction"
	            showInNextPrevDropdownToolbarAction="true"
	            isGoToNextNavigationTargetKey="isSearchResultGoToNextNavigationTarget"
	            isGoToNextNavigationTarget="false"
	            isGoToPreviousNavigationTargetKey="isSearchResultGoToPreviousNavigationTarget"
	            isGoToPreviousNavigationTarget="false">
	     </specification>
	</extension>

</plugin>