<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="application"
         name="Workbench Application"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="org.eclipse.e4.ui.workbench.swt.internal.WorkbenchApplication">
         </run>
      </application>
   </extension>
   <extension
         id="E4Application"
         name="E4 Application"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="org.eclipse.e4.ui.workbench.swt.internal.E4Application">
         </run>
      </application>
   </extension>
   <extension
         id="GenTopic"
         name="Internal Model Topic Generator"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="org.eclipse.e4.ui.workbench.swt.internal.GenTopic">
         </run>
      </application>
   </extension>

</plugin>
