<?xml version="1.0" encoding="UTF-8"?>
<plugin
  name="IBM Tooling Platform Core Tests - Test Plugin D"
  id="plugin.d"
  version="1.0"
  class="org.eclipse.core.tests.internal.plugin.d.PluginClass"
  vendor-name="IBM">

  <runtime>
    <library name="plugin_d.jar">
      <export name="org.eclipse.core.tests.internal.plugin.d.api.*"/>
      <export name="org.eclipse.core.tests.internal.plugins.TestClass"/>
    </library>
  </runtime>

</plugin>
