Shell {
    background-color: #EEF2F7 #DEEBF3 100%;
}

CTabFolder {
    tab-renderer: url('platform:/plugin/org.eclipse.e4.ui.workbench.renderers.swt/org.eclipse.e4.workbench.ui.renderers.swt.CTabRendering');
    unselected-tabs-color: #E0E9FF #E7EEFD #FFFFFF 100% 100%;
    outer-keyline-color: rgb(190,216,237);
	inner-keyline-color: rgb(255,255,255);
}
