
.MTrimmedWindow.topLevel { 
    margin-top: 5px;
    margin-bottom: 2px;
    margin-left: 2px;
    margin-right: 2px;
}

.MPartStack {
    tab-renderer: url('bundleclass://org.eclipse.e4.ui.workbench.renderers.swt/org.eclipse.e4.ui.workbench.renderers.swt.CTabRendering');
    unselected-tabs-color: #FFFFFF #FFFFFF #FFFFFF 100% 100%;
    outer-keyline-color: #FFFFFF;
	inner-keyline-color: #FFFFFF;
	padding: 0px 9px 10px;
	tab-outline: #B6BCCC;
	shadow-visible: true;
	mru-visible: false;
}

.MPartStack.active {
	inner-keyline-color: #FFFFFF;
	tab-outline: #B6BCCC;
	shadow-visible: true;
}

#PerspectiveSwitcher {
	perspective-keyline-color: #AAB0BF #AAB0BF;
}
