
.MTrimmedWindow { 
    background-color: #E6EAF7; 
    margin-top: 12px;
    margin-bottom: 2px;
    margin-left: 10px;
    margin-right: 10px;
}

.MPartStack {
    tab-renderer: url('platform:/plugin/org.eclipse.e4.ui.workbench.renderers.swt/org.eclipse.e4.ui.workbench.renderers.swt.CTabRendering');
    unselected-tabs-color: #FFFFFF #FFFFFF #FFFFFF 100% 100%;
    outer-keyline-color: #FFFFFF;
	inner-keyline-color: #FFFFFF;
}

.MTrimBar  {
    background-image:  url(./win7.PNG);	
}

.MPartStack.active {
	unselected-tabs-color: #F3F9ff #D0DFEE #CEDDED #D2E1F0 #FFFFFF 30% 50% 100% 100%;
    	outer-keyline-color: #C4C5C1;
	inner-keyline-color: #FFFFFF;
}
