
.MTrimmedWindow { 
    background-color: #E2E2E2; 
    margin-top: 12px;
    margin-bottom: 2px;
    margin-left: 10px;
    margin-right: 10px;
}

.MPartStack {
    tab-renderer: url('platform:/plugin/org.eclipse.e4.ui.workbench.renderers.swt/org.eclipse.e4.ui.workbench.renderers.swt.CTabRendering');
    unselected-tabs-color: #FFFFFF #FFFFFF #FFFFFF 100% 100%;
    outer-keyline-color: #FFFFFF;
	inner-keyline-color: #FFFFFF;
	font-size: 11;
}

.MTrimBar {
    background-color: #E2E2E2; 
}

.MTrimBar#org-eclipse-ui-main-toolbar  {
    background-image:  url(./gtkGrey.PNG);	
}

.MPartStack.active {
	unselected-tabs-color: #DCDCDC #E1E1E1 #FFFFFF 100% 100%;
    	outer-keyline-color: #C4C5C1;
	inner-keyline-color: #FFFFFF;
}

#PerspectiveSwitcher {
	background-color: #EBEBEB #E2E2E2 100%;
}
