@import url("e4_basestyle.css");

.MTrimmedWindow { 
    background-color: #E1E6F6; 
}

.MPartStack {
	font-size: 9;
	font-family: 'Segoe UI';
	simple: true;
	mru-visible: false;
}

.MTrimBar {
    background-color: #E1E6F6; 
}

.MTrimBar#org-eclipse-ui-main-toolbar {
    background-image:  url(./win7.PNG);	
}

.MPartStack.active {
	unselected-tabs-color: #F3F9FF #D0DFEE #CEDDED #CEDDED #D2E1F0 #D2E1F0 #FFFFFF 20% 45% 60% 70% 100% 100%;
	outer-keyline-color: #B6BCCC;
}

#PerspectiveSwitcher  {
	background-color: #F5F7FC #E1E6F6 100%;
}

#org-eclipse-ui-editorss {
   tab-renderer: url('bundleclass://org.eclipse.e4.ui.workbench.renderers.swt/org.eclipse.e4.ui.workbench.renderers.swt.CTabRendering');
   unselected-tabs-color: #F0F0F0 #F0F0F0 #F0F0F0 100% 100%;
   outer-keyline-color: #B4B4B4;
   inner-keyline-color: #F0F0F0;
   tab-outline: #F0F0F0;
   color: #F0F0F0;
   tab-height: 8px;
   padding: 0px 5px 7px;
}

CTabFolder.MArea .MPartStack, CTabFolder.MArea .MPartStack.active {
   shadow-visible: false;
}

CTabFolder Canvas {
  background-color: #F8F8F8;
}
