
@import url("e4_basestyle.css");

.MTrimmedWindow { 
    background-color: #E2E2E2; 
}

.MPartStack {
	font-size: 11;
	simple: false;
}

.MTrimBar {
    background-color: #E2E2E2; 
}

.MTrimBar#org-eclipse-ui-main-toolbar  {
    background-image:  url(./gtkGrey.PNG);	
}

.MPartStack.active {
	unselected-tabs-color: #DCDCDC #E1E1E1 #FFFFFF 100% 100%;
    outer-keyline-color: #B4B4B4;
    tab-outline: #B4B4B4;
}

#PerspectiveSwitcher { 
	background-color: #EBEBEB #E2E2E2 100%;
	perspective-keyline-color: #B4B4B4 #B4B4B4;
}

#org-eclipse-ui-editorss {
   tab-renderer: url('bundleclass://org.eclipse.e4.ui.workbench.renderers.swt/org.eclipse.e4.ui.workbench.renderers.swt.CTabRendering');
   unselected-tabs-color: #F0F0F0 #F0F0F0 #F0F0F0 100% 100%;
   outer-keyline-color: #B4B4B4;
   inner-keyline-color: #F0F0F0;
   tab-outline: #F0F0F0;
   color: #F0F0F0;
   tab-height: 8px;
   padding: 0px 5px 7px;
}

CTabFolder.MArea .MPartStack, CTabFolder.MArea .MPartStack.active {
   shadow-visible: false;
}

CTabFolder Canvas {
  background-color: #F8F8F8;
}

