
.MWindow {
    background-color:  #EEF2F7 #DEEBF3 100%;
}

.MTrimmedWindow {  
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
    margin-right: 2px;
}

.MTrimmedWindow.topLevel { 
    margin-top: 24px;
    margin-bottom: 2px;
    margin-left: 12px;
    margin-right: 12px;
}

.MPartStack {
    tab-renderer: url('bundleclass://org.eclipse.e4.ui.workbench.renderers.swt/org.eclipse.e4.ui.workbench.renderers.swt.CTabRendering');
    unselected-tabs-color: #FFFFFF #FFFFFF #FFFFFF 100% 100%;
    outer-keyline-color: #FFFFFF;
	inner-keyline-color: #FFFFFF;
}

.MTrimBar {
    background-color: #EEF2F7 #DEEBF3 100%;
}


.MTrimBar#org-eclipse-ui-main-toolbar  {
    background-image:  url(./winXPBlue.PNG);	
}

.MPartStack.active {
	unselected-tabs-color: #CEDEF4 #D2E2F9 #FFFFFF 100% 100%;
    outer-keyline-color: #C3D0E9;
	inner-keyline-color: #FFFFFF;
}
