
.MTrimmedWindow { 
 	background-color: #F0ECE0; 
    margin-top: 12px;
    margin-bottom: 2px;
    margin-left: 10px;
    margin-right: 10px;
}

.MPartStack {
    tab-renderer: url('platform:/plugin/org.eclipse.e4.ui.workbench.renderers.swt/org.eclipse.e4.ui.workbench.renderers.swt.CTabRendering');
    unselected-tabs-color: #FFFFFF #FFFFFF #FFFFFF 100% 100%;
    outer-keyline-color: #FFFFFF;
	inner-keyline-color: #FFFFFF;
	font-size: 9;
}

.MTrimBar  {
    background-image:  url(./winXPBlue.PNG);	
}

.MPartStack.active {
	unselected-tabs-color: #F1F4FD #C9DAF3 #BED4F1 #BED4F1 #C9D7F2 #C9D7F2 #FFFFFF 20% 45% 60% 70% 100% 100%;
    outer-keyline-color: #B8C7E5;
	inner-keyline-color: #FFFFFF;
}

#PerspectiveSwitcher  {
	background-color: #F5F3ED #F0ECE0 100%;
	/*keyline-color: #AAB0BF;*/
}

