@import url("e4_basestyle.css");

.MTrimmedWindow { 
    background-color: #E8E8E8;
}

.MPartStack {
	font-size: 12;
	simple: false;
}

.MTrimBar {
    background-color: #E8E8E8;
}

.MTrimBar#org-eclipse-ui-main-toolbar {
    background-color:  #CFCFCF #A8A8A8 100%;	
}

.MPartStack.active {
	unselected-tabs-color: #F6F6F6 #D3D3D3 #D1D1D1 #D1D1D1 #D6D6D6 #D6D6D6 #FFFFFF 20% 45% 60% 70% 100% 100%;
    outer-keyline-color: #C4C5C1;
}

#PerspectiveSwitcher {
	background-color: #F0F0F0 #E8E8E8 100%;
	perspective-keyline-color: #515151 #515151;
}

#org-eclipse-ui-editorss {
   tab-renderer: url('bundleclass://org.eclipse.e4.ui.workbench.renderers.swt/org.eclipse.e4.ui.workbench.renderers.swt.CTabRendering');
   unselected-tabs-color: #D6DDE5 #D6DDE5 #D6DDE5 100% 100%;
   outer-keyline-color: #D6DDE5;
   inner-keyline-color: #D6DDE5;
   tab-outline: #D6DDE5;
   color: #D6DDE5;
   tab-height: 8px;
   padding: 0px 5px 7px;
}

CTabFolder.MArea .MPartStack, CTabFolder.MArea .MPartStack.active {
   shadow-visible: false;
}

CTabFolder Canvas {
  background-color: #F0F0F0;
}