

.MTrimmedWindow { 
    margin-top: 12px;
    margin-bottom: 2px;
    margin-left: 10px;
    margin-right: 10px;
}

.MPartStack {
    tab-renderer: url('platform:/plugin/org.eclipse.e4.ui.workbench.renderers.swt/org.eclipse.e4.ui.workbench.renderers.swt.CTabRendering');
    unselected-tabs-color: #FFFFFF #FFFFFF #FFFFFF 100% 100%;
    outer-keyline-color: #FFFFFF;
	inner-keyline-color: #FFFFFF;
	font-size: 9;
}

.MTrimBar  {
    background-image:  url(./winXPOlive.PNG);	
}

.MPartStack.active {
	unselected-tabs-color: #E6E3C3 #EDEACA #FFFFFF 100% 100%;
    outer-keyline-color: #BFCDA4;
	inner-keyline-color: #FFFFFF;
}
