/*
 * Set up the content for the root page.
 */
body, #intro-header, #root-background {
	min-width : 775px;
	/* since IE doesn't support min-width, try expression */
	width:expression(document.body.clientWidth < 775? "775px": "auto" );
}

body {
	background-image : url(graphics/watermark/eclipse_logo.gif);
	background-position : bottom left;
}

#intro-header {
	background-color : #BCCEE4;
}

#root-background {
	background-color : #BCCEE4;
	min-height : 4%; /* same as background-image top and variable-space height */
}

#variable-space {
	background-color : #BCCEE4;
	height : 4%; /* same as background-image and background height */
}

#root-background-image {
	position : relative;
	top : 4%; /* same as variable-space and background height */
	height : 253px;
	width : 100%;
	background-image : url(graphics/background/background.jpg);
	background-repeat : repeat-x;
	text-align : center;
}

#root-curve-image {
	height : 253px;
	width : 611px;
	background-image : url(graphics/background/curve.gif);
	background-repeat : no-repeat;
	position : relative;
	margin : 0px auto;
}

/* 
 * Set up the navigation bar.  It should be centered in the middle
 * of the page, aligned over the bottom of the decorative 
 * background image
 */

.page { text-align : center; }
.intro-header { text-align : left; }

#page-links {
	position : relative;
	top : 4%;
	width : 36em;
	margin : 0 auto;
}

#page-links a {
	position : absolute;
	top : -60px;
	width : 8em;
	margin-left : 0.5em;
	margin-right : 0.5em;
	text-align : center;
}

/* Account for difference in positioning in Moz */
.page > #page-links a {
	top : -70px;
}

#page-links a img {
	height : 72px;
	width : 72px;
	vertical-align : middle;
}

#page-links a .link-label, #page-links a p .text, 
#action-links a .link-label, #action-links a p .text {
	font-size : 10pt;
	display : block;
	margin : 0px;
	padding : 0px;
}

#page-links a p { text-align : left;}

/* hide the link description until users hover over the link */
#page-links a p .text { display : none; }

#page-links a:hover { border-right : 0px; }
#page-links a:hover p { margin : 0px; padding : 0px; }
#page-links a:hover p .text {
	display : block;
	width : 42em;
	text-align : center;
	margin : 0px;
	padding : 0px;
	position : absolute;
	margin-top : 2.5em;
}

/* Account for differences in box model between IE and Mozilla */
#page-links a:hover > p .text {
	width : 36em;
}

/* properties for each of the page-links  */
a#overview { left : 0em; }
a#overview img { background-image : url(graphics/obj_64/overview_obj.gif); }
a#overview:hover img { background-image : url(graphics/obj_64/hovoverview_obj.gif); }
a#overview:hover p .text { left : 0em;  }

a#tutorials { left : 9em; }
a#tutorials img { background-image : url(graphics/obj_64/tutorials_obj.gif); }
a#tutorials:hover img { background-image : url(graphics/obj_64/hovtutorials_obj.gif); }
a#tutorials:hover p .text { left : -11em;  }
/* Account for differences in box model between IE and Mozilla */
a#tutorials:hover > p .text { left : -9em;  }

a#samples { left : 18em; }
a#samples img { background-image : url(graphics/obj_64/examples_obj.gif); }
a#samples:hover img { background-image : url(graphics/obj_64/hovexamples_obj.gif); }
a#samples:hover p .text { left : -22em; }
/* Account for differences in box model between IE and Mozilla */
a#samples:hover > p .text { left : -18em; }

a#news { left : 27em; }
a#news img { background-image : url(graphics/obj_64/whatsnew_obj.gif); }
a#news:hover img { background-image : url(graphics/obj_64/hovwhatsnew_obj.gif); }
a#news:hover p .text { left : -33em; }
/* Account for differences in box model between IE and Mozilla */
a#news:hover p > .text { left : -27em; }

/*
 * Set up the action links
 */
#action-links {
	width : 98%;
	position : absolute;
	left : 0px;
	top : 20px;
}

a#workbench { 
	position : absolute; 
	right : 0px;
	text-align : left;  
}

a#workbench .link-label { display : inline; position : relative; top : -25px; }

a#workbench img {
	background-image : url(graphics/obj_48/workbench_obj.gif); 
	height : 56px;
	width : 56px;
	text-align : center;
}

a#workbench:hover img {
	background-image : url(graphics/obj_48/hovworkbench_obj.gif); 
	height : 56px;
	width : 56px;
}
#action-links a p .text { display : none; }

#action-links a:hover { border-right : 0px; }

#action-links a:hover p .text {
	display : block;
	position : relative;
	width : 13em;
	text-align : center;
}

