<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.eclipse.ui.forms.examples"
   name="%pluginName"
   version="3.0.0"
   provider-name="Eclipse.org"
   class="org.eclipse.ui.forms.examples.internal.ExamplesPlugin">

   <runtime>
      <library name="examples.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.ui.forms"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.ui.views"/>
      <import plugin="org.eclipse.help"/>
      <import plugin="org.eclipse.pde.ui"/>
   </requires>


   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="%baseEditor"
            default="true"
            icon="icons/file_obj.gif"
            class="org.eclipse.ui.forms.examples.internal.rcp.SimpleFormEditor"
            id="org.eclipse.ui.forms.examples.base-editor">
      </editor>
      <editor
            name="Wizard editor"
            default="true"
            icon="icons/file_obj.gif"
            class="org.eclipse.ui.forms.examples.wizards.WizardFormEditorWithOutline"
            id="org.eclipse.ui.forms.examples.wizard-editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Eclipse Forms Examples"
            id="org.eclipse.ui.forms.examples.actionSet">
         <menu
               label="Form Editors"
               id="org.eclipse.ui.forms.examples.menu">
            <groupMarker
                  name="group">
            </groupMarker>
         </menu>
         <action
               label="Simple Form Editor"
               class="org.eclipse.ui.forms.examples.internal.rcp.OpenSimpleFormEditorAction"
               menubarPath="org.eclipse.ui.forms.examples.menu/group"
               id="org.eclipse.ui.forms.examples.simple">
         </action>
         <action
               label="Form Editor Wizard"
               class="org.eclipse.ui.forms.examples.wizards.OpenEditorWizardAction"
               menubarPath="org.eclipse.ui.forms.examples.menu/group"
               id="org.eclipse.ui.forms.examples.editor-wizard">
         </action>
        <action
               label="Existing Wizard"
               class="org.eclipse.ui.forms.examples.wizards.OpenExistingEditorWizardAction"
               menubarPath="org.eclipse.ui.forms.examples.menu/group"
               id="org.eclipse.ui.forms.examples.existing-editor-wizard">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="Eclipse Forms Examples"
            id="org.eclipse.ui.forms.examples">
      </category>
      <view
            name="Eclipse Form"
            icon="icons/sample.gif"
            category="org.eclipse.ui.forms.examples"
            class="org.eclipse.ui.forms.examples.views.FormView"
            id="org.eclipse.ui.forms.examples.views.FormView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="org.eclipse.ui.forms.examples.views.FormView">
         </view>
      </perspectiveExtension>
   </extension>

</plugin>
