<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?><!--
    Copyright (c) 2005, 2009 IBM Corporation and others.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
   
    Contributors:
        IBM Corporation - initial API and implementation
 -->

<plugin>

     <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.eclipse.ui.forms.examples.category"
            name="Eclipse Forms Examples">
      </category>
      <command
            categoryId="org.eclipse.ui.forms.examples.category"
            defaultHandler="org.eclipse.ui.forms.examples.internal.rcp.OpenSimpleFormEditorAction"
            id="org.eclipse.ui.forms.examples.simple"
            name="Simple Form Editor">
      </command>
      <command
            categoryId="org.eclipse.ui.forms.examples.category"
            defaultHandler="org.eclipse.ui.forms.examples.internal.rcp.OpenSingleHeaderEditorAction"
            id="org.eclipse.ui.forms.examples.singleHeader"
            name="Single Header Editor">
      </command>
      <command
            categoryId="org.eclipse.ui.forms.examples.category"
            defaultHandler="org.eclipse.ui.forms.examples.internal.dialogs.OpenFormDialog"
            id="org.eclipse.ui.forms.examples.openDialog"
            name="Open Form Dialog...">
      </command>
   </extension>


   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="%baseEditor"
            default="true"
            icon="icons/file_obj.gif"
            class="org.eclipse.ui.forms.examples.internal.rcp.SimpleFormEditor"
            id="org.eclipse.ui.forms.examples.base-editor">
      </editor>
      <editor
            name="%singleHeaderEditor"
            default="true"
            icon="icons/file_obj.gif"
            class="org.eclipse.ui.forms.examples.internal.rcp.SingleHeaderEditor"
            id="org.eclipse.ui.forms.examples.single-header-editor">
      </editor>      
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="Form Editors">
            <command
                  commandId="org.eclipse.ui.forms.examples.simple"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.forms.examples.singleHeader"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.forms.examples.openDialog"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="org.eclipse.ui.forms.examples.views.FormView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="Eclipse Forms Examples"
            id="org.eclipse.ui.forms.examples">
      </category>
      <view
            name="Eclipse Form"
            icon="icons/sample.gif"
            category="org.eclipse.ui.forms.examples"
            class="org.eclipse.ui.forms.examples.views.FormView"
            id="org.eclipse.ui.forms.examples.views.FormView">
      </view>
   </extension>
</plugin>
