<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.eclipse.team.core"
   name="%pluginName"
   version="3.1.0"
   provider-name="%providerName"
   class="org.eclipse.team.internal.core.TeamPlugin">

   <runtime>
      <library name="team.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.core.runtime"/>
   </requires>


   <extension-point id="fileTypes" name="%FileTypesRegistry" schema="schema/fileTypes.exsd"/>
   <extension-point id="ignore" name="%GlobalIgnoreRegistry" schema="schema/ignore.exsd"/>
   <extension-point id="projectSets" name="%TeamProjectSets" schema="schema/projectSets.exsd"/>
   <extension-point id="repository" name="%Repository" schema="schema/repository.exsd"/>
   <extension-point id="defaultFileModificationValidator" name="%DefaultValidator" schema="schema/defaultFileModificationValidator.exsd"/>

<!-- Define common known file types -->
   <extension
         point="org.eclipse.team.core.fileTypes">
      <fileTypes
            type="text"
            extension="txt">
      </fileTypes>
      <fileTypes
            type="text"
            extension="properties">
      </fileTypes>
      <fileTypes
            type="text"
            extension="xml">
      </fileTypes>
      <fileTypes
            type="text"
            extension="xsl">
      </fileTypes>
      <fileTypes
            type="text"
            extension="html">
      </fileTypes>
      <fileTypes
            type="text"
            extension="htm">
      </fileTypes>
      <fileTypes
            type="binary"
            extension="jpg">
      </fileTypes>
      <fileTypes
            type="binary"
            extension="jpeg">
      </fileTypes>
      <fileTypes
            type="binary"
            extension="gif">
      </fileTypes>
      <fileTypes
            type="binary"
            extension="png">
      </fileTypes>
      <fileTypes
            type="binary"
            extension="ico">
      </fileTypes>
      <fileTypes
            type="binary"
            extension="bmp">
      </fileTypes>
      <fileTypes
            type="binary"
            extension="tif">
      </fileTypes>
      <fileTypes
            type="binary"
            extension="tiff">
      </fileTypes>
      <fileTypes
            type="binary"
            extension="doc">
      </fileTypes>
      <fileTypes
            type="binary"
            extension="xls">
      </fileTypes>
      <fileTypes
            type="binary"
            extension="pdf">
      </fileTypes>
      <fileTypes
            type="binary"
            extension="ppt">
      </fileTypes>
      <fileTypes
            type="binary"
            extension="zip">
      </fileTypes>
      <fileTypes
            type="binary"
            extension="exe">
      </fileTypes>
      <fileTypes
            type="binary"
            extension="dll">
      </fileTypes>
      <fileTypes
            type="binary"
            extension="so">
      </fileTypes>
      <fileTypes
            type="text"
            extension="project">
      </fileTypes>
      <fileTypes
            type="text"
            extension="options">
      </fileTypes>
      <fileTypes
            type="text"
            extension="exsd">
      </fileTypes>
      <fileTypes
            type="text"
            extension="mxsd">
      </fileTypes>
      <fileTypes
            type="text"
            extension="MF">
      </fileTypes>
      <fileTypes
            type="text"
            extension="prefs">
      </fileTypes>
   </extension>
   <extension
         id="FileValidator"
         point="org.eclipse.core.resources.fileModificationValidator">
      <fileModificationValidator
            class="org.eclipse.team.internal.core.FileModificationValidatorManager">
      </fileModificationValidator>
   </extension>
   <extension
         id="MoveDeleteHook"
         point="org.eclipse.core.resources.moveDeleteHook">
      <moveDeleteHook
            class="org.eclipse.team.internal.core.MoveDeleteManager">
      </moveDeleteHook>
   </extension>
   <extension
         id="TeamHook"
         point="org.eclipse.core.resources.teamHook">
      <teamHook
            class="org.eclipse.team.internal.core.TeamHookDispatcher">
      </teamHook>
   </extension>

</plugin>
