<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.eclipse.ui.forms"
   name="%name"
   version="3.1.0"
   provider-name="%provider-name">

   <runtime>
      <library name=".">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.ui" optional="true"/>
      <import plugin="org.eclipse.core.runtime"/>
   </requires>


</plugin>
