<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.eclipse.ui.forms"
   name="%name"
   version="3.0.1.1"
   provider-name="%provider-name">

   <runtime>
      <library name="forms.jar">
         <export name="*"/>
         <packages prefixes="org.eclipse.ui.forms"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.runtime"/>
   </requires>


</plugin>
