<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.eclipse.e4.ui.menu.tests.p2.testSetOne"
            label="Test Set One"
            visible="true">
         <menu
               id="org.eclipse.e4.ui.menu.tests.p2.menu1"
               label="Test&amp;One"
               path="additions">
            <groupMarker
                  name="group1">
            </groupMarker>
            <groupMarker
                  name="group2">
            </groupMarker>
         </menu>
         <action
               class="org.eclipse.e4.ui.menu.tests.p2.TestActionDelegate"
               id="org.eclipse.e4.ui.menu.tests.p2.action1"
               label="ActionOne"
               menubarPath="org.eclipse.e4.ui.menu.tests.p2.menu1/group1"
               style="push">
         </action>
         <action
               class="org.eclipse.e4.ui.menu.tests.p2.TestActionDelegate"
               id="org.eclipse.e4.ui.menu.tests.p2.action2"
               label="ActionTwo"
               menubarPath="org.eclipse.e4.ui.menu.tests.p2.menu1/group1"
               style="push">
         </action>
         <action
               class="org.eclipse.e4.ui.menu.tests.p2.TestActionDelegate"
               id="org.eclipse.e4.ui.menu.tests.p2.action3"
               label="ActionThree"
               menubarPath="org.eclipse.e4.ui.menu.tests.p2.menu1/group2"
               style="push">
         </action>
         <action
               class="org.eclipse.e4.ui.menu.tests.p2.TestActionDelegate"
               id="org.eclipse.e4.ui.menu.tests.p2.action4"
               label="ActionFour"
               menubarPath="edit/copy.ext"
               style="push">
         </action>
      </actionSet>
      <actionSet
            id="org.eclipse.e4.ui.menu.tests.p2.testToolbar"
            label="Test Toolbar"
            visible="true">
         <action
               class="org.eclipse.e4.ui.menu.tests.p2.TestActionDelegate"
               id="org.eclipse.e4.ui.menu.tests.p2.tb1"
               label="TBone"
               style="push"
               toolbarPath="p2.tb1/group1">
         </action>
         <action
               class="org.eclipse.e4.ui.menu.tests.p2.TestActionDelegate"
               id="org.eclipse.e4.ui.menu.tests.p2.tb2"
               label="TBtwo"
               style="push"
               toolbarPath="p2.tb1/group1">
         </action>
         <action
               class="org.eclipse.e4.ui.menu.tests.p2.TestActionDelegate"
               id="org.eclipse.e4.ui.menu.tests.p2.tb3"
               label="TBthree"
               style="push"
               toolbarPath="p2.tb1/group1">
         </action>
         <action
               class="org.eclipse.e4.ui.menu.tests.p2.TestActionDelegate"
               id="org.eclipse.e4.ui.menu.tests.p2.tb4"
               label="TBfour"
               style="push"
               toolbarPath="p2.tb1/group2">
         </action>
         <action
               class="org.eclipse.e4.ui.menu.tests.p2.TestActionDelegate"
               id="org.eclipse.e4.ui.menu.tests.p2.tb5"
               label="TBfive"
               style="push"
               toolbarPath="p2.tb1/group2">
         </action>
      </actionSet>
   </extension>

</plugin>
