<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="renameParticipants" name="%renameParticipantsExtensionPoint" schema="schema/renameParticipants.exsd"/>
   <extension-point id="moveParticipants" name="%moveParticipantsExtensionPoint"  schema="schema/moveParticipants.exsd"/>
   <extension-point id="createParticipants" name="%createParticipantsExtensionPoint" schema="schema/createParticipants.exsd"/>
   <extension-point id="deleteParticipants" name="%deleteParticipantsExtensionPoint"  schema="schema/deleteParticipants.exsd"/>
   <extension-point id="copyParticipants" name="%copyParticipantsExtensionPoint"  schema="schema/copyParticipants.exsd"/>
   <extension-point id="refactoringContributions" name="%refactoringContributionsExtensionPoint" schema="schema/refactoringContributions.exsd"/>
   <extension
         point="org.eclipse.team.core.fileTypes">
      <fileTypes
            extension="history"
            type="text"/>
      <fileTypes
            extension="index"
            type="text"/>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.text"
            default-charset="UTF-8"
            file-names="refactorings.index"
            id="refactoringIndex"
            name="%RefactoringHistoryContent.name"
            priority="high"/>
      <content-type
            base-type="org.eclipse.core.runtime.text"
            default-charset="UTF-8"
            file-names="refactorings.history"
            id="refactoringHistory"
            name="%RefactoringIndexContent.name"
            priority="high"/>
   </extension>
   
   <extension
         point="org.eclipse.ltk.core.refactoring.refactoringContributions">
      <contribution
            class="org.eclipse.ltk.internal.core.refactoring.resource.RenameResourceRefactoringContribution"
            id="org.eclipse.ltk.core.refactoring.rename.resource"/>
      <contribution
            class="org.eclipse.ltk.internal.core.refactoring.resource.MoveResourcesRefactoringContribution"
            id="org.eclipse.ltk.core.refactoring.move.resources"/>
      <contribution
            class="org.eclipse.ltk.internal.core.refactoring.resource.DeleteResourcesRefactoringContribution"
            id="org.eclipse.ltk.core.refactoring.delete.resources"/>
   </extension>        
</plugin>