<?xml version="1.0" encoding="UTF-8"?>
<plugin
  name="Save Participant 3"
  id="org.eclipse.core.tests.resources.saveparticipant3"
  class="org.eclipse.core.tests.resources.saveparticipant3.SaveParticipant3Plugin"
  version="2.0.0"
  provider-name="Eclipse.org">

  <requires>
    <import plugin="org.eclipse.core.resources"/>
    <import plugin="org.eclipse.core.tests.resources"/>
  </requires>

  <runtime>
    <library name="saveparticipant3.jar">
      <export name="*" /> 
    </library>
  </runtime>
</plugin>
