<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.e4.tools.emf.editor3x.E4WorkbenchModelEditor"
            default="true"
            extensions="e4xmi"
            icon="icons/full/obj16/application_view_tile.png"
            id="org.eclipse.e4.tools.emf.editor3x.e4wbm"
            name="e4 Workbenchmodel Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.e4.tools.emf.ui.editors">
      <contributionClassCreator
            class="org.eclipse.e4.tools.emf.editor3x.extension.HandlerContributionEditor">
      </contributionClassCreator>
      <contributionClassCreator
            class="org.eclipse.e4.tools.emf.editor3x.extension.PartContributionEditor">
      </contributionClassCreator>
   </extension>

</plugin>
