<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.e4.tools.emf.editor3x.E4WorkbenchModelEditor"
            default="true"
            extensions="e4xmi"
            icon="icons/full/obj16/application_view_tile.png"
            id="org.eclipse.e4.tools.emf.editor3x.e4wbm"
            name="e4 Workbenchmodel Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            canFinishEarly="false"
            category="org.eclipse.e4"
            class="org.eclipse.e4.tools.emf.editor3x.wizard.NewApplicationModelWizard"
            hasPages="true"
            icon="icons/full/obj16/application_view_tile.png"
            id="org.eclipse.e4.tools.emf.editor3x.newappmodel"
            name="New Application Model">
      </wizard>
 
      <wizard
            canFinishEarly="false"
            category="org.eclipse.e4"
            class="org.eclipse.e4.tools.emf.editor3x.wizard.NewContributionModelWizard"
            hasPages="true"
            icon="icons/full/obj16/plugin.png"
            id="org.eclipse.e4.tools.emf.editor3x.newmodelcontribution"
            name="New Model Fragment">
      </wizard>
      <category
            id="org.eclipse.e4"
            name="e4">
      </category>
      </extension>

</plugin>
