<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="org.eclipse.update.ui.forms"
   name="%name"
   version="2.0.0"
   provider-name="International Business Machines Corp."
   class="org.eclipse.update.ui.forms.internal.FormsPlugin">

   <runtime>
      <library name="forms.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.apache.xerces"/>
   </requires>


</plugin>
