<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
 <extension
			 point="org.eclipse.ui.genericeditor.contentAssistProcessors">
		<contentAssistProcessor
					class="org.eclipse.ui.genericeditor.tests.contributions.BarContentAssistProcessor"
					contentType="org.eclipse.core.runtime.text">
		</contentAssistProcessor>
 </extension>
 <extension
			 point="org.eclipse.ui.genericeditor.hoverProviders">
		<hoverProvider
					class="org.eclipse.ui.genericeditor.tests.contributions.MagicHoverProvider"
					contentType="org.eclipse.core.runtime.text">
		</hoverProvider>
 </extension>
 <extension
			 point="org.eclipse.ui.genericeditor.presentationReconcilers">
		<presentationReconciler
					class="org.eclipse.ui.genericeditor.tests.contributions.ThePresentationReconciler"
					contentType="org.eclipse.core.runtime.text">
		</presentationReconciler>
   </extension>

</plugin>
