<?xml version="1.0" encoding="UTF-8"?>
<!-- File written by PDE 1.0 -->
<plugin
   id="org.eclipse.ui.tests"
   name="Eclipse UI Tests"
   version="1.0.0"
   provider-name="Object Technology International"
   class="org.eclipse.ui.tests.TestPlugin">
<requires>
   <import plugin="org.eclipse.core.runtime"/>
   <import plugin="org.eclipse.core.resources"/>
   <import plugin="org.eclipse.ui"/>
   <import plugin="org.junit"/>
</requires>

<runtime>
   <library name="uitests.jar"/>
</runtime>

<extension 
	point="org.eclipse.ui.test.harness.uiTests">
	<uiTest 
		id="ui.TestSuite"
		class="org.eclipse.ui.tests.UiTestSuite"/>
	<uiTest 
		id="ui.api.TestSuite"
		class="org.eclipse.ui.tests.api.ApiTestSuite"/>
</extension>

<extension 
	point="org.eclipse.ui.perspectives">
	<perspective
		id="org.eclipse.ui.tests.api.EmptyPerspective"
		name="Empty Perspective"
		class="org.eclipse.ui.tests.api.EmptyPerspective">
	</perspective>
</extension>

<extension 
	point="org.eclipse.ui.views">
	<view
       id="org.eclipse.ui.tests.api.MockView1"
	   name="Mock View 1"
       icon="icons\view.gif"
	   class="org.eclipse.ui.tests.api.MockViewPart">
	</view>
	<view
       id="org.eclipse.ui.tests.api.MockView2"
	   name="Mock View 2"
       icon="icons\view.gif"
	   class="org.eclipse.ui.tests.api.MockViewPart">
	</view>
	<view
       id="org.eclipse.ui.tests.api.MockView3"
	   name="Mock View 3"
       icon="icons\view.gif"
	   class="org.eclipse.ui.tests.api.MockViewPart">
	</view>
	<view
       id="org.eclipse.ui.tests.api.MockView4"
	   name="Mock View 4"
       icon="icons\view.gif"
	   class="org.eclipse.ui.tests.api.MockViewPart">
	</view>
	<view
       id="org.eclipse.ui.tests.api.MockView5"
	   name="Mock View 5"
       icon="icons\view.gif"
	   class="org.eclipse.ui.tests.api.MockViewPart">
	</view>
</extension>

<extension
    point = "org.eclipse.ui.editors">
    <editor id ="org.eclipse.ui.tests.api.MockEditor1"
      name="Mock Editor 1"
      extensions="mock1"
      icon="icons\view.gif"
      class="org.eclipse.ui.tests.api.MockEditorPart">
    </editor>
    <editor id ="org.eclipse.ui.tests.api.MockEditor2"
      name="Mock Editor 2"
      extensions="mock2"
      icon="icons\view.gif"
      class="org.eclipse.ui.tests.api.MockEditorPart">
    </editor>
</extension>

</plugin>
