<?xml version="1.0" encoding="UTF-8"?>
<!-- File written by PDE 1.0 -->
<plugin
   id="org.eclipse.ui.tests"
   name="Eclipse UI Tests"
   version="2.0.0"
   provider-name="Object Technology International"
   class="org.eclipse.ui.tests.TestPlugin">
   
<requires>
   <import plugin="org.eclipse.core.boot"/>
   <import plugin="org.eclipse.core.runtime"/>
   <import plugin="org.eclipse.core.resources"/>
   <import plugin="org.eclipse.swt"/>
   <import plugin="org.eclipse.ui"/>
   <import plugin="org.junit"/>
</requires>

<runtime>
   <library name="uitests.jar"/>
</runtime>

<!-- Utils -->

<extension 
	point="org.eclipse.ui.perspectives">
	<perspective
		id="org.eclipse.ui.tests.util.EmptyPerspective"
		name="Empty Perspective"
		class="org.eclipse.ui.tests.util.EmptyPerspective">
	</perspective>
</extension>

<!-- Utils End -->

<extension 
	point="org.eclipse.ui.perspectives">
	<perspective
		id="org.eclipse.ui.tests.api.SessionPerspective"
		name="Session Perspective"
		class="org.eclipse.ui.tests.api.SessionPerspective">
	</perspective>
</extension>

<extension 
	point="org.eclipse.ui.views">
	<view
       id="org.eclipse.ui.tests.api.MockViewPart"
	   name="Mock View 1"
       icon="icons\view.gif"
	   class="org.eclipse.ui.tests.api.MockViewPart"/>
	<view
       id="org.eclipse.ui.tests.api.MockViewPart2"
	   name="Mock View 2"
      icon="icons\view.gif"
	   class="org.eclipse.ui.tests.api.MockViewPart"/>
	<view
       id="org.eclipse.ui.tests.api.MockViewPart3"
	   name="Mock View 3"
       icon="icons\view.gif"
	   class="org.eclipse.ui.tests.api.MockViewPart"/>
	<view
       id="org.eclipse.ui.tests.api.SessionView"
	   name="Session Test View"
       icon="icons\view.gif"
	   class="org.eclipse.ui.tests.api.SessionView"/>
	<view
       id="org.eclipse.ui.tests.api.IViewActionDelegateTest"
	   name="IViewActionDelegateTest View"
       icon="icons\view.gif"
	   class="org.eclipse.ui.tests.api.MockViewPart"/>
	<view
       id="org.eclipse.ui.tests.api.IActionFilterTest1"
	   name="Action Filter Test View 1"
       icon="icons\view.gif"
	   class="org.eclipse.ui.tests.api.ListView"
	   menuType="static"/>
	<view
       id="org.eclipse.ui.tests.internal.ActionExpressionTest"
	   name="Action Expression Test View"
       icon="icons\view.gif"
	   class="org.eclipse.ui.tests.api.ListView"/>
	<view
       id="org.eclipse.ui.tests.api.IActionFilterTest2"
	   name="Action Filter Test View 2"
       icon="icons\view.gif"
	   class="org.eclipse.ui.tests.api.ListView"
	   menuType="dynamic"/>
	<view
       id="org.eclipse.ui.tests.SelectionProviderView"
	   name="Selection Provider Test View"
       icon="icons\view.gif"
	   class="org.eclipse.ui.tests.SelectionProviderView"/>
	<view
       id="org.eclipse.ui.tests.SelectionProviderView2"
	   name="Selection Provider Test View 2"
       icon="icons\view.gif"
	   class="org.eclipse.ui.tests.SelectionProviderView"/>
	<view
		id="org.eclipse.ui.tests.adaptable.adaptedHierarchy"
		name="Adapted Resource Navigator"
		icon="icons\view.gif"
		class="org.eclipse.ui.tests.adaptable.AdaptedResourceNavigator"/>
</extension>

<extension
    point = "org.eclipse.ui.editors">
    <editor id ="org.eclipse.ui.tests.api.MockEditorPart1"
      name="Mock Editor 1"
      extensions="mock1"
      icon="icons\mockeditorpart1.gif"
      class="org.eclipse.ui.tests.api.MockEditorPart">
    </editor>
     <editor id ="org.eclipse.ui.tests.api.MockEditorPart2"
      name="Mock Editor 2"
      extensions="mock2"
      icon="icons\mockeditorpart2.gif"
      class="org.eclipse.ui.tests.api.MockEditorPart">
    </editor>
    <editor id ="org.eclipse.ui.tests.api.IEditorActionBarContributorTest"
      name="IEditorActionBarContributorTest"
      extensions="mock3"
      icon="icons\mockeditorpart2.gif"
      class="org.eclipse.ui.tests.api.MockEditorPart"
      contributorClass="org.eclipse.ui.tests.api.MockEditorActionBarContributor">
    </editor>
    <editor id ="org.eclipse.ui.tests.api.IEditorActionDelegateTest"
      name="IEditorActionDelegateTest"
      extensions="mock3"
      icon="icons\mockeditorpart2.gif"
      class="org.eclipse.ui.tests.api.MockEditorPart"
      contributorClass="org.eclipse.ui.tests.api.MockEditorActionBarContributor">
    </editor>
    <editor id ="org.eclipse.ui.tests.internal.EditorActionBarsTest"
      name="IEditorActionBarsTest"
      extensions="mock3"
      icon="icons\mockeditorpart2.gif"
      class="org.eclipse.ui.tests.api.MockEditorPart"
      contributorClass="org.eclipse.ui.tests.api.MockEditorActionBarContributor">
    </editor>
    <editor id ="org.eclipse.ui.tests.ExtendedTextEditor"
      name="ExtendedTextEditor"
      icon="icons\mockeditorpart2.gif"
      extensions="exttxt"
      class="org.eclipse.ui.tests.internal.ExtendedTextEditor"
      contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor">     
    </editor>
</extension>

<extension point = "org.eclipse.ui.actionSets"> 
	<actionSet id="org.eclipse.ui.tests.api.MockActionSet"
		label="Mock Action Set">
		<action id="org.eclipse.ui.tests.api.MockWindowAction" 
                label="Mock Action" 
                menubarPath="additions"
				class = "org.eclipse.ui.tests.api.MockWorkbenchWindowActionDelegate">
            </action> 
    </actionSet> 
</extension> 

<extension point="org.eclipse.ui.viewActions"> 
	<viewContribution 
		id="va1" 
  		targetID="org.eclipse.ui.tests.api.IViewActionDelegateTest"> 
		<action id="a1" 
              label="Mock Action" 
              menubarPath="additions" 
              class="org.eclipse.ui.tests.api.MockViewActionDelegate"> 
		</action> 
	</viewContribution> 
</extension> 

<extension point="org.eclipse.ui.editorActions">
	<editorContribution 
		id="ea1" 
  		targetID="org.eclipse.ui.tests.api.IEditorActionDelegateTest"> 
		<action id="a1" 
              label="Mock Action" 
              menubarPath="additions" 
              class="org.eclipse.ui.tests.api.MockEditorActionDelegate"> 
		</action> 
	</editorContribution> 
</extension> 

<extension point="org.eclipse.ui.popupMenus"> 
    <objectContribution id="oc1" 
        objectClass="org.eclipse.ui.tests.api.ListElement"> 
        <filter name="name" value="red"/> 
        <action id="oc1" label="redAction_v1" 
        	class="org.eclipse.ui.tests.api.MockActionDelegate"/> 
    </objectContribution> 
    <objectContribution id="oc2" 
        objectClass="org.eclipse.ui.tests.api.ListElement"> 
        <filter name="name" value="blue"/> 
        <action id="oc2" label="blueAction_v1"
        	class="org.eclipse.ui.tests.api.MockActionDelegate"/>
    </objectContribution> 
    <objectContribution id="oc3" 
        objectClass="org.eclipse.ui.tests.api.ListElement"> 
        <filter name="flag" value="true"/> 
        <action id="oc3" label="trueAction_v1"
			class="org.eclipse.ui.tests.api.MockActionDelegate"/>
    </objectContribution> 
    <objectContribution id="oc4" 
        objectClass="org.eclipse.ui.tests.api.ListElement"> 
        <filter name="flag" value="false"/> 
        <action id="oc4" label="falseAction_v1"
			class="org.eclipse.ui.tests.api.MockActionDelegate"/>
    </objectContribution> 
    <objectContribution id="oc5" 
        objectClass="org.eclipse.ui.tests.api.ListElement"> 
        <filter name="name" value="red"/> 
        <filter name="flag" value="true"/> 
        <action id="oc5" label="redTrueAction_v1"
        	class="org.eclipse.ui.tests.api.MockActionDelegate"/>
    </objectContribution>
    
    <!-- Adaptable test-->
    <objectContribution
         objectClass="org.eclipse.core.resources.IResource"
         id="org.eclipse.ui.tests.adaptable.ResourceContributions"
         adaptable = "true">
      <action
            label="Resource Action"
            class="org.eclipse.ui.tests.adaptable.ResourceAction"
            menubarPath="org.eclipse.ui.OpenFileAction"
            id="resource action">
      </action>
    </objectContribution>
</extension> 

<extension point = "org.eclipse.ui.actionSets"> 

	<!-- ActionSetExpressionTest -->
	
    <actionSet id="org.eclipse.ui.tests.internal.ListElementActions" 
        label="List Element">
        <menu id="org.eclipse.ui.tests.internal.ListElementMenu" 
            label="List Element" 
            path="additions"> 
            <separator name="group1"/> 
        </menu> 
        <action id="org.eclipse.ui.tests.internal.ac1" 
            label="allAction_v2" 
            menubarPath="org.eclipse.ui.tests.internal.ListElementMenu/group1" 
            class="org.eclipse.ui.tests.api.MockActionDelegate" 
            enablesFor="1"> 
            <enablement>
            	<objectClass name="org.eclipse.ui.tests.api.ListElement"/>
            </enablement>
        </action> 
        <action id="org.eclipse.ui.tests.internal.ac2" 
            label="redAction_v2" 
            menubarPath="org.eclipse.ui.tests.internal.ListElementMenu/group1" 
            class="org.eclipse.ui.tests.api.MockActionDelegate" 
            enablesFor="1"> 
            <enablement>
            	<and>
	            	<objectClass name="org.eclipse.ui.tests.api.ListElement"/>
    	        	<objectState name="name" value="red"/>
    	        </and>
            </enablement>
        </action> 
        <action id="org.eclipse.ui.tests.internal.ac3" 
            label="notRedAction_v2" 
            menubarPath="org.eclipse.ui.tests.internal.ListElementMenu/group1" 
            class="org.eclipse.ui.tests.api.MockActionDelegate" 
            enablesFor="1"> 
            <enablement>
            	<and>
	            	<objectClass name="org.eclipse.ui.tests.api.ListElement"/>
     	        	<not>
	    	        	<objectState name="name" value="red"/>
	        	    </not>
	        	</and>
            </enablement>
        </action> 
        <action id="org.eclipse.ui.tests.internal.ac4" 
            label="trueAction_v2" 
            menubarPath="org.eclipse.ui.tests.internal.ListElementMenu/group1" 
            class="org.eclipse.ui.tests.api.MockActionDelegate" 
            enablesFor="1"> 
            <enablement>
            	<and>
	            	<objectClass name="org.eclipse.ui.tests.api.ListElement"/>
    	        	<objectState name="flag" value="true"/>
    	        </and>
            </enablement>
        </action> 
        <action id="org.eclipse.ui.tests.internal.ac5" 
            label="redOrBlueAction_v2" 
            menubarPath="org.eclipse.ui.tests.internal.ListElementMenu/group1" 
            class="org.eclipse.ui.tests.api.MockActionDelegate" 
            enablesFor="1"> 
            <enablement>
            	<or>
	            	<and>
		            	<objectClass name="org.eclipse.ui.tests.api.ListElement"/>
	    	        	<objectState name="name" value="red"/>
	    	        </and>
	            	<and>
		            	<objectClass name="org.eclipse.ui.tests.api.ListElement"/>
	    	        	<objectState name="name" value="blue"/>
	    	        </and>
	    	    </or>
            </enablement>
        </action> 
        <action id="org.eclipse.ui.tests.internal.ac6" 
            label="redAndTrueAction_v2" 
            menubarPath="org.eclipse.ui.tests.internal.ListElementMenu/group1" 
            class="org.eclipse.ui.tests.api.MockActionDelegate" 
            enablesFor="1"> 
            <enablement>
            	<and>
	            	<objectClass name="org.eclipse.ui.tests.api.ListElement"/>
    	        	<objectState name="name" value="red"/>
    	        	<objectState name="flag" value="true"/>
    	        </and>
            </enablement>
        </action> 
        <action id="org.eclipse.ui.tests.internal.ac7" 
            label="pluginNotInstalledAction_v2" 
            menubarPath="org.eclipse.ui.tests.internal.ListElementMenu/group1" 
            class="org.eclipse.ui.tests.api.MockActionDelegate"> 
            <enablement>
            	<pluginState id="7777xxf" value="installed"/>
            </enablement>
        </action> 
        <action id="org.eclipse.ui.tests.internal.ac8" 
            label="pluginInstalledAction_v2" 
            menubarPath="org.eclipse.ui.tests.internal.ListElementMenu/group1" 
            class="org.eclipse.ui.tests.api.MockActionDelegate"> 
            <enablement>
            	<pluginState id="org.eclipse.ui" value="installed"/>
            </enablement>
        </action> 
        <action id="org.eclipse.ui.tests.internal.ac9" 
            label="pluginNotActivatedAction_v2" 
            menubarPath="org.eclipse.ui.tests.internal.ListElementMenu/group1" 
            class="org.eclipse.ui.tests.api.MockActionDelegate"> 
            <enablement>
            	<pluginState id="org.eclipse.update" value="activated"/>
            </enablement>
        </action> 
        <action id="org.eclipse.ui.tests.internal.ac10" 
            label="pluginActivatedAction_v2" 
            menubarPath="org.eclipse.ui.tests.internal.ListElementMenu/group1" 
            class="org.eclipse.ui.tests.api.MockActionDelegate"> 
            <enablement>
            	<pluginState id="org.eclipse.ui" value="activated"/>
            </enablement>
        </action> 
        <action id="org.eclipse.ui.tests.internal.ac11" 
            label="systemPropertyAction_v2" 
            menubarPath="org.eclipse.ui.tests.internal.ListElementMenu/group1" 
            class="org.eclipse.ui.tests.api.MockActionDelegate"> 
            <enablement>
            	<systemProperty name="ActionExpressionVar" value="bubba"/>
            </enablement>
        </action> 
    </actionSet> 
    
	<!-- TextSelectionActionFilterText -->
	
    <actionSet id="org.eclipse.ui.tests.internal.TextSelectionActions" 
        label="Text Selection Tests">
        <menu id="org.eclipse.ui.tests.internal.TextSelectionMenu" 
            label="Text Selection Tests" 
            path="additions"> 
            <separator name="group1"/> 
        </menu> 
        <action id="org.eclipse.ui.tests.internal.as_1" 
            label="anyText" 
            menubarPath="org.eclipse.ui.tests.internal.TextSelectionMenu/group1" 
            class="org.eclipse.ui.tests.api.MockActionDelegate"
            enablesFor="1"> 
            <selection class="org.eclipse.jface.text.ITextSelection"/>
        </action> 
        <action id="org.eclipse.ui.tests.internal.ac_2" 
            label="emptyText" 
            menubarPath="org.eclipse.ui.tests.internal.TextSelectionMenu/group1" 
            class="org.eclipse.ui.tests.api.MockActionDelegate"> 
            <enablement>
            	<and>
	            	<objectClass name="org.eclipse.jface.text.ITextSelection"/>
    	        	<objectState name="isEmpty" value="true"/>
    	        </and>
            </enablement>
        </action> 
        <action id="org.eclipse.ui.tests.internal.ac_3" 
            label="helloText" 
            menubarPath="org.eclipse.ui.tests.internal.TextSelectionMenu/group1" 
            class="org.eclipse.ui.tests.api.MockActionDelegate"> 
            <enablement>
            	<and>
	            	<objectClass name="org.eclipse.jface.text.ITextSelection"/>
    	        	<objectState name="text" value="Hello"/>
    	        </and>
            </enablement>
        </action> 
	</actionSet>  
</extension> 

<extension point="org.eclipse.ui.popupMenus"> 

	<!-- PopupMenuExpressionTest -->
	
	<objectContribution id="oc1"
		objectClass="org.eclipse.ui.tests.api.ListElement">  
        <action id="oc1" label="allAction_v2" 
        	class="org.eclipse.ui.tests.api.MockActionDelegate"/> 
    </objectContribution> 
    <objectContribution id="oc2"
		objectClass="org.eclipse.ui.tests.api.ListElement"> 
		<visibility>
        	<objectState name="name" value="red"/>
		</visibility>
        <action id="oc2" label="redAction_v2"
        	class="org.eclipse.ui.tests.api.MockActionDelegate"/>
    </objectContribution> 
    <objectContribution id="oc3"
		objectClass="org.eclipse.ui.tests.api.ListElement">
		<visibility>
        	<not>
   	        	<objectState name="name" value="red"/>
       	    </not>
		</visibility>
        <action id="oc3" label="notRedAction_v2"
			class="org.eclipse.ui.tests.api.MockActionDelegate"/>
    </objectContribution> 
    <objectContribution id="oc4"
		objectClass="org.eclipse.ui.tests.api.ListElement">
		<visibility>
        	<objectState name="flag" value="true"/>
		</visibility>
        <action id="oc4" label="trueAction_v2"
			class="org.eclipse.ui.tests.api.MockActionDelegate"/>
    </objectContribution> 
    <objectContribution id="oc5"
		objectClass="org.eclipse.ui.tests.api.ListElement">
		<visibility>
        	<or>
   	        	<objectState name="name" value="red"/>
   	        	<objectState name="name" value="blue"/>
       	    </or>
		</visibility>
        <action id="oc4" label="redOrBlueAction_v2"
			class="org.eclipse.ui.tests.api.MockActionDelegate"/>
    </objectContribution> 
    <objectContribution id="oc6"
		objectClass="org.eclipse.ui.tests.api.ListElement">
		<visibility>
        	<and>
   	        	<objectState name="name" value="red"/>
	        	<objectState name="flag" value="true"/>
       	    </and>
		</visibility>
        <action id="oc4" label="redAndTrueAction_v2"
			class="org.eclipse.ui.tests.api.MockActionDelegate"/>
    </objectContribution> 
    <objectContribution id="oc7"
		objectClass="org.eclipse.ui.tests.api.ListElement">
		<visibility>
           	<pluginState id="7777xxf" value="installed"/>
		</visibility>
        <action id="oc4" label="pluginNotInstalledAction_v2"
			class="org.eclipse.ui.tests.api.MockActionDelegate"/>
    </objectContribution> 
    <objectContribution id="oc8"
		objectClass="org.eclipse.ui.tests.api.ListElement">
		<visibility>
           	<pluginState id="org.eclipse.ui" value="installed"/>
		</visibility>
        <action id="oc4" label="pluginInstalledAction_v2"
			class="org.eclipse.ui.tests.api.MockActionDelegate"/>
    </objectContribution> 
    <objectContribution id="oc9"
		objectClass="org.eclipse.ui.tests.api.ListElement">
		<visibility>
           	<pluginState id="org.eclipse.update" value="activated"/>
		</visibility>
        <action id="oc4" label="pluginNotActivatedAction_v2"
			class="org.eclipse.ui.tests.api.MockActionDelegate"/>
    </objectContribution> 
    <objectContribution id="oc10"
		objectClass="org.eclipse.ui.tests.api.ListElement">
		<visibility>
           	<pluginState id="org.eclipse.ui" value="activated"/>
		</visibility>
        <action id="oc4" label="pluginActivatedAction_v2"
			class="org.eclipse.ui.tests.api.MockActionDelegate"/>
    </objectContribution> 
    <objectContribution id="oc11"
		objectClass="org.eclipse.ui.tests.api.ListElement">
		<visibility>
           	<systemProperty name="ActionExpressionVar" value="bubba"/>
		</visibility>
        <action id="oc4" label="systemPropertyAction_v2"
			class="org.eclipse.ui.tests.api.MockActionDelegate"/>
    </objectContribution> 
</extension> 


<!-- Decorator tests -->

<extension 
	point="org.eclipse.ui.decorators">
	<decorator 
        id="org.eclipse.ui.tests.adaptable.decorator" 
        label="Test Decorator" 
        state="true"
        tooltip="No tip" 
        class="org.eclipse.ui.tests.navigator.TestDecoratorContributor"
        description="The test decorator"
        objectClass="org.eclipse.core.resources.IResource">
    </decorator> 
    <decorator 
        id="org.eclipse.ui.tests.adaptable.nulldecorator" 
        label="Null Decorator" 
        state="true"
        tooltip="No tip" 
        adaptable="true"
        description="A null test decorator"
        class="org.eclipse.ui.tests.adaptable.NullLabelDecorator"
        objectClass="org.eclipse.core.resources.IResource">
    </decorator> 
</extension>

</plugin>
