<?xml version="1.0" encoding="UTF-8"?>
<!-- File written by PDE 1.0 -->
<plugin
   id="org.eclipse.ui.tests"
   name="Eclipse UI Tests"
   version="1.0.0"
   provider-name="Object Technology International"
   class="org.eclipse.ui.tests.TestPlugin">
<requires>
   <import plugin="org.eclipse.core.runtime"/>
   <import plugin="org.eclipse.core.resources"/>
   <import plugin="org.eclipse.ui"/>
   <import plugin="org.junit"/>
</requires>

<runtime>
   <library name="uitests.jar"/>
</runtime>

<extension 
	point="org.eclipse.ui.test.harness.uiTests">
	<uiTest 
		id="ui.TestSuite"
		class="org.eclipse.ui.tests.UiTestSuite"/>
	<uiTest 
		id="ui.api.TestSuite"
		class="org.eclipse.ui.tests.api.ApiTestSuite"/>
	<uiTest 
		id="ui.api.SessionCreateTest"
		class="org.eclipse.ui.tests.api.SessionCreateTest"/>
	<uiTest 
		id="ui.api.SessionRestoreTest"
		class="org.eclipse.ui.tests.api.SessionRestoreTest"/>
</extension>

<extension 
	point="org.eclipse.ui.perspectives">
	<perspective
		id="org.eclipse.ui.tests.api.EmptyPerspective"
		name="Empty Perspective"
		class="org.eclipse.ui.tests.api.EmptyPerspective">
	</perspective>
	<perspective
		id="org.eclipse.ui.tests.api.SessionPerspective"
		name="Session Perspective"
		class="org.eclipse.ui.tests.api.SessionPerspective">
	</perspective>
</extension>

<extension 
	point="org.eclipse.ui.views">
	<view
       id="org.eclipse.ui.tests.api.MockViewPart"
	   name="Mock View 1"
       icon="icons\view.gif"
	   class="org.eclipse.ui.tests.api.MockViewPart"/>
	<view
       id="org.eclipse.ui.tests.api.MockViewPart2"
	   name="Mock View 2"
      icon="icons\view.gif"
	   class="org.eclipse.ui.tests.api.MockViewPart"/>
	<view
       id="org.eclipse.ui.tests.api.MockViewPart3"
	   name="Mock View 3"
       icon="icons\view.gif"
	   class="org.eclipse.ui.tests.api.MockViewPart"/>
<view
       id="org.eclipse.ui.tests.api.SessionView"
	   name="SessionView"
       icon="icons\view.gif"
	   class="org.eclipse.ui.tests.api.SessionView"/>

</extension>

<extension
    point = "org.eclipse.ui.editors">
    <editor id ="org.eclipse.ui.tests.api.MockEditorPart1"
      name="Mock Editor 1"
      extensions="mock1"
      icon="icons\mockeditorpart1.gif"
      class="org.eclipse.ui.tests.api.MockEditorPart">
    </editor>
     <editor id ="org.eclipse.ui.tests.api.MockEditorPart2"
      name="Mock Editor 2"
      extensions="mock2"
      icon="icons\mockeditorpart2.gif"
      class="org.eclipse.ui.tests.api.MockEditorPart">
    </editor>
</extension>



<extension point = "org.eclipse.ui.actionSets"> 
	<actionSet id="org.eclipse.ui.tests.api.MockActionSet"
		label="Mock ActionSet"
 		visible="true">
		<menu id="org.eclipse.ui.tests.api.MockActionSetMenu" 
			label="Mock ActionSet Menu" 
			path="additions"> 
			<separator name="group"/> 
	    </menu> 
	    <action id="org.eclipse.ui.tests.api.MockAction" 
                label="Mock Action" 
                menubarPath="org.eclipse.ui.tests.api.MockActionSetMenu/group"
				class = "org.eclipse.ui.tests.api.MockAction">
            </action> 

    </actionSet> 
</extension> 
</plugin>
