a#basics img { background-image : url('graphics/obj48/wbbasics_obj.gif'); }
a#basics:hover img { background-image : url('graphics/obj48/wbbasicshov_obj.gif'); }

a#team img { background-image : url('graphics/obj48/teamsup_obj.gif'); }
a#team:hover img { background-image : url('graphics/obj48/teamsuphov_obj.gif'); }