a#updates img { background-image : url(graphics/obj48/updates_obj.gif); }
a#updates:hover img { background-image : url(graphics/obj48/updateshov_obj.gif); }

a#eclipse img { background-image : url(graphics/obj48/community_obj.gif); }
a#eclipse:hover img { background-image : url(graphics/obj48/communityhov_obj.gif); }


