<?xml version="1.0" encoding="UTF-8"?>
<plugin
  name="Core Resource Management"
  id="org.eclipse.core.resources"
  version="0.9"
  provider-name="Object Technology International, Inc."
  class="org.eclipse.core.resources.ResourcesPlugin">

  <requires>
    <import plugin="org.apache.xerces"/>
  </requires>

  <runtime>
    <library name="resources.jar">
      <export name="*"/>
    </library>
  </runtime>

  <extension-point name="Builders" id="builders"/>
  <extension-point name="Markers" id="markers"/>
  <extension-point name="Project Natures" id="natures"/>

  <extension id="marker" point="org.eclipse.core.resources.markers" name="Marker"/>
  <extension id="problemmarker" point="org.eclipse.core.resources.markers" name="Problem">
    <super type="org.eclipse.core.resources.marker"/>
    <persistent value="true"/>
    <attribute name="severity"/>
    <attribute name="message"/>
    <attribute name="location"/>
  </extension>
  <extension id="taskmarker" point="org.eclipse.core.resources.markers" name="Task">
    <super type="org.eclipse.core.resources.marker"/>
    <persistent value="true"/>
    <attribute name="priority"/>
    <attribute name="message"/>
    <attribute name="done"/>
  </extension>
  <extension id="bookmark" point="org.eclipse.core.resources.markers" name="Bookmark">
    <super type="org.eclipse.core.resources.marker"/>
    <persistent value="true"/>
    <attribute name="message"/>
    <attribute name="location"/>
  </extension>
  <extension id="textmarker" point="org.eclipse.core.resources.markers" name="Text">
    <super type="org.eclipse.core.resources.marker"/>
    <attribute name="charStart"/>
    <attribute name="charEnd"/>
    <attribute name="lineNumber"/>
  </extension>

</plugin>
