<?xml version="1.0" encoding="UTF-8"?>
<plugin
  name="%pluginName"
  id="org.eclipse.core.resources"
  version="2.0.14"
  provider-name="Object Technology International, Inc."
  class="org.eclipse.core.resources.ResourcesPlugin">

  <requires>
    <import plugin="org.apache.xerces"/>
  </requires>

  <runtime>
    <library name="resources.jar">
      <export name="*"/>
    </library>
  </runtime>

  <extension-point name="%buildersName" id="builders"/>
  <extension-point name="%markersName" id="markers"/>
  <extension-point name="%naturesName" id="natures"/>
  <extension-point name="%validatorName" id="fileModificationValidator"/>
  <extension-point name="%hookName" id="moveDeleteHook"/>

  <extension id="marker" point="org.eclipse.core.resources.markers" name="%markerName"/>
  <extension id="problemmarker" point="org.eclipse.core.resources.markers" name="%problemName">
    <super type="org.eclipse.core.resources.marker"/>
    <persistent value="true"/>
    <attribute name="severity"/>
    <attribute name="message"/>
    <attribute name="location"/>
  </extension>
  <extension id="taskmarker" point="org.eclipse.core.resources.markers" name="%taskName">
    <super type="org.eclipse.core.resources.marker"/>
    <persistent value="true"/>
    <attribute name="priority"/>
    <attribute name="message"/>
    <attribute name="done"/>
  </extension>
  <extension id="bookmark" point="org.eclipse.core.resources.markers" name="%bookmarkName">
    <super type="org.eclipse.core.resources.marker"/>
    <persistent value="true"/>
    <attribute name="message"/>
    <attribute name="location"/>
  </extension>
  <extension id="textmarker" point="org.eclipse.core.resources.markers" name="%textName">
    <super type="org.eclipse.core.resources.marker"/>
    <attribute name="charStart"/>
    <attribute name="charEnd"/>
    <attribute name="lineNumber"/>
  </extension>

</plugin>
