<?xml version="1.0" encoding="UTF-8"?>
<plugin
  name="%pluginName"
  id="org.eclipse.core.resources"
  version="2.0.0"
  provider-name="%providerName"
  class="org.eclipse.core.resources.ResourcesPlugin">

  <requires>
    <import plugin="org.apache.xerces"/>
    <import plugin="org.eclipse.ant.core" optional="true"/>
  </requires>

  <runtime>
    <library name="resources.jar">
      <export name="*"/>
    </library>
  </runtime>

  <extension-point name="%buildersName" id="builders"/>
  <extension-point name="%markersName" id="markers"/>
  <extension-point name="%naturesName" id="natures"/>
  <extension-point name="%validatorName" id="fileModificationValidator"/>
  <extension-point name="%hookName" id="moveDeleteHook"/>

  <extension id="marker" point="org.eclipse.core.resources.markers" name="%markerName"/>
  <extension id="problemmarker" point="org.eclipse.core.resources.markers" name="%problemName">
    <super type="org.eclipse.core.resources.marker"/>
    <persistent value="true"/>
    <attribute name="severity"/>
    <attribute name="message"/>
    <attribute name="location"/>
  </extension>
  <extension id="taskmarker" point="org.eclipse.core.resources.markers" name="%taskName">
    <super type="org.eclipse.core.resources.marker"/>
    <persistent value="true"/>
    <attribute name="priority"/>
    <attribute name="message"/>
    <attribute name="done"/>
  </extension>
  <extension id="bookmark" point="org.eclipse.core.resources.markers" name="%bookmarkName">
    <super type="org.eclipse.core.resources.marker"/>
    <persistent value="true"/>
    <attribute name="message"/>
    <attribute name="location"/>
  </extension>
  <extension id="textmarker" point="org.eclipse.core.resources.markers" name="%textName">
    <super type="org.eclipse.core.resources.marker"/>
    <attribute name="charStart"/>
    <attribute name="charEnd"/>
    <attribute name="lineNumber"/>
  </extension>

   <!-- Tasks -->
   <extension point="org.eclipse.ant.core.antTasks">
      <antTask
         name="eclipse.convertPath"
         class="org.eclipse.core.resources.ant.ConvertPath"
         library="lib/resources-ant.jar">
      </antTask>
      <antTask
         name="eclipse.incrementalBuild"
         class="org.eclipse.core.resources.ant.IncrementalBuild"
         library="lib/resources-ant.jar">
      </antTask>
      <antTask
         name="eclipse.refreshLocal"
         class="org.eclipse.core.resources.ant.RefreshLocalTask"
         library="lib/resources-ant.jar">
      </antTask>
      <antTask
         name="copy"
         class="org.eclipse.core.resources.ant.EclipseCopy"
         library="lib/resources-ant.jar">
      </antTask>
   </extension>

   <!-- Objects -->
   <extension point="org.eclipse.ant.core.antObjects">
      <antObject
         name="org.eclipse.core.resources.ant.EclipseFileUtils"
         class="org.eclipse.core.resources.ant.EclipseFileUtils"
         library="lib/resources-ant.jar">
      </antObject>
   </extension>

</plugin>