Shell {
	font-family: "Times New Roman"
	font-size: 12;
}

ToolBar, Button {
	font-family: "Times New Roman";
	font-size: 9;
}

Text {
	font-family: "Comic Sans MS";
	font-size: 11;
	color: #666666;
	background-color: #f8f8f8;
}

#navigation {
	font-family: "Times New Roman";
	font-size: 8;
	color: #666666;
	background-color: #f8f8f8;
}

.messageBanner {
    background-color: #f0f0f0;
}

.messageTitle {
    font-weight: bold;
    background-color: #f0f0f0;
}

.messageBannerContent {
    background-color: #f0f0f0;
}

.messageSubject {
	font-size: 11;
}
.messageDateUnRead {
    font-style: italic;
}

.messageDateRead {
    font-style: normal;
}


CTabFolder {
    font-family: "Verdana";
    font-weight: normal;
    font-size: 10;
    color: #666666;
    background-color: white;
}

CTabFolder:selected {
    color: #AA4400;
    background-color: #f0f0f0;
}
