<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension id="ide" point="org.eclipse.core.runtime.products"> 
      <product name="%productName" application="org.eclipse.ui.ide.workbench" description="%productBlurb"> 
          <property name="windowImages" value="eclipse.gif,eclipse32.gif,eclipse48.gif,eclipse.png,eclipse32.png,eclipse48.png"/> 
          <property name="aboutImage" value="eclipse_lg.gif"/> 
          <property name="aboutText" value="%productBlurb"/> 
          <property name="appName" value="Eclipse"/> 
          <property name="preferenceCustomization" value="plugin_customization.ini"/> 
      </product> 
   </extension> 

   <extension  
         point="org.eclipse.ui.intro">
      <intro
            class="org.eclipse.ui.intro.config.CustomizableIntroPart"
            id="org.eclipse.platform.intro"
            icon="eclipse.gif">
      </intro>
      <introProductBinding
            introId="org.eclipse.platform.intro"
            productId="org.eclipse.platform.ide">
      </introProductBinding>
   </extension>
   <extension   
         id="intro"
         point="org.eclipse.ui.intro.config">
      <config
            introId="org.eclipse.platform.intro"
            id="org.eclipse.platform.introConfig"
            content="$nl$/intro/introContent.xml">
         <presentation
               home-page-id="root" standby-page-id="standby">
            <implementation
                  style="$nl$/intro/css/shared.css"
                  kind="html"
                  os="win32,linux,macosx">
            </implementation>
            <implementation
                  kind="swt">
            </implementation>
            <!--
            fg="#7269d2" 
            -->
            <launchBar 	
            	location="fastview" 
            	bg="#c6c3e8" 
            	>
               <handle
                     close="true"
                     image="intro/css/graphics/contentpage/handle.gif"/>
               <shortcut
                     icon="intro/css/graphics/icons/etool/overview.gif"
                     tooltip="%shortcut.overview.tooltip"
                     url="http://org.eclipse.ui.intro/showPage?id=overview"/>
               <shortcut
                     tooltip="%shortcut.tutorials.tooltip"
                     icon="intro/css/graphics/icons/etool/tutorials.gif"
                     url="http://org.eclipse.ui.intro/showPage?id=tutorials"/>
               <shortcut
                     tooltip="%shortcut.samples.tooltip"
                     icon="intro/css/graphics/icons/etool/samples.gif"
                     url="http://org.eclipse.ui.intro/showPage?id=samples"/>
               <shortcut
                     tooltip="%shortcut.whatsnew.tooltip"
                     icon="intro/css/graphics/icons/etool/whatsnew.gif"
                     url="http://org.eclipse.ui.intro/showPage?id=news"/>                                             
            </launchBar>
         </presentation>
      </config>
   </extension>
   <extension
         point="org.eclipse.ui.cheatsheets.cheatSheetContent">
      <cheatsheet
            category="org.eclipse.platform"
            contentFile="$nl$/cheatsheets/CVS_1.xml"
            id="org.eclipse.platform.cvs_1"
            name="%cheatsheet.cvs.name">
         <description>
            %cheatsheet.cvs.desc
         </description>
      </cheatsheet>
      <category
            id="org.eclipse.platform"
            name="%cheatsheet.category.platform"/>
   </extension>
   <!-- =====================================================  -->
   <!-- Standby Content Part contributions                     -->
   <!-- =====================================================  -->
   <extension point="org.eclipse.ui.intro.configExtension">
      <standbyContentPart
            id="org.eclipse.platform.cheatsheet"
            class="org.eclipse.platform.internal.CheatSheetStandbyContent"
            pluginId="org.eclipse.platform"/>
   </extension>

</plugin>
