<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.eclipse.platform"
   name="%pluginName"
   version="3.0.0"
   provider-name="%providerName">

   <runtime>
      <library name="startup.jar"/>
   </runtime>
   <requires>
      <import plugin="org.eclipse.ui.intro"/>
      <import plugin="org.eclipse.ui.cheatsheets"/>
      <import plugin="org.eclipse.ui"/>
   </requires>

   <extension
         point="org.eclipse.ui.intro">
      <intro
            name="%introPart.title"
            class="org.eclipse.ui.intro.internal.presentations.CustomizableIntroPart"
            id="org.eclipse.platform.intro">
      </intro>
      <introProductBinding 
      		productId="org.eclipse.platform"
      		introId="org.eclipse.platform.intro"/>
   </extension>

   <extension
         id="intro"
         point="org.eclipse.ui.intro.config">
      <config
            introId="org.eclipse.platform.intro"
            id="org.eclipse.platform.introConfig">
         <presentation
               home-page-id="root"
               title="%intro.title">
            <implementation
                  style="css/shared.css"
                  os="win32"
                  ws="win32"
                  class="org.eclipse.ui.intro.internal.presentations.BrowserIntroPartImplementation">
            </implementation>
            <implementation
                  style="css/shared_swt.properties"
                  class="org.eclipse.ui.intro.internal.presentations.FormIntroPartImplementation">
            </implementation>
         </presentation>
         <page
               style="css/root.css"
               alt-style="css/root_swt.properties"
               id="root">
            <div id="background">
      			<div id="variable-space"></div>
				<div id="background-image">
					<div id="curve-image">
					</div>
				</div>
      		</div>
      		
      		<div id="navigation-links">
	            <link
	                  url="http://org.eclipse.ui.intro/showPage?id=overview"
	                  label="%root.overview.label"
	                  id="overview">
	               <text>
	                  %root.overview.desc
	               </text>
	            </link>
	            <link
	                  url="http://org.eclipse.ui.intro/showPage?id=tutorials"
	                  label="%root.tutorials.label"
	                  id="tutorials">
	               <text>
	                  %root.tutorials.desc
	               </text>
	            </link>
	            <link
	                  url="http://org.eclipse.ui.intro/showPage?id=samples"
	                  label="%root.samples.label"
	                  id="samples">
	               <text>
	                  %root.samples.desc
	               </text>
	            </link>
	            <link
	                  url="http://org.eclipse.ui.intro/showPage?id=news"
	                  label="%root.news.label"
	                  id="news">
	               <text>
	                  %root.news.desc
	               </text>
	            </link>
	            <link
	                  label="%root.gotoworkbench.label"
	                  url="http://org.eclipse.ui.intro/showStandby?partId=org.eclipse.ui.intro.contextHelp"
	                  id="workbench">
	               <text>
	                  %root.gotoworkbench.desc
	               </text>
	            </link>
	         </div>
	         </page>
	         <page
	               alt-style="css/overview/swt.properties"
	               style="css/overview/overview.css"
	               title="%overview.title"
	               id="overview">
	            <div id="background-image">
                    <div id="curve-image">
					</div>
	    	 	</div>
	         	<include path="root/navigation-links"/>
	         	<text id="page-title">
	         		%overview.title
	         	</text>
	            <text id="page-description">
	               %overview.text
	            </text>
	            <div id="overview-links">
		            <link
		                  url="http://org.eclipse.ui.intro/showHelpTopic?id=/org.eclipse.platform.doc.user/concepts/concepts-2.htm"
		                  label="%overview.basics.label"
		                  id="basics">
		               <text>
		                  %overview.basics.text
		               </text>
		            </link>
		            <link
		                  url="http://org.eclipse.ui.intro/showHelpTopic?id=/org.eclipse.platform.doc.user/concepts/concepts-26.htm"
		                  label="%overview.team.label"
		                  id="team">
		               <text>
		                  %overview.team.text
		               </text>
		            </link>
            	</div>
         </page>
         <page
               alt-style="css/tutorials/swt.properties"
               style="css/tutorials/tutorials.css"
               title="%tutorials.title"
               id="tutorials">
            <div id="background-image">
            	<div id="curve-image">
				</div>
	    	 </div>
	         <include path="root/navigation-links"/>
	         <text id="page-title">
	         	%tutorials.title
	         </text>
            <text id="page-description">
               %tutorials.text
            </text>
       <!--
            <div
	        	label="%tutorials.div.label"
	            id="workbench">
	           <link
	           	label="%tutorials.cvs.label"
	           	url="http://org.eclipse.ui.intro/showStandby?partId=org.eclipse.ui.cheatsheets.standbyPart&amp;input=org.eclipse.platform.cvs_1"
	           	id="cvs">
	           	<text>%intro.app.text</text>
	           </link>
	        </div>
	   -->
         </page>
         <page
               alt-style="css/samples/swt.properties"
               style="css/samples/samples.css"
               title="%samples.title"
               id="samples">
            <div id="background-image">
            	<div id="curve-image">
				</div>
	    	</div>
	        <include path="root/navigation-links"/>
	        <text id="page-title">
	         	%samples.title
	        </text>
            <text id="page-description">
               %samples.text
            </text>
            <div
                  label="%samples.swt.label"
                  id="swt">
               <text id="group-description">
                  %samples.swt.text
               </text>
               <link
                     url="http://org.eclipse.ui.intro/runAction?pluginId=org.eclipse.pde.ui&amp;class=org.eclipse.pde.ui.internal.samples.ShowSampleAction&amp;id=org.eclipse.sdk.samples.swt.examples"
                     label="%samples.swt.standalone.label"
                     id="standalone">
                  <text>
                     %samples.swt.standalone.text
                  </text>
               </link>
               <link
                     url="http://org.eclipse.ui.intro/showMessage?message=Action not implemented."
                     label="%samples.swt.views.label"
                     id="views">
                  <text>
                     %samples.swt.views.text
                  </text>
               </link>
            </div>
            <div
                  label="%samples.workbench.label"
                  id="workbench">
               <text id="group-description">
                  %samples.workbench.text
               </text>
               <link
                     url="http://org.eclipse.ui.intro/runAction?pluginId=org.eclipse.pde.ui&amp;class=org.eclipse.pde.ui.internal.samples.ShowSampleAction&amp;id=org.eclipse.sdk.samples.multipageeditor"
                     label="%samples.workbench.multipageeditor.label"
                     id="multi-page-editor">
                  <text>
                     %samples.workbench.multipageeditor.text
                  </text>
               </link>
               <link
                     url="http://org.eclipse.ui.intro/runAction?pluginId=org.eclipse.pde.ui&amp;class=org.eclipse.pde.ui.internal.samples.ShowSampleAction&amp;id=org.eclipse.sdk.samples.propertysheet"
                     label="%samples.workbench.propertysheet.label"
                     id="property-sheet">
                  <text>
                     %samples.workbench.propertysheet.text
                  </text>
               </link>
               <link
                     url="http://org.eclipse.ui.intro/runAction?pluginId=org.eclipse.pde.ui&amp;class=org.eclipse.pde.ui.internal.samples.ShowSampleAction&amp;id=org.eclipse.sdk.samples.readmetool"
                     label="%samples.workbench.readmetool.label"
                     id="readmetool">
                  <text>
                     %samples.workbench.readmetool.text
                  </text>
               </link>
            </div>
         </page>
         <page
               alt-style="css/whatsnew/swt.properties"
               style="css/whatsnew/whatsnew.css"
               title="%news.title"
               id="news">
            
            <div id="background-image">
            	<div id="curve-image">
				</div>
	    	</div>
	        <include path="root/navigation-links"/>
	        <text id="page-title">
	         	%news.title
	        </text>
	        <div id="page-links">
	            <link
	                  url="http://org.eclipse.ui.intro/showMessage?message=Action not implemented."
	                  label="%news.newandnoteworthy.label"
	                  id="new-and-noteworthy">
	               <text>
	                  %news.newandnoteworthy.text
	               </text>
	            </link>
	            <link
	                  url="http://org.eclipse.ui.intro/showMessage?message=Action not implemented."
	                  label="%news.migration.label"
	                  id="migration">
	               <text>
	                  %news.migration.text
	               </text>
	            </link>
	            <link
	                  url="http://org.eclipse.ui.intro/runAction?pluginId=org.eclipse.update.ui&amp;class=org.eclipse.update.internal.ui.InstallWizardAction"
	                  label="%news.updates.label"
	                  id="updates">
	               <text>
	                  %news.updates.text
	               </text>
	            </link>
	            <link
	                  url="http://www.eclipse.org"
	                  label="%news.eclipse.label"
	                  id="eclipse">
	               <text>
	                  %news.eclipse.text
	               </text>
	            </link>
            </div>
         </page>
      </config>
   </extension>

   <extension
         point="org.eclipse.ui.activities">
      <activity
            name="%activity.debugging"
            description="%activity.debugging.desc"
            id="org.eclipse.debugging">
      </activity>
      <activity
            name="%activity.java"
            description="%activity.java.desc"
            id="org.eclipse.javaDevelopment">
      </activity>
      <activity
            name="%activity.plugin"
            description="%activity.plugin.desc"
            id="org.eclipse.plugInDevelopment">
      </activity>
      <activityPatternBinding
            activityId="org.eclipse.debugging"
            pattern="org\.eclipse\.debug\..*/.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.javaDevelopment"
            pattern="org\.eclipse\.jdt\..*/.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.javaDevelopment"
            pattern="org\.eclipse\.jdt\.core/javanature">
      </activityPatternBinding>            
      <activityPatternBinding
            activityId="org.eclipse.plugInDevelopment"
            pattern="org\.eclipse\.pde\..*/.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.plugInDevelopment"
            pattern="org\.eclipse\.pde/PluginNature">
      </activityPatternBinding>      
      <category
            name="%activity.cat.java"
            description=""
            id="org.eclipse.categories.javaCategory">
      </category>
      <category
            name="%activity.cat.plugin"
            description=""
            id="org.eclipse.categories.pdeCategory">
      </category>
      <categoryActivityBinding
            activityId="org.eclipse.debugging"
            categoryId="org.eclipse.categories.javaCategory">
      </categoryActivityBinding>
      <categoryActivityBinding
            activityId="org.eclipse.javaDevelopment"
            categoryId="org.eclipse.categories.javaCategory">
      </categoryActivityBinding>
      <categoryActivityBinding
            activityId="org.eclipse.plugInDevelopment"
            categoryId="org.eclipse.categories.pdeCategory">
      </categoryActivityBinding>
      <activityActivityBinding
            childActivityId="org.eclipse.javaDevelopment"
            parentActivityId="org.eclipse.plugInDevelopment">
      </activityActivityBinding>
      <defaultEnablement
            id="org.eclipse.javaDevelopment">
      </defaultEnablement>
      <defaultEnablement
            id="org.eclipse.debugging">
      </defaultEnablement>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <primaryWizard
            id="org.eclipse.jdt.ui.wizards.JavaProjectWizard">
      </primaryWizard>
      <primaryWizard
            id="org.eclipse.pde.ui.NewProjectWizard">
      </primaryWizard>
   </extension>
   
   <extension point="org.eclipse.ui.cheatsheets.cheatSheetContent">
      <cheatSheet
            name="%cheatsheet.cvs.name"
            contentFile="cheatsheets/CVS_1.xml"
            id="org.eclipse.platform.cvs_1">
         <description>%cheatsheet.cvs.desc</description>
      </cheatSheet>
   </extension>
</plugin>
