<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.eclipse.platform"
   name="%pluginName"
   version="3.0.0"
   provider-name="%providerName">

   <runtime>
      <library name="startup.jar"/>
   </runtime>
   <requires>
      <import plugin="org.eclipse.ui.intro"/>
   </requires>

<!--
   <extension
         point="org.eclipse.ui.intro">
      <intro
            name="%introPart.title"
            productId="org.eclipse.platform"
            class="org.eclipse.ui.intro.internal.presentations.CustomizableIntroPart"
            id="org.eclipse.platform.intro">
      </intro>
   </extension>
-->
   <extension
         id="intro"
         point="org.eclipse.ui.intro.config">
      <config
            introId="org.eclipse.platform.intro"
            id="org.eclipse.platform.introConfig">
         <presentation
               home-page-id="root"
               title="%intro.title">
            <implementation
                  style="css/shared_swt.properties"
                  class="org.eclipse.ui.intro.internal.presentations.FormIntroPartImplementation"
                  os="win32">
            </implementation>
         </presentation>
         <page
               alt-style="css/root_swt.properties"
               id="root">
            <link
                  label="%root.overview.label"
                  url="http://org.eclipse.ui.intro/showPage?id=overview"
                  id="overview">
               <text>%root.overview.desc</text>
            </link>
            <link
                  label="%root.tutorials.label"
                  url="http://org.eclipse.ui.intro/showPage?id=tutorials"
                  id="tutorials">
               <text>%root.tutorials.desc</text>
            </link>
            <link
                  label="%root.samples.label"
                  url="http://org.eclipse.ui.intro/showPage?id=samples"
                  id="samples">
               <text>%root.samples.label</text>
            </link>
            <link
                  label="%root.news.label"
                  url="http://org.eclipse.ui.intro/showPage?id=news"
                  id="news">
               <text>%root.news.desc</text>
            </link>
            <link
                  url="http://org.eclipse.ui.intro/setStandbyMode?standby=true"
                  label="%root.gotoworkbench.label"
                  id="workbench">
               <text>%root.gotoworkbench.desc</text>
            </link>
         </page>
         <page
               style=""
               alt-style="css/overview/swt.properties"
               title="%overview.title"
               id="overview">
            <text>%overview.text</text>
            <link
                  label="%overview.basics.label"
                  url="about:blank;"
                  id="basics">
               <text>%overview.basics.text</text>
            </link>
            <link
                  label="%overview.team.label"
                  url="about:blank;"
                  id="team">
               <text>%overview.team.text</text>
            </link>
         </page>
         <page
               alt-style="css/tutorials/swt.properties"
               title="%tutorials.title"
               id="tutorials">
            <text>%tutorials.text</text>
         </page>
         <page
               alt-style="css/samples/swt.properties"
               title="%samples.title"
               id="samples">
            <text>%samples.text</text>
            <div
                  label="%samples.swt.label"
                  id="swt">
               <text>%samples.swt.text</text>
               <link
                     label="%samples.swt.standalone.label"
                     url="http://org.eclipse.ui.intro/runAction?pluginId=org.eclipse.pde.ui&amp;class=org.eclipse.pde.ui.internal.samples.ShowSampleAction&amp;id=com.example.xyz.swt.examples"
                     id="standalone">
                  <text>%samples.swt.standalone.text</text>
               </link>
               <link
                     label="%samples.swt.views.label"
                     url="about:blank;"
                     id="views">
                  <text>%samples.swt.views.text</text>
               </link>
            </div>
            <div
                  label="%samples.workbench.label"
                  id="workbench">
               <text>%samples.workbench.text</text>
               <link
                     label="%samples.workbench.multipageeditor.label"
                     url="http://org.eclipse.ui.intro/runAction?pluginId=org.eclipse.pde.ui&amp;class=org.eclipse.pde.ui.internal.samples.ShowSampleAction&amp;id=com.example.xyz.multipageeditor"
                     id="multi-page-editor">
                  <text>%samples.workbench.multipageeditor.text</text>
               </link>
               <link
                     label="%samples.workbench.propertysheet.label"
                     url="http://org.eclipse.ui.intro/runAction?pluginId=org.eclipse.pde.ui&amp;class=org.eclipse.pde.ui.internal.samples.ShowSampleAction&amp;id=com.example.xyz.propertysheet"
                     id="property-sheet">
                  <text>%samples.workbench.propertysheet.text</text>
               </link>
               <link
                     label="%samples.workbench.readmetool.label"
                     url="http://org.eclipse.ui.intro/runAction?pluginId=org.eclipse.pde.ui&amp;class=org.eclipse.pde.ui.internal.samples.ShowSampleAction&amp;id=com.example.xyz.readmetool"
                     id="readmetool">
                  <text>%samples.workbench.readmetool.text</text>
               </link>
            </div>
         </page>
         <page
               alt-style="css/whatsnew/swt.properties"
               title="%news.title"
               id="news">
            <link
                  label="%news.newandnoteworthy.label"
                  url="about:blank;"
                  id="new-and-noteworthy">
               <text>%news.newandnoteworthy.text</text>
            </link>
            <link
                  label="%news.migration.label"
                  url="about:blank;"
                  id="migration">
               <text>%news.migration.text</text>
            </link>
            <link
                  label="%news.updates.label"
                  url="http://org.eclipse.ui.intro/runAction?pluginId=org.eclipse.update.ui&amp;class=org.eclipse.update.internal.ui.InstallWizardAction"
                  id="updates">
               <text>%news.updates.text</text>
            </link>
         </page>
      </config>
   </extension>
</plugin>