<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.trace.traceComponents">
      <component
            id="org.eclipse.core.jobs.trace"
            label="%traceComponentLabel">
         <bundle
               consumed="false"
               name="org.eclipse.core.jobs">
         </bundle>
      </component>
   </extension>
</plugin>
