<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.eclipse.core.runtime.compatibility"
   name="%pluginName"
   version="3.0.0"
   provider-name="%providerName"
   class="org.eclipse.core.internal.plugins.CompatibilityActivator">

   <runtime>
      <library name="compatibility.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.core.runtime" export="true"/>
      <import plugin="org.eclipse.update.configurator" export="true"/>
   </requires>
</plugin>
