<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
<!--  Actions -->
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Count resources"
            visible="true"
            id="org.eclipse.core.tools.resources.actionSet">
         <action
               label="Count resources"
               icon="icons/spy.gif"
               class="org.eclipse.core.tools.resources.CountResourcesAction"
               tooltip="Count resources"
               toolbarPath="Normal/spyGroup"
               id="org.eclipse.core.tools.countResourcesAction">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <actionSet
               id="org.eclipse.core.tools.resources.actionSet">
         </actionSet>
      </perspectiveExtension>
   </extension>
<!--  Perspectives -->
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Metadata"
            icon="icons/spy.gif"
            class="org.eclipse.core.tools.metadata.MetadataPerspective"
            id="org.eclipse.core.tools.metadata.MetadataPerspective">
      </perspective>
   </extension>
<!-- Metadata Views  -->
   <extension
         point="org.eclipse.ui.views">
      <category
            name="Metadata Tools"
            id="org.eclipse.core.tools.metadata">
      </category>
      <view
            name="Dump Contents"
            icon="icons/spy.gif"
            category="org.eclipse.core.tools.metadata"
            class="org.eclipse.core.tools.metadata.DumpContentsView"
            id="org.eclipse.core.tools.metadata.DumpContentsView">
      </view>
      <view
            name="Dump Summary"
            icon="icons/spy.gif"
            category="org.eclipse.core.tools.metadata"
            class="org.eclipse.core.tools.metadata.DumpSummaryView"
            id="org.eclipse.core.tools.metadata.DumpSummaryView">
      </view>
      <view
            name="Workspace Files Spy"
            icon="icons/spy.gif"
            category="org.eclipse.core.tools.metadata"
            class="org.eclipse.core.tools.metadata.WorkspaceView"
            id="org.eclipse.core.tools.metadata.WorkspaceView">
      </view>
   </extension>
<!-- Resources Views  -->
   <extension point="org.eclipse.ui.views">
      <category name="Resources Tools" id="org.eclipse.core.tools.resources"/>
      <view
            name="Delta Spy"
            icon="icons/spy.gif"
            category="org.eclipse.core.tools.resources"
            class="org.eclipse.core.tools.resources.DeltaView"
            id="org.eclipse.core.tools.resources.DeltaView"/>
      <view
            name="Builder/Listener Spy"
            icon="icons/spy.gif"
            category="org.eclipse.core.tools.resources"
            class="org.eclipse.core.tools.resources.EventsView"
            id="org.eclipse.core.tools.resources.EventsView"/>
      <view
            name="Element Tree Spy"
            icon="icons/spy.gif"
            category="org.eclipse.core.tools.resources"
            class="org.eclipse.core.tools.resources.ElementTreeView"
            id="org.eclipse.core.tools.resources.ElementTreeView"/>
      <view
            name="Resource Spy"
            icon="icons/spy.gif"
            category="org.eclipse.core.tools.resources"
            class="org.eclipse.core.tools.resources.ResourceView"
            id="org.eclipse.core.tools.resources.ResourceView"/>
      <view
            name="Project Spy"
            icon="icons/spy.gif"
            category="org.eclipse.core.tools.resources"
            class="org.eclipse.core.tools.resources.ProjectView"
            id="org.eclipse.core.tools.resources.ProjectView"/>
      <view
            name="Graphical Delta Spy"
            icon="icons/spy.gif"
            category="org.eclipse.core.tools.resources"
            class="org.eclipse.core.tools.resources.ResourceChangeView"
            id="org.eclipse.core.tools.resources.ResourceChangeView"/>
      <view
            name="Local History Browser"
            icon="icons/spy.gif"
            category="org.eclipse.core.tools.resources"
            class="org.eclipse.core.tools.resources.LocalHistoryBrowserView"
            id="org.eclipse.core.tools.resources.LocalHistoryBrowserView"/>
      <view
            name="Marker View"
            icon="icons/spy.gif"
            category="org.eclipse.core.tools.resources"
            class="org.eclipse.core.tools.resources.markers.MarkerView"
            id="org.eclipse.core.tools.resources.markers.MarkerView"/>
   </extension>

</plugin>
