<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="org.eclipse.ui.editors.tests"
   name="%Plugin.name"
   version="3.1.0"
   provider-name="%Plugin.providerName"
   class="">

   <runtime>
      <library name="editorstests.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="org.eclipse.core.runtime.compatibility"/>
      <import plugin="org.junit"/>
      <import plugin="org.eclipse.jface"/>
      <import plugin="org.eclipse.ui.editors"/>
   </requires>

</plugin>
