<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="ContextDebug"
         name="%extension.contextdebugmodel.name"
         point="org.eclipse.e4.workbench.model">
      <processor
            beforefragment="true"
            class="org.eclipse.e4.core.internal.contexts.debug.ui.e4.ContextsDebugProcessor">
      </processor>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.debug.ui"
            class="org.eclipse.e4.core.internal.contexts.debug.ui.legacy.ContextTraceLegacyView"
            id="org.eclipse.e4.core.contexts.debug.view.legacy"
            name="%traceView"
            restorable="true">
      </view>
   </extension>
</plugin>
