<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Empty Perspective"
            class="org.eclipse.ui.tests.rcp.util.EmptyPerspective"
            id="org.eclipse.ui.tests.rcp.util.EmptyPerspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="RCP Test Views"
            id="org.eclipse.ui.tests.rcp"/>
      <view
            class="org.eclipse.ui.tests.rcp.util.EmptyView"
            icon="icons/sample.gif"
            category="org.eclipse.ui.tests.rcp"
            name="EmptyView"
            id="org.eclipse.ui.tests.rcp.util.EmptyView"/>
   </extension>

</plugin>
