<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.ui.forms.editor.FormEditorMock"
            default="false"
            id="org.eclipse.ui.tests.forms.FormEditorMock"
            name="FormEditorMock">
      </editor>
   </extension>

</plugin>
