<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension-point id="navigatorContent" name="%ExtPoint_navigatorContent" schema="schema/navigatorContent.exsd"/>
   <extension-point id="viewer" name="%ExtPoint_navigatorViewer" schema="schema/viewer.exsd"/>
   <extension-point id="linkHelper" name="%Link_Helper" schema="schema/linkHelper.exsd"/>
 
   <extension
         point="org.eclipse.ui.dropActions">
      <action
            class="org.eclipse.ui.internal.navigator.dnd.NavigatorPluginDropAction"
            id="org.eclipse.ui.navigator.PluginDropAction">
      </action>
   </extension> 
   
</plugin>
