<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension-point id="navigatorContent" name="%ExtPoint_navigatorContent" schema="schema/navigatorContent.exsd"/>
   <extension-point id="viewer" name="%ExtPoint_navigatorViewer" schema="schema/viewer.exsd"/>
   <extension-point id="commonFilter" name="%ExtPoint_commonFilter" schema="schema/commonFilter.exsd"/>
   <extension-point id="dropHandler" name="%ExtPoint_dropHandler" schema="schema/dropHandler.exsd"/>
   <extension-point id="linkHelper" name="%Link_Helper" schema="schema/linkHelper.exsd"/>
   <extension-point id="actionProvider" name="%Common_Action_Provider" schema="schema/actionProvider.exsd"/>
 
   <extension
         point="org.eclipse.ui.dropActions">
      <action
            class="org.eclipse.ui.navigator.internal.dnd.PluginDropAction"
            id="org.eclipse.ui.navigator.internal.dnd.PluginDropAction">
      </action>
   </extension>
   


</plugin>
