<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.eclipse.update.core"
   name="%pluginName"
   version="3.0.0"
   provider-name="%providerName"
   class="org.eclipse.update.internal.core.UpdateCore">

   <runtime>
      <library name="updatecore.jar">
         <export name="*"/>
         <packages prefixes="org.eclipse.update"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.core.runtime"/>
   </requires>


   <extension-point id="featureTypes" name="Install/Update Concrete Feature Type Implementation Factory" schema="schema/featureTypes.exsd"/>
   <extension-point id="siteTypes" name="Install/Update Concrete Site Type Implementation Factory" schema="schema/siteTypes.exsd"/>
   <extension-point id="installHandlers" name="Install/Update Global Install Handlers" schema="schema/installHandlers.exsd"/>
   <extension-point id="deltaHandler" name="Install/Update Delta Handler"/>

   <extension
         id="reconciler"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.eclipse.update.internal.core.UpdateManagerReconciler">
         </run>
      </application>
   </extension>
   <extension
         id="packaged"
         point="org.eclipse.update.core.featureTypes">
      <feature-factory
            class="org.eclipse.update.internal.core.FeaturePackagedFactory">
      </feature-factory>
   </extension>
   <extension
         id="installed"
         point="org.eclipse.update.core.featureTypes">
      <feature-factory
            class="org.eclipse.update.internal.core.FeatureExecutableFactory">
      </feature-factory>
   </extension>
   <extension
         id="http"
         point="org.eclipse.update.core.siteTypes">
      <site-factory
            class="org.eclipse.update.internal.core.SiteURLFactory">
      </site-factory>
   </extension>
   <extension
         id="file"
         point="org.eclipse.update.core.siteTypes">
      <site-factory
            class="org.eclipse.update.internal.core.SiteFileFactory">
      </site-factory>
   </extension>
   <extension
         id="DefaultInstallHandler"
         point="org.eclipse.update.core.installHandlers">
      <install-handler
            class="org.eclipse.update.internal.core.DefaultInstallHandler">
      </install-handler>
   </extension>
   <extension
         id="DeltaInstallHandler"
         point="org.eclipse.update.core.installHandlers">
      <install-handler
            class="org.eclipse.update.internal.core.DeltaInstallHandler">
      </install-handler>
   </extension>
   <extension
         id="standaloneUpdate"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.eclipse.update.internal.standalone.StandaloneUpdateApplication">
         </run>
      </application>
   </extension>

</plugin>
