<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!-- =================================================================================== -->
<!-- SSH2 Plug-in Manifest 					                                             -->
<!-- =================================================================================== -->
<plugin
   id="org.eclipse.team.cvs.ssh2"
   name="%pluginName"
   version="3.1.0"
   provider-name="%providerName"
   class="org.eclipse.team.internal.ccvs.ssh2.CVSSSH2Plugin">

<!-- =================================================================================== -->
<!-- Runtime Libraries                                                                   -->
<!-- =================================================================================== -->
<runtime>
	<library name="cvsssh2.jar">
    	<export name="*"/>
    	<packages prefixes="org.eclipse.team.ccvs.ssh2"/>
	</library>
	<library name="jsch-0.1.16.jar">
		<packages prefixes="com.jcraft.jsch"/>
	</library>
</runtime>

<!-- =================================================================================== -->
<!-- Prerequisite Plug-ins                                                               -->
<!-- =================================================================================== -->
<requires>
	<import plugin="org.eclipse.core.boot"/>
	<import plugin="org.eclipse.core.runtime.compatibility"/>
	<import plugin="org.eclipse.core.resources"/>
	<import plugin="org.eclipse.team.cvs.core"/>
	<import plugin="org.eclipse.team.core"/>
	<import plugin="org.eclipse.ui"/>
	<import plugin="org.eclipse.team.cvs.ssh"/>
</requires>

<!-- =================================================================================== -->
<!-- Extension Point: CVS connection method                                              -->
<!-- =================================================================================== -->
<extension id="ssh2" point="org.eclipse.team.cvs.core.connectionmethods">
	<adapter>
		<run class="org.eclipse.team.internal.ccvs.ssh2.CVSSSH2Method">
			<parameter name="trace" value="false"/>
		</run>
	</adapter>
</extension>

<!-- =================================================================================== -->
<!-- Extension Point: Preference page                                                    -->
<!-- =================================================================================== -->
<extension point="org.eclipse.ui.preferencePages">
	<page
		name="%ssh2PreferencePage.name"
		category="org.eclipse.team.cvs.ui.CVSPreferences"
		class="org.eclipse.team.internal.ccvs.ssh2.CVSSSH2PreferencePage"
		id="org.eclipse.team.cvs.ssh2.CVSSSH2Preferences">
	</page>
</extension>

</plugin>
