<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="org.eclipse.help.ui"
   name="%help_system_plugin_name"
   version="2.1.0"
   provider-name="%providerName"
   class="org.eclipse.help.ui.internal.WorkbenchHelpPlugin">

   <runtime>
      <library name="helpworkbench.jar">
         <export name="*"/>
         <packages prefixes="org.eclipse.help.ui"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.help"/>
      <import plugin="org.eclipse.help.appserver"/>
      <import plugin="org.eclipse.search"/>
      <import plugin="org.eclipse.ui"/>
   </requires>

<!-- Default Help UI  -->
   <extension
         point="org.eclipse.help.support">
      <config
            class="org.eclipse.help.ui.internal.DefaultHelp">
      </config>
   </extension>
<!-- Preference pages -->
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="%help_preferences_page_name"
            class="org.eclipse.help.ui.internal.browser.BrowsersPreferencePage"
            id="org.eclipse.help.ui.browsersPreferencePage">
      </page>
      <page
            name="%appserver_preferences_page_name"
            category="org.eclipse.help.ui.browsersPreferencePage"
            class="org.eclipse.help.ui.internal.AppserverPreferencePage"
            id="org.eclipse.help.ui.appserverPreferencePage">
      </page>
   </extension>
<!-- Context Help contribution -->
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
<!-- Action Sets -->
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="%help"
            visible="true"
            id="org.eclipse.help.internal.ui.HelpActionSet">
         <action
               label="%helpcontents"
               icon="icons/view.gif"
               helpContextId="org.eclipse.help.ui.helpContentsMenu"
               tooltip="%openhelpcontents"
               class="org.eclipse.help.ui.internal.HelpContentsAction"
               menubarPath="help/helpEnd"
               id="org.eclipse.help.internal.ui.HelpAction">
         </action>
         <menu
               label="%searchMenu.label"
               path="navigate"
               id="org.eclipse.search.menu">
            <groupMarker
                  name="internalDialogGroup">
            </groupMarker>
<!-- not to be used by clients  -->
            <groupMarker
                  name="dialogGroup">
            </groupMarker>
<!-- to be used by clients      -->
            <separator
                  name="contextMenuActionsGroup">
            </separator>
         </menu>
         <action
               label="%openHelpSearchPageAction.label"
               icon="icons/search_menu.gif"
               helpContextId="org.eclipse.help.ui.helpSearchMenu"
               class="org.eclipse.help.ui.internal.OpenHelpSearchPageAction"
               menubarPath="org.eclipse.search.menu/dialogGroup"
               id="org.eclipse.help.ui.OpenHelpSearchPage">
         </action>
      </actionSet>
   </extension>
<!-- Web Browsers -->
   <extension
         point="org.eclipse.help.browser">
      <browser
            factoryclass="org.eclipse.help.ui.internal.browser.SystemBrowserFactory"
            name="%system_browser"
            id="org.eclipse.help.ui.systembrowser">
      </browser>
   </extension>
<!-- Search Page -->
   <extension
         point="org.eclipse.search.searchPages">
      <page
            label="%help_search_page"
            icon="icons/search_menu.gif"
            class="org.eclipse.help.ui.internal.search.HelpSearchPage"
            id="org.eclipse.help.ui.searchPage">
      </page>
   </extension>
<!-- Markers -->
   <extension
         id="helpsearchhit"
         name="%helpsearchhitname"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.search.searchmarker">
      </super>
      <attribute
            name="href">
      </attribute>
      <attribute
            name="label">
      </attribute>
      <attribute
            name="resultfof">
      </attribute>
      <attribute
            name="order">
      </attribute>
   </extension>
<!-- Search Results Sorter -->
   <extension
         point="org.eclipse.search.searchResultSorters">
      <sorter
            pageId="org.eclipse.help.ui.searchPage"
            label="%helpsearchhitsorter.label"
            icon="icons/search_sortmatch.gif"
            tooltip="%helpsearchhitsorter.tooltip"
            class="org.eclipse.help.ui.internal.search.HelpSearchSorter"
            id="org.eclipse.help.ui.helpsearchhitsorter">
      </sorter>
   </extension>
<!-- Help Working Set Page -->
   <extension
         point="org.eclipse.ui.workingSets">
      <workingSet
            name="%HelpWorkingSet"
            pageClass="org.eclipse.help.ui.internal.workingset.HelpWorkingSetPage"
            icon="icons/workingset.gif"
            id="org.eclipse.help.ui.HelpWorkingSetPage">
      </workingSet>
   </extension>

</plugin>
