body {
	background-image : url(../graphics/contentpage/tutorials_wtr.jpg);
}

/* show the "selected" image for this page */
#navigation-links a#tutorials img, #navigation-links a#tutorials:hover img { background-image : url(../graphics/icons/ctool/tutorials48sel.gif); }

/* 
 * Set up the content of the tutorials page into two
 * columns that are centered in the page
 */


/* a group of tutorial links */
.tutorials-group {
	/* To center in Moz (have to use text-align for IE) */
	margin-left : auto;
	margin-right : auto;
	width : 750px;
	margin-bottom : 30px;
	float : none;
	clear : both;
	text-align : left;
}

.tutorials-link { 
	width : 360px;
	text-align : left; 
	margin-left : 5px;
	margin-right : 5px;
	margin-top : 10px;
	margin-bottom : -20px;
	vertical-align : top;
}

.tutorials-group > .tutorials-link {
	float : left;
	height : 150px;
	vertical-align : middle;
}


.tutorials-link img  {
	height : 57px;
	width : 57px;
	vertical-align : middle;
}

.tutorials-group h4 {
	float : none;
	clear : both;
}

p #group-description {
	padding-bottom : 10px;
	float : none;
	clear : both;
}

.tutorials-link .link-label {
	display : block;
	width : 300px;
	position : relative;
	top : -50px;
	left : 60px;
}


.tutorials-link p .text {
	display : block;
	width : 300px;
	position : relative;
	top : -45px;
	left : 53px;
}

.tutorials-link:hover { border-right : 0px; }
