<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="org.eclipse.ui.externaltools"
   name="%Plugin.name"
   version="2.1.0"
   provider-name="%Plugin.providerName"
   class="org.eclipse.ui.externaltools.internal.model.ExternalToolsPlugin">

   <runtime>
      <library name="externaltools.jar">
         <export name="*"/>
         <packages prefixes="org.eclipse.ui.externaltools"/>
      </library>
   </runtime>
   <requires>
   	  <import plugin="org.apache.ant"/>
      <import plugin="org.apache.xerces"/>
      <import plugin="org.eclipse.ant.core"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.debug.core"/>
      <import plugin="org.eclipse.debug.ui"/>      
   </requires>


<!-- extension point definitions -->
	<extension-point id="configurationDuplicationMaps" name="%ExtPoint.configurationDuplicationMaps"/>
	<extension-point id="refreshVariables" name="%ExtPoint.refreshVariables"/>

<!-- Extensions -->
   <!-- UI extensions -->
	<extension point="org.eclipse.ui.actionSets">
		<actionSet
			id="org.eclipse.ui.externaltools.ExternalToolsSet"
			label="%ActionSet.externalTools"
			visible="true">
			<menu id="org.eclipse.ui.run" 
				label="%Menu.run" 
				path="additions"> 
				<separator name="ExternalToolsGroup"/> 
			</menu> 
			<action
				id="org.eclipse.ui.externaltools.ExternalToolMenuDelegateMenu"
				label="%Action.externalTools"
				menubarPath="org.eclipse.ui.run/ExternalToolsGroup"
				disabledIcon="icons/full/dtool16/external_tools.gif"
				icon="icons/full/etool16/external_tools.gif"
				hoverIcon="icons/full/ctool16/external_tools.gif"
				pulldown="true"
				class="org.eclipse.ui.externaltools.internal.menu.ExternalToolMenuDelegate">
			</action>
			<action
				id="org.eclipse.ui.externaltools.ExternalToolMenuDelegateToolbar"
				definitionId= "org.eclipse.ui.externaltools.ExternalToolMenuDelegateToolbar"
				label="%Action.externalTools"
				toolbarPath="org.eclipse.debug.ui.launchActionSet/debug"
				disabledIcon="icons/full/dtool16/external_tools.gif"
				icon="icons/full/etool16/external_tools.gif"
				hoverIcon="icons/full/ctool16/external_tools.gif"
				tooltip="%Action.externalToolsTip"
				pulldown="true"
				class="org.eclipse.ui.externaltools.internal.menu.ExternalToolMenuDelegate">
			</action>
		</actionSet>
	</extension>

	<extension point="org.eclipse.ui.commands">
		<command
			category="org.eclipse.debug.ui.category.run"
			id="org.eclipse.ui.externaltools.ExternalToolMenuDelegateToolbar"
			name= "%ActionDefinition.externalToolMenuDelegateToolbar.name"
			description="%ActionDefinition.externalToolMenuDelegateToolbar.description"
		/>
		<keyBinding
			string=""
			scope="org.eclipse.ui.globalScope"
			command="org.eclipse.ui.externaltools.ExternalToolMenuDelegateToolbar"
			configuration="org.eclipse.ui.defaultAcceleratorConfiguration"
		/>
	</extension>
	
	<extension point="org.eclipse.ui.preferencePages">
		<page 
			id="org.eclipse.ui.externaltools.ExternalToolsPreferencePage" 
			name="%PreferencePage.externalToolsPreferences"
			class="org.eclipse.ui.externaltools.internal.ui.ExternalToolsPreferencePage"
			category="org.eclipse.ui.preferencePages.Workbench">
		</page>
	</extension>

	<extension point="org.eclipse.ui.propertyPages">
		<page
			id="org.eclipse.ui.externaltools.propertypages.BuilderPropertyPage"
			objectClass="org.eclipse.core.resources.IProject"
			adaptable="true"
			name="%PropertyPage.externalToolsBuilders"
			class="org.eclipse.ui.externaltools.internal.ui.BuilderPropertyPage">
			<filter name="open" value="true"/> 
		</page>
	</extension>

	<extension point="org.eclipse.core.resources.builders"
		id="ExternalToolBuilder"
		name="%Builder.externalTools">
		<builder> 
			<run class="org.eclipse.ui.externaltools.internal.model.ExternalToolBuilder"/> 
		</builder> 
	</extension>
    
    <!-- Launch Configuration Extensions -->
    <extension point="org.eclipse.debug.core.launchConfigurationTypes">
    	<launchConfigurationType
	    	id = "org.eclipse.ui.externaltools.ProgramLaunchConfigurationType"
    		name = "%Program.externalTools"
    		delegate = "org.eclipse.ui.externaltools.internal.program.launchConfigurations.ProgramLaunchDelegate"
    		modes = "run"
    		category = "org.eclipse.ui.externaltools">
    	</launchConfigurationType>
    	<launchConfigurationType
	    	id = "org.eclipse.ui.externaltools.ProgramBuilderLaunchConfigurationType"
    		name = "%Program.externalTools"
    		delegate = "org.eclipse.ui.externaltools.internal.program.launchConfigurations.ProgramLaunchDelegate"
    		modes = "run"
    		category = "org.eclipse.ui.externaltools.builder">
    	</launchConfigurationType>
    </extension>
    
    <extension point = "org.eclipse.ui.externaltools.configurationDuplicationMaps">
    	<configurationMap
    		sourceType="org.eclipse.ui.externaltools.ProgramLaunchConfigurationType"
    		builderType="org.eclipse.ui.externaltools.ProgramBuilderLaunchConfigurationType">
    	</configurationMap>
    </extension>
    
    <extension point = "org.eclipse.debug.ui.launchConfigurationTabGroups">
		<launchConfigurationTabGroup
			id="org.eclipse.ui.externaltools.launchConfigurationTabGroup.program"
			type ="org.eclipse.ui.externaltools.ProgramLaunchConfigurationType"
			helpContextId="org.eclipse.ui.externaltools.launchConfigHelpContext.program"
			class="org.eclipse.ui.externaltools.internal.program.launchConfigurations.ProgramTabGroup">
		</launchConfigurationTabGroup>
		<launchConfigurationTabGroup
			id="org.eclipse.ui.externaltools.launchConfigurationTabGroup.ant"
			type ="org.eclipse.ant.AntLaunchConfigurationType"
			helpContextId="org.eclipse.ui.externaltools.launchConfigHelpContext.ant"
			class="org.eclipse.ui.externaltools.internal.ant.launchConfigurations.AntTabGroup">
		</launchConfigurationTabGroup>
		<launchConfigurationTabGroup
			id="org.eclipse.ui.externaltools.launchConfigurationTabGroup.program.builder"
			type ="org.eclipse.ui.externaltools.ProgramBuilderLaunchConfigurationType"
			helpContextId="org.eclipse.ui.externaltools.launchConfigHelpContext.program_builder"
			class="org.eclipse.ui.externaltools.internal.program.launchConfigurations.ProgramBuilderTabGroup">
		</launchConfigurationTabGroup>
		<launchConfigurationTabGroup
			id="org.eclipse.ui.externaltools.launchConfigurationTabGroup.ant.builder"
			type ="org.eclipse.ant.AntBuilderLaunchConfigurationType"
			helpContextId="org.eclipse.ui.externaltools.launchConfigHelpContext.ant_builder"
			class="org.eclipse.ui.externaltools.internal.ant.launchConfigurations.AntBuilderTabGroup">
		</launchConfigurationTabGroup>
	</extension>
	
	<extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
		<launchConfigurationTypeImage
			id="org.eclipse.ui.externaltools.launchConfigurationTypeImage.program"
			configTypeID="org.eclipse.ui.externaltools.ProgramLaunchConfigurationType"
			icon="icons/full/obj16/external_tools.gif">
		</launchConfigurationTypeImage>
		<launchConfigurationTypeImage
			id="org.eclipse.ui.externaltools.launchConfigurationTypeImage.program.builder"
			configTypeID="org.eclipse.ui.externaltools.ProgramBuilderLaunchConfigurationType"
			icon="icons/full/obj16/external_tools.gif">
		</launchConfigurationTypeImage>	
	</extension>
	
	<extension point = "org.eclipse.debug.ui.launchGroups">
		<launchGroup
			id = "org.eclipse.ui.externaltools.launchGroup"
			mode = "run"
			category = "org.eclipse.ui.externaltools"
			label = "%ExternalToolsLaunchGroup.label"
			image = "icons/full/obj16/external_tools.gif"
			bannerImage = "icons/full/wizban/ext_tools_wiz.gif">
		</launchGroup>
		<launchGroup
			id = "org.eclipse.ui.externaltools.launchGroup.builder"
			mode = "run"
			category = "org.eclipse.ui.externaltools.builder"
			label = "%ExternalToolsLaunchGroup.label"
			image = "icons/full/obj16/external_tools.gif"
			bannerImage = "icons/full/wizban/ext_tools_wiz.gif"
			public = "false">
		</launchGroup>	
	</extension>
		
	<!-- Variable Extensions -->
	<extension point="org.eclipse.debug.ui.launchConfigurationVariables">
		<variable
			tag="build_type"
			description="%build_type.description"
			expanderClass="org.eclipse.ui.externaltools.internal.variables.BuildTypeExpander">
		</variable>
	</extension>
	<extension point="org.eclipse.ui.externaltools.refreshVariables">
		<variable
			tag="workspace"
			description="%workspace.description"
			expanderClass="org.eclipse.debug.ui.variables.WorkspaceExpander">
		</variable>
		<variable
			tag="project"
			description="%project.description"
			expanderClass="org.eclipse.debug.ui.variables.ProjectExpander">
		</variable>
		<variable
			tag="container"
			description="%container.description"
			expanderClass="org.eclipse.debug.ui.variables.ContainerExpander">
		</variable>
		<variable
			tag="resource"
			description="%resource.description"
			componentClass="org.eclipse.debug.ui.variables.ResourceComponent"
			expanderClass="org.eclipse.debug.ui.variables.ResourceExpander">
		</variable>
		<variable
			tag="working_set"
			description="%working_set.description"
			componentClass="org.eclipse.debug.ui.variables.WorkingSetComponent"
			expanderClass="org.eclipse.debug.ui.variables.WorkingSetExpander">
		</variable>
	</extension>
</plugin>
