<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="org.eclipse.ui.externaltools"
   name="%Plugin.name"
   version="2.1.0"
   provider-name="%Plugin.providerName"
   class="org.eclipse.ui.externaltools.internal.core.ExternalToolsPlugin">

   <runtime>
      <library name="externaltools.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.apache.xerces"/>
      <import plugin="org.eclipse.ant.core"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.ui"/>
   </requires>


<!-- extension point definitions -->

<!-- Extensions -->
	<extension point="org.eclipse.core.resources.builders"
		id="ExternalToolBuilder"
		name="%Builder.externalTools">
		<builder> 
			<run class="org.eclipse.ui.externaltools.internal.core.ExternalToolsBuilder"/> 
		</builder> 
	</extension>

	<extension point="org.eclipse.ui.popupMenus">
		<objectContribution
			id="org.eclipse.ui.externaltools.RunAnt"
			objectClass="org.eclipse.core.resources.IFile"
			adaptable="true"
			nameFilter="*.xml">
			<action
				id="org.eclipse.ui.externaltools.RunAntAction"
				label="%PopupMenu.runAnt"
				tooltip="%PopupMenu.runAntTip"
				menubarPath="additions"
				enablesFor="1"
				class="org.eclipse.ui.externaltools.internal.ui.AntRunActionDelegate">
			</action>
		</objectContribution>			
	</extension>

	<extension point="org.eclipse.ui.actionSets">
		<actionSet
			id="org.eclipse.ui.externaltools.ExternalToolsSet"
			label="%ActionSet.externalTools"
			visible="true">
			<menu id="org.eclipse.ui.run" 
				label="%Menu.run" 
				path="additions"> 
				<separator name="ExternalToolsGroup"/> 
			</menu> 
			<action
				id="org.eclipse.ui.externaltools.ExternalToolAction"
				label="%Action.externalTools"
				menubarPath="org.eclipse.ui.run/ExternalToolsGroup"
				toolbarPath="Normal/additions"
				disabledIcon="icons/full/dtool16/external_tools.gif"
				icon="icons/full/etool16/external_tools.gif"
				hoverIcon="icons/full/ctool16/external_tools.gif"
				tooltip="%Action.externalToolsTip"
				pulldown="true"
				class="org.eclipse.ui.externaltools.internal.ui.ExternalToolsAction">
			</action>
		</actionSet>
	</extension>

	<extension point="org.eclipse.ui.propertyPages">
		<page
			id="org.eclipse.ui.externaltools.propertypages.BuilderPropertyPage"
			objectClass="org.eclipse.core.resources.IProject"
			adaptable="true"
			name="%PropertyPage.externalToolsBuilders"
			class="org.eclipse.ui.externaltools.internal.ui.BuilderPropertyPage">
			<filter name="open" value="true"/> 
		</page>
	</extension>

	<extension point="org.eclipse.ui.preferencePages">
		<page 
			id="org.eclipse.ui.externaltools.ToolsPreferencePage" 
			name="%PreferencePage.toolsPreferences"
			class="org.eclipse.ui.externaltools.internal.ui.ToolsPreferencePage">
		</page>
		<page 
			id="org.eclipse.ui.externaltools.AntPreferencePage" 
			name="%PreferencePage.antPreferences"
			class="org.eclipse.ui.externaltools.internal.ui.AntPreferencePage"
			category="org.eclipse.ui.externaltools.ToolsPreferencePage">
		</page>
	</extension>

	<extension point="org.eclipse.ui.views">
		<category 
			id="org.eclipse.ui.externaltools.views"
			name="%Category.externalTools">
		</category>
		<view
			id="org.eclipse.ui.externaltools.LogConsoleView"
	  		name="%View.logConsole"
			icon="icons/full/cview16/log_console_view.gif"
			fastViewWidthRatio="0.75"
			category="org.eclipse.ui.externaltools.views"
			class="org.eclipse.ui.externaltools.internal.ui.LogConsoleView">
		</view>
	</extension>

    <extension point="org.eclipse.ant.core.extraClasspathEntries">
     	<extraClasspathEntry
         	library="lib/antbuilder.jar">
      	</extraClasspathEntry>
    </extension>


</plugin>
