<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.e4.tools.category1"
            defaultHandler="org.eclipse.e4.tools.handlers.GenerateSnapshotHandler"
            id="org.eclipse.e4.tools.globalSnapshot"
            name="Global Snapshot">
      </command>
      <command
            categoryId="org.eclipse.e4.tools.category1"
            defaultHandler="org.eclipse.e4.tools.handlers.DiffSnapshotHandler"
            id="org.eclipse.e4.tools.globalDiff"
            name="Global Diff">
      </command>
      <category
            description="e4 tools"
            id="org.eclipse.e4.tools.category1"
            name="e4 tools">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu 
         		id="org.eclipse.e4.tools.menu"
               label="e4 tools">
           <command
                  commandId="org.eclipse.e4.tools.globalSnapshot"
                  mnemonic="S"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.e4.tools.globalDiff"
                  mnemonic="D"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>

</plugin>
