<?xml version="1.0" encoding="UTF-8"?>
<plugin
  name="IBM Tooling Platform Core Tests - Test Plugin A"
  id="plugin.a"
  version="1.0"
  class="org.eclipse.core.tests.internal.plugin.a.PluginClass"
  vendor-name="IBM">

  <requires>
    <import plugin="plugin.b"/>
 </requires>

  <runtime>
    <library name="plugin_a.jar">
      <export name="org.eclipse.core.tests.internal.plugin.a.api.*"/>
    </library>
  </runtime>

  <extension-point id="case" name="CaseExtPt"/>

  <extension point="case" id="base">
    <test run="org.eclipse.core.tests.internal.plugin.a.BaseExtension"/>
  </extension>

  <extension point="case" id="referencePlugin">
    <test run="org.eclipse.core.tests.internal.plugin.a.ExtensionDirectCompilerReferenceToPluginClass"/>
  </extension>

  <extension point="case" id="referenceOther">
    <test run="org.eclipse.core.tests.internal.plugin.a.ExtensionDirectCompilerReferenceToOtherClass"/>
  </extension>

  <extension point="case" id="lookupPlugin">
    <test run="org.eclipse.core.tests.internal.plugin.a.ExtensionIndirectReferenceToPlugin"/>
  </extension>

</plugin>
