<?xml version="1.0" encoding="UTF-8"?>
<!-- File written by PDE 1.0 -->
<plugin
   id="org.eclipse.debug.core"
   name="DebugTools"
   version="0.9"
   provider-name="Object Technology International, Inc."
   class="org.eclipse.debug.core.DebugPlugin">
<!-- Required plugins -->
<requires>
   <import plugin="org.apache.xerces"/>
   <import plugin="org.eclipse.core.resources"/>
</requires>

<!-- Runtime -->
<runtime>
   <library name="dtcore.jar">
      <export name="*"/>
   </library>
</runtime>

<!-- Extension points -->
<extension-point id="launchers" name="Launcher"/>
<extension-point id="breakpoint_factories" name="BreakpointFactory"/>

<!-- Extensions -->
<extension
      id="breakpoint"
      point="org.eclipse.core.resources.markers">
   <super
         type="org.eclipse.core.resources.marker">
   </super>
   <persistent
         value="true">
   </persistent>
   <attribute
         name="modelIdentifier">
   </attribute>
   <attribute
         name="enabled">
   </attribute>
</extension>
<extension
      id="lineBreakpoint"
      point="org.eclipse.core.resources.markers">
   <super
         type="org.eclipse.debug.core.breakpoint">
   </super>
   <super
         type="org.eclipse.core.resources.textmarker">
   </super>
   <persistent
         value="true">
   </persistent>
</extension>
</plugin>
