<?xml version="1.0" encoding="UTF-8"?>
<!-- File written by PDE 1.0 -->
<plugin
   id="org.eclipse.debug.core"
   name="%pluginName"
   version="2.0.0"
   provider-name="Object Technology International, Inc."
   class="org.eclipse.debug.core.DebugPlugin">
<!-- Required plugins -->
<requires>
   <import plugin="org.apache.xerces"/>
   <import plugin="org.eclipse.core.resources"/>
</requires>

<!-- Runtime -->
<runtime>
   <library name="dtcore.jar">
      <export name="*"/>
   </library>
</runtime>

<!-- Extension points -->
<extension-point id="launchers" name="%launcherExtensionPointName"/>
<extension-point id="breakpoints" name="%breakpointExtensionPointName"/>
<extension-point id="launchConfigurationTypes" name="%launchConfigurationTypeNameExtensionPointName"/>
<extension-point id="statusHandlers" name="%statusHandlerExtensionPointName"/>
<extension-point id="sourceLocators" name="%sourceLocatorsExtensionPointName"/>

<!-- Extensions -->
<extension id="breakpointMarker" point="org.eclipse.core.resources.markers">
   <super type="org.eclipse.core.resources.marker"/>
   <persistent value="true"/>
   <attribute name="org.eclipse.debug.core.modelIdentifier"/>
   <attribute name="org.eclipse.debug.core.enabled"/>
   <attribute name="org.eclipse.debug.core.registered"/>
   <attribute name="org.eclipse.debug.core.persisted"/>
</extension>
<extension id="lineBreakpointMarker" point="org.eclipse.core.resources.markers">
   <super type="org.eclipse.debug.core.breakpointMarker"/>
   <super type="org.eclipse.core.resources.textmarker"/>
   <persistent value="true"/>
</extension>
</plugin>
