<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="org.eclipse.debug.core"
   name="%pluginName"
   version="3.0.0"
   provider-name="%providerName"
   class="org.eclipse.debug.core.DebugPlugin">

   <runtime>
      <library name="dtcore.jar">
         <export name="*"/>
         <packages prefixes="org.eclipse.debug.core,org.eclipse.debug.internal.core"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.apache.xerces"/>
      <import plugin="org.eclipse.core.resources"/>
   </requires>


<!-- Extension points -->
   <extension-point id="breakpoints" name="%breakpointExtensionPointName" schema="schema/breakpoints.exsd"/>
   <extension-point id="launchConfigurationComparators" name="%launchConfigurationComparatorsExtensionPointName" schema="schema/launchConfigurationComparators.exsd"/>
   <extension-point id="launchConfigurationTypes" name="%launchConfigurationTypeNameExtensionPointName" schema="schema/launchConfigurationTypes.exsd"/>
   <extension-point id="launchModes" name="%launchModesExtensionPointName" schema="schema/launchModes.exsd"/>
   <extension-point id="launchDelegates" name="%launchDelegatesExtensionPointName" schema="schema/launchDelegates.exsd"/>
   <extension-point id="launchers" name="%launcherExtensionPointName" schema="schema/launchers.exsd"/>
   <extension-point id="sourceLocators" name="%sourceLocatorsExtensionPointName" schema="schema/sourceLocators.exsd"/>
   <extension-point id="statusHandlers" name="%statusHandlerExtensionPointName" schema="schema/statusHandlers.exsd"/>
   <extension-point id="simpleLaunchVariables" name="%simpleLaunchVariablesName" schema="schema/simpleLaunchVariables.exsd"/>
   <extension-point id="contextLaunchVariables" name="%contextLaunchVariablesName" schema="schema/contextLaunchVariables.exsd"/>
   <extension-point id="refreshLaunchVariables" name="%refreshLaunchVariablesName" schema="schema/refreshLaunchVariables.exsd"/>
   <extension-point id="watchExpressionDelegates" name="%watchExpressionDelegatesName" schema="schema/watchExpressionDelegates.exsd"/>
   <extension-point id="processFactories" name="%processFactoriesExtensionPointName" schema="schema/processFactories.exsd"/>
<!-- Extensions -->
   <extension
         id="breakpointMarker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.marker">
      </super>
      <persistent
            value="true">
      </persistent>
      <attribute
            name="org.eclipse.debug.core.modelIdentifier">
      </attribute>
      <attribute
            name="org.eclipse.debug.core.enabled">
      </attribute>
      <attribute
            name="org.eclipse.debug.core.registered">
      </attribute>
      <attribute
            name="org.eclipse.debug.core.persisted">
      </attribute>
   </extension>
   <extension
         id="lineBreakpointMarker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.debug.core.breakpointMarker">
      </super>
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.team.core.fileTypes">
      <fileTypes
            type="text"
            extension="launch">
      </fileTypes>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchModes">
      <launchMode
            label="%run"
            mode="run">
      </launchMode>
      <launchMode
            label="%debug"
            mode="debug">
      </launchMode>
      <launchMode
            label="%profile"
            mode="profile">
      </launchMode>
   </extension>
   <extension
         point="org.eclipse.debug.core.contextLaunchVariables">
      <variable
            name="workspace_loc"
            expanderClass="org.eclipse.debug.internal.core.variables.WorkspaceExpander"
            description="%workspace_loc.description">
      </variable>
      <variable
            name="project_loc"
            expanderClass="org.eclipse.debug.internal.core.variables.ProjectExpander"
            description="%project_loc.description">
      </variable>
      <variable
            name="project_path"
            expanderClass="org.eclipse.debug.internal.core.variables.ProjectExpander"
            description="%project_path.description">
      </variable>
      <variable
            name="project_name"
            expanderClass="org.eclipse.debug.internal.core.variables.ProjectNameExpander"
            description="%project_name.description">
      </variable>
      <variable
            name="resource_loc"
            expanderClass="org.eclipse.debug.internal.core.variables.ResourceExpander"
            description="%resource_loc.description">
      </variable>
      <variable
            name="resource_path"
            expanderClass="org.eclipse.debug.internal.core.variables.ResourceExpander"
            description="%resource_path.description">
      </variable>
      <variable
            name="resource_name"
            expanderClass="org.eclipse.debug.internal.core.variables.ResourceNameExpander"
            description="%resource_name.description">
      </variable>
      <variable
            name="container_loc"
            expanderClass="org.eclipse.debug.internal.core.variables.ContainerExpander"
            description="%container_loc.description">
      </variable>
      <variable
            name="container_path"
            expanderClass="org.eclipse.debug.internal.core.variables.ContainerExpander"
            description="%container_path.description">
      </variable>
      <variable
            name="container_name"
            expanderClass="org.eclipse.debug.internal.core.variables.ContainerNameExpander"
            description="%container_name.description">
      </variable>
   </extension>

</plugin>
