<?xml version="1.0" encoding="UTF-8"?>
<plugin
  name="Ant Build Tool Core"
  id="org.eclipse.ant.core"
  version="0.9"
  class="org.eclipse.ant.core.AntPlugin"
  provider-name="Object Technology International, Inc.">

  <runtime>
    <library name="ant.jar">
      <export name="*"/>
    </library>
    <library name="antsupport.jar">
      <export name="*"/>
    </library>
  </runtime>

  <requires>
    <import plugin="org.eclipse.core.resources"/>
    <import plugin="org.apache.xerces"/>
  </requires>

  <extension id="antRunner" point="org.eclipse.core.runtime.applications">
    <application> 
      <run class="org.eclipse.ant.core.AntRunner">
      </run>
    </application>
  </extension>

  <extension-point name="Ant Object Definitions" id="antObjects"/>
  <extension-point name="Ant Task Definitions" id="antTasks"/>
  <extension-point name="Ant Type Definitions" id="antTypes"/>

  <extension point="org.eclipse.ant.core.antTypes">
    <antType name="commapatternset" class="org.eclipse.ant.core.CommaPatternSet"/>
  </extension>

  <extension point="org.eclipse.ant.core.antTasks">
    <antTask name="incremental" class="org.eclipse.ant.core.IncrementalBuild"/>
    <antTask name="javac" class="org.eclipse.ant.core.EclipseJavac"/>
    <antTask name="refreshLocal" class="org.eclipse.ant.core.RefreshLocal"/>
  </extension>

</plugin>
