<?xml version="1.0" encoding="UTF-8"?>
<plugin>

     <extension
         id="zip"
         point="org.eclipse.update.core.featureTypes">
      <feature-factory
            class="org.eclipse.update.examples.buildzip.BuildZipFeatureFactory">
      </feature-factory>
   </extension>
   <extension
         id="site.zip"
         point="org.eclipse.update.core.siteTypes">
      <site-factory
            class="org.eclipse.update.examples.buildzip.BuildZipSiteFactory">
      </site-factory>
   </extension>
   <extension
         id="site.freeform"
         point="org.eclipse.update.core.siteTypes">
      <site-factory
            class="org.eclipse.update.examples.freeform.FreeFormSiteFactory">
      </site-factory>
   </extension>

</plugin>
