<?xml version="1.0" encoding="UTF-8"?>
<!-- File written by PDE 1.0 -->
<plugin
   id="org.eclipse.update.examples"
   name="%name"
   version="2.0.0"
   provider-name="%provider-name">
<requires>
   <import plugin="org.eclipse.core.runtime"/>
   <import plugin="org.apache.xerces"/>
   <import plugin="org.eclipse.core.boot"/>
   <import plugin="org.eclipse.update.core"/>
</requires>

<runtime>
   <library name="updateexamples.jar">
      <export name="*"/>
   </library>
</runtime>

<extension
      id="zip"
      point="org.eclipse.update.core.featureTypes">
   <feature-factory
         class="org.eclipse.update.examples.buildzip.BuildZipFeatureFactory">
   </feature-factory>
</extension>
</plugin>
