<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="AddonSnippet"
         name="%extension.addonsnippet.name"
         point="org.eclipse.e4.workbench.model">
      <processor
            beforefragment="true"
            class="org.eclipse.e4.ui.workbench.addons.swt.CleanupProcessor">
      </processor>
      <processor
            beforefragment="true"
            class="org.eclipse.e4.ui.workbench.addons.swt.MinMaxProcessor">
      </processor>
      <processor
            beforefragment="true"
            class="org.eclipse.e4.ui.workbench.addons.swt.DnDProcessor">
      </processor>
   </extension>

</plugin>
