<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="WithGroup"
               label="WithGroup">
            <separator
                  name="group1"
                  visible="false">
            </separator>
            <separator
                  name="group2"
                  visible="false">
            </separator>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="WithHandlers"
               label="WithHandlers">
            <command
                  commandId="org.eclipse.e4.ui.menu.tests.commandOne"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.e4.ui.menu.tests.commandTwo"
                  style="push">
            </command>
            <separator
                  name="group1"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.e4.ui.menu.tests.commandThree"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:WithGroup?after=group2">
         <command
               commandId="org.eclipse.e4.ui.menu.tests.commandTwo"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:WithHandlers?after=group1">
         <command
               commandId="org.eclipse.e4.ui.menu.tests.commandFour"
               style="toggle">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:WithGroup?after=group1">
         <command
               commandId="org.eclipse.e4.ui.menu.tests.commandOne"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.workbench.file?after=additions">
         <command
               commandId="org.eclipse.e4.ui.menu.tests.commandOne"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.workbench.file?after=print.ext">
         <command
               commandId="org.eclipse.e4.ui.menu.tests.commandTwo"
               style="push">
         </command>
      </menuContribution>
   </extension>

</plugin>
