/* 
 * Set up general font colours, sizes, etc.  Some of these will override
 * settings from the shared CSS 
 */
.intro-header H1 {
	font-size : 18pt;
}

#page-links a .link-label, #action-links a .link-label {
	font-size : 13pt;	font-weight : 600;
	padding-left: 10px;
	padding-right: 10px;
}

#page-links a p .text, #action-links a p .text {
	font-size : 13pt;	font-weight : 500;
	padding-bottom: 10px;
}
/*
 * Set up the content for the root page.
 */
body {
	min-width : 770px;	/* since IE doesn't support min-width, use expression */
	width:expression(document.body.clientWidth < 770? "770px": "auto" );
	background-image : url(../graphics/rootpage/welcomebckgrd.jpg);	background-repeat : no-repeat;	background-position : center center;
	background-attachment : fixed;
	overflow : hidden;
	overflow-clip: rect(0, auto, auto, 0);
	background-color : #7169D1;
}
#root {
	min-height : 450px;
	height : expression(document.body.clientHeight < 450? "450px": "100%" );
	overflow: hidden;
}

	/* For non-IE browsers */
#root[id] {	display: table; position: static; }

#branding {
	position: absolute;
	bottom : 20px;
	left : 20px;
}

/* 
 * Set up the navigation bar.  It should be centered in the middle
 * of the page
 */
#links-background {
	width : 100%;
	position: absolute;
	top: 50%;	text-align : center;
}

/* for non-IE browsers only */
#links-background[id] {
	display: table-cell; 
	vertical-align: middle; 
	position: static;
}

/* specify a width for Moz so we can center.  
 * **Important** If additional links are added, we will have to increase this width 
 * to accomodate them, otherwise they will wrap to a new line 
 */
#links-background > #page-links {
	width : 33em;	margin : 0 auto;
}

#page-links {
	width : 884px;
	height: 387px;
	position : relative;
	left : -17px;
	top : -50%;
}

#page-links a {
	position : absolute;	margin-left : 1em;	margin-right : 1em;	text-align : center;
}

#page-links[id] { position: static; } 

/* Position root links using absolute coordinates */
#page-links a img {
	height : 103px;
	width : 103px;
}

#page-links a:hover img {
	width : 215px;
	height : 84px;
}

#page-links a#overview {
	left: -1px;
	top: 5px;
	background-color: magenta;
}

#page-links a#overview:hover {
	left: -5px;
}

#page-links a#overview img {
	width : 141px;
	height : 154px;
}

#page-links a#overview:hover img {
	width : 217px;
	height : 99px;
}

#page-links a#whatsnew {
	left: 149px;
	top: 110px;
}

#page-links a#tutorials {
	left: 430px;
	top: 296px;
}

#page-links a#samples {
	left: 242px;
	top: 296px;
}

#page-links a#firststeps {
	left: 336px;
	top: 110px;
}

#page-links a#webresources {
	left: 523px;
	top: 203px;
}

#page-links a#migrate {
	left: 710px;
	top: 296px;
}


/* remove the hover image from the flow of the document,
   so it doesn't take up space and change the position
   of the link label and descriptions */
#page-links a .background-image {
	position : absolute;
}
/* properly align the link label and text based on class (left vs. right) */
#page-links a:hover {
	/* This is needed for IE to force the hover pseudo selectors below to work.*/	padding : 0 em;
}

#page-links a:hover,
#page-links a:focus,
#page-links a:active {
	background-image: url(../graphics/icons/ctool/root_bottomhov.gif);
	background-repeat: no-repeat;
	background-position: bottom left;
	z-index: 20;
}

#page-links a#overview:hover,
#page-links a#overview:focus,
#page-links a#overview:active {
	background-image: url(../graphics/icons/ctool/overview_bottomhov.gif);
	background-image: no-repeat;
	background-position: bottom left;
	z-index: 20;
}

/* Hide the link label in the normal state */
#page-links a .link-label,
#page-links a .text {
	display : none;
}

#page-links a:hover .link-label,
#page-links a:focus .link-label,
#page-links a:active .link-label {
	display : block;
	z-index: 40;
}

#page-links a:hover p .text,
#page-links a:focus p .text,
#page-links a:active p .text {
	display : block;
	z-index: 40;
}


#page-links a#overview:hover .link-label,
#page-links a#overview:focus .link-label,
#page-links a:overview:active .link-label {
	width: 215px;
}

#page-links a#overview:hover p .text,
#page-links a#overview:focus p .text,
#page-links a:overview:active p .text {
	width: 215px;
}

#page-links a:hover .link-extra-div,
#page-links a:focus .link-extra-div,
#page-links a:active .link-extra-div {
	display: block;
	position: absolute;
	top : 84px;
	left : 0px;
	width: 215px;
	height: auto;
	bottom: 2px;
	z-index: -5;
/*
	background-image: url(../graphics/icons/ctool/root_midhov.gif);
	background-repeat: repeat-y;
	*/
	background-color: cyan;
}
/*
#page-links a#overview:hover .link-extra-div,
#page-links a#overview:focus .link-extra-div,
#page-links a#overview:active .link-extra-div {
	display: block;
	position: absolute;
	top : 99px;
	left : 7px;
	width: 217px;
	height: auto;
	bottom: 2px;
	background-image: url(../graphics/icons/ctool/root_midhov.gif);
	background-repeat: repeat-y;
}
*/

/* properties for each of the page-links  */
#page-links a#overview img { background-image : url(../graphics/icons/ctool/overview.gif); }
#page-links a:hover#overview img { background-image : url(../graphics/icons/ctool/overview_tophov.gif); }

#page-links a#tutorials img { background-image : url(../graphics/icons/ctool/tutorials.gif); }
#page-links a:hover#tutorials img { background-image : url(../graphics/icons/ctool/tutorials_tophov.gif); }

#page-links a#samples img { background-image : url(../graphics/icons/ctool/samples.gif); }
#page-links a:hover#samples img { background-image : url(../graphics/icons/ctool/samples_tophov.gif); }

#page-links a#whatsnew img { background-image : url(../graphics/icons/ctool/whatsnew.gif); }
#page-links a:hover#whatsnew img { background-image : url(../graphics/icons/ctool/whatsnew_tophov.gif); }

#page-links a#firststeps img { background-image : url(../graphics/icons/ctool/firststeps.gif); }
#page-links a:hover#firststeps img { background-image : url(../graphics/icons/ctool/firststeps_tophov.gif); }

#page-links a#migrate img { background-image : url(../graphics/icons/ctool/migrate.gif); }
#page-links a:hover#migrate img { background-image : url(../graphics/icons/ctool/migrate_tophov.gif); }

#page-links a#webresources img { background-image : url(../graphics/icons/ctool/webresources.gif); }
#page-links a:hover#webresources img { background-image : url(../graphics/icons/ctool/webresources_tophov.gif); }

/*
 * Set up the action links
 */
#action-links {
	width : 100%;
	position: absolute;
	top: 50%;
	text-align : center;
}

#action-links a {
	position : relative;
	top : -50%;
}

#action-links a .background-image,
#action-links a #workbench_img {
	width : 202px;
	height : 103px;	
	position : absolute;
	left : 364px;
	top : -83px;
}

#action-links a:hover#workbench img {
}

#action-links a#workbench img { 
	background-image : url(../graphics/icons/ctool/workbench.gif); 
}
#action-links a:hover#workbench img { 
	background-image : url(../graphics/icons/ctool/workbench_tophov.gif); 
}

/* hide the link and description until users hover over the link */
#action-links a p .text, #action-links a .link-label {
	display : none;
}

#action-links a:hover .link-label,
#action-links a:focus .link-label,
#action-links a:active .link-label {
	display : block;	margin-left : 10px;
}
#action-links a:hover p .text,
#action-links a:focus p .text,
#action-links a:active p .text {
	display : block;	width : 16em;
}