/* 
 * Set up general font colours, sizes, etc.  Some of these will override
 * settings from the shared CSS 
 */
.intro-header H1 {
	font-size : 18pt;
}

/* Hide the extra div for links in the normal state. */
a .link-extra-div {
	display: none;
}

/* Link label properties */
#page-links a .link-label {
	font-size : 13pt;	font-weight : 600;
	padding-left: 10px;
	padding-right: 10px;
	position: relative;
	top: -15px;
	margin-bottom: -10px;
}

/* Link description properties */
#page-links a p .text {
	font-size : 13pt;	font-weight : 500;
	padding-bottom: 10px;
}
/*
 * Set up the content for the root page.
 */
body {
	min-width : 770px;	/* since IE doesn't support min-width, use expression */
	width:expression(document.body.clientWidth < 770? "770px": "auto" );
	background-image : url(../graphics/rootpage/welcomebckgrd.jpg);	background-repeat : no-repeat;	background-position : center center;
	background-attachment : fixed;
	overflow : hidden;
	overflow-clip: rect(0, auto, auto, 0);
	background-color : #345365;
}
#root {
	min-height : 450px;
	height : expression(document.body.clientHeight < 450? "450px": "100%" );
	overflow: hidden;
}

	/* For non-IE browsers */
#root[id] {	display: table; position: static; }

#branding {
	position: absolute;
	bottom : 20px;
	left : 20px;
}

/* 
 * Set up the navigation bar.  It should be centered in the middle
 * of the page
 */
#links-background {
	width : 100%;
	position: absolute;
	top: 50%;	text-align : center;
}

/* for non-IE browsers only */
#links-background[id] {
	display: table-cell; 
	vertical-align: middle; 
	position: static;
}

/* specify a width for Moz so we can center.  
 * **Important** If additional links are added, we will have to increase this width 
 * to accomodate them, otherwise they will wrap to a new line 
 */
#links-background > #page-links {
	width : 33em;	margin : 0 auto;
}

#page-links {
	width : 884px;
	height: 387px;
	position : relative;
	left : -17px;
	top : -50%;
}

#page-links a {
	position : absolute;	margin-left : 1em;	margin-right : 1em;	text-align : center;
/*
	background-color: magenta;
	*/
}

#page-links[id] { position: static; } 

/* Position root links using absolute coordinates */
#page-links a img {
	height : 103px;
	width : 103px;
}

#page-links a:hover img {
	width : 215px;
	height : 84px;
}

#page-links a#overview {
	left: -1px;
	top: 5px;
}

#page-links a#overview:hover {
	left: -2px;
}

#page-links a#overview img {
	width : 141px;
	height : 154px;
}

#page-links a#overview:hover img {
	width : 217px;
	height : 99px;
}

/* Absolute positions of root links */

#page-links a#whatsnew {
	left: 150px;
	top: 111px;
}

#page-links a#tutorials {
	left: 431px;
	top: 297px;
}

#page-links a#samples {
	left: 243px;
	top: 297px;
}

#page-links a#firststeps {
	left: 337px;
	top: 111px;
}

#page-links a#webresources {
	left: 524px;
	top: 204px;
}

#page-links a#migrate {
	left: 711px;
	top: 297px;
}

#page-links a#workbench {
	left: 808px;
	top: 111px;
}

#page-links a:hover#workbench,
#page-links a:focus#workbench,
#page-links a:active#workbench {
	left: 713px;
}

/* Turn the background image off */
#page-links a .background-image {
	display : none;
}

/* Paint bottom edge of the text box as a background image */

#page-links a:hover,
#page-links a:focus,
#page-links a:active {
	background-image: url(../graphics/icons/ctool/root_bottomhov.gif);
	background-repeat: no-repeat;
	background-position: bottom left;
	z-index: 20;
}

#page-links a#overview:hover,
#page-links a#overview:focus,
#page-links a#overview:active {
	background-image: url(../graphics/icons/ctool/overview_bottomhov.gif);
	background-image: no-repeat;
	background-position: bottom 1px;
	z-index: 20;
}

#page-links a#workbench:hover,
#page-links a#workbench:focus,
#page-links a#workbench:active {
	background-image: url(../graphics/icons/ctool/workbench_bottomhov.gif);
	background-image: no-repeat;
	background-position: bottom left;
	z-index: 20;
}

/* Hide the link label in the normal state */
#page-links a .link-label,
#page-links a .text {
	display : none;
}

/* Show the link label and link text as block on hover */

#page-links a:hover .link-label,
#page-links a:focus .link-label,
#page-links a:active .link-label {
	display : block;
	z-index: 40;
}

#page-links a:hover p .text,
#page-links a:focus p .text,
#page-links a:active p .text {
	display : block;
	z-index: 40;
}

#page-links a#overview:hover .link-label,
#page-links a#overview:focus .link-label,
#page-links a:overview:active .link-label {
	width: 210px;
}

#page-links a#overview:hover p .text,
#page-links a#overview:focus p .text,
#page-links a:overview:active p .text {
	width: 210px;
}

/* Use the extra div to fill in the text box behind the text */

#page-links a:hover .link-extra-div,
#page-links a:focus .link-extra-div,
#page-links a:active .link-extra-div {
	display: block;
	position: absolute;
/*
	top : 84px;
	*/
	left : 0px;
	width: 215px;
/*
	top: 	84;
	*/
	height: 70px;
	bottom: 2px;
	z-index: -5;
	background-image: url(../graphics/icons/ctool/root_midhov.gif);
	background-repeat: repeat-y;
}

#page-links a#overview:hover .link-extra-div,
#page-links a#overview:focus .link-extra-div,
#page-links a#overview:active .link-extra-div {
	left : 3px;
	width: 217px;
}

#page-links a#workbench:hover .link-extra-div,
#page-links a#workbench:focus .link-extra-div,
#page-links a#workbench:active .link-extra-div {
	left : 0px;
	width: 202px;
	background-image: url(../graphics/icons/ctool/workbench_midhov.gif);
}

/* Link images */
#page-links a#overview img { background-image : url(../graphics/icons/ctool/overview.gif); }
#page-links a:hover#overview img { background-image : url(../graphics/icons/ctool/overview_tophov.gif); }

#page-links a#tutorials img { background-image : url(../graphics/icons/ctool/tutorials.gif); }
#page-links a:hover#tutorials img { background-image : url(../graphics/icons/ctool/tutorials_tophov.gif); }

#page-links a#samples img { background-image : url(../graphics/icons/ctool/samples.gif); }
#page-links a:hover#samples img { background-image : url(../graphics/icons/ctool/samples_tophov.gif); }

#page-links a#whatsnew img { background-image : url(../graphics/icons/ctool/whatsnew.gif); }
#page-links a:hover#whatsnew img { background-image : url(../graphics/icons/ctool/whatsnew_tophov.gif); }

#page-links a#firststeps img { background-image : url(../graphics/icons/ctool/firststeps.gif); }
#page-links a:hover#firststeps img { background-image : url(../graphics/icons/ctool/firststeps_tophov.gif); }

#page-links a#migrate img { background-image : url(../graphics/icons/ctool/migrate.gif); }
#page-links a:hover#migrate img { background-image : url(../graphics/icons/ctool/migrate_tophov.gif); }

#page-links a#webresources img { background-image : url(../graphics/icons/ctool/webresources.gif); }
#page-links a:hover#webresources img { background-image : url(../graphics/icons/ctool/webresources_tophov.gif); }

#page-links a#workbench img { background-image : url(../graphics/icons/ctool/workbench.gif); }
#page-links a:hover#workbench img { background-image : url(../graphics/icons/ctool/workbench_tophov.gif); }

/*
 * Not using action links.
 */
#action-links {
	display: none;
}