
/* show the "selected" image for this page */
#navigation-links a#tutorials img, #navigation-links a#tutorials:hover img { 
	background-image : url(../graphics/icons/ctool/tu_nav_64.gif); 
	top : 2px; 
	left : -3px;
}

#navigation-links {
	background-image: url(../graphics/contentpage/tu_banner.jpg);
}

#navigation-links a:hover#tutorials .link-label,
#navigation-links a:focus#tutorials .link-label,
#navigation-links a:active#tutorials .link-label {
	display : none;
}

#navigation-links a:hover#tutorials,
#navigation-links a:focus#tutorials,
#navigation-links a:active#tutorials {
	background-image : none;
}

#navigation-links a:hover#tutorials .link-extra-div {
	display: none;
}