<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.services">
      <serviceFactory
            factoryClass="org.eclipse.e4.tools.compat.internal.ContextServiceFactory">
         <service
               serviceClass="org.eclipse.e4.core.contexts.IEclipseContext"></service>
      </serviceFactory>
   </extension>

</plugin>
