<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension-point id="metadataDumpers" name="Metadata Dumpers"/>

<!--  Perspectives -->
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Plug-in Dependency"
            icon="icons/req_plugins_obj.gif"
            class="org.eclipse.core.tools.runtime.PluginDependencyPerspective"
            id="org.eclipse.core.tools.runtime.PluginDependencyPerspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Runtime Spy"
            icon="icons/zoom.gif"
            class="org.eclipse.core.tools.runtime.RuntimeSpyPerspective"
            id="org.eclipse.core.tools.runtime.RuntimeSpyPerspective">
      </perspective>
   </extension>
<!--  Metadata Perspective -->
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Metadata"
            icon="icons/spy.gif"
            class="org.eclipse.core.tools.metadata.MetadataPerspective"
            id="org.eclipse.core.tools.metadata.MetadataPerspective">
      </perspective>
   </extension>
<!-- Metadata Views  -->
   <extension
         point="org.eclipse.ui.views">
      <category
            name="Metadata Tools"
            id="org.eclipse.core.tools.metadata">
      </category>
      <view
            name="Dump Contents"
            icon="icons/spy.gif"
            category="org.eclipse.core.tools.metadata"
            class="org.eclipse.core.tools.metadata.DumpContentsView"
            id="org.eclipse.core.tools.metadata.DumpContentsView">
      </view>
      <view
            name="Dump Summary"
            icon="icons/spy.gif"
            category="org.eclipse.core.tools.metadata"
            class="org.eclipse.core.tools.metadata.DumpSummaryView"
            id="org.eclipse.core.tools.metadata.DumpSummaryView">
      </view>
      <view
            name="Metadata Tree"
            icon="icons/spy.gif"
            category="org.eclipse.core.tools.metadata"
            class="org.eclipse.core.tools.metadata.MetadataTreeView"
            id="org.eclipse.core.tools.metadata.MetadataTreeView">
      </view>
   </extension>   
<!-- Runtime Views -->
   <extension point="org.eclipse.ui.views">
      <category name="Runtime Tools" id="org.eclipse.core.tools.runtime"/>
      <view
            name="Activated Plug-ins"
            icon="icons/plugin.gif"
            category="org.eclipse.core.tools.runtime"
            class="org.eclipse.core.tools.runtime.ActivePluginsView"
            id="org.eclipse.core.tools.runtime.ActivePluginsView"/>
      <view
            name="Loaded Classes"
            icon="icons/classes.gif"
            category="org.eclipse.core.tools.runtime"
            class="org.eclipse.core.tools.runtime.LoadedClassesView"
            id="org.eclipse.core.tools.runtime.LoadedClassesView"/>
      <view
            name="Plug-in Datasheet"
            icon="icons/datasheet.gif"
            category="org.eclipse.core.tools.runtime"
            class="org.eclipse.core.tools.runtime.PluginDataSheetView"
            id="org.eclipse.core.tools.runtime.PluginDataSheetView"/>
      <view
            name="Stack Trace"
            icon="icons/trace.gif"
            category="org.eclipse.core.tools.runtime"
            class="org.eclipse.core.tools.runtime.StackTraceView"
            id="org.eclipse.core.tools.runtime.StackTraceView"/>
      <view
            name="Plug-in Dependency Spy"
            icon="icons/spy.gif"
            category="org.eclipse.core.tools.runtime"
            class="org.eclipse.core.tools.runtime.PluginDependencyView"
            id="org.eclipse.core.tools.runtime.PluginDependencyView"/>
      <view
            name="Plug-in List Spy"
            icon="icons/spy.gif"
            category="org.eclipse.core.tools.runtime"
            class="org.eclipse.core.tools.runtime.PluginListView"
            id="org.eclipse.core.tools.runtime.PluginListView"/>
      <view
            name="Preferences Spy"
            icon="icons/spy.gif"
            category="org.eclipse.core.tools.runtime"
            class="org.eclipse.core.tools.runtime.EclipsePreferencesView"
            id="org.eclipse.core.tools.runtime.EclipsePreferencesView"/>
      <view
            name="Preference Stats Spy"
            icon="icons/spy.gif"
            category="org.eclipse.core.tools.runtime"
            class="org.eclipse.core.tools.runtime.PreferenceStatsView"
            id="org.eclipse.core.tools.runtime.PreferenceStatsView"/>
      <view
            name="Content Types"
            icon="icons/spy.gif"
            category="org.eclipse.core.tools.runtime"
            class="org.eclipse.core.tools.runtime.ContentTypeView"
            id="org.eclipse.core.tools.runtime.ContentTypeView"/>            


   </extension>
</plugin>
