<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.eclipse.ui.examples.filter.FilteredTreeView"
            id="org.eclipse.ui.examples.filter.view1"
            name="%view.tree.name"
            restorable="true">
      </view>
      <view
            class="org.eclipse.ui.examples.filter.FilteredTableView"
            id="org.eclipse.ui.examples.filter.view2"
            name="%view.table.name"
            restorable="true">
      </view>
      <view
            class="org.eclipse.ui.examples.filter.FilteredVirtualTableView"
            id="org.eclipse.ui.examples.filter.view3"
            name="%view.table.virtual.name"
            restorable="true">
      </view>
   </extension>

</plugin>
