<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="testA"
         point="org.eclipse.core.runtime.adapters">
         <factory class="sampleClassA1" adaptableType="org.eclipse.core.tests.runtime.TestAdaptable">
            <adapter type="abc.SomethingElseA1"/>
         </factory>
   </extension>
   
   <extension point="org.eclipse.core.runtime.adapters">
         <factory class="sampleClass2" adaptableType="org.eclipse.core.tests.runtime.TestAdaptable">
            <adapter type="abc.SomethingElseA2"/>
         </factory>
   </extension>

</plugin>
