<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.eclipse.team.examples.filesystem"
   name="%pluginName"
   version="3.0.0"
   provider-name="%providerName"
   class="org.eclipse.team.examples.filesystem.FileSystemPlugin">

   <runtime>
      <library name="teamfilesystem.jar">
         <export name="*"/>
         <packages prefixes="org.eclipse.team.examples.filesystem"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.core.runtime.compatibility"/> 
      <import plugin="org.eclipse.ui.ide" optional="true"/>
      <import plugin="org.eclipse.ui.views" optional="true"/>
      <import plugin="org.eclipse.jface.text" optional="true"/>
      <import plugin="org.eclipse.ui.workbench.texteditor" optional="true"/>
      <import plugin="org.eclipse.ui.editors" optional="true"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.team.core"/>
      <import plugin="org.eclipse.team.ui"/>
      <import plugin="org.eclipse.ui"/>
   </requires>


<!-- *************** Repository Provider **************** -->
   <extension
         point="org.eclipse.team.core.repository">
      <repository
            class="org.eclipse.team.examples.filesystem.FileSystemProvider"
            typeClass="org.eclipse.team.examples.filesystem.FileSystemProviderType"
            id="org.eclipse.team.examples.filesystem.FileSystemProvider">
      </repository>
   </extension>

<!-- ************** Project Sets **************** -->
	<extension point="org.eclipse.team.core.projectSets">
		<projectSet id="org.eclipse.team.examples.filesystem.FileSystemProvider" class="org.eclipse.team.examples.filesystem.ui.ProjectSetSerializer"/>
	</extension>
	
<!-- *************** Deployment Provider **************** -->
   <extension
         point="org.eclipse.team.core.deployment">
      <deployment
            class="org.eclipse.team.examples.filesystem.deployment.FileSystemDeploymentProvider"
            id="org.eclipse.team.examples.filesystem.FileSystemDeploymentProvider"
            name="%nonVersioningProvider">
      </deployment>
   </extension>

<!-- *************** Deployment ObjectContributions **************** -->   
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IContainer"
            adaptable="true"
            id="org.eclipse.team.examples.filesystem.ResourceContributions">
         <menu
               label="Deployment Example"
               path="additions"
               id="example.deployment">
            <separator name="group1"/>
            <separator name="group2"/>
    	 </menu>        
         <action
               label="Connect..."
               tooltip="Deployment Actions"
               menubarPath="example.deployment/group2"
               class="org.eclipse.team.examples.filesystem.deployment.DeployAction"
               id="org.eclipse.team.examples.filesystem.deploy">
         </action>
         <action
               label="Disconnect..."
               tooltip="Deployment Actions"
               menubarPath="example.deployment/group2"
               class="org.eclipse.team.examples.filesystem.deployment.UnDeployAction"
               id="org.eclipse.team.examples.filesystem.undeploy">
         </action>        
         <action
               label="Upload"
               tooltip="Deployment Actions"
               menubarPath="example.deployment/group1"
               class="org.eclipse.team.examples.filesystem.deployment.NullAction"
               id="org.eclipse.team.examples.filesystem.undeploy">
         </action> 
         <action
               label="Download"
               tooltip="Deployment Actions"
               menubarPath="example.deployment/group1"
               class="org.eclipse.team.examples.filesystem.deployment.NullAction"
               id="org.eclipse.team.examples.filesystem.undeploy">
         </action> 
      </objectContribution>
   </extension>
  
<!-- *************** POPUP MENUS **************** -->
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IResource"
            adaptable="true"
            id="org.eclipse.team.examples.filesystem.ResourceContributions">
         <filter
               name="projectPersistentProperty"
               value="org.eclipse.team.core.repository=org.eclipse.team.examples.filesystem.FileSystemProvider">
         </filter>
         <action
               label="%Get.name"
               tooltip="%Get.tooltip"
               class="org.eclipse.team.examples.filesystem.ui.GetAction"
               menubarPath="team.main/group1"
               id="org.eclipse.team.examples.filesystem.get">
         </action>
         <action
               label="%Put.name"
               tooltip="%Put.tooltip"
               class="org.eclipse.team.examples.filesystem.ui.PutAction"
               menubarPath="team.main/group1"
               id="org.eclipse.team.examples.filesystem.put">
         </action>
         <action
               label="%Replace.name"
               tooltip="%ReplaceAction.tooltip"
               class="org.eclipse.team.examples.filesystem.ui.ReplaceAction"
               menubarPath="replaceWithMenu/replaceWithGroup"
               id="org.eclipse.team.examples.filesystem.replace">
         </action>
      </objectContribution>
      <objectContribution
            objectClass="org.eclipse.core.resources.IProject"
            adaptable="true"
            id="org.eclipse.team.examples.filesystem.ProjectContributions">
         <filter
               name="projectPersistentProperty"
               value="org.eclipse.team.core.repository=org.eclipse.team.examples.filesystem.FileSystemProvider">
         </filter>
         <action
               label="%Unmanage.name"
               tooltip="%Unmanage.tooltip"
               class="org.eclipse.team.examples.filesystem.ui.DisconnectAction"
               menubarPath="team.main/group2"
               id="org.eclipse.team.examples.filesystem.unmanage">
         </action>         
      </objectContribution>
   </extension>
<!-- *************** CONFIGURATION WIZARD **************** -->
   <extension
         point="org.eclipse.team.ui.configurationWizards">
      <wizard
            name="%fswizard.name"
            icon="icons/full/wizards/fsicon_wiz.gif"
            category="org.eclipse.team.ui"
            class="org.eclipse.team.examples.filesystem.ui.ConfigurationWizard"
            id="org.eclipse.team.examples.filesystem.ui.ConfigurationWizard">
         <description>
            %fswizard.description
         </description>
      </wizard>
   </extension>
<!-- *************** PROPERTY PAGES **************** -->
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            objectClass="org.eclipse.core.resources.IResource"
            adaptable="true"
            name="%fspropertypage.name"
            class="org.eclipse.team.examples.filesystem.ui.FileSystemPropertiesPage"
            id="org.eclipse.team.examples.filesystem.ui.FileSystemPropertiesPage">
         <filter
               name="projectPersistentProperty"
               value="org.eclipse.team.core.repository=org.eclipse.team.examples.filesystem.FileSystemProvider">
         </filter>
      </page>
   </extension>
</plugin>
