<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Copyright (c) 2008, 2012 IBM Corporation and others.
 All rights reserved. This program and the accompanying materials
 are made available under the terms of the Eclipse Public License v1.0
 which accompanies this distribution, and is available at
 http://www.eclipse.org/legal/epl-v10.html
 
 Contributors:
      IBM Corporation - initial API and implementation

 $Id: plugin.xml,v 1.7 2010/04/16 17:31:41 rsuen Exp $
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated UIElements -->
      <package
            uri="http://www.eclipse.org/ui/2010/UIModel/application"
            class="org.eclipse.e4.ui.model.application.impl.ApplicationPackageImpl"
            genModel="model/UIElements.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated UIElements -->
      <package
            uri="http://www.eclipse.org/ui/2010/UIModel/application/commands"
            class="org.eclipse.e4.ui.model.application.commands.impl.CommandsPackageImpl"
            genModel="model/UIElements.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated UIElements -->
      <package
            uri="http://www.eclipse.org/ui/2010/UIModel/application/ui"
            class="org.eclipse.e4.ui.model.application.ui.impl.UiPackageImpl"
            genModel="model/UIElements.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated UIElements -->
      <package
            uri="http://www.eclipse.org/ui/2010/UIModel/application/ui/menu"
            class="org.eclipse.e4.ui.model.application.ui.menu.impl.MenuPackageImpl"
            genModel="model/UIElements.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated UIElements -->
      <package
            uri="http://www.eclipse.org/ui/2010/UIModel/application/ui/basic"
            class="org.eclipse.e4.ui.model.application.ui.basic.impl.BasicPackageImpl"
            genModel="model/UIElements.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated UIElements -->
      <package
            uri="http://www.eclipse.org/ui/2010/UIModel/application/ui/advanced"
            class="org.eclipse.e4.ui.model.application.ui.advanced.impl.AdvancedPackageImpl"
            genModel="model/UIElements.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated UIElements -->
      <package
            uri="http://www.eclipse.org/ui/2010/UIModel/application/descriptor/basic"
            class="org.eclipse.e4.ui.model.application.descriptor.basic.impl.BasicPackageImpl"
            genModel="model/UIElements.genmodel"/>
   </extension>
   
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ModelFragment -->
      <package
            uri="http://www.eclipse.org/ui/2010/UIModel/fragment"
            class="org.eclipse.e4.ui.model.fragment.impl.FragmentPackageImpl"
            genModel="model/ModelFragment.genmodel"/>
   </extension>

</plugin>
