<?xml version="1.0" encoding="UTF-8"?>
<fragment
  name="PR1GHFPFY Fragment Test"
  id="PR1GHFPFYFragmentTest"
  plugin-id="PR1GHFPFYPluginTest"
  version="1.2"
  plugin-version="1.2"
  vendor-name="OTI">

  <extension-point id="xpt3" name="Thirdextension point"/>
  <extension-point id="xpt4" name="Fourth extension point"/>

</fragment>
