<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

 
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.ui"
            class="org.eclipse.ui.navigator.CommonNavigator"
            id="org.eclipse.ui.navigator.resourceContent"
            name="%Common_Resource_Navigator"/>
   </extension>
   
   <extension
         point="org.eclipse.ui.navigator.viewer">
       <viewer
             viewerId="org.eclipse.ui.navigator.resourceContent">
          <popupMenu
                allowsPlatformContributions="true"
                id="org.eclipse.ui.navigator.resourceContent#PopupMenu">  
             <insertionPoint name="group.new"/>
             <insertionPoint
                   name="group.open"
                   separator="true"/>
             <insertionPoint name="group.openWith"/>             
             <insertionPoint
                   name="group.port"
                   separator="true"/> 
             <insertionPoint
                   name="additions"
                   separator="true"/>              
             <insertionPoint
                   name="group.properties"
                   separator="true"/>
          </popupMenu>
       </viewer>
       <viewerContentBinding 
             viewerId="org.eclipse.ui.navigator.resourceContent">
		          <includes>
		       	      <contentExtension pattern="org.eclipse.ui.navigator.resourceContent" />		       	      
			          <contentExtension pattern="org.eclipse.ui.navigator.resources.filters.*"/>
		       	      <contentExtension pattern="org.eclipse.ui.navigator.resources.sorters.defaultSorter" />		       	      
		          </includes>
       </viewerContentBinding>
       <viewerActionBinding
            viewerId="org.eclipse.ui.navigator.resourceContent">
         <includes>
             <actionExtension pattern="org.eclipse.ui.navigator.resources.*" />
         </includes>
       </viewerActionBinding>
       
   </extension>
   
<!-- Resource Content  -->
   <extension  
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            name="%resource.extension.name"
            priority="low"
            icon="icons/full/eview16/resource_persp.gif"
            activeByDefault="true"
			            contentProvider="org.eclipse.ui.navigator.resources.internal.workbench.ResourceExtensionContentProvider"
            			labelProvider="org.eclipse.ui.navigator.resources.internal.workbench.ResourceExtensionLabelProvider"			
            id="org.eclipse.ui.navigator.resourceContent">         
         <enablement>
		         <or>         
		            <instanceof 
		                  value="org.eclipse.core.resources.IWorkspaceRoot" /> 
		            <instanceof
		                  value="org.eclipse.core.resources.IProject" /> 
		            <instanceof 
		                  	value="org.eclipse.core.resources.IResource" /> 
		            <instanceof  
		                  	value="org.eclipse.core.resources.IFolder" />
		            <instanceof 
		                  	value="org.eclipse.core.resources.IFile" /> 
		         </or>
         </enablement>
      </navigatorContent>
      
      <!-- Action Providers -->
      <actionProvider 
      			id="org.eclipse.ui.navigator.resources.OpenActions"
				class="org.eclipse.ui.navigator.resources.internal.actions.OpenActionProvider">
			<enablement>
				<or>
					<adapt type="org.eclipse.core.resources.IFile" /> 	
				</or>
			</enablement>
		</actionProvider> 
		<actionProvider 
        		id="org.eclipse.ui.navigator.resources.PortingActions"
				class="org.eclipse.ui.navigator.resources.internal.actions.PortingActionProvider">
			<enablement>
				<or> 	
					<adapt type="org.eclipse.core.resources.IFolder" />
         			<adapt type="org.eclipse.core.resources.IProject" /> 
					<adapt type="org.eclipse.core.resources.IWorkspaceRoot" />	
				</or>
			</enablement>
		</actionProvider>
        <actionProvider
            	class="org.eclipse.ui.navigator.resources.internal.actions.NewActionProvider"
            	id="org.eclipse.ui.navigator.resources.NewActions"> 
        	<enablement>
				<or>
					<adapt type="org.eclipse.core.resources.IFile" />	
					<adapt type="org.eclipse.core.resources.IFolder" />
         			<adapt type="org.eclipse.core.resources.IProject" /> 
               		<adapt type="org.eclipse.core.resources.IWorkspaceRoot" />	
				</or>
	         </enablement>
		</actionProvider>
      
      <!-- Expression Filters -->  
      <commonFilter
            id="org.eclipse.ui.navigator.resources.filters.startsWithDot"
            name="%filters.startsWithDot.name"
            description="%filters.startsWithDot.description"
            activeByDefault="true"
            >
         <filterExpression>
         	<and>
	            <instanceof value="org.eclipse.core.resources.IResource"/>
            	<test property="org.eclipse.core.resources.name" value=".*"/>	            
	        </and>
         </filterExpression>
      </commonFilter>
      <commonFilter  
            id="org.eclipse.ui.navigator.resources.filters.endsWithClass"
            name="%filters.endsWithClass.name"
            description="%filters.endsWithClass.description"
            activeByDefault="false"
            >
         <filterExpression>
         	<and>
	            <instanceof value="org.eclipse.core.resources.IFile"/>
            	<test property="org.eclipse.core.resources.name" value="*.class"/>	            
	        </and>
         </filterExpression>
      </commonFilter> 
      <commonFilter
            id="org.eclipse.ui.navigator.resources.filters.closedProject"
            name="%filters.closedProject.name"
            description="%filters.closedProject.description" 
            activeByDefault="false"
           >
         <filterExpression>
         	<and>
	            <instanceof value="org.eclipse.core.resources.IProject"/>
            	<test property="org.eclipse.core.resources.open" value="false"/>	            
	        </and>
         </filterExpression>
      </commonFilter>  
      
      <!-- Menu Shortcut Actions for Wizards -->
      <commonWizard
        		type="new"
				wizardId="org.eclipse.ui.wizards.new.folder">
			<enablement>
				<or>
					<adapt type="org.eclipse.core.resources.IFile" />	
					<adapt type="org.eclipse.core.resources.IFolder" />
         			<adapt type="org.eclipse.core.resources.IProject" /> 
               		<adapt type="org.eclipse.core.resources.IWorkspaceRoot" />	
				</or>
	         </enablement>
		</commonWizard>   
        <commonWizard
            type="new"
            wizardId="org.eclipse.ui.wizards.new.file">
			<enablement>
				<or>
					<adapt type="org.eclipse.core.resources.IFile" />	
					<adapt type="org.eclipse.core.resources.IFolder" />
         			<adapt type="org.eclipse.core.resources.IProject" /> 
               		<adapt type="org.eclipse.core.resources.IWorkspaceRoot" />	
				</or>
	         </enablement>
		</commonWizard>
        <commonSorter
              class="org.eclipse.ui.navigator.resources.internal.workbench.ResourceExtensionSorter"
              id="org.eclipse.ui.navigator.resources.sorters.defaultSorter">
           <parentExpression>
           		  <or>         
		            <instanceof 
		                  value="org.eclipse.core.resources.IWorkspaceRoot" /> 
		            <instanceof
		                  value="org.eclipse.core.resources.IProject" /> 
		            <instanceof 
		                  	value="org.eclipse.core.resources.IResource" /> 
		            <instanceof  
		                  	value="org.eclipse.core.resources.IFolder" />
		            <instanceof 
		                  	value="org.eclipse.core.resources.IFile" /> 
		         </or>
		   </parentExpression>
        </commonSorter>
   </extension>
<!-- Handle Resource drag and drop -->
   <extension
         id="resourceDropHandler"
         point="org.eclipse.ui.navigator.dropHandler">
      <dropHandler
            class="org.eclipse.ui.navigator.resources.internal.workbench.ResourceDropAction"
            id="org.eclipse.navigator.resources.dropHandler"
            name="%moveCopy.name"
            description="%moveCopy.desc">
         <dragEnablement>
            <and>
               <not>
                  <instanceof
                        value="org.eclipse.core.resources.IProject" /> 
               </not>
               <adapt 
                     type="org.eclipse.core.resources.IResource"/> 
            </and>
         </dragEnablement>
         <dropEnablement> 
               <adapt 
                     type="org.eclipse.core.resources.IResource" />  
         </dropEnablement>
      </dropHandler>
   </extension>

</plugin> 
