<?xml version="1.0"?>

<plugin
  name = "%pluginName"
  id="org.eclipse.ant.ui"
  version = "0.9"
  provider-name = "Object Technology International, Inc."
  class="org.eclipse.ant.internal.ui.AntUIPlugin">

  <requires>
    <import plugin="org.eclipse.ui"/>
    <import plugin="org.eclipse.core.resources"/>
    <import plugin="org.eclipse.ant.core"/>
  </requires>

  <runtime>
    <library name="antui.jar">  
      <export name = "*"/>
    </library> 
  </runtime>

  <extension point="org.eclipse.ui.popupMenus">
	<objectContribution
		id="org.eclipse.ant.internal.ui.RunAnt"
		objectClass="org.eclipse.core.resources.IResource"
		nameFilter="*.xml">
		<action
			id="RunAnt"
			label="%runAnt"
			tooltip="%runAntTip"
			menubarPath="additions"
			enablesFor="1"
			class="org.eclipse.ant.internal.ui.RunAntActionDelegate">
		</action>
	</objectContribution>			
  </extension>
  
  <extension point="org.eclipse.ui.views">
	<category 
		id="org.eclipse.ant.ui"
		name="&amp;Ant">
	</category>
	<view
		id="org.eclipse.ant.ui.antconsole"
		name="Ant Console"
		icon="icons/basic/cview/ant_view.gif"
		category="org.eclipse.ant.ui"
		class="org.eclipse.ant.internal.ui.AntConsole">
	</view>
  </extension>
  
</plugin>
