<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="org.eclipse.ant.ui"
   name="%pluginName"
   version="3.0.0"
   provider-name="%providerName"
   class="org.eclipse.ant.ui.internal.model.AntUIPlugin">

   <runtime>
      <library name="antui.jar">
         <export name="*"/>
         <packages prefixes="org.eclipse.ant.ui"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.apache.ant"/>
      <import plugin="org.apache.xerces"/>
      <import plugin="org.eclipse.ant.core"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.ui.externaltools"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.debug.core"/>
      <import plugin="org.eclipse.debug.ui"/>
      <import plugin="org.eclipse.jdt.debug.ui"/>
      <import plugin="org.eclipse.jdt.launching"/>
   </requires>


   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="%AntEditor.name"
            icon="icons/full/obj16/ant_buildfile.gif"
            filenames="build.xml"
            contributorClass="org.eclipse.ant.ui.internal.editor.AntEditorActionContributor"
            class="org.eclipse.ant.ui.internal.editor.AntEditor"
            id="org.eclipse.ant.ui.internal.editor.AntEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            type="org.eclipse.ant.AntLaunchConfigurationType"
            helpContextId="org.eclipse.ui.externaltools.launchConfigHelpContext.ant"
            class="org.eclipse.ant.ui.internal.launchConfigurations.AntTabGroup"
            id="org.eclipse.ant.ui.launchConfigurationTabGroup.ant">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            name="%AntBuild.externalTools"
            delegate="org.eclipse.ant.ui.internal.launchConfigurations.AntLaunchDelegate"
            category="org.eclipse.ui.externaltools"
            modes="run"
            id="org.eclipse.ant.AntLaunchConfigurationType">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.jdt.launching.classpathProviders">
      <classpathProvider
            class="org.eclipse.ant.ui.internal.launchConfigurations.AntClasspathProvider"
            id="org.eclipse.ant.ui.AntClasspathProvider">
      </classpathProvider>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="%CategoryView.antViews"
            id="org.eclipse.ant.ui.views">
      </category>
      <view
            name="%View.antView"
            icon="icons/full/cview16/ant_view.gif"
            fastViewWidthRatio="0.40"
            category="org.eclipse.ant.ui.views"
            class="org.eclipse.ant.ui.internal.views.AntView"
            id="org.eclipse.ant.ui.views.AntView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               relative="org.eclipse.ui.views.ContentOutline"
               visible="false"
               relationship="stack"
               id="org.eclipse.ant.ui.views.AntView">
         </view>
         <viewShortcut
               id="org.eclipse.ant.ui.views.AntView">
         </viewShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaBrowsingPerspective">
         <view
               relative="org.eclipse.ui.views.ContentOutline"
               visible="false"
               relationship="stack"
               id="org.eclipse.ant.ui.views.AntView">
         </view>
         <viewShortcut
               id="org.eclipse.ant.ui.views.AntView">
         </viewShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               relative="org.eclipse.ui.views.ContentOutline"
               visible="false"
               relationship="stack"
               id="org.eclipse.ant.ui.views.AntView">
         </view>
         <viewShortcut
               id="org.eclipse.ant.ui.views.AntView">
         </viewShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaHierarchyPerspective">
         <view
               relative="org.eclipse.ui.views.ContentOutline"
               visible="false"
               relationship="stack"
               id="org.eclipse.ant.ui.views.AntView">
         </view>
         <viewShortcut
               id="org.eclipse.ant.ui.views.AntView">
         </viewShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.debug.ui.DebugPerspective">
         <view
               relative="org.eclipse.ui.views.ContentOutline"
               visible="false"
               relationship="stack"
               id="org.eclipse.ant.ui.views.AntView">
         </view>
         <viewShortcut
               id="org.eclipse.ant.ui.views.AntView">
         </viewShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="%PreferencePage.antPreferences"
            class="org.eclipse.ant.ui.internal.preferences.AntPreferencePage"
            id="org.eclipse.ant.ui.AntPreferencePage">
      </page>
      <page
            name="%PreferencePage.antRuntimePreferences"
            category="org.eclipse.ant.ui.AntPreferencePage"
            class="org.eclipse.ant.ui.internal.preferences.AntRuntimePreferencePage"
            id="org.eclipse.ant.ui.AntRuntimePreferencePage">
      </page>
      <page
            name="%PreferencePage.antEditorPreferences"
            category="org.eclipse.ant.ui.AntPreferencePage"
            class="org.eclipse.ant.ui.internal.preferences.AntEditorPreferencePage"
            id="org.eclipse.ant.ui.AntEditorPreferencePage">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            targetID="org.eclipse.ant.ui.internal.editor.AntEditor.RulerContext"
            id="org.eclipse.ant.ui.internal.editor.AntEditor.RulerContext">
         <action
               label="%AddTask.label"
               helpContextId="org.eclipse.ui.AddTask_action_context"
               tooltip="%AddTask.tooltip"
               class="org.eclipse.ui.texteditor.TaskRulerAction"
               menubarPath="additions"
               id="org.eclipse.ui.texteditor.TaskRulerAction">
         </action>
         <action
               label="%AddBookmark.label"
               helpContextId="org.eclipse.ui.bookmark_action_context"
               tooltip="%AddBookmark.tooltip"
               class="org.eclipse.ui.texteditor.BookmarkRulerAction"
               menubarPath="additions"
               id="org.eclipse.ui.texteditor.BookmarkRulerAction">
         </action>
      </viewerContribution>
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            adaptable="true"
            nameFilter="*.xml"
            id="org.eclipse.ant.ui.RunAnt">
         <action
               label="%PopupMenu.runAnt"
               tooltip="%PopupMenu.runAntTip"
               class="org.eclipse.ant.ui.internal.launchConfigurations.AntRunActionDelegate"
               menubarPath="additions"
               enablesFor="1"
               id="org.eclipse.ant.ui.RunAntAction">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ant.core.extraClasspathEntries">
      <extraClasspathEntry
            library="lib/antrunner.jar">
      </extraClasspathEntry>
   </extension>
   <extension
         point="org.eclipse.debug.ui.consoleColorProviders">
      <consoleColorProvider
            class="org.eclipse.ant.ui.internal.launchConfigurations.AntConsoleColorProvider"
            processType="org.eclipse.ant.ui.antProcess"
            id="org.eclipse.ant.consoleColorProvider">
      </consoleColorProvider>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            name="%AntBuild.externalTools"
            delegate="org.eclipse.ant.ui.internal.launchConfigurations.AntLaunchDelegate"
            category="org.eclipse.ui.externaltools.builder"
            modes="run"
            id="org.eclipse.ant.AntBuilderLaunchConfigurationType">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.ui.externaltools.configurationDuplicationMaps">
      <configurationMap
            builderType="org.eclipse.ant.AntBuilderLaunchConfigurationType"
            sourceType="org.eclipse.ant.AntLaunchConfigurationType">
      </configurationMap>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            type="org.eclipse.ant.AntLaunchConfigurationType"
            helpContextId="org.eclipse.ui.externaltools.launchConfigHelpContext.ant"
            class="org.eclipse.ant.ui.internal.launchConfigurations.AntTabGroup"
            id="org.eclipse.ant.ui.launchConfigurationTabGroup.ant">
      </launchConfigurationTabGroup>
      <launchConfigurationTabGroup
            type="org.eclipse.ant.AntBuilderLaunchConfigurationType"
            helpContextId="org.eclipse.ui.externaltools.launchConfigHelpContext.ant_builder"
            class="org.eclipse.ant.ui.internal.launchConfigurations.AntBuilderTabGroup"
            id="org.eclipse.ant.ui.launchConfigurationTabGroup.ant.builder">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            icon="icons/full/obj16/ant.gif"
            configTypeID="org.eclipse.ant.AntLaunchConfigurationType"
            id="org.eclipse.ant.launchConfigurationTypeImage.ant">
      </launchConfigurationTypeImage>
      <launchConfigurationTypeImage
            icon="icons/full/obj16/ant.gif"
            configTypeID="org.eclipse.ant.AntBuilderLaunchConfigurationType"
            id="org.eclipse.ant.launchConfigurationTypeImage.ant.builder">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            label="%AntLaunchShortcut.label"
            icon="icons/full/obj16/ant.gif"
            helpContextId="org.eclipse.ui.externaltools.launchShortcutHelpContext.antShortcut"
            category="org.eclipse.ui.externaltools"
            modes="run"
            class="org.eclipse.ant.ui.internal.launchConfigurations.AntLaunchShortcut"
            id="org.eclipse.ant.ui.antShortcut">
      </shortcut>
   </extension>
<!-- Console Extensions -->
   <extension
         point="org.eclipse.debug.ui.consoleLineTrackers">
      <consoleLineTracker
            class="org.eclipse.ant.ui.internal.console.JavacLineTracker"
            processType="org.eclipse.ant.ui.antProcess"
            id="org.eclipse.ant.ui.javacLineTracker">
      </consoleLineTracker>
      <consoleLineTracker
            class="org.eclipse.ant.ui.internal.console.TaskLineTracker"
            processType="org.eclipse.ant.ui.antProcess"
            id="org.eclipse.ant.ui.taskLineTracker">
      </consoleLineTracker>
      <consoleLineTracker
            class="org.eclipse.ant.ui.internal.console.BuildFailedTracker"
            processType="org.eclipse.ant.ui.antProcess"
            id="org.eclipse.ant.ui.buildFailedTracker">
      </consoleLineTracker>
   </extension>
   <extension
         point="org.eclipse.debug.core.statusHandlers">
      <statusHandler
            plugin="org.eclipse.ant.ui"
            code="1000"
            class="org.eclipse.ant.ui.internal.launchConfigurations.RunAntStatusHandler"
            id="org.eclipse.ant.ui.statusHandler.runAntInit">
      </statusHandler>
   </extension>

</plugin>
