<?xml version="1.0" encoding="UTF-8"?>
<plugin
  name="Eclipse CVS Tests Core"
  id="org.eclipse.team.tests.cvs.core"
  version="1.0"
  provider-name="Object Technology International, Inc.">

  <requires>
    <import plugin="org.eclipse.core.resources"/>
    <import plugin="org.eclipse.team.core"/>
    <import plugin="org.eclipse.team.cvs.core"/>
    <import plugin="org.eclipse.core.tests.harness"/>
    <import plugin="org.junit"/>
  </requires>

  <runtime>
    <library name="cvstests.jar">
      <export name="*"/>
    </library>
  </runtime>

<!-- **************** TESTS ******************* -->

  <extension point="org.eclipse.core.tests.harness.tests">
    
    <test id="cvs.all">
      <run class="org.eclipse.team.tests.ccvs.core.AllTests"/>
    </test>
    
    <test id="cvs.provider">
      <run class="org.eclipse.team.tests.ccvs.core.provider.AllTests"/>
    </test>
    
    <test id="cvs.compatibility">
      <run class="org.eclipse.team.tests.ccvs.core.compatible.AllTests"/>
    </test>
    
    <test id="cvs.resources">
      <run class="org.eclipse.team.tests.ccvs.core.cvsresources.AllTests"/>
    </test>
    
    <test id="cvs.sync">
      <run class="org.eclipse.team.tests.ccvs.core.provider.SyncElementTest"/>
    </test>
    
     <test id="cvs.remote">
      <run class="org.eclipse.team.tests.ccvs.core.provider.RemoteResourceTest"/>
    </test>
  </extension>
 
</plugin>
