<?xml version="1.0" encoding="UTF-8"?>
<launchConfiguration type="org.eclipse.jdt.debug.ui.localJavaApplication">
    <stringAttribute key="org.eclipse.debug.ui.target_debug_perspective" value="org.eclipse.debug.ui.DebugPerspective"/>
    <stringAttribute key="org.eclipse.jdt.debug.ui.MAIN_TYPE" value="org.eclipse.team.tests.ccvs.ui.logformatter.PrintAverageMain"/>
    <stringAttribute key="org.eclipse.jdt.debug.ui.VM_INSTALL_TYPE_ID" value="org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType"/>
    <stringAttribute key="org.eclipse.jdt.debug.ui.VM_INSTALL_ID" value="0"/>
    <stringAttribute key="org.eclipse.jdt.debug.ui.PROGRAM_ARGUMENTS" value="D:\Workspaces\teamui.xml"/>
    <booleanAttribute key="org.eclipse.jdt.debug.ui.BUILD_BEFORE_LAUNCH" value="false"/>
    <stringAttribute key="org.eclipse.jdt.debug.ui.PROJECT_ATTR" value="org.eclipse.team.tests.cvs.core"/>
</launchConfiguration>
