<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!-- =================================================================================== -->
<!-- Presentation Example Manifest						 					                                 -->
<!-- =================================================================================== -->
<plugin
   id="org.eclipse.ui.examples.presentation"
   name="Presentation Example"
   version="1.0.7"
   provider-name="Eclipse.org"
   class="org.eclipse.ui.examples.presentation.PresentationPlugin">

<!-- =================================================================================== -->
<!-- Libraries					 					                                 -->
<!-- =================================================================================== -->

   <runtime>
      <library name="presentation.jar">
         <export name="*"/>
      </library>
   </runtime>

<!-- =================================================================================== -->
<!-- Imports						 					                                 -->
<!-- =================================================================================== -->
  
<requires>
  <import plugin="org.eclipse.ui"/>
  <import plugin="org.eclipse.core.runtime"/>
</requires>

<!-- =================================================================================== -->
<!-- Presentation Extensions						 					                                 -->
<!-- =================================================================================== -->

   <extension
         point="org.eclipse.ui.presentationFactories">
      <factory
            class="org.eclipse.ui.examples.presentation.barebones.BareBonesPresentationFactory"
            name="Bare-bones presentation"
            id="org.eclipse.ui.examples.presentation.barebones"/>
   </extension>
   <extension
         point="org.eclipse.ui.presentationFactories">
      <factory
            class="org.eclipse.ui.examples.presentation.wrappedtabs.WrappedTabsPresentationFactory"
            name="Wrapped tabs presentation"
            id="org.eclipse.ui.examples.presentation.wrappedtabs"/>
   </extension>
      <extension
         point="org.eclipse.ui.presentationFactories">
      <factory
            class="org.eclipse.ui.internal.presentations.defaultpresentation.NativePresentationFactory"
            name="Native Tabs"
            id="org.eclipse.ui.internal.presentations.defaultpresentation.NativePresentationFactory"/>
      <factory
            class="org.eclipse.ui.examples.presentation.baretittle.BareTitlePresentationFactory"
            id="org.eclipse.ui.examples.presentation.factory1"
            name="Simple Title"/>
      <factory
            class="org.eclipse.ui.examples.presentation.sidewinder.SideWinderPresentationFactory"
            id="org.eclipse.ui.examples.presentation.factory2"
            name="Side Winder"/>
   </extension>

<!-- =================================================================================== -->
<!-- Themes						 					                                 -->
<!-- =================================================================================== -->

<extension point="org.eclipse.ui.themes">
	<themeElementCategory
    	id="org.eclipse.ui.examples.presentation.wrappedtabstheme"
       	label="WrappedTabs Presentation"/>
    <categoryPresentationBinding
            categoryId="org.eclipse.ui.examples.presentation.wrappedtabstheme"
            presentationId="org.eclipse.ui.examples.presentation.wrappedtabs">
      </categoryPresentationBinding>
	<colorDefinition 
        id="org.eclipse.ui.examples.presentation.wrappedtabstheme.foreground_focus"
        categoryId="org.eclipse.ui.examples.presentation.wrappedtabstheme"
        label="Border Color (Focus)"
        value="COLOR_WIDGET_BORDER">
        <description>
        This color is used for the forground color of the stack border when it has focus.
        </description>
      </colorDefinition>
      <colorDefinition 
        id="org.eclipse.ui.examples.presentation.wrappedtabstheme.foreground_nofocus"
        categoryId="org.eclipse.ui.examples.presentation.wrappedtabstheme"
        label="Border Color (No-Focus)"
        value="COLOR_WIDGET_NORMAL_SHADOW">
        <description>
        This color is used for the forground color of the stack border when it doesn't have focus.
        </description>
      </colorDefinition>  
      <fontDefinition
        id="org.eclipse.ui.examples.presentation.wrappedtabstheme.font"
        categoryId="org.eclipse.ui.examples.presentation.wrappedtabstheme"        
        label="Tab Font"
        defaultsTo="org.eclipse.jface.textfont">
        <description>
        This font is used to display the part selection tabs.
        </description>
      </fontDefinition>  
      <data
       name="org.eclipse.ui.examples.presentation.wrappedtabstheme.bordersize"
       value="1"/>
       
       <theme
        id="org.eclipse.ui.examples.presentation.wrappedtabstheme.harsh"
        name="Harsh Wrapped Tabs Theme">
        <colorOverride
         id="org.eclipse.ui.examples.presentation.wrappedtabstheme.foreground_focus"
         value="COLOR_CYAN"/>
        <colorOverride
         id="org.eclipse.ui.examples.presentation.wrappedtabstheme.foreground_nofocus"
         value="COLOR_MAGENTA"/>
      <data
           name="org.eclipse.ui.examples.presentation.wrappedtabstheme.bordersize"
           value="5"/>      
      </theme> 
</extension> 
</plugin>
