<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
  name="Eclipse Core Tests Resources"
  id="org.eclipse.core.tests.resources"
  version="3.1.0"
  provider-name="Eclipse.org">

  <requires>
	<import plugin="org.eclipse.osgi.services"/>
    <import plugin="org.eclipse.core.runtime.compatibility"/> 
    <import plugin="org.eclipse.core.resources"/>
    <import plugin="org.eclipse.core.tests.harness"/>
    <import plugin="org.junit"/>
    <import plugin="org.eclipse.test.performance" optional="true"/>
  </requires>

  <runtime>
    <library name="resourcestests.jar">
      <export name="*"/>
    </library>
  </runtime>
 <extension point="org.eclipse.core.tests.harness.tests">
	<test id = "org.eclipse.core.tests.resources.session.SampleSessionTest">
		<run class="org.eclipse.core.tests.resources.session.SampleSessionTest"/>
	</test>
	<test id = "org.eclipse.core.tests.resources.session.TestSave">
		<run class="org.eclipse.core.tests.resources.session.TestSave"/>
	</test>
	<test id = "org.eclipse.core.tests.resources.session.Test1G1N9GZ">
		<run class="org.eclipse.core.tests.resources.session.Test1G1N9GZ"/>
	</test>
	<test id = "org.eclipse.core.tests.resources.session.TestCloseNoSave">
		<run class="org.eclipse.core.tests.resources.session.TestCloseNoSave"/>
	</test>
	<test id = "org.eclipse.core.tests.resources.session.TestMultiSnap">
		<run class="org.eclipse.core.tests.resources.session.TestMultiSnap"/>
	</test>
	<test id = "org.eclipse.core.tests.resources.session.TestSaveCreateProject">
		<run class="org.eclipse.core.tests.resources.session.TestSaveCreateProject"/>
	</test>
	<test id = "org.eclipse.core.tests.resources.session.TestSaveSnap">
		<run class="org.eclipse.core.tests.resources.session.TestSaveSnap"/>
	</test>
	<test id = "org.eclipse.core.tests.resources.session.TestSaveWithClosedProject">
		<run class="org.eclipse.core.tests.resources.session.TestSaveWithClosedProject"/>
	</test>
	<test id = "org.eclipse.core.tests.resources.session.TestSnapSaveSnap">
		<run class="org.eclipse.core.tests.resources.session.TestSnapSaveSnap"/>
	</test>
	<test id = "org.eclipse.core.tests.resources.session.TestBug6995">
		<run class="org.eclipse.core.tests.resources.session.TestBug6995"/>
	</test>
	<test id = "org.eclipse.core.tests.resources.session.TestInterestingProjectPersistence">
		<run class="org.eclipse.core.tests.resources.session.TestInterestingProjectPersistence"/>
	</test>
	<test id = "org.eclipse.core.tests.resources.session.TestBuilderDeltaSerialization">
		<run class="org.eclipse.core.tests.resources.session.TestBuilderDeltaSerialization"/>
	</test>
	<test id = "org.eclipse.core.tests.resources.session.Test1GALH44">
		<run class="org.eclipse.core.tests.resources.session.Test1GALH44"/>
	</test>
	<test id = "org.eclipse.core.tests.resources.session.TestMissingBuilder">
		<run class="org.eclipse.core.tests.resources.session.TestMissingBuilder"/>
	</test>
	<test id = "org.eclipse.core.tests.resources.session.TestClosedProjectLocation">
		<run class="org.eclipse.core.tests.resources.session.TestClosedProjectLocation"/>
	</test>
	<test id = "org.eclipse.core.tests.resources.session.FindDeletedMembersTest">
		<run class="org.eclipse.core.tests.resources.session.FindDeletedMembersTest"/>
	</test>
	<test id = "org.eclipse.core.tests.resources.session.TestBug20127">
		<run class="org.eclipse.core.tests.resources.session.TestBug20127"/>
	</test>
	<test id = "org.eclipse.core.tests.resources.session.TestBug12575">
		<run class="org.eclipse.core.tests.resources.session.TestBug12575"/>
	</test>
	<test id = "org.eclipse.core.tests.resources.session.WorkspaceDescriptionTest">
		<run class="org.eclipse.core.tests.resources.session.WorkspaceDescriptionTest"/>
	</test>
	<test id = "org.eclipse.core.tests.resources.session.TestBug30015">
		<run class="org.eclipse.core.tests.resources.session.TestBug30015"/>
	</test>
	<test id = "org.eclipse.core.tests.resources.session.TestMasterTableCleanup">
		<run class="org.eclipse.core.tests.resources.session.TestMasterTableCleanup"/>
	</test>
	<test id = "org.eclipse.core.tests.resources.usecase.SnapshotTest">
		<run class="org.eclipse.core.tests.resources.usecase.SnapshotTest"/>
	</test>
</extension>

  <extension id="transientmarker" point="org.eclipse.core.resources.markers">
    <super type="org.eclipse.core.resources.marker"/>
  </extension>   

  <extension point="org.eclipse.core.resources.builders" id="deltaverifierbuilder" name="Delta Verifier">
    <builder>
      <run class="org.eclipse.core.tests.internal.builders.DeltaVerifierBuilder"/> 
    </builder>
  </extension>
  <extension point="org.eclipse.core.resources.builders" id="sortbuilder" name="Sort Builder">
    <builder>
      <run class="org.eclipse.core.tests.internal.builders.SortBuilder"/> 
    </builder>
  </extension>
  <extension point="org.eclipse.core.resources.builders" id="brokenbuilder" name="Broken Builder">
    <builder>
      <run class="org.eclipse.core.tests.internal.builders.BrokenBuilder"/> 
    </builder>
  </extension>
  <extension point="org.eclipse.core.resources.builders" id="refreshbuilder" name="Refresh local builder">
    <builder>
      <run class="org.eclipse.core.tests.internal.builders.RefreshLocalJavaFileBuilder"/>
    </builder>
  </extension>
  <extension point="org.eclipse.core.resources.builders" id="sigbuilder" name="Signaled Builder">
    <builder>
      <run class="org.eclipse.core.tests.resources.usecase.SignaledBuilder"/> 
    </builder>
  </extension>
  <extension point="org.eclipse.core.resources.builders" id="simplebuilder" name="Simple Builder">
    <builder hasNature="false">
      <run class="org.eclipse.core.tests.resources.regression.SimpleBuilder"/>
    </builder>
  </extension>
  <extension point="org.eclipse.core.resources.builders" id="snowbuilder" name="Snow Builder">
    <builder hasNature="true">
      <run class="org.eclipse.core.tests.internal.builders.SnowBuilder"/>
    </builder>
  </extension>
  <extension point="org.eclipse.core.resources.builders" id="cyclebuilder" name="Cycle Builder">
    <builder>
      <run class="org.eclipse.core.tests.internal.builders.CycleBuilder"/>
    </builder>
  </extension>
  
<extension
      id="simpleNature"
      name="Simple"
      point="org.eclipse.core.resources.natures">
	<runtime>
		<run class="org.eclipse.core.tests.internal.resources.SimpleNature"/>
   </runtime>
   <options allowLinking="false"/>
</extension>
<extension
      id="snowNature"
      name="Snow"
      point="org.eclipse.core.resources.natures">
	<runtime>
		<run class="org.eclipse.core.tests.internal.resources.SnowNature"/>
   </runtime>
   <requires-nature
         id="org.eclipse.core.tests.resources.waterNature">
   </requires-nature>
   <one-of-nature
         id="org.eclipse.core.tests.resources.otherSet">
   </one-of-nature>
   <builder id="org.eclipse.core.tests.resources.snowbuilder"/>
</extension>
<extension
      id="waterNature"
      name="Water"
      point="org.eclipse.core.resources.natures">
   <one-of-nature
         id="org.eclipse.core.tests.resources.stateSet">
   </one-of-nature>
	<runtime>
		<run class="org.eclipse.core.tests.internal.resources.WaterNature">
			<parameter name="installBuilder" value="true"/>
		</run>
   </runtime>
</extension>
<extension
      id="earthNature"
      name="Earth"
      point="org.eclipse.core.resources.natures">
	<runtime>
		<run class="org.eclipse.core.tests.internal.resources.EarthNature">
		</run>
   </runtime>
   <one-of-nature id="org.eclipse.core.tests.resources.stateSet"/>
</extension>
<extension
      id="mudNature"
      name="Mud"
      point="org.eclipse.core.resources.natures">
	<runtime>
		<run class="org.eclipse.core.tests.internal.resources.MudNature"/>
   </runtime>
   <requires-nature id="org.eclipse.core.tests.resources.waterNature"/>
   <requires-nature id="org.eclipse.core.tests.resources.earthNature"/>
   <one-of-nature id="org.eclipse.core.tests.resources.otherSet"/>
</extension>
<extension
	id="invalidNature"
	point="org.eclipse.core.resources.natures">
	<run-thyme>
		<rrrrun class="foo"/>
	</run-thyme>
	<two-of-nature ic="baz"/>
</extension>
<extension
      id="missingPrerequisiteNature"
      name="Bogus Nature"
      point="org.eclipse.core.resources.natures">
	<runtime>
		<run class="org.eclipse.core.tests.internal.resources.MissingPrerequisiteNature"/>
   </runtime>
   <requires-nature id="does.not.exist.Nature"/>
</extension>
<extension
      id="cycle1"
      name="Cycle1"
      point="org.eclipse.core.resources.natures">
	<runtime>
		<run class="org.eclipse.core.tests.internal.resources.Cycle1Nature"/>
   </runtime>
   <requires-nature id="org.eclipse.core.tests.resources.cycle2"/>
</extension>
<extension
      id="cycle2"
      name="Cycle2"
      point="org.eclipse.core.resources.natures">
	<runtime>
		<run class="org.eclipse.core.tests.internal.resources.Cycle2Nature"/>
   </runtime>
   <requires-nature id="org.eclipse.core.tests.resources.cycle3"/>
</extension>
<extension
      id="cycle3"
      name="Cycle3"
      point="org.eclipse.core.resources.natures">
	<runtime>
		<run class="org.eclipse.core.tests.internal.resources.Cycle3Nature"/>
   </runtime>
   <requires-nature id="org.eclipse.core.tests.resources.cycle1"/>
</extension>
<extension
      id="nature29116"
      name="Test Bug 29116"
      point="org.eclipse.core.resources.natures">
	<runtime>
		<run class="org.eclipse.core.tests.internal.resources.Bug29116Nature"/>
   </runtime>
</extension>
<extension
      point="org.eclipse.core.runtime.contentTypes">
   <content-type
         name="A more specific XML"
         id="anotherXML"
         base-type="org.eclipse.core.runtime.xml"          
         describer="org.eclipse.core.runtime.content.XMLRootElementContentDescriber:org.eclipse.core.tests.resources.anotherXML"/>
   <content-type      
         name="My Content Type"
         id="myContent"
         file-extensions="resources-mc"
         default-charset="PROVIDER_CHARSET"/>         
</extension>            
</plugin>