<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

  <extension id="transientmarker" point="org.eclipse.core.resources.markers">
    <super type="org.eclipse.core.resources.marker"/>
  </extension>   
  <extension id="testproblem" point="org.eclipse.core.resources.markers">
    <super type="org.eclipse.core.resources.problemmarker"/>
  </extension>   

  <extension point="org.eclipse.core.resources.builders" id="deltaverifierbuilder" name="Delta Verifier">
    <builder>
      <run class="org.eclipse.core.tests.internal.builders.DeltaVerifierBuilder"/> 
    </builder>
  </extension>
  <extension point="org.eclipse.core.resources.builders" id="sortbuilder" name="Sort Builder">
    <builder>
      <run class="org.eclipse.core.tests.internal.builders.SortBuilder"/> 
    </builder>
  </extension>
  <extension point="org.eclipse.core.resources.builders" id="brokenbuilder" name="Broken Builder">
    <builder>
      <run class="org.eclipse.core.tests.internal.builders.BrokenBuilder"/> 
    </builder>
  </extension>
  <extension point="org.eclipse.core.resources.builders" id="exceptionbuilder" name="Exception Builder">
    <builder>
      <run class="org.eclipse.core.tests.internal.builders.ExceptionBuilder"/> 
    </builder>
  </extension>
  <extension point="org.eclipse.core.resources.builders" id="refreshbuilder" name="Refresh local builder">
    <builder>
      <run class="org.eclipse.core.tests.internal.builders.RefreshLocalJavaFileBuilder"/>
    </builder>
  </extension>
  <extension point="org.eclipse.core.resources.builders" id="sigbuilder" name="Signaled Builder">
    <builder>
      <run class="org.eclipse.core.tests.resources.usecase.SignaledBuilder"/> 
    </builder>
  </extension>
  <extension point="org.eclipse.core.resources.builders" id="simplebuilder" name="Simple Builder">
    <builder hasNature="false">
      <run class="org.eclipse.core.tests.resources.regression.SimpleBuilder"/>
    </builder>
  </extension>
  <extension point="org.eclipse.core.resources.builders" id="snowbuilder" name="Snow Builder">
    <builder hasNature="true">
      <run class="org.eclipse.core.tests.internal.builders.SnowBuilder"/>
    </builder>
  </extension>
  <extension point="org.eclipse.core.resources.builders" id="cyclebuilder" name="Cycle Builder">
    <builder>
      <run class="org.eclipse.core.tests.internal.builders.CycleBuilder"/>
    </builder>
  </extension>
  <extension point="org.eclipse.core.resources.builders" id="flexbuilder" name="Flexible Builder">
    <builder isConfigurable="true">
      <run class="org.eclipse.core.tests.internal.builders.CustomTriggerBuilder"/>
    </builder>
  </extension>
  <extension point="org.eclipse.core.resources.builders" id="clearmarkersbuilder" name="Clear Markers Builder">
    <builder>
      <run class="org.eclipse.core.tests.internal.builders.ClearMarkersBuilder"/>
    </builder>
  </extension>
  <extension point="org.eclipse.core.resources.builders" id="emptydeltabuilder" name="Empty Delta Builder">
    <builder callOnEmptyDelta="true">
      <run class="org.eclipse.core.tests.internal.builders.EmptyDeltaBuilder"/>
    </builder>
  </extension>
  
<extension
      id="simpleNature"
      name="Simple"
      point="org.eclipse.core.resources.natures">
	<runtime>
		<run class="org.eclipse.core.tests.internal.resources.SimpleNature"/>
   </runtime>
   <options allowLinking="false"/>
</extension>
<extension
      id="snowNature"
      name="Snow"
      point="org.eclipse.core.resources.natures">
	<runtime>
		<run class="org.eclipse.core.tests.internal.resources.SnowNature"/>
   </runtime>
   <requires-nature
         id="org.eclipse.core.tests.resources.waterNature">
   </requires-nature>
   <one-of-nature
         id="org.eclipse.core.tests.resources.otherSet">
   </one-of-nature>
   <builder id="org.eclipse.core.tests.resources.snowbuilder"/>
</extension>
<extension
      id="waterNature"
      name="Water"
      point="org.eclipse.core.resources.natures">
   <one-of-nature
         id="org.eclipse.core.tests.resources.stateSet">
   </one-of-nature>
	<runtime>
		<run class="org.eclipse.core.tests.internal.resources.WaterNature">
			<parameter name="installBuilder" value="true"/>
		</run>
   </runtime>
</extension>
<extension
      id="earthNature"
      name="Earth"
      point="org.eclipse.core.resources.natures">
	<runtime>
		<run class="org.eclipse.core.tests.internal.resources.EarthNature">
		</run>
   </runtime>
   <one-of-nature id="org.eclipse.core.tests.resources.stateSet"/>
</extension>
<extension
      id="mudNature"
      name="Mud"
      point="org.eclipse.core.resources.natures">
	<runtime>
		<run class="org.eclipse.core.tests.internal.resources.MudNature"/>
   </runtime>
   <requires-nature id="org.eclipse.core.tests.resources.waterNature"/>
   <requires-nature id="org.eclipse.core.tests.resources.earthNature"/>
   <one-of-nature id="org.eclipse.core.tests.resources.otherSet"/>
</extension>
<extension
	id="invalidNature"
	point="org.eclipse.core.resources.natures">
	<run-thyme>
		<rrrrun class="foo"/>
	</run-thyme>
	<two-of-nature ic="baz"/>
</extension>
<extension
      id="missingPrerequisiteNature"
      name="Bogus Nature"
      point="org.eclipse.core.resources.natures">
	<runtime>
		<run class="org.eclipse.core.tests.internal.resources.MissingPrerequisiteNature"/>
   </runtime>
   <requires-nature id="does.not.exist.Nature"/>
</extension>
<extension
      id="cycle1"
      name="Cycle1"
      point="org.eclipse.core.resources.natures">
	<runtime>
		<run class="org.eclipse.core.tests.internal.resources.Cycle1Nature"/>
   </runtime>
   <requires-nature id="org.eclipse.core.tests.resources.cycle2"/>
</extension>
<extension
      id="cycle2"
      name="Cycle2"
      point="org.eclipse.core.resources.natures">
	<runtime>
		<run class="org.eclipse.core.tests.internal.resources.Cycle2Nature"/>
   </runtime>
   <requires-nature id="org.eclipse.core.tests.resources.cycle3"/>
</extension>
<extension
      id="cycle3"
      name="Cycle3"
      point="org.eclipse.core.resources.natures">
	<runtime>
		<run class="org.eclipse.core.tests.internal.resources.Cycle3Nature"/>
   </runtime>
   <requires-nature id="org.eclipse.core.tests.resources.cycle1"/>
</extension>
<extension
      id="nature29116"
      name="Test Bug 29116"
      point="org.eclipse.core.resources.natures">
	<runtime>
		<run class="org.eclipse.core.tests.internal.resources.Bug29116Nature"/>
   </runtime>
</extension>
<extension
      point="org.eclipse.core.runtime.contentTypes">
   <content-type      
         name="My Content Type"
         id="myContent"
         file-extensions="resources-mc"
         default-charset="PROVIDER_CHARSET"/>            
   <content-type
         name="A more specific XML"
         id="anotherXML"
         base-type="org.eclipse.core.runtime.xml"          
         describer="org.eclipse.core.runtime.content.XMLRootElementContentDescriber:org.eclipse.core.tests.resources.anotherXML"/>
   <!-- content types for nature-content type association tests -->
   <content-type
         name="A content type for testing nature association"
         id="nature_associated_1"
         file-extensions="nature-associated"
         base-type="org.eclipse.core.runtime.text"/>
   <content-type
         name="A derived content type for testing nature association"
         id="nature_associated_2"
         base-type="org.eclipse.core.tests.resources.nature_associated_1"/>
</extension>
<extension
      id="contentTypeRelated1"
      name="Content-type related nature 1"
      point="org.eclipse.core.resources.natures">
      <content-type id="org.eclipse.core.tests.resources.nature_associated_1"/>
</extension>
<extension
      id="contentTypeRelated2"
      name="Content-type related nature 2"
      point="org.eclipse.core.resources.natures">
      <content-type id="org.eclipse.core.tests.resources.nature_associated_2"/>       
</extension>

<extension
      point="org.eclipse.core.resources.refreshProviders">
   <refreshProvider
         class="org.eclipse.core.tests.resources.refresh.TestRefreshProvider"
         name="org.eclipse.core.tests.resources.testRefreshProvider"/>
</extension>

<extension point="org.eclipse.core.runtime.preferences">
	<modifier class="org.eclipse.core.tests.internal.resources.ProjectPreferenceModifyListener"/>
</extension>
<extension
      point="org.eclipse.core.filesystem.filesystems">
   <filesystem scheme="mem">
      <run class="org.eclipse.core.tests.internal.filesystem.ram.MemoryFileSystem"/>
   </filesystem>
</extension>
<extension
      point="org.eclipse.core.filesystem.filesystems">
   <filesystem scheme="wrapped">
      <run class="org.eclipse.core.tests.internal.filesystem.wrapper.WrapperFileSystem"/>
   </filesystem>
</extension>
<extension
      point="org.eclipse.core.filesystem.filesystems">
   <filesystem scheme="broken">
      <run class="org.eclipse.core.tests.internal.filesystem.broken.BrokenFileSystem"/>
   </filesystem>
</extension>
<extension
      id="modelProvider"
      point="org.eclipse.core.resources.modelProviders">
   <modelProvider
         class="org.eclipse.core.tests.internal.mapping.TestModelProvider"
         name="Resources Tests Model"/>
   <extends-model id="org.eclipse.core.resources.modelProvider"/>
   <enablement>
      <instanceof value="org.eclipse.core.resources.IResource"/>
   </enablement>
</extension>
<extension
      id="bug127562Nature"
      point="org.eclipse.core.resources.natures">
   <runtime>
      <run
            class="org.eclipse.core.tests.internal.resources.Bug127562Nature">
      </run>
   </runtime>
</extension>            
</plugin>
