<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="org.eclipse.ui.navigator.CommonNavigator"
            id="org.eclipse.ui.tests.navigator.TestView"
            name="%test.navigator.viewName"/>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent 
            id="org.eclipse.ui.tests.navigator.testContent" 
            name="%test.navigator.extension"
            contentProvider="org.eclipse.ui.tests.navigator.extension.TestContentProvider"
            labelProvider="org.eclipse.ui.tests.navigator.extension.TestLabelProvider"
            activeByDefault="true"
            priority="normal">
         <triggerPoints>
            <instanceof value="org.eclipse.core.resources.IProject"/>
         </triggerPoints>
      </navigatorContent>
      <actionProvider
            class="org.eclipse.ui.tests.navigator.extension.TestActionProvider"
            id="org.eclipse.ui.tests.navigator.extension.TestActionProvider">
         <enablement>
            <instanceof value="org.eclipse.core.resources.IResource"/>
         </enablement>
      </actionProvider>
      <actionProvider
            class="org.eclipse.ui.tests.navigator.extension.DependentActionProvider"
            dependsOn="org.eclipse.ui.tests.navigator.extension.TestActionProvider"
            id="org.eclipse.ui.tests.navigator.extension.DependentActionProvider">
         <enablement>
            <instanceof value="org.eclipse.core.resources.IResource"/>
         </enablement>
      </actionProvider>
      <actionProvider
            class="org.eclipse.ui.tests.navigator.extension.DependentActionProvider"
            dependsOn="Invalid Id"
            id="org.eclipse.ui.tests.navigator.extension.[If this menu option shows, it is an ERROR from org.eclipse.ui.tests.navigator!]">
         <enablement>
            <instanceof value="org.eclipse.core.resources.IResource"/>
         </enablement>
      </actionProvider>
      <actionProvider
            class="org.eclipse.ui.tests.navigator.extension.DependentActionProvider"
            dependsOn="org.eclipse.ui.tests.navigator.extension.DependentActionProvider"
            id="org.eclipse.ui.tests.navigator.extension.[Second Dependent Action]">
         <enablement>
            <instanceof value="org.eclipse.core.resources.IResource"/>
         </enablement>
      </actionProvider>
      <navigatorContent
            contentProvider="org.eclipse.ui.tests.navigator.extension.TestContentProvider"
            id="org.eclipse.ui.tests.navigator.testContent2"
            labelProvider="org.eclipse.ui.tests.navigator.extension.TestLabelProvider"
            name="Test Navigator Extension [Programmatic Binding]">
	     <triggerPoints>
            <instanceof value="org.eclipse.core.resources.IProject"/>
         </triggerPoints>            
      </navigatorContent>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            viewerId="org.eclipse.ui.tests.navigator.TestView"
            popupMenuId="org.eclipse.ui.tests.navigator.TestView#PopupMenu"/>
      <viewerContentBinding viewerId="org.eclipse.ui.tests.navigator.TestView">
         <includes>
            <contentExtension pattern="org.eclipse.ui.tests.navigator.testContent"/>
            <contentExtension pattern="org.eclipse.ui.navigator.resourceContent"/>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding viewerId="org.eclipse.ui.tests.navigator.TestView">
         <includes>
            <actionExtension pattern="org.eclipse.ui.tests.navigator.extension.*"/>
         </includes>
      </viewerActionBinding>
   </extension>
 
</plugin>
