<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="org.eclipse.ui.navigator.resources.ProjectExplorer"
            id="org.eclipse.ui.tests.navigator.TestView"
            name="%test.navigator.viewName"/>
            
      <view
            allowMultiple="false"
            class="org.eclipse.ui.navigator.CommonNavigator"
            id="org.eclipse.ui.tests.navigator.ProgrammaticTestView"
            name="%test.navigator.programmaticViewName"/>     
            
      <view
            allowMultiple="false"
            class="org.eclipse.ui.navigator.CommonNavigator"
            id="org.eclipse.ui.tests.navigator.PipelineTestView"
            name="%test.navigator.pipelineViewName"/>            

      <view
            allowMultiple="false"
            class="org.eclipse.ui.navigator.CommonNavigator"
            id="org.eclipse.ui.tests.navigator.OverrideTestView"
            name="%test.navigator.overrideViewName"/>            

      <view
            allowMultiple="false"
            class="org.eclipse.ui.navigator.resources.ProjectExplorer"
            id="org.eclipse.ui.tests.navigator.HideAvailableExtensionsTestView"
            name="Test Hide Available Extensions View"/>            
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent 
            id="org.eclipse.ui.tests.navigator.testContent" 
            name="%test.navigator.extension"
            contentProvider="org.eclipse.ui.tests.navigator.extension.TestContentProvider"
            labelProvider="org.eclipse.ui.tests.navigator.extension.TestLabelProviderBlue"
            activeByDefault="true"
            priority="higher">
         <triggerPoints>
            <or>
			    <adapt type="org.eclipse.core.resources.IProject"/>
				<instanceof value="org.eclipse.ui.tests.navigator.extension.TestExtensionTreeData"/>
			</or>
         </triggerPoints> 
         <possibleChildren>
            <or>
				<instanceof value="org.eclipse.ui.tests.navigator.extension.TestExtensionTreeData"/>
				<instanceof value="org.eclipse.core.resources.IFile" />
			</or>
         </possibleChildren> 
      	 <actionProvider
            class="org.eclipse.ui.tests.navigator.extension.TestNestedActionProvider"
            id="org.eclipse.ui.tests.navigator.extension.TestNestedActionProvider"> 
      	 </actionProvider>
         <commonSorter
              class="org.eclipse.ui.tests.navigator.extension.TestDataSorter"
              id="org.eclipse.ui.tests.navigator.commonSorter">
           <parentExpression>
              <or>
                 <adapt type="org.eclipse.core.resources.IProject"/>
                 <instanceof value="org.eclipse.ui.tests.navigator.extension.TestExtensionTreeData"/>
              </or>
           </parentExpression>
          </commonSorter>
          <!-- The following two sorters are used to test the INavigatorSorterService -->
       	  <commonSorter class="org.eclipse.ui.tests.navigator.extension.TestDataSorter">
            <parentExpression>
               <instanceof value="org.eclipse.ui.navigator.INavigatorSorterService"/>
            </parentExpression>
       	  </commonSorter> 
       	  <commonSorter class="org.eclipse.ui.tests.navigator.extension.TestDataSorter">
            <parentExpression>
               <instanceof value="org.eclipse.ui.navigator.INavigatorSorterService"/>
            </parentExpression>
       	  </commonSorter>
	      <actionProvider
	            class="org.eclipse.ui.tests.navigator.extension.TestActionProvider"
	            id="org.eclipse.ui.tests.navigator.extension.TestActionProvider"
	            overrides="org.eclipse.ui.navigator.resources.actions.RefactorActions">
	         <enablement>
	            <or>
	              <instanceof value="org.eclipse.core.resources.IFolder"/>
	              <instanceof value="org.eclipse.core.resources.IFile"/>
	            </or>  
	         </enablement>
	      </actionProvider>
      </navigatorContent>
      
      <actionProvider
            class="org.eclipse.ui.tests.navigator.extension.DependentActionProvider"
            dependsOn="org.eclipse.ui.tests.navigator.extension.TestActionProvider"
            id="org.eclipse.ui.tests.navigator.extension.DependentActionProvider">
         <enablement>
            <instanceof value="org.eclipse.core.resources.IResource"/>
         </enablement>
      </actionProvider>
      <actionProvider
            class="org.eclipse.ui.tests.navigator.extension.DependentActionProvider"
            dependsOn="Invalid Id"
            id="org.eclipse.ui.tests.navigator.extension.[If this menu option shows, it is an INTENTIONAL ERROR from org.eclipse.ui.tests.navigator! A warning SHOULD appear in the log!]">
         <enablement>
            <instanceof value="org.eclipse.core.resources.IResource"/>
         </enablement>
      </actionProvider>
      
      <actionProvider
            class="org.eclipse.ui.tests.navigator.extension.DependentActionProvider"
            dependsOn="org.eclipse.ui.tests.navigator.extension.DependentActionProvider"
            id="org.eclipse.ui.tests.navigator.extension.[Second Dependent Action]">
         <enablement>
            <instanceof value="org.eclipse.core.resources.IResource"/>
         </enablement>
      </actionProvider>
      
      <commonFilter
            class="org.eclipse.ui.tests.navigator.extension.TestItemsThatEndIn3"
            description="Hide TestItem objects that end in the number &quot;3&quot;"
            id="org.eclipse.ui.tests.navigator.filters.TestItemsThatEndWith3"
            name="TestItems that end with &quot;3&quot;"
            activeByDefault="true"
            /> 

      <commonFilter
            description="Hides all instances of Test Item"
            id="org.eclipse.ui.tests.navigator.filters.AllTestItems"
            name="A TestItem Exp Filter (should be sorted alphab..)">
         <filterExpression>
            <instanceof value="org.eclipse.ui.tests.navigator.extension.TestExtensionTreeData"/>
         </filterExpression>
      </commonFilter>      

      <commonFilter
            class="org.eclipse.ui.tests.navigator.extension.TestItemsThatEndIn3"
            description="This filter specifies a class an an expression; selecting it should result in a warning in the log."
            id="org.eclipse.ui.tests.navigator.filters.ErrantFilter"
            name="An errant filter">
         <filterExpression>
            <instanceof value="org.eclipse.ui.tests.navigator.extension.TestExtensionTreeData"/>
         </filterExpression>
      </commonFilter>

      <commonFilter
            id="org.eclipse.ui.tests.navigator.filters.NoDescriptionFilter"
            name="No Description Filter">
         <filterExpression>
            <instanceof value="org.eclipse.ui.navigator.INavigatorContentService"/>
         </filterExpression>
      </commonFilter>

      <actionProvider
            class="org.eclipse.ui.tests.navigator.extension.TestOverrideableActionProvider"
            id="org.eclipse.ui.tests.navigator.extension.TestOverrideABLEActionProvider"
            priority="normal">
         <enablement>
            <instanceof
                  value="org.eclipse.core.resources.IResource">
            </instanceof>
         </enablement>
      </actionProvider>

      <actionProvider
            class="org.eclipse.ui.tests.navigator.extension.TestOverrideableActionProvider"
            id="org.eclipse.ui.tests.navigator.extension.TestOverridINGActionProvider1"
            overrides="org.eclipse.ui.tests.navigator.extension.TestOverrideABLEActionProvider"
            priority="high">
         <enablement>
            <instanceof
                  value="org.eclipse.core.resources.IFile">
            </instanceof>
         </enablement>
      </actionProvider>

      <actionProvider
            class="org.eclipse.ui.tests.navigator.extension.TestOverrideableActionProvider"
            id="org.eclipse.ui.tests.navigator.extension.TestOverridINGActionProvider2"
            overrides="org.eclipse.ui.tests.navigator.extension.TestOverrideABLEActionProvider"
            priority="higher">
         <enablement>
         	<and>
            	<instanceof
                 	value="org.eclipse.core.resources.IFile" />
                <test property="org.eclipse.core.resources.extension" value="txt"/>
            </and> 
         </enablement>
      </actionProvider>

      <actionProvider
            class="org.eclipse.ui.tests.navigator.extension.DependentActionProvider"
            id="org.eclipse.ui.tests.navigator.extension.TestOverridINGAndDependentActionProvider1"
            overrides="org.eclipse.ui.tests.navigator.extension.TestOverrideABLEActionProvider"
            dependsOn="org.eclipse.ui.tests.navigator.extension.TestActionProvider"
            priority="high">
         <enablement>
            <instanceof
                  value="org.eclipse.core.resources.IFolder">
            </instanceof>
         </enablement>
      </actionProvider>

      <actionProvider
            class="org.eclipse.ui.tests.navigator.extension.TestOverrideableActionProvider"
            id="org.eclipse.ui.tests.navigator.activityTest1"
            priority="high">
         <enablement>
            <instanceof
                  value="org.eclipse.core.resources.IResource">
            </instanceof>
         </enablement>
      </actionProvider>

      <navigatorContent
            contentProvider="org.eclipse.ui.tests.navigator.extension.TestContentProvider"
            id="org.eclipse.ui.tests.navigator.testContent2"
            labelProvider="org.eclipse.ui.tests.navigator.extension.TestLabelProviderBlue"
            name="Test Navigator Extension [Programmatic Binding]">
	     <triggerPoints>
            <instanceof value="org.eclipse.core.resources.IProject"/>
         </triggerPoints>            
      </navigatorContent>

      <navigatorContent 
            id="org.eclipse.ui.tests.navigator.testContentDropCopy" 
            contentProvider="org.eclipse.ui.internal.navigator.resources.workbench.ResourceExtensionContentProvider"
   			labelProvider="org.eclipse.ui.internal.navigator.resources.workbench.ResourceExtensionLabelProvider"			
            name="Change drop to copy (from move)"
            priority="highest">
         <enablement>
            <adapt
                  type="org.eclipse.core.resources.IResource">
            </adapt>
         </enablement>
         <dropAssistant
               class="org.eclipse.ui.tests.navigator.extension.TestCopyDropAssistant"
               id="testCopyDropAssistant">
           <possibleDropTargets>
              <or>
                 <adapt type="org.eclipse.core.resources.IProject"/>
                 <adapt type="org.eclipse.core.resources.IFolder"/>
                 <adapt type="org.eclipse.core.resources.IFile"/>
              </or>
           </possibleDropTargets>
         </dropAssistant> 
	  </navigatorContent>      

      <navigatorContent 
            id="org.eclipse.ui.tests.navigator.testContentHasChildren" 
            name="Dat File Content Extension"
            contentProvider="org.eclipse.ui.tests.navigator.extension.DatContentProvider"
            labelProvider="org.eclipse.ui.tests.navigator.extension.TestLabelProviderBlue"
            activeByDefault="true"
            priority="lower">
         <triggerPoints>
            <or> 
            	<and>
					<instanceof value="org.eclipse.core.resources.IFile" />
                <test property="org.eclipse.core.resources.extension" value="dat"/>
				</and>
			</or> 
         </triggerPoints> 
         <possibleChildren> 
         </possibleChildren> 
	  </navigatorContent>      

      <navigatorContent 
            id="org.eclipse.ui.tests.navigator.testContentOverridden1" 
            name="Test Content Overridden 1 (Red)"
            contentProvider="org.eclipse.ui.internal.navigator.resources.workbench.ResourceExtensionContentProvider"
            labelProvider="org.eclipse.ui.tests.navigator.extension.TestLabelProviderRed"
            priority="lower">
         <triggerPoints>
            <instanceof
                  value="org.eclipse.core.resources.IResource">
            </instanceof>
         </triggerPoints>
	  </navigatorContent>   
	     
      <navigatorContent 
            id="org.eclipse.ui.tests.navigator.testContentOverride1" 
            name="Test Content Override 1 (Label only - Green)"
            contentProvider="org.eclipse.ui.internal.navigator.resources.workbench.ResourceExtensionContentProvider"
            labelProvider="org.eclipse.ui.tests.navigator.extension.TestLabelProviderGreen"
            priority="lower">
         <triggerPoints>
            <instanceof
                  value="org.eclipse.core.resources.IResource">
            </instanceof>
         </triggerPoints>
		<override suppressedExtensionId="org.eclipse.ui.tests.navigator.testContentOverridden1"/>
	  </navigatorContent>      

      <navigatorContent 
            id="org.eclipse.ui.tests.navigator.testContentOverridden2" 
            name="Test Content Overridden 2 (Blue)"
            contentProvider="org.eclipse.ui.internal.navigator.resources.workbench.ResourceExtensionContentProvider"
            labelProvider="org.eclipse.ui.tests.navigator.extension.TestLabelProviderBlue"
            priority="lower">
         <triggerPoints>
            <instanceof
                  value="org.eclipse.core.resources.IResource">
            </instanceof>
         </triggerPoints>
	  </navigatorContent>      

      <navigatorContent 
            id="org.eclipse.ui.tests.navigator.testContentOverride2" 
            name="Test Content Override 2 (Label only - Cyan)"
            contentProvider="org.eclipse.ui.internal.navigator.resources.workbench.ResourceExtensionContentProvider"
            labelProvider="org.eclipse.ui.tests.navigator.extension.TestLabelProviderCyan"
            priority="lower">
         <triggerPoints>
            <instanceof
                  value="org.eclipse.core.resources.IResource">
            </instanceof>
         </triggerPoints>
		<override suppressedExtensionId="org.eclipse.ui.tests.navigator.testContentOverridden2"/>
	  </navigatorContent>      

      <navigatorContent
            id="org.eclipse.ui.tests.navigator.testContentSorter"
            contentProvider="org.eclipse.ui.tests.navigator.extension.TestResourceContentProvider"
            labelProvider="org.eclipse.ui.internal.navigator.resources.workbench.ResourceExtensionLabelProvider"
            name="Test Navigator Extension [Sorter NPE test]">
	     <triggerPoints>
            <instanceof value="org.eclipse.core.resources.IResource"/>
         </triggerPoints>            
       <commonSorter class="org.eclipse.ui.tests.navigator.extension.TestDataSorter">
          <parentExpression>
            <instanceof
                  value="org.eclipse.core.resources.IResource">
            </instanceof>
          </parentExpression>
       </commonSorter>
      </navigatorContent>

      <commonWizard
            associatedExtensionId="org.eclipse.ui.tests.navigator.testContent"
            menuGroupId="org.eclipse.ui.tests.navigator"
            type="import"
            wizardId="org.eclipse.ui.tests.navigator.SampleImportWizard">
         <enablement>
            <or>
				<instanceof value="org.eclipse.ui.tests.navigator.extension.TestExtensionTreeData"/>
				<instanceof value="org.eclipse.core.resources.IResource" />
			</or>         
         </enablement>
      </commonWizard>
      <commonWizard
            associatedExtensionId="org.eclipse.ui.tests.navigator.testContent"
            menuGroupId="org.eclipse.ui.tests.navigator"
            type="export"
            wizardId="org.eclipse.ui.tests.navigator.SampleExportWizard">
         <enablement>
            <or>
				<instanceof value="org.eclipse.ui.tests.navigator.extension.TestExtensionTreeData"/>
				<instanceof value="org.eclipse.core.resources.IResource" />
			</or>         
         </enablement>
      </commonWizard>
      <commonWizard
            associatedExtensionId="org.eclipse.ui.tests.navigator.testContent"
            menuGroupId="org.eclipse.ui.tests.navigator"
            type="new"
            wizardId="org.eclipse.ui.tests.navigator.SampleNewWizard">  
         <enablement>
            <or>
				<instanceof value="org.eclipse.ui.tests.navigator.extension.TestExtensionTreeData"/>
				<instanceof value="org.eclipse.core.resources.IResource" />
			</or>         
         </enablement>            
      </commonWizard>
      <commonWizard
            associatedExtensionId="org.eclipse.NotFound"
            menuGroupId="org.eclipse.ui.tests.navigator"
            type="new"
            wizardId="org.eclipse.ui.tests.navigator.SampleNewWizard2">  
         <enablement>
            <or>
				<instanceof value="org.eclipse.ui.tests.navigator.extension.TestExtensionTreeData"/>
				<instanceof value="org.eclipse.core.resources.IResource" />
			</or>         
         </enablement>            
      </commonWizard>
      
      <commonWizard
            associatedExtensionId="org.eclipse.ui.tests.navigator.testContent"
            menuGroupId="org.eclipse.ui.tests.navigator"
            type="new"
            wizardId="org.eclipse.ui.tests.navigator.activityTest1.SampleNewWizard2">  
         <enablement>
			<instanceof value="org.eclipse.core.resources.IResource" />
         </enablement>            
      </commonWizard>
      
      <!-- bug 204837 commonWizard with no pages displays empty dialog --> 
	  <commonWizard type="new"
            associatedExtensionId="org.eclipse.ui.tests.navigator.testContent"
            wizardId="org.eclipse.ui.editors.wizards.UntitledTextFileWizard">
            menuGroupId="org.eclipse.ui.tests.navigator"
         <enablement>
            <adapt type="org.eclipse.core.resources.IResource" /> 
         </enablement>
      </commonWizard>

   </extension>

   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            popupMenuId="org.eclipse.ui.tests.navigator.TestView#PopupMenu"
            viewerId="org.eclipse.ui.tests.navigator.TestView">
         <options>
            <property
                  name="org.eclipse.ui.navigator.hideLinkWithEditorAction"
                  value="true"/> 
            <property
                  name="org.eclipse.ui.navigator.hideCollapseAllAction"
                  value="true"/>  
            <property
                  name="org.eclipse.ui.navigator.enforceHasChildren"
                  value="true"/> 
         </options>
      </viewer>

      <viewerContentBinding viewerId="org.eclipse.ui.tests.navigator.TestView">
         <includes>
            <contentExtension pattern="org.eclipse.ui.tests.navigator.testContent"/>
            <contentExtension pattern="org.eclipse.ui.tests.navigator.testContentHasChildren"/>            
            <contentExtension pattern="org.eclipse.ui.navigator.resourceContent"/>
            <contentExtension pattern="org.eclipse.ui.tests.navigator.filters.*"/> 
            <!-- pick up the resource filters for free --> 
            <contentExtension pattern="org.eclipse.ui.navigator.resources.filters.*"/>
         </includes>
      </viewerContentBinding>

      <viewerActionBinding viewerId="org.eclipse.ui.tests.navigator.TestView">
         <includes>
            <actionExtension pattern="org.eclipse.ui.tests.navigator.extension.*"/>
            <actionExtension pattern="org.eclipse.ui.navigator.resources.*"/>
            <actionExtension pattern="org.eclipse.ui.tests.navigator.activityTest1"/>
         </includes>
      </viewerActionBinding>

      <dragAssistant
            class="org.eclipse.ui.tests.navigator.extension.TestDragAssistant"
            viewerId="org.eclipse.ui.tests.navigator.TestView"/>

      <viewer
            viewerId="org.eclipse.ui.tests.navigator.HideAvailableExtensionsTestView">
         <options>
            <property
                  name="org.eclipse.ui.navigator.hideAvailableExtensionsTab"
                  value="true"/>
         </options>
          <popupMenu
                allowsPlatformContributions="true"
                id="org.eclipse.ui.tests.navigator.TestView#PopupMenu"/>  
      </viewer>

      <viewerContentBinding viewerId="org.eclipse.ui.tests.navigator.HideAvailableExtensionsTestView">
          <includes>
       	      <contentExtension pattern="org.eclipse.ui.navigator.resourceContent" />		       	      
	          <contentExtension pattern="org.eclipse.ui.navigator.resources.filters.*"/>
           <contentExtension pattern="org.eclipse.ui.navigator.resources.linkHelper"/>
           <contentExtension pattern="org.eclipse.ui.navigator.resources.workingSets"/>
          </includes>
      </viewerContentBinding>

      <viewerActionBinding viewerId="org.eclipse.ui.tests.navigator.HideAvailableExtensionsTestView">
         <includes>
             <actionExtension pattern="org.eclipse.ui.navigator.resources.*" />
         </includes>
      </viewerActionBinding>

      <viewer viewerId="org.eclipse.ui.tests.navigator.ProgrammaticTestView"/>      
      <viewer viewerId="org.eclipse.ui.tests.navigator.PipelineTestView"/>      
      <viewer viewerId="org.eclipse.ui.tests.navigator.OverrideTestView"/>      
      <viewerContentBinding viewerId="org.eclipse.ui.tests.navigator.OverrideTestView">
          <includes>
       	      <contentExtension pattern="org.eclipse.ui.tests.navigator.testContentOverride1" />		       	      
       	      <contentExtension pattern="org.eclipse.ui.tests.navigator.testContentOverridden1" />		       	      
          </includes>
      </viewerContentBinding>

   </extension>
 
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.ui.tests.navigator.extension.TestExtensionTreeData"
            class="org.eclipse.ui.tests.navigator.extension.TestExtensionAdapterFactory">
         <adapter type="org.eclipse.core.resources.IResource"/>
         <adapter type="org.eclipse.core.resources.IFile"/>
      </factory>
   </extension>
   
   <!-- Verify decorator extension: Adds ">>" to Test Items that end in "3" --> 
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            class="org.eclipse.ui.tests.navigator.extension.TestLabelDecorator"
            id="org.eclipse.ui.tests.navigator.threeDecorator"
            label="Items that end in 3 decorator"
            lightweight="false"
            state="true">
         <enablement>
            <objectClass name="org.eclipse.ui.tests.navigator.extension.TestExtensionTreeData"/>
         </enablement>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.activities">
      <activityPatternBinding
            activityId="org.eclipse.ui.tests.navigator.testActivity"
            pattern="org\.eclipse\.ui\.tests\.navigator/org\.eclipse\.ui\.tests\.navigator\.activityTest.*"/>
      <activity
            description="Common Navigator Test Activity"
            id="org.eclipse.ui.tests.navigator.testActivity"
            name="CN Test">
      </activity>
      <category
            id="org.eclipse.ui.tests.navigator.category1"
            name="CN Test Category">
      </category>
      <categoryActivityBinding
            activityId="org.eclipse.ui.tests.navigator.testActivity"
            categoryId="org.eclipse.ui.tests.navigator.category1">
      </categoryActivityBinding> 
   </extension>
   
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            class="org.eclipse.ui.tests.navigator.wizards.NewWizard1"
            id="org.eclipse.ui.tests.navigator.SampleNewWizard"
            name="Test CNF New Wizard1 (Does Nothing)"/>
      <wizard
            class="org.eclipse.ui.tests.navigator.wizards.NewWizard1"
            id="org.eclipse.ui.tests.navigator.SampleNewWizard2"
            name="Test CNF New Wizard2 (Does Nothing)"/>
      <wizard
            class="org.eclipse.ui.tests.navigator.wizards.NewWizard1"
            id="org.eclipse.ui.tests.navigator.activityTest1.SampleNewWizard2"
            name="Test CNF Activity New Wizard (Activity Test)"/>
   </extension>
   
   <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            class="org.eclipse.ui.tests.navigator.wizards.ImportWizard1"
            id="org.eclipse.ui.tests.navigator.SampleImportWizard"
            name="Test CNF Import Wizard  (Does Nothing)"/>
   </extension>
  
   <extension
         point="org.eclipse.ui.exportWizards">
      <wizard
            class="org.eclipse.ui.tests.navigator.wizards.ExportWizard1"
            id="org.eclipse.ui.tests.navigator.SampleExportWizard"
            name="Test CNF Export Wizard  (Does Nothing)"/>
   </extension>

</plugin>
