<?xml version="1.0" encoding="UTF-8"?>
<plugin
	name="%pluginName"
	id="org.eclipse.team.cvs.core"
	version="2.0.0"
	class="org.eclipse.team.ccvs.core.CVSProviderPlugin"
	provider-name="Object Technology International, Inc.">

	<requires>
		<import plugin="org.eclipse.core.resources"/>
		<import plugin="org.eclipse.team.core"/>
		<import plugin="org.apache.xerces"/>
	</requires>

	<runtime>
		<library name="cvs.jar">
			<export name="*"/>
		</library>
	</runtime>

	<!-- *************** Extension Points **************** -->
	<extension-point name="Authenticator" id="authenticator"/>
	<extension-point name="ConnectionMethods" id="connectionmethods"/>

	<!-- *************** Conection Methods **************** -->
	<extension id="pserver" point="org.eclipse.team.cvs.core.connectionmethods">
		<adapter>
			<run class="org.eclipse.team.internal.ccvs.core.connection.PServerConnectionMethod">
				<parameter name="trace" value="false" /> 
			</run>
		</adapter>
	</extension>
	
	<extension id="ext" point="org.eclipse.team.cvs.core.connectionmethods">
		<adapter>
			<run class="org.eclipse.team.internal.ccvs.core.connection.ExtConnectionMethod">
				<parameter name="trace" value="false" /> 
			</run>
		</adapter>
	</extension>

	<!-- *************** Team Provider **************** -->
	<extension point="org.eclipse.team.core.repository-provider-type" id="cvs-provider-type">
		<repository>
			<provider-type class="org.eclipse.team.ccvs.core.CVSRepositoryProviderType"/> 
		</repository>
	</extension>

	<!-- *************** Project Nature **************** -->
	<extension point="org.eclipse.core.resources.natures" id="cvsnature" name="%cvsNature">
		<runtime>
			<run class="org.eclipse.team.ccvs.core.CVSTeamProvider"/> 
		</runtime>
	</extension>
 
 	<!-- *************** Resource patterns ignored by CVS **************** -->
 	<extension point="org.eclipse.team.core.ignore">
		<ignore pattern = ".#*" selected = "true"/>
		<!-- *** Temporary. This will be removed in favour of a light JDT-Team plug-in *** -->
		<ignore pattern = "*.class" selected = "true"/>
	</extension>
 
</plugin>