<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension
         point="org.eclipse.ui.editors">
      <editor
            name="%Editors.UserEditor"
            icon="icons/obj16/usereditor.gif"
            extensions="usr"
            class="org.eclipse.ui.examples.propertysheet.UserEditor"
            id="org.eclipse.ui.examples.propertysheet.UserEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.ui.examples.propertysheet.UserElement"
            id="org.eclipse.ui.examples.propertysheet">
         <action
               label="%PopupMenus.action"
               class="org.eclipse.ui.examples.propertysheet.PopupMenuActionDelegate"
               menubarPath="additions"
               enablesFor="1"
               id="org.eclipse.ui.examples.propertysheet.action1">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="HelpContexts.xml">
      </contexts>
   </extension>

</plugin>
