<?xml version="1.0"?>

<plugin
   name = "%Plugin.name"
   id = "org.eclipse.ui.examples.propertysheet"
   version = "0.9"
   provider-name = "Object Technology International, Inc."
   class="org.eclipse.ui.examples.propertysheet.PropertySheetPlugin">

<requires>
   <import plugin="org.eclipse.ui"/>
   <import plugin="org.eclipse.core.resources"/>
</requires>


<runtime>
  <library name="propertysheet.jar" /> 
</runtime>

<extension
   point = "org.eclipse.ui.editors">
   <editor
      id = "org.eclipse.ui.examples.propertysheet.UserEditor"
      name="%Editors.UserEditor"
      icon="icons/basic/obj16/usereditor.gif"
      extensions="usr"
      class="org.eclipse.ui.examples.propertysheet.UserEditor">
   </editor>
</extension>

<extension point="org.eclipse.help.contexts"> 
   <contexts name="HelpContexts.xml"/> 
</extension>

</plugin>
