<?xml version="1.0" encoding="UTF-8"?>

<plugin
   name = "%Plugin.name"
   id = "org.eclipse.ui.examples.propertysheet"
   version = "2.0.0"
   provider-name = "%Plugin.providerName"
   class="org.eclipse.ui.examples.propertysheet.PropertySheetPlugin">

<requires>
   <import plugin="org.eclipse.ui"/>
   <import plugin="org.eclipse.core.resources"/>
</requires>


<runtime>
  <library name="propertysheet.jar" /> 
</runtime>

<extension
   point = "org.eclipse.ui.editors">
   <editor
      id = "org.eclipse.ui.examples.propertysheet.UserEditor"
      name="%Editors.UserEditor"
      icon="icons/basic/obj16/usereditor.gif"
      extensions="usr"
      class="org.eclipse.ui.examples.propertysheet.UserEditor">
   </editor>
</extension>

<extension point = "org.eclipse.ui.popupMenus">
   	<objectContribution
	  	id="org.eclipse.ui.examples.propertysheet"
	    objectClass="org.eclipse.ui.examples.propertysheet.UserElement">
	    <action id="org.eclipse.ui.examples.propertysheet.action1"
    	   	label="%PopupMenus.action"
       		menubarPath="additions"
       		class="org.eclipse.ui.examples.propertysheet.PopupMenuActionDelegate"	
       		enablesFor="1">
	    </action>
   </objectContribution>
</extension>

<extension point="org.eclipse.help.contexts"> 
   <contexts name="HelpContexts.xml"/> 
</extension>

</plugin>
