<?xml version="1.0" encoding="UTF-8"?>

<!-- ================================================= -->
<!-- Help System plugin                                -->
<!-- ================================================= -->

<plugin
	name = "%help_plugin_name"
	id = "org.eclipse.help"
	version = "2.0.0"
	provider-name = "International Business Machines Corp."
	class="org.eclipse.help.internal.HelpPlugin">

	<requires>
		<import plugin="org.apache.lucene"/>
		<import plugin="org.apache.xerces"/>
		<import plugin="org.eclipse.core.runtime"/>
	</requires>

	<runtime>
		<library name="help.jar">
			<export name="*"/>
		</library>
	</runtime>

	<!-- Extension points -->
	<extension-point id="app-server" name="%app_server" />
	<extension-point id="contexts" name="%contexts_extention_point_name"/>
	<extension-point id="luceneAnalyzer" name="%lucene_analyzer" />
	<extension-point id="prebuiltIndex" name="%prebuilt_index" />
	<extension-point id="support" name="%support_extention_point_name"/>
	<extension-point id="toc" name="%toc_extention_point_name"/>
   
	<!--  Help URL protocols -->
	<extension point="org.eclipse.core.runtime.urlHandlers"> 
		<handler protocol="help" class="org.eclipse.help.internal.protocols.URLHandler"/> 
		<handler protocol="search" class="org.eclipse.help.internal.protocols.URLHandler"/> 
		<handler protocol="links" class="org.eclipse.help.internal.protocols.URLHandler"/> 
		<handler protocol="livehelp" class="org.eclipse.help.internal.protocols.URLHandler"/> 
	</extension> 
	
	<!-- Stand-alone help application -->
	<extension point="org.eclipse.core.runtime.applications" id="helpApplication">
		<application> 
			<run class="org.eclipse.help.internal.HelpApplication">
			</run>
		</application>
	</extension>

	<!-- Text Analyzers for search -->
	<extension point="org.eclipse.help.luceneAnalyzer" id="org.eclipse.help.Analyzer_en">
		<analyzer locale="en" class="org.eclipse.help.internal.search.Analyzer_en" />
	</extension>
	<extension point="org.eclipse.help.luceneAnalyzer" id="org.eclipse.help.Analyzer_de">
		<analyzer locale="de" class="org.apache.lucene.analysis.de.GermanAnalyzer" />
	</extension>   
      
</plugin>
