<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
 
 <!--
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.eclipse.ui.navigator.CommonNavigator"
            id="org.eclipse.ui.examples.navigator.resourceContent"
            name="%Common_Navigator_Example"/>
   </extension>
   -->
   <!-- The example uses the already defined Resource extension
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            contentProvider="org.eclipse.ui.model.WorkbenchContentProvider"
            enabledByDefault="true"
            id="org.eclipse.ui.examples.navigator.example1"
            labelProvider="org.eclipse.ui.model.WorkbenchLabelProvider"
            name="Example Content Extension"
            priority="normal">
         <enablement>
            <objectClass
                  adaptable="true"
                  name="org.eclipse.core.resources.IResource"/>
         </enablement>
      </navigatorContent>
   </extension> 
   -->
</plugin>
