body {
	background-image : url(../graphics/watermark/overview_wmk.gif);
	background-repeat : no-repeat;
	background-position : bottom right;
}

/* show the "selected" image for this page */
#navigation-links a#overview img, #navigation-links a#overview:hover img { background-image : url(../graphics/obj_32/seloverview_obj.gif); }

/* 
 * Set up the Overview links to be displayed in two columns
 * that are centered in the middle of the page.
 */

#overview-links {
	text-align : left;
	width : 760px;
	/* To center in Moz (have to use text-align for IE) */
	margin : 0px auto;
}

#overview-links a { 
	width : 370px;
	height : 5em;
	text-align : left; 
	margin-left : 5px;
	margin-right : 5px;
	margin-top : 10px;
	float : left;
}

#overview-links a img {
	height : 57px;
	width : 57px;
	vertical-align : middle;
}

#overview-links a .link-label {
	position : relative;
	top : -10px;
}

#overview-links a p .text {
	display : block;
	margin-left : 53px;
	margin-top : -20px;
}

#overview-links a:hover { border-right : 5px; }

a#basics img { background-image : url(../graphics/obj_48/wbbasics_obj.gif); }
a#basics:hover img { background-image : url(../graphics/obj_48/hovwbbasics_obj.gif); }

a#team img { background-image : url(../graphics/obj_48/team_obj.gif); }
a#team:hover img { background-image : url(../graphics/obj_48/hovteam_obj.gif); }

