<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.eclipse.ui.intro"
   name="%plugin_name"
   version="3.1.0"
   provider-name="%provider_name"
   class="org.eclipse.ui.internal.intro.impl.IntroPlugin">

   <runtime>
      <library name="intro.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.help"/>
      <import plugin="org.eclipse.ui.forms"/>
   </requires>


<!-- ========== Extension Points ================= -->
<!-- =============================================================================== -->
<!-- Extension point: org.eclipse.ui.intro.config                                    -->
<!-- Extension-point for contributing a configuration to a Customizable Intro Part.  -->
<!--                                                                                 -->
<!-- =============================================================================== -->
   <extension-point id="config" name="%config" schema="schema/config.exsd"/>
<!-- ================================================================================= -->
<!-- Extension point: org.eclipse.ui.intro.configExtension                             -->
<!-- Extension-point for contributing an extension to an existing intro configuration  -->
<!--                                                                                   -->
<!-- ================================================================================= -->
   <extension-point id="configExtension" name="%configExtension" schema="schema/configExtension.exsd"/>
   
   <extension
         point="org.eclipse.ui.intro.configExtension">
      <standbyContentPart
            pluginId="org.eclipse.ui.intro"
            class="org.eclipse.ui.internal.intro.impl.parts.EmptyStandbyContentPart"
            id="org.eclipse.ui.intro.config.emptyStandby">
      </standbyContentPart> 
   </extension>     
   
 
     

</plugin>
