<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.eclipse.ltk.core.refactoring.tests"
   name="%pluginName"
   version="3.0.0"
   provider-name="%providerName"
   class="org.eclipse.ltk.core.refactoring.tests.RefactoringCoreTestPlugin">

   <runtime>
      <library name="refcoretests.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="org.junit"/>
      <import plugin="org.eclipse.core.expressions"/>
      <import plugin="org.eclipse.core.filebuffers"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.text"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.ltk.core.refactoring"/>
   </requires>
   
   <extension point="org.eclipse.ltk.core.refactoring.renameParticipants">
      <renameParticipant
            class="org.eclipse.ltk.core.refactoring.tests.participants.FailingParticipant"
            id="org.eclipse.ltk.core.refactoring.tests.participants.FailingParticipant"
            name="org.eclipse.ltk.core.refactoring.tests.participants.FailingParticipant">
         <enablement>
           <with variable="element">
             <instanceof value="org.eclipse.ltk.core.refactoring.tests.participants.Element"/>
           </with>
         </enablement>
      </renameParticipant>
      <renameParticipant
            class="org.eclipse.ltk.core.refactoring.tests.participants.FailingParticipant2"
            id="org.eclipse.ltk.core.refactoring.tests.participants.FailingParticipant2"
            name="org.eclipse.ltk.core.refactoring.tests.participants.FailingParticipant2">
         <enablement>
           <with variable="element">
             <instanceof value="org.eclipse.ltk.core.refactoring.tests.participants.Element"/>
           </with>
         </enablement>
      </renameParticipant>
   </extension>
</plugin>
