<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
     <extension point="org.eclipse.ltk.core.refactoring.renameParticipants">
      <renameParticipant
            class="org.eclipse.ltk.core.refactoring.tests.participants.FailingParticipant"
            id="org.eclipse.ltk.core.refactoring.tests.participants.FailingParticipant"
            name="%FailingParticipant.name">
         <enablement>
           <with variable="element">
             <instanceof value="org.eclipse.ltk.core.refactoring.tests.participants.Element"/>
           </with>
         </enablement>
      </renameParticipant>
      <renameParticipant
            class="org.eclipse.ltk.core.refactoring.tests.participants.FailingParticipant2"
            id="org.eclipse.ltk.core.refactoring.tests.participants.FailingParticipant2"
            name="%FailingParticipant2.name">
         <enablement>
           <with variable="element">
             <instanceof value="org.eclipse.ltk.core.refactoring.tests.participants.Element"/>
           </with>
         </enablement>
      </renameParticipant>
   </extension>
     <extension
           point="org.eclipse.ltk.core.refactoring.refactoringContributions">
        <contribution
              class="org.eclipse.ltk.core.refactoring.tests.history.MockRefactoringContribution"
              id="org.eclipse.ltk.core.mock"></contribution>
     </extension>
</plugin>
