CTabFolder {
	font: Verdana 8px;
	color: #808080;
	background-color: #ffffff;
}

CTabFolder:selected {
	color: #666666;
	background-color: #f4f4f4;
}

#library {
	background-color: #f4f4f4;
}

CTabFolder Gallery GalleryItem {
	background-color: #f4f4f4;
}

#preview {
	color: #e5e5e5;
	background-color: #ffffff;
}

GalleryItem:selected {
	background-color: #ff884c;
}


#location {
	background-color: #f4f4f4;
}

ToolBar {
	color: #666666;
	font: Verdana 8px;
	background-color: #fffff3;
}

ToolItem {
	color: #666666;
	background-color: #fffff3;
}
	
SashForm {
	background-color: white;
}

Text {
	font: Verdana 8px;
}      

Label {
	font: Verdana 8px;
}

Tree {
	font: Verdana 8px;
	color: #666666;
}

Composite Shell {
	background-color: #ffffff;
}