<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
     <extension
         point="org.eclipse.ui.editors">
      <editor
            default="true"
            name="Tabbed Properties View Example Logic Editor"
            extensions="tabbedpropertieslogic"
            icon="icons/logic.gif"
            class="org.eclipse.ui.examples.views.properties.tabbed.logic.TabbedPropertiesLogicEditor"
            contributorClass="org.eclipse.gef.examples.logicdesigner.actions.LogicActionBarContributor"
            id="org.eclipse.ui.examples.views.properties.tabbed.logic.TabbedPropertiesLogicEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="Tabbed Properties View Examples"
            parentCategory="org.eclipse.ui.Examples"
            id="org.eclipse.ui.views.properties.tabbed">
      </category>
      <wizard
            name="Tabbed Properties View Logic Example File"
            icon="icons/logic.gif"
            category="org.eclipse.ui.Examples/org.eclipse.ui.views.properties.tabbed"
            class="org.eclipse.ui.examples.views.properties.tabbed.logic.LogicCreationWizard"
            id="org.eclipse.ui.examples.views.properties.tabbed.logic.LogicCreationWizard">
         <description>
            Create a new Tabbed Properties View Logic Example file
         </description>
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            typeMapper="org.eclipse.ui.examples.views.properties.tabbed.logic.properties.LogicElementTypeMapper"
            contributorId="org.eclipse.ui.examples.views.properties.tabbed.logic.TabbedPropertiesLogicEditor"
            labelProvider="org.eclipse.ui.examples.views.properties.tabbed.logic.properties.LogicElementLabelProvider">
         <propertyCategory
               category="element">
         </propertyCategory>
         <propertyCategory
               category="other">
         </propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.eclipse.ui.examples.views.properties.tabbed.logic.TabbedPropertiesLogicEditor">
         <propertyTab
               label="Advanced"
               category="other"
               afterTab="logic.tab.Size"
               id="logic.tab.Advanced">
         </propertyTab>
         <propertyTab
               label="Location"
               category="other"
               id="logic.tab.Location">
         </propertyTab>
         <propertyTab
               label="Size"
               category="other"
               afterTab="logic.tab.Location"
               id="logic.tab.Size">
         </propertyTab>
         <propertyTab
               label="Element"
               category="element"
               id="logic.tab.Element">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.eclipse.ui.examples.views.properties.tabbed.logic.TabbedPropertiesLogicEditor">
         <propertySection
               tab="logic.tab.Element"
               class="org.eclipse.ui.examples.views.properties.tabbed.logic.properties.ValueSection"
               afterSection="logic.section.Name"
               id="logic.section.Value">
            <input
                  type="org.eclipse.gef.examples.logicdesigner.model.LED">
            </input>
         </propertySection>
         <propertySection
               tab="logic.tab.Advanced"
               class="org.eclipse.ui.views.properties.tabbed.AdvancedPropertySection"
               id="logic.section.Advanced">
            <input
                  type="org.eclipse.gef.examples.logicdesigner.model.LogicElement">
            </input>
         </propertySection>
         <propertySection
               tab="logic.tab.Element"
               class="org.eclipse.ui.examples.views.properties.tabbed.logic.properties.NameSection"
               id="logic.section.Name">
            <input
                  type="org.eclipse.gef.examples.logicdesigner.model.LogicElement">
            </input>
         </propertySection>
         <propertySection
               tab="logic.tab.Location"
               class="org.eclipse.ui.examples.views.properties.tabbed.logic.properties.LocationSection"
               id="logic.section.Location">
            <input
                  type="org.eclipse.gef.examples.logicdesigner.model.LogicSubpart">
            </input>
         </propertySection>
         <propertySection
               tab="logic.tab.Size"
               filter="org.eclipse.ui.examples.views.properties.tabbed.logic.properties.LogicElementSizeFilter"
               class="org.eclipse.ui.examples.views.properties.tabbed.logic.properties.SizeSection"
               id="logic.section.Size">
            <input
                  type="org.eclipse.gef.examples.logicdesigner.model.LogicSubpart">
            </input>
         </propertySection>
      </propertySections>
   </extension>

</plugin>
