<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="%Views.category.name"
            id="org.eclipse.ui.views.properties.tabbed">
      </category>
      <view
            name="%Views.example.name"
            category="org.eclipse.ui.views.properties.tabbed"
            icon="icons/sample.gif"
            class="org.eclipse.ui.tests.views.properties.tabbed.views.TestsView"
            id="org.eclipse.ui.tests.views.properties.tabbed.views.TestsView">
      </view>
      <view
            name="%Views.dynamic.name"
            icon="icons/sample.gif"
            category="org.eclipse.ui.views.properties.tabbed"
            class="org.eclipse.ui.tests.views.properties.tabbed.dynamic.views.DynamicTestsView"
            id="org.eclipse.ui.tests.views.properties.tabbed.dynamic.views.DynamicTestsView">
      </view>
      <view
            name="%Views.text.name"
            icon="icons/sample.gif"
            category="org.eclipse.ui.views.properties.tabbed"
            class="org.eclipse.ui.tests.views.properties.tabbed.text.TextTestsView"
            id="org.eclipse.ui.tests.views.properties.tabbed.text.TextTestsView">
      </view>
      <view
            name="%Views.override.name"
            icon="icons/sample.gif"
            category="org.eclipse.ui.views.properties.tabbed"
            class="org.eclipse.ui.tests.views.properties.tabbed.override.OverrideTestsView"
            id="org.eclipse.ui.tests.views.properties.tabbed.override.OverrideTestsView">
      </view>
      <view
            category="org.eclipse.ui.views.properties.tabbed"
            class="org.eclipse.ui.tests.views.properties.tabbed.decorations.views.DecorationTestsView"
            icon="icons/sample.gif"
            id="org.eclipse.ui.tests.views.properties.tabbed.decorations.views.DecorationTestsView"
            name="%Views.decoration.name">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="org.eclipse.ui.tests.views.properties.tabbed.views.TestsView"
            labelProvider="org.eclipse.ui.tests.views.properties.tabbed.views.LabelProvider"
            typeMapper="org.eclipse.ui.tests.views.properties.tabbed.views.TypeMapper">
         <propertyCategory category="first">
         </propertyCategory>
         <propertyCategory category="second">
         </propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs contributorId="org.eclipse.ui.tests.views.properties.tabbed.views.TestsView">
         <propertyTab
               category="first"
               id="propertyTab1"
               label="Name"/>
         <propertyTab
               afterTab="propertyTab1"
               category="first"
               id="propertyTab2"
               label="Project"/>
         <propertyTab
               afterTab="propertyTab2"
               category="first"
               id="propertyTab3"
               label="Folder"/>
         <propertyTab
               afterTab="propertyTab3"
               category="first"
               id="propertyTab4"
               label="File"/>
         <propertyTab
               afterTab="propertyTab4"
               category="first"
               id="propertyTab5"
               image="icons/info_tsk.gif"
               label="Information"/>
         <propertyTab
               afterTab="propertyTab5"
               category="first"
               id="propertyTab6"
               image="icons/warn_tsk.gif"
               label="Warning"/>
         <propertyTab
               afterTab="propertyTab6"
               category="first"
               id="propertyTab7"
               image="icons/error_tsk.gif"
               label="Error"/>
         <propertyTab
               category="second"
               id="propertyTab8"
               indented="true"
               label="Message"/>
         <propertyTab
               category="second"
               image="icons/sample.gif"
               id="propertyTab9"
               label="Resource"/>
         <propertyTab
               category="unknown_bugzilla_152473"
               image="icons/sample.gif"
               id="propertyTab9"
               label="Unknown"/>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections contributorId="org.eclipse.ui.tests.views.properties.tabbed.views.TestsView">
         <propertySection
               class="org.eclipse.ui.tests.views.properties.tabbed.sections.NameSection"
               enablesFor="1"
               id="propertySection1"
               tab="propertyTab1">
            <input type="org.eclipse.ui.tests.views.properties.tabbed.model.Element"/>
         </propertySection>
         <propertySection
               class="org.eclipse.ui.tests.views.properties.tabbed.sections.LabelSection"
               id="propertySection2"
               tab="propertyTab2">
            <input type="org.eclipse.ui.tests.views.properties.tabbed.model.Project"/>
         </propertySection>
         <propertySection
               class="org.eclipse.ui.tests.views.properties.tabbed.sections.LabelSection"
               id="propertySection3"
               tab="propertyTab3">
            <input type="org.eclipse.ui.tests.views.properties.tabbed.model.Folder"/>
         </propertySection>
         <propertySection
               class="org.eclipse.ui.tests.views.properties.tabbed.sections.LabelSection"
               id="propertySection4"
               tab="propertyTab4">
            <input type="org.eclipse.ui.tests.views.properties.tabbed.model.File"/>
         </propertySection>
         <propertySection
               class="org.eclipse.ui.tests.views.properties.tabbed.sections.LabelSection"
               id="propertySection5"
               tab="propertyTab5">
            <input type="org.eclipse.ui.tests.views.properties.tabbed.model.Information"/>
         </propertySection>
         <propertySection
               class="org.eclipse.ui.tests.views.properties.tabbed.sections.LabelSection"
               id="propertySection6"
               tab="propertyTab6">
            <input type="org.eclipse.ui.tests.views.properties.tabbed.model.Warning"/>
         </propertySection>
         <propertySection
               class="org.eclipse.ui.tests.views.properties.tabbed.sections.LabelSection"
               id="propertySection7"
               tab="propertyTab7">
            <input type="org.eclipse.ui.tests.views.properties.tabbed.model.Error"/>
         </propertySection>
         <propertySection
               class="org.eclipse.ui.tests.views.properties.tabbed.sections.MessageSection"
               id="propertySection8"
               tab="propertyTab8">
            <input type="org.eclipse.ui.tests.views.properties.tabbed.model.Error"/>
            <input type="org.eclipse.ui.tests.views.properties.tabbed.model.Warning"/>
            <input type="org.eclipse.ui.tests.views.properties.tabbed.model.Information"/>
         </propertySection>
         <propertySection
               class="org.eclipse.ui.tests.views.properties.tabbed.sections.ResourceSection"
               id="propertySection9"
               tab="propertyTab9">
            <input type="org.eclipse.ui.tests.views.properties.tabbed.model.File"/>
            <input type="org.eclipse.ui.tests.views.properties.tabbed.model.Folder"/>
            <input type="org.eclipse.ui.tests.views.properties.tabbed.model.Project"/>
         </propertySection>
         <propertySection
               afterSection="propertySection5"
               class="org.eclipse.ui.tests.views.properties.tabbed.sections.InformationTwoSection"
               filter="org.eclipse.ui.tests.views.properties.tabbed.views.InformationTwoFilter"
               id="propertySection10"
               tab="propertyTab1">
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.eclipse.ui.tests.views.properties.tabbed.views.TestsPerspective"
            icon="icons/sample.gif"
            id="org.eclipse.ui.tests.views.properties.tabbed.views.TestsPerspective"
            name="%Views.example.perspective">
      </perspective>
   </extension>

   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="org.eclipse.ui.tests.views.properties.tabbed.static"
            labelProvider="org.eclipse.ui.tests.views.properties.tabbed.dynamic.views.DynamicTestsTitleBarLabelProvider"
            typeMapper="org.eclipse.ui.tests.views.properties.tabbed.dynamic.views.DynamicTestsTypeMapper">
         <propertyCategory
               category="default">
         </propertyCategory>
         <propertyCategory
               category="advanced">
         </propertyCategory>
      </propertyContributor>
   </extension>

   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs contributorId="org.eclipse.ui.tests.views.properties.tabbed.static">
         <propertyTab
               category="default"
               id="ElementTab"
               label="Element"/>
         <propertyTab
               afterTab="ElementTab"
               category="default"
               id="ColorTab"
               label="Color"/>
         <propertyTab
               afterTab="ColorTab"
               category="default"
               id="ShapeTab"
               label="Shape"/>
         <propertyTab
               category="advanced"
               id="AdvancedTab"
               label="Advanced">
         </propertyTab>
      </propertyTabs>
   </extension>

   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.eclipse.ui.tests.views.properties.tabbed.static">
         <propertySection
               class="org.eclipse.ui.tests.views.properties.tabbed.dynamic.sections.DynamicTestsElementSection"
               id="ElementSection"
               tab="ElementTab">
            <input
                  type="org.eclipse.ui.tests.views.properties.tabbed.dynamic.model.DynamicTestsElement">
            </input>
         </propertySection>
         <propertySection
               class="org.eclipse.ui.tests.views.properties.tabbed.dynamic.sections.DynamicTestsRedSection"
               filter="org.eclipse.ui.tests.views.properties.tabbed.dynamic.filters.DynamicTestsRedSectionFilter"
               id="RedSection"
               tab="ColorTab">
         </propertySection>
         <propertySection
               class="org.eclipse.ui.tests.views.properties.tabbed.dynamic.sections.DynamicTestsGreenSection"
               filter="org.eclipse.ui.tests.views.properties.tabbed.dynamic.filters.DynamicTestsGreenSectionFilter"
               id="GreenSection"
               tab="ColorTab">
         </propertySection>
         <propertySection
               class="org.eclipse.ui.views.properties.tabbed.AdvancedPropertySection"
               enablesFor="1"
               id="AdvancedSection"
               tab="AdvancedTab">
            <input type="org.eclipse.ui.tests.views.properties.tabbed.dynamic.model.DynamicTestsElement"/>
         </propertySection>
         <propertySection
               class="org.eclipse.ui.tests.views.properties.tabbed.dynamic.sections.DynamicTestsBlueSection"
               filter="org.eclipse.ui.tests.views.properties.tabbed.dynamic.filters.DynamicTestsBlueSectionFilter"
               id="BlueSection"
               tab="ColorTab">
         </propertySection>
         <propertySection
               class="org.eclipse.ui.tests.views.properties.tabbed.dynamic.sections.DynamicTestsSquareSection"
               filter="org.eclipse.ui.tests.views.properties.tabbed.dynamic.filters.DynamicTestsSquareSectionFilter"
               id="SquareSection"
               tab="ShapeTab">
         </propertySection>
         <propertySection
               class="org.eclipse.ui.tests.views.properties.tabbed.dynamic.sections.DynamicTestsTriangleSection"
               filter="org.eclipse.ui.tests.views.properties.tabbed.dynamic.filters.DynamicTestsTriangleSectionFilter"
               id="TriangleSection"
               tab="ShapeTab">
         </propertySection>
         <propertySection
               class="org.eclipse.ui.tests.views.properties.tabbed.dynamic.sections.DynamicTestsCircleSection"
               filter="org.eclipse.ui.tests.views.properties.tabbed.dynamic.filters.DynamicTestsCircleSectionFilter"
               id="CircleSection"
               tab="ShapeTab">
         </propertySection>
      </propertySections>
   </extension>
   
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="org.eclipse.ui.tests.views.properties.tabbed.dynamic.section"
            labelProvider="org.eclipse.ui.tests.views.properties.tabbed.dynamic.views.DynamicTestsTitleBarLabelProvider"
            sectionDescriptorProvider="org.eclipse.ui.tests.views.properties.tabbed.dynamic.section.descriptors.DynamicTestsSectionDescriptorProvider"
            typeMapper="org.eclipse.ui.tests.views.properties.tabbed.dynamic.views.DynamicTestsTypeMapper">
         <propertyCategory
               category="default">
         </propertyCategory>
         <propertyCategory
               category="advanced">
         </propertyCategory>
      </propertyContributor>
   </extension>

   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs contributorId="org.eclipse.ui.tests.views.properties.tabbed.dynamic.section">
         <propertyTab
               category="default"
               id="ElementTab"
               label="Element"/>
         <propertyTab
               afterTab="ElementTab"
               category="default"
               id="ColorTab"
               label="Color"/>
         <propertyTab
               afterTab="ColorTab"
               category="default"
               id="ShapeTab"
               label="Shape"/>
         <propertyTab
               category="advanced"
               id="AdvancedTab"
               label="Advanced">
         </propertyTab>
         <propertyTab
               afterTab="ColorTab"
               category="default"
               id="StarTab"
               indented="true"
               label="Star">
         </propertyTab>
      </propertyTabs>
   </extension>

   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="org.eclipse.ui.tests.views.properties.tabbed.dynamic.tab"
            labelProvider="org.eclipse.ui.tests.views.properties.tabbed.dynamic.views.DynamicTestsTitleBarLabelProvider"
            tabDescriptorProvider="org.eclipse.ui.tests.views.properties.tabbed.dynamic.tab.descriptors.DynamicTestsTabDescriptorProvider"
            typeMapper="org.eclipse.ui.tests.views.properties.tabbed.dynamic.views.DynamicTestsTypeMapper">
         <propertyCategory
               category="default">
         </propertyCategory>
         <propertyCategory
               category="advanced">
         </propertyCategory>
      </propertyContributor>
   </extension>

   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="org.eclipse.ui.tests.views.properties.tabbed.text"
            labelProvider="org.eclipse.ui.tests.views.properties.tabbed.text.TextTestsLabelProvider"
            tabDescriptorProvider="org.eclipse.ui.tests.views.properties.tabbed.text.TextTestsTabDescriptorProvider">
         <propertyCategory
               category="default">
         </propertyCategory>
      </propertyContributor>
   </extension>
   
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="org.eclipse.ui.tests.views.properties.tabbed.override"
            sectionDescriptorProvider="org.eclipse.ui.tests.views.properties.tabbed.override.tablist.OverrideTestsSectionDescriptorProvider"
            overridableTabListContentProvider="true">
          <propertyCategory
                category="org.eclipse.ui.tests.views.properties.tabbed.override">
          </propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.eclipse.ui.tests.views.properties.tabbed.override">
         <propertyTab
               label="Override"
               category="org.eclipse.ui.tests.views.properties.tabbed.override"
               id="org.eclipse.ui.tests.views.properties.tabbed.override">
         </propertyTab>
      </propertyTabs>
   </extension>
</plugin>
