<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.compare.contentMergeViewers">
      <viewer
            class="org.eclipse.compare.internal.win32.WordViewerCreator"
            extensions="doc"
            id="org.eclipse.compare.wordMergeViewer">
      </viewer>
      <contentTypeBinding
            contentMergeViewerId="org.eclipse.compare.wordMergeViewer"
            contentTypeId="org.eclipse.compare.wordDoc">
      </contentTypeBinding>
   </extension>
   
    <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            file-extensions="doc"
            id="org.eclipse.compare.wordDoc"
            name="%wordDocumentContentTypeName">
      </content-type>
   </extension>

</plugin>
