<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.eclipse.team.tests.core"
   name="Eclipse Team Core Tests"
   version="3.1.0"
   provider-name="Eclipse.org">

   <runtime>
      <library name="teamtests.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.ui.ide" optional="true"/>
      <import plugin="org.eclipse.ui.views" optional="true"/>
      <import plugin="org.eclipse.jface.text" optional="true"/>
      <import plugin="org.eclipse.ui.workbench.texteditor" optional="true"/>
      <import plugin="org.eclipse.ui.editors" optional="true"/>
      <import plugin="org.eclipse.core.tests.harness"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.core.runtime.compatibility"/>
      <import plugin="org.eclipse.core.boot"/>
      <import plugin="org.eclipse.team.core"/>
      <import plugin="org.eclipse.team.cvs.core"/>
      <import plugin="org.eclipse.team.ui"/>
      <import plugin="org.eclipse.team.cvs.ui"/>
      <import plugin="org.eclipse.compare"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.junit"/>
      <import plugin="org.eclipse.core.tests.resources"/>
   </requires>

<!-- *************** Repository Providers **************** -->
   <extension
         point="org.eclipse.team.core.repository">
      <repository
            class="org.eclipse.team.tests.core.RepositoryProviderBic"
            id="org.eclipse.team.tests.core.bic-provider">
      </repository>
   </extension>
   <extension
         point="org.eclipse.team.core.repository">
      <repository
            class="org.eclipse.team.tests.core.RepositoryProviderNaish"
            id="org.eclipse.team.tests.core.naish-provider">
      </repository>
   </extension>
<!-- *************** Bad provider that is not registered **************** 
	<extension
         point="org.eclipse.team.core.repository">
      <repository
      		id="org.eclipse.team.tests.core.other"
            class="org.eclipse.team.tests.core.RepositoryProviderOtherSport">
      </repository>
	</extension>
	-->
   <extension
         point="org.eclipse.team.core.repository">
      <repository
            class="org.eclipse.team.tests.core.RepositoryProviderWithLinking"
            id="org.eclipse.team.tests.core.linking">
      </repository>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="Team Test Views"
            id="org.eclipse.team.tests.core">
      </category>
      <view
            name="Content Provider Test View"
            category="org.eclipse.team.tests.core"
            class="org.eclipse.team.tests.ui.views.ContentProviderTestView"
            id="org.eclipse.team.tests.ui.views.ContentProviderTestView">
      </view>
   </extension>
</plugin>
