<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="org.eclipse.team.tests.core"
   name="Eclipse Team Core Tests"
   version="2.0.0"
   provider-name="Object Technology International, Inc."
   class="">

   <runtime>
      <library name="teamtests.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.apache.xerces"/>
      <import plugin="org.eclipse.core.tests.harness"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.team.core"/>
      <import plugin="org.eclipse.team.cvs.core"/>
      <import plugin="org.eclipse.team.ui"/>
      <import plugin="org.eclipse.team.cvs.ui"/>
      <import plugin="org.eclipse.compare"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.junit"/>
   </requires>


   <extension
         point="org.eclipse.core.tests.harness.tests">
      <test
            id="team.all">
         <run
               class="org.eclipse.team.tests.core.RepositoryProviderTests">
         </run>
      </test>
   </extension>
   <extension
         point="org.eclipse.core.tests.harness.tests">
      <test
            id="target.all">
         <run
               class="org.eclipse.team.tests.core.TargetProviderTests">
         </run>
      </test>
   </extension>
   
   
   <extension
         id="bic-provider"
         name="Bic Provider"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.eclipse.team.tests.core.RepositoryProviderBic">
         </run>
      </runtime>
      <one-of-nature
            id="org.eclipse.team.repository-provider">
      </one-of-nature>
   </extension>
   <extension
         id="naish-provider"
         name="Naish Provider"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.eclipse.team.tests.core.RepositoryProviderNaish">
         </run>
      </runtime>
      <one-of-nature
            id="org.eclipse.team.repository-provider">
      </one-of-nature>
   </extension>
   <extension
         id="other"
         name="Bad Set Provider"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.eclipse.team.tests.core.RepositoryProviderOtherSport">
         </run>
      </runtime>
      <one-of-nature
            id="some set">
      </one-of-nature>
   </extension>

</plugin>
