<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="org.eclipse.ant.tests.ui"
   name="%pluginName"
   version="3.0.0"
   provider-name="%providerName"
   class="org.eclipse.ant.tests.ui.testplugin.AntUITestPlugin">
   
   <requires>
      <import plugin="org.apache.ant"/>
	  <import plugin="org.junit"/>   
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.apache.xerces"/>
      <import plugin="org.eclipse.jdt.core"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.ant.core"/>
      <import plugin="org.eclipse.update.core"/>
      <import plugin="org.eclipse.ui.externaltools"/>
      <import plugin="org.eclipse.ant.ui"/>
   </requires>

<runtime>
  <library name="anttestsui.jar" >
     <export name = "*"/>
  </library> 
</runtime>

</plugin>
