<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   
   
 <extension
     point="org.eclipse.debug.ui.consoleLineTrackers">
	  <consoleLineTracker
	        class="org.eclipse.ant.tests.ui.testplugin.ConsoleLineTracker"
	        processType="org.eclipse.ant.ui.antProcess"
	        id="org.eclipse.ant.tests.ui.testplugin.ConsoleLineTracker">
	  </consoleLineTracker>
  </extension>
  
  <extension
         point="org.eclipse.ant.core.extraClasspathEntries">
      <extraClasspathEntry
            library="lib/antUITestsSupport.jar"
            eclipseRuntime="false">
      </extraClasspathEntry>
   </extension>
   
    <extension point="org.eclipse.ant.core.antTasks">
	    <antTask 
	    	name="coolUITask" 
	    	class="org.eclipse.ant.tests.ui.support.tasks.AntTestTask2"
	    	library="lib/antUITestsSupport.jar"
	    	eclipseRuntime="false">
	    </antTask>
	    <antTask 
	    	name="coolUITask"
	    	uri="testing"
	    	class="org.eclipse.ant.tests.ui.support.tasks.AntTestTask2"
	    	library="lib/antUITestsSupport.jar"
	    	eclipseRuntime="false">
	    </antTask>
   </extension>

	<extension point="org.eclipse.ant.core.antTypes">
	    <antType 
	    	name="coolUIType" 
	    	class="org.eclipse.ant.tests.ui.support.types.AntTestPath"
	    	library="lib/antUITestsSupport.jar"
	    	eclipseRuntime="false">
	    </antType>
   </extension>
   
   <extension
         point="org.eclipse.ant.core.antProperties">
      <antProperty
            name="property.ui.testing"
            value="true">
      </antProperty>
       <antProperty
            name="property.ui.testing2"
            value="hey"
             eclipseRuntime="false">
      </antProperty>
   </extension>
</plugin>
