<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.eclipse.core.tests.runtime"
   name="Eclipse Core Tests Runtime"
   version="3.0"
   provider-name="Eclipse.org"
   class="org.eclipse.core.tests.runtime.RuntimeTestsPlugin">

   <runtime>
      <library name="runtimetests.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.osgi.services"/>
      <import plugin="org.eclipse.core.runtime.compatibility"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.core.tests.harness"/>
      <import plugin="org.junit"/>
   </requires>

   <extension
         id="test-preferences"
         name="test-preferences"
         point="org.eclipse.core.runtime.preferences">
      <scope
            name="test"
            class="org.eclipse.core.tests.internal.preferences.TestScope"/>
   </extension>
   <extension
         point="org.eclipse.core.runtime.urlHandlers">
      <handler
            class="org.eclipse.core.tests.runtime.stream.Handler"
            protocol="stream">
      </handler>
   </extension>
   <extension
         point="org.eclipse.core.runtime.contentTypes">      
      <content-type      
            name="My Content Type"
            id="myContent"
            file-names="myContent.mc"
            describer="org.eclipse.core.tests.runtime.content.MyContentDescriber"/>         
      <!-- A base type and a sub-type are in conflict. Base type should be picked. --> 
      <content-type      
            file-extensions="conflict1"
            name="Conflict 1"
            id="conflict1"/>         
      <content-type      
            base-type="conflict1"     
            priority="high"    
            name="Specialized Conflict 1"
            id="aaa_conflict1"/>
      <!-- 
      	A base type and a sub-type (that restates file-spec) are in conflict. 
      	Base type should be picked (no aliasing will be done since they are related). 
      -->
      <content-type      
            file-extensions="conflict2"
            name="Conflict 2"
            id="conflict2"/>         
      <content-type      
            priority="high"      
            base-type="conflict2"         
            file-extensions="conflict2"
            name="Specialized Conflict 2"
            id="aaa_conflict2"/>
      <!-- 
      	Two unrelated types are in conflict. The one with lowest depth should be picked,
      	an the other marked as an alias. 
      	-->
      <content-type      
            file-extensions="base_conflict3"
            name="Conflict 3"
            id="base_conflict3"/>
      <content-type
            base-type="base_conflict3"         
            file-extensions="conflict3"
            name="Deeper Conflict 3"
            id="aaa_conflict3"/>                                             
      <content-type
            base-type="aaa_conflict3"         
            file-extensions="specialized.conflict3"
            name="Specialized Conflict 3"
            id="bbb_conflict3"/>                                                         
      <content-type
            file-extensions="conflict3"
            name="Unrelated Conflict 3"
            id="conflict3"/>            	            
      <!-- end of conflict-related content types -->
	  <content-type
            file-extensions="tzt"
            default-charset="BAR"
            name="My Text"
            id="mytext"/>
      <content-type
      		base-type="mytext"
            file-extensions="tzt1"
            name="My Text1"
            id="mytext1"/>            
      <content-type
      		base-type="mytext"      
            file-extensions="tzt2"
            default-charset=""            
            name="My Text2"
            id="mytext2"/>                        
      <content-type
            file-names="foo.bar"
            file-extensions="bar"
            name="Foo Bar"
            id="fooBar"/>
      <content-type
            base-type="fooBar"
            name="Sub Foo Bar"
            id="subFooBar"/>
      <content-type
            file-extensions="xml2"
            base-type="org.eclipse.core.runtime.xml"
            name="XML Based with Different Extension"
            charset="UTF-16LE"
            id="xml-based-different-extension"/>
      <content-type
            file-names="xml-based.xml"
            base-type="org.eclipse.core.runtime.xml"
            name="XML Based with Specific Name"
            id="xml-based-specific-name"/>
      <content-type
            file-extensions="samplebin1"
            name="Sample Binary 1"
            id="sample-binary1">
         <describer
         	plugin="org.eclipse.core.runtime"
            class="org.eclipse.core.runtime.content.BinarySignatureDescriber">
            <parameter name="signature" value="10, AB, CD, FF"/>
            <parameter name="offset" value="5"/>                           
         </describer>
      </content-type>
      <content-type
            file-extensions="samplebin2"
            name="Sample Binary 2"
            id="sample-binary2">
         <describer
         	plugin="org.eclipse.core.runtime"
            class="org.eclipse.core.runtime.content.BinarySignatureDescriber">
            <parameter name="signature" value="10, AB, CD, EF"/>   
         </describer>
      </content-type>            
      <content-type
            file-extensions="class"
            name="Java Class file"
            id="javaClass">
         <describer
         	plugin="org.eclipse.core.runtime"
            class="org.eclipse.core.runtime.content.BinarySignatureDescriber">
            <parameter name="signature" value="CA, FE, BA, BE"/>   
         </describer>
      </content-type>            
      
      <file-association
            file-extensions="tkst"
            content-type="org.eclipse.core.runtime.text"/>
      <content-type
            file-names="foo.orphan"
            file-extensions="orphan"
            base-type="org.eclipse.bundle01.missing"
            name="Orphan Type"
            id="orphan"/>
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            name="Root Element"
            id="root-element"
            describer="org.eclipse.core.runtime.content.XMLRootElementContentDescriber:org.eclipse.core.runtime.tests.root-element"/>
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            name="DTD"
            id="dtd">
         <describer
               class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber">
            <parameter name="dtd" value="org.eclipse.core.runtime.tests.some.dtd"/>
         </describer>
      </content-type>      
      <file-association
            file-extensions="orphan2"
            content-type="org.eclipse.bundle01.missing"/>            
      <!-- this content type has an invalid describer, it should never be picked on content-based content type lookup -->
      <content-type
            name="Invalid Describer"
            id="invalid"
            describer="a_non_existant_class_expected_to_cause_failure.class"/>
      <content-type
            id="invalid-missing-name"
            filename="invalid.missing.name"/>                        
      <content-type
            name="Invalid (Missing identifier)"
            filename="invalid.missing.identifier"/>            
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            class="org.eclipse.core.tests.runtime.TestAdapterFactory"
            adaptableType="org.eclipse.core.tests.runtime.TestAdaptable">
         <adapter
               type="org.eclipse.core.tests.runtime.TestAdapter">
         </adapter>
      </factory>
   </extension>

</plugin>
