<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension
         id="test-preferences"
         name="test-preferences"
         point="org.eclipse.core.runtime.preferences">
      <scope
            name="test"
            class="org.eclipse.core.tests.internal.preferences.TestScope"/>
      <scope
            name="badtest"
            class="org.eclipse.core.tests.internal.preferences.BadTestScope"/>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            class="org.eclipse.core.tests.runtime.TestAdapterFactory"
            adaptableType="org.eclipse.core.tests.runtime.TestAdaptable">
         <adapter
               type="org.eclipse.core.tests.runtime.TestAdapter">
         </adapter>
      </factory>
   </extension>
   <extension-point id="factoryLoaderTest" name="factoryLoaderTest" schema="schema/factoryLoaderTest.exsd"/>
   <extension point="org.eclipse.core.runtime.adapters">
      <factory class="org.eclipse.core.tests.runtime.TestAdapterFactoryLoader" 
         adaptableType="org.eclipse.core.tests.runtime.TestAdaptable">
         <adapter type="testAdapter.testUnknown"/>
      </factory>
   </extension>
</plugin>
