<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.equinox.http.registry.httpcontexts">
      <httpcontext
            name="help"
            path="/">
      </httpcontext>
   </extension>
   <extension
         point="org.eclipse.equinox.http.registry.resources">
      <resource
            alias="/"
            base-name="/"
            httpcontext-name="help">
      </resource>
   </extension>
   <extension
         point="org.eclipse.equinox.http.registry.servlets">
      <servlet
            alias="/control.html"
            class="org.eclipse.help.internal.webapp.servlet.ControlServlet"
            httpcontext-name="help">
      </servlet>
   </extension>
   <extension
         point="org.eclipse.equinox.http.registry.servlets">
      <servlet
            alias="/content"
            class="org.eclipse.help.internal.webapp.servlet.ContentServlet"
            httpcontext-name="help">
      </servlet>
   </extension>
   <extension
         point="org.eclipse.equinox.http.registry.servlets">
      <servlet
            alias="/topic"
            class="org.eclipse.help.internal.webapp.servlet.ContentServlet"
            httpcontext-name="help">
      </servlet>
   </extension>
   <extension
         point="org.eclipse.equinox.http.registry.servlets">
      <servlet
            alias="/nftopic"
            class="org.eclipse.help.internal.webapp.servlet.ContentServlet"
            httpcontext-name="help">
      </servlet>
   </extension>
   <extension
         point="org.eclipse.equinox.http.registry.servlets">
      <servlet
            alias="/ntopic"
            class="org.eclipse.help.internal.webapp.servlet.ContentServlet"
            httpcontext-name="help">
      </servlet>
   </extension>
   <extension
         point="org.eclipse.equinox.http.registry.servlets">
      <servlet
            alias="/rtopic"
            class="org.eclipse.help.internal.webapp.servlet.ContentServlet"
            httpcontext-name="help">
      </servlet>
   </extension>
   <extension
         point="org.eclipse.equinox.http.registry.servlets">
      <servlet
            alias="/nav"
            class="org.eclipse.help.internal.webapp.servlet.NavServlet"
            httpcontext-name="help">
      </servlet>
   </extension>
   <extension
         point="org.eclipse.equinox.http.registry.servlets">
      <servlet
            alias="/livehelp"
            class="org.eclipse.help.internal.webapp.servlet.LiveHelpServlet"
            httpcontext-name="help">
      </servlet>
   </extension>
   <extension
         point="org.eclipse.equinox.http.registry.servlets">
      <servlet
            alias="/toc"
            class="org.eclipse.help.internal.webapp.servlet.TocServlet"
            httpcontext-name="help">
      </servlet>
   </extension>
   <extension
         point="org.eclipse.equinox.http.registry.servlets">
      <servlet
            alias="/tocfragment"
            class="org.eclipse.help.internal.webapp.servlet.TocFragmentServlet"
            httpcontext-name="help">
      </servlet>
   </extension>
   <extension
         point="org.eclipse.equinox.http.registry.servlets">
      <servlet
            alias="/index"
            class="org.eclipse.help.internal.webapp.servlet.IndexServlet"
            httpcontext-name="help">
      </servlet>
   </extension>
   <extension
         point="org.eclipse.equinox.http.registry.servlets">
      <servlet
            alias="/indexfragment"
            class="org.eclipse.help.internal.webapp.servlet.IndexFragmentServlet"
            httpcontext-name="help">
      </servlet>
   </extension>
   <extension
         point="org.eclipse.equinox.http.registry.servlets">
      <servlet
            alias="/search"
            class="org.eclipse.help.internal.webapp.servlet.SearchServlet"
            httpcontext-name="help">
      </servlet>
   </extension>
   <extension
         point="org.eclipse.equinox.http.registry.servlets">
      <servlet
            alias="/context"
            class="org.eclipse.help.internal.webapp.servlet.ContextServlet"
            httpcontext-name="help">
      </servlet>
   </extension>
   <extension
         point="org.eclipse.equinox.http.registry.servlets">
      <servlet
            alias="/extension"
            class="org.eclipse.help.internal.webapp.servlet.ExtensionServlet"
            httpcontext-name="help">
      </servlet>
   </extension>
   <extension
         point="org.eclipse.equinox.http.registry.servlets">
      <servlet
            alias="/*.jsp"
            class="org.eclipse.equinox.jsp.jasper.registry.JSPFactory:/"
            httpcontext-name="help">
      </servlet>
   </extension>
</plugin>
