BODY {
	background-color: Window;
        /*font: 9pt ms sans serif,sans-serif;*/
	font: 8pt Tahoma;
	margin:0;
}
FORM {
	margin:0;
}
.txtInput {
	width:100%;
}
.normal {
	border-style:solid;
	border-color:#D4D0C8;
	border-width:2px; 
}
.hover {
	border-style: outset;
	border-width:2px; 
}
	