BODY {
	background-color: Window;
        font: 9pt ms sans serif,sans-serif;
	margin:0;
}
FORM {
	margin:0;
}
.txtInput {
	width:100%;
}
.normal {
	border-style:solid;
	border-color:ActiveBorder;
	border-width:2px; 
}
.hover {
	border-style: outset;
	border-width:2px; 
}
	