    BODY  {
          background-color: Window;
          font-size:smaller;
		  font-style: Regular;
      }
 
      A   {
          text-decoration:none; 
          color:WindowText; 
	      height:20;
          padding: 2px 5px;
/* this works in ie5.5, but not in ie5.0  */
          white-space: nowrap;
      }
      A:hover { 
          color:#0000FF; 
          text-decoration:underline; 
      }
      A:active { 
          color:HighlightText;
          background:Highlight;  
      }

     UL { 
     	border-width:0; 
	    margin-left:20px; 
      }

     .leaf { 
        list-style-image: url("images/topic.gif");
      }
     .node {
        list-style-image: url("images/topicfolder.gif");
      }

      .collapsed {
        list-style-image: url("images/plus.gif");
        display: none;  
      }
      .expanded {
         list-style-image: url("images/minus.gif");
         display:block; 
      }
	  .selected {
	  	list-style-image: url("images/topicfolder.gif");
		color:HighlightText;
        background:Highlight;  
	  }
	