@media (prefers-color-scheme: dark) {
	body { 
		color: #f0f0f0; 
		background: #3d3d3d;
	} 
	a {
		color:#ffffff;
	}
	a.active{ 
		color:#ffffff;
	}
	
	a.nolink:link, 
	a.nolink:visited {
		color:#ffffff;
	}
}